<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="container">
        <h3 th:inline="text" th:text="#{resendVerification.text}"></h3>
        <form action="/eFare/verify/resend" th:action="@{/verify/resend}"
            th:object="${emailForm}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <label for="email" th:text="#{register.email}"></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <input class="form-control" type="text" th:field="*{email}" placeholder="Email" />
                </div>
            </div>
            <p>
                <button type="submit" value="submit" name="resend" class="btn btn-primary" th:text="#{eFare.resend.email}"></button>
            </p>
        </form>
    </div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>