<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: confirm-sub-banner (#{eFare.register.confirm.title}, '', 0)"></div>
</th:block>
<th:block layout:fragment="page-content">
        <div id="registered" class="container">
            <p><th:block th:text="#{thanksForRegistering.text}"/>
            <a th:href="@{/verify/resend(email=${email})}" th:text="#{notVerified.resendText}"></a>.</p>
            <div th:if="${success}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p th:text="#{notVerified.resendText.success}"></p>
            </div>
        </div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>