<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/shoppingBase">
    <th:block layout:fragment="page-header">
        <div th:replace="fragments/header :: header-nav"></div>
    </th:block>
    <th:block layout:fragment="page-content">
    <div class="container">
      <p th:inline="text" th:text="#{verificationFailed.text}"></p>
        <a th:href="@{/verify/resend}" th:text="#{notVerified.resendText}"></a>.
    </div>
    </th:block>
    <th:block layout:fragment="page-footer">
        <div th:replace="fragments/footer :: footer"></div>
    </th:block>
</html>