<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/shoppingBase">
    <th:block layout:fragment="page-header">
        <div th:replace="fragments/header :: header-nav"></div>
    </th:block>
    <th:block layout:fragment="page-subheader">
        <div th:replace="fragments/sub_banner :: account-sub-banner(#{signup.header}, #{signup.subtitle})"></div>
    </th:block>
    <th:block layout:fragment="page-content">
        <div class="container">
            <div class="row">
                <div class="panel-body">
                    <form th:action="@{/signup}" method="post" th:object="${signupForm}" val:validate="${signupForm}" action="">
                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-dismissable alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <ul>
                                <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr"><span
                                    th:text="${e.message}"></span></li>
                            </ul>
                        </div>

                        <h3 th:text="#{signup.topic1}">Basic Information</h3>
                        <input type="hidden" th:field="*{username}"></input>
                        <div class="form-group">
                            <label th:text="#{register.email}" th:for="*{email.address}"></label>
                            <input type="email" th:field="*{email.address}" class="form-control"
                                th:placeholder="#{eFare.signin.username.placeholder}" required="required" th:errorclass="form-control-error"></input>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <label th:text="#{register.password1.text}" th:for="*{password1}"></label>
                                    <input type="password" th:field="*{password1}" class="form-control"
                                        required="required"
                                        th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.password2.text}" th:for="*{password2}"></label>
                                    <input type="password" th:field="*{password2}" class="form-control"
                                        required="required"
                                        th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.firstName.text}" th:for="*{firstName}"></label>
                                    <input type="text" th:field="*{firstName}" class="form-control" required="required"
                                        th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.lastName.text}" th:for="*{lastName}"></label>
                                    <input type="text" th:field="*{lastName}" class="form-control" required="required"
                                        th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                        </div>
                        <hr></hr>
                        <h3 th:text="#{signup.topic2}">Address</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.address1.text}" th:for="*{address.line1}"></label>
                                    <input type="text" th:field="*{address.line1}" class="form-control"
                                        required="required" th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.address2.text}" th:for="*{address.line2}"></label>
                                    <span class="optional-label" th:text="#{eFare.signup.optional}"></span>
                                    <input type="text" th:field="*{address.line2}" class="form-control"
                                        th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label th:text="#{register.city.text}" th:for="*{address.city}"></label>
                                    <input type="text" th:field="*{address.city}" class="form-control"
                                        required="required" th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label th:text="#{register.state.text}" th:for="*{address.state}"></label>
                                    <input type="text" th:field="*{address.state}" class="form-control"
                                        required="required" th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label th:text="#{register.postalCode.text}" th:for="*{address.postalCode}"></label>
                                    <input type="text" th:field="*{address.postalCode}" class="form-control"
                                        required="required" th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label th:text="#{register.country.text}" th:for="*{address.country}"></label>
                                    <span class="optional-label" th:text="#{eFare.signup.optional}"></span>
                                    <select th:field="*{address.country}" class="form-control" th:errorclass="form-control-error">
                                    	<option value=""></option>
                                    	<option th:each="c : ${T(com.genfare.cloud.model.types.CountryEnum).values()}" th:value="${c.description}" th:text="${c.description}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr></hr>
                        <h3 th:text="#{signup.topic3}">Contact Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.phone.text}" th:for="*{phone}"></label>
                                    <input type="text" th:field="*{phone.number}"
                                        class="form-control" th:errorclass="form-control-error" required="required"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.dateOfBirth.text}" th:for="*{dateOfBirth}"></label>
                                    <span class="optional-label" th:text="#{eFare.signup.optional}"></span>
                                    <input type="text" th:field="*{dateOfBirth}" class="form-control calendar"
                                        th:errorclass="form-control-error"></input>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.primary_contact_method}" th:for="*{primaryContactMethod}"></label>
                                    <select name="color-selector"
                                        class="form-control" th:field="*{primaryContactMethod}">
                                        <option th:each="cm : ${T(com.genfare.cloud.model.security.ContactMethodEnum).values()}"
                                            th:value="${cm}" th:text="${cm.description}" th:if="${cm.getId()!=2}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label th:for="*{alert}"> <input type="checkbox" th:field="*{alert}" th:checked="*{alert}" />Alerts
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr></hr>
                        <h3 th:text="#{eFare.signup.topic4}">Security</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{eFare.signup.securityQuestion}" th:for="*{securityQuestion}"></label>
                                    <select th:field="*{securityQuestion}" class="form-control" required="required">
                                    	<option th:each="q : ${securityquestions}" th:value="${q.prompt}" th:text="${q.prompt}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:text="#{register.securityAnswer.text}" th:for="*{securityAnswer}"></label>
                                    <input type="text" th:field="*{securityAnswer}" class="form-control"
                                        th:errorclass="form-control-error" required="required"></input>
                                </div>
                            </div>
                        </div>
                        <hr></hr>
                        <div class="row">
                            <div class="bottom-content">
                                <div class="col-md-offset-9 col-md-3">
                                    <input id="submit" type="submit" th:value="#{register.submit.text}"
                                        class="btn btn-primary btn-block"></input>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="page-footer">
        <div th:replace="fragments/footer :: footer"></div>
    </th:block>
</html>
