<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(2,3,0)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: autobuy-sub-banner (#{eFare.subscriptions.step2}, #{subscriptions.setup.step2})"></div>
</th:block>
<th:block layout:fragment="page-content">
        <div class="container">
			<div th:if="${card != null}">
                <div class="autobuy">
				<div class="row">
						<div class="col-md-3">
							<h2 th:text="#{subscriptions.payment.details}"></h2>
							<div class="creditcard-icon"></div>
						</div>
<!-- 							<div class="col-md-4">
								<img th:alt="${cardType}" th:src="@{${imagePath}}" />
							</div> -->
							<div class="col-md-9 verticalLine">
								<div id="payment-section">
								<form th:action="${postURL}" method="post">
									<div class="row">
										<div class="col-md-12">
											<strong
												th:text="${newCard == true} ? #{subscriptions.new.card} : #{subscriptions.this.card}"></strong>
											<button type="submit" th:text="#{subscriptions.another.card}"
												class="btn-to-link grey-link">Another Card</button>
											<div th:replace="fragments/creditContent :: formDataOnly"></div>
										</div>
									</div>
								</form>
										<h6 th:text="#{subscriptions.card.ending}"></h6>
										<h4 th:text="${card.lastFour}"></h4>
										<h6 th:text="#{subscriptions.expiration}"></h6>
										<h4 th:text="${#calendars.format(cardExpiration,'MM/yyyy')}"></h4>
								</div>
										<br/>
									<p>
										<span class="uppercase" th:text="#{subscriptions.not.charged}"></span>- Cred
										Bushwick before they sold out sriracha flexitarian Tonx
										Truffaut jean shorts. Qui Tonx PBRB consectetur, accusamus
										chia incididunt Schlitz
									</p>
							</div>
						</div>
                                     </div>
					<div class="bottom-content">
							<form method="post" th:action="@{/subscription/complete}"
								th:if="${card != null}">				
								<input type="hidden" name="walletcontents" id="wallet"
									th:value="${product.walletContentsId}" /> <input
									type="hidden" name="when" id="when" th:value="${when}" /> <input
									type="hidden" name="expires" id="expires"
									th:value="${expires}" /> <input type="hidden" name="personId"
									id="personId" th:value="${card.id.personId}" /> <input
									type="hidden" name="cardNumber" id="cardNumber"
									th:value="${card.id.cardNumber}" />
								<div th:replace="fragments/pageControls :: footerOtherButtonControl('__@{/subscription(walletcontents=${product.walletContentsId})}__',#{subscriptions.start})"></div>
							</form>	
					</div>
			</div>
			<form th:if="${card == null}" th:action="${postURL}" method="post">
				<div th:replace="fragments/creditContent :: formDataOnly"></div>
				<input type="hidden" name="walletcontents" id="walletcontents"
				th:value="${product.walletContentsId}" />
				<div class="row">
					<div class="col-md-11 col-md-offset-1">
						<div class="col-md-12">
							<h3 th:text="#{subscriptions.noCards}">You do not have a
							credit card on file with us</h3>
							<p th:text="#{subscriptions.noCards.explain}">A credit card
							is needed in order to setup a subscription</p>
						</div>
					</div>
				</div>
                <div class="bottom-content">
				<div th:replace="fragments/pageControls :: footerOtherButtonControl('__@{/subscription(walletcontents=${product.walletContentsId})}__',#{eFare.subscriptions.setupCard})"></div>
			     </div>
            </form>	
            </div>

</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>