<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(3,3,0)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: autobuy-sub-banner (#{eFare.subscriptions.step3}, #{subscriptions.complete})"></div>
</th:block>
<th:block layout:fragment="page-content">
		<div class="container autobuy">
			<br/>
			<div class="row">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-7">
							<h4 th:text="#{subscriptions.saveOrPrint}"
								class="vertical-centered"></h4>
						</div>
						<div class="col-md-4">
							<a class="vertical-centered"
								href="javascript:window.print()"
								th:text="#{subscriptions.print}"></a>
						</div>
					</div>
				</div>
			</div>

			<hr></hr>
			<br />

			<div class="col-md-12">
				<h3 th:text="#{subscriptions.summary}"></h3>
			</div>
			<br/>
			<div class="col-md-12 outlined">
				<div class="col-md-12 bottom-border">
					<div class="col-md-4">
						<br />
						<h1 th:text="${ticket.description}"></h1>
						<br/>
						<div class="row">
							<div class="col-md-2">
							<p><strong th:text="#{subscriptions.date}"></strong></p>
							</div>
							<div class="col-md-4">
							<p th:text="${date}" />
							</div>
							<div class="col-md-3">
							<p><strong th:text="#{subscriptions.card.ending}"></strong></p>
							</div>
							<div class="col-md-3">
							<p th:text="${card.lastFour}" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
							<p><strong th:text="#{subscriptions.expires}"></strong></p>
							</div>
							<div class="col-md-4">
							<p th:text="${expires}" />
							</div>
							<div class="col-md-3">
							<p><strong th:text="#{subscriptions.card.expiration}"></strong></p>
							</div>
							<div class="col-md-3">
							<p th:text="${#calendars.format(cardExpiration,'MM/yyyy')}" />
							</div>
						</div>
					</div>
					<div class="col-md-8 verticalLine">
						<br />
						<div class="row">
							<div class="col-md-5">
								<span>
									<img th:src="@{/resources/img/bkt_icon_autobuy.svg}" class="autobuy-icon" /> </span><span
										class="glyphicon glyphicon-md glyphicon-arrow-right"></span>
							</div>
							<div class="col-md-7">
								<br/>
								<br/>
								<h2
									th:text="|$${walletContentUtilityService.getReplenishPrice(product)}|"></h2>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<br /> <br />
					</div>
				</div>

				<div class="col-md-4">
					<h6 th:text="#{subscriptions.setup}"></h6>
					<p>Deserunt keytar occaecat fingerstache, cred Bushwick before
						they sold out sriracha flexitarian Tonx Truffaut jean shorts.</p>
				</div>
				<div class="col-md-8">
					<br />
					<p><span class="uppercase" th:text="#{subscriptions.not.charged}"></span>- Cred
										Bushwick before they sold out sriracha flexitarian Tonx
										Truffaut jean shorts. Qui Tonx PBRB consectetur, accusamus
										chia incididunt Schlitz
					</p>
				</div>

			</div>
			<div class="col-md-12">
				<br /> <br />
			</div>
      </div>
            <div class="container">
                <div class="bottom-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a class="grey-link" href="javascript:window.print()"
                                th:text="#{subscriptions.print}"></a> | <a class="btn btn-primary"
                                th:href="@{/}" th:text="#{subscriptions.done}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>