<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(1,3,0)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: autobuy-sub-banner (#{eFare.subscriptions.step1}, #{subscriptions.setup.title})"></div>
</th:block>
<th:block layout:fragment="page-content">
		<form th:action="@{/subscription/payment}" method="get">
			<div class="container autobuy">
				<div class="row">
					<div class="col-md-12"
						id="subscription-details-section">
						<div class="col-md-4 product-quick-summary">
							<h5 th:text="#{subscriptions.products}"></h5>
							<h1 th:text="${product.tickets.description}"></h1>
							<br/>
							<h5 th:text="#{subscriptions.remainingBalance}"></h5>
							<h3 th:text="${walletContentUtilityService.getBalance(product)}"></h3>
						</div>
						<div class="col-md-8 verticalLine">
							<br />
							<div class="row">
								<div class="col-md-4"><span>
									<img th:src="@{/resources/img/bkt_icon_autobuy.svg}" class="autobuy-icon" /> </span><span
										class="glyphicon glyphicon-md glyphicon-arrow-right"></span>
								</div>

								<div class="col-md-8">
									<h1
										th:text="|$${walletContentUtilityService.getReplenishPrice(product)}|"></h1>
									<h4
										th:unless="${walletContentUtilityService.getSubscriptionStatus(product) == 'Active'}"
										th:text="#{subscriptions.noSetup}"></h4>
									<p>Vinegar hoodie meggings sapiente raw denim Wes Anderson
										plaid. Deserunt keytar occaecat fingerstache, cred Bushwick
										before they sold out sriracha flexitarian Tonx Truffaut jean
										shorts. Qui Tonx.</p>
								</div>
							</div>
							<div
								th:if="${walletContentUtilityService.getSubscriptionStatus(product) == 'Active'}"
								class="row">
								<div class="col-md-4 col-md-offset-4">
									<select class="input-group form-control" name="status"
										id="status">
										<option th:value="#{subscriptions.on}"
											th:text="#{subscriptions.on}"
											th:selected="${subscriptionStatus} == #{subscriptions.on} ? 'selected'">On</option>
										<option th:value="#{subscriptions.off}"
											th:text="#{subscriptions.off}"
											th:selected="${subscriptionStatus} == #{subscriptions.off} ? 'selected'">Off</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-4">
									<div class="form-group">
										<label for="exampleInputEmail1" th:text="#{subscriptions.when}"></label>
										<span><p class="input-rounded" th:text="${walletContentUtilityService.getReplenishThreshold(product)}"></p>
										<span class="light-text" th:text="|${#strings.replace(walletContentUtilityService.getBalanceType(product),'%s','')} remaining|"></span></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
									<label for="exampleInputEmail1" th:text="#{subscriptions.expire}"></label>
									<input class="form-control" type="text"
										name="expires" id="expires" th:value="${expires}"></input> <input
										type="hidden" name="walletcontents" id="wallet"
										th:value="${product.walletContentsId}" />
									</div>		
									<!-- TODO: Make user configurable, will use below -->
									<!-- GENCLD-1071 -->
									<!-- select class="input-group form-control" name="when" id="when">
 										<option th:each="option: ${options}" th:value="${option}" th:text="${option}"></option>
									</select-->
								</div>
							</div>
							<br />
						</div>
					</div>
				</div>
                <div class="bottom-content">
                     <div th:replace="fragments/pageControls :: footerOtherButtonControl('__@{/card(card=${cardNumber})}__',#{subscriptions.continue})"></div>          
                </div>
			 </div>	
		</form>
</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
    <th:block layout:fragment="custom-js">
    <script type="text/javascript" th:src="@{/resources/js/datePicker.js}"></script>
</th:block>
</html>