
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainLayout">
<head>

<script layout:fragment="headTag" th:replace="headTag"></script>

<script src="content-script.js"></script>
</head>
<body>

	<section layout:fragment="left">

		<!--  need to add active to class when on selected page -->
		<div id="nav">
			<div class="navtitle">
				<h3 class="whitney" th:text="#{links.navtitle.site.home}">Home</h3>
			</div>
			<ul class="navigation">
				<li th:if="${TennantConfig.externalHomeLink}" id="home"
					class="nav-item ${welcomeClass}"><a href="/welcome"
					th:text="#{links.welcome}">welcome</a></li>
				<li th:if="${TennantConfig.externalFAQLink}" id="faq"
					class="nav-item ${faqClass}"><a href="/faq"
					th:text="#{links.faq}">faq</a></li>
				<li th:if="${TennantConfig.externalFeedbackLink}" id="faq"
					class="nav-item ${feedbackClass}"><a href="/feedback"
					th:text="#{links.feedback}">feedback</a></li>
			</ul>
			<div th:if="${TennantConfig.userLoggedIn} == 'True'">
				<div class="navtitle">
					<h3 class="whitney" th:text="#{links.navtitle.loggedin.account}">My
						Account</h3>
				</div>
				<ul class="navigation">
					<div sec:authorize="hasRole('NEW')">
						<li id="guest" class="nav-item ${manageCardsClass}"><a
							href="/manageCards" th:text="#{links.manageCards}">Manage My
								Cards</a></li>
					</div>
					<div sec:authorize="hasRole('NEW')">
						<li id="buy" class="nav-item ${purchaseCardsClass}"><a
							href="/purchaseCards" th:text="#{links.buyCards}">Buy Cards</a></li>
					</div>
					<li id="personalinfo" class="nav-item ${modifyProfileClass}"><a
						href="/modifyProfile" th:text="#{links.modifyProfile}">Modify
							Profile</a></li>
					<div sec:authorize="hasRole('ORDER STATUS')">
						<li id="history" class="nav-item ${orderHistoryClass}"><a
							href="/orderHistory" th:text="#{links.orderHistory}">Order
								History</a></li>
					</div>
					<li id="history" class="nav-item ${cardHistoryClass}"><a
						href="/cardHistory?method=bufferedActivity"
						th:text="#{links.cardHistory}">Card History</a></li>
					<li id="password" class="nav-item ${modifyProfileClass}"><a
						href="/changePassword" th:text="#{links.changePassword}">Change
							Password</a></li>
				</ul>
			</div>
			<div th:if="${TennantConfig.userLoggedIn} != 'True'">
				<div class="navtitle">
					<h3 class="whitney" th:text="#{links.navtitle.guest.account}">Guest
						Account</h3>
				</div>
				<ul class="navigation">
					<li id="guest" class="nav-item ${guestHomeClass}"><a
						href="/guest" th:text="#{links.guest.home}">Guest Home</a></li>
					<div sec:authorize="hasRole('GUEST RECHARGE')">
						<li id="add" class="nav-item ${guestAddProductClass}"><a
							href="/guest/addProduct" th:text="#{links.guest.add}">Guest
								Add Product</a></li>
					</div>
					<div sec:authorize="hasRole('GUEST PURCHASE')">
						<li id="buy" class="nav-item ${purchaseCardsClass}"><a
							href="/guest/purchaseCards" th:text="#{links.guest.buy}">Guest
								Buy Card</a></li>
					</div>
				</ul>
			</div>
		</div>
	</section>

	<section layout:fragment="header">
		<!-- 
		<gfi:IfNotCustomInclude includeId="header.individual.html.file">
		-->
		<div id="toolbar">

			<!--	<gfi:CustomSiteLogo />
			-->
			<div class="logo">
				<a href="#{logoUrl}"> <img alt="alt"
					src="/eFare/resources/img/banner_administrative.jpg"
					th:attr="src='/custom/images/' + ${TennantConfig.logoImage},alt='thymeleaf'"></img>
				</a>
			</div>

			<p>
				<a href="#{App.name}/list.html" th:href="#{links.site.home}"
					th:text="#{App.name}">Template HOME</a> | <a
					href="Template Contactus" th:href="#{links.external.contact}"
					th:text="#{label.contactUs}">Template Contactus</a>

			</p>
		</div>
		<div class="header"></div>
	</section>

	<section layout:fragment="content"></section>

	<section layout:fragment="footer">
		<div id="footer-container">
			<div id="footer-subcontainer">
				<p>
					<a href="/main" th:href="#{links.home.url}"
						th:text="#{links.site.home}">Home</a> | <a href="/welcome"
						th:text="#{alt.nav.manage.card}">Manage Card</a> | <a
						href="/contact" th:href="#{links.external.contact}"
						th:text="#{label.contactUs}">Contact Us</a> <br></br>
				<p th:text="#{copyright}">Template Copyright 2014</p>
				</p>
			</div>
		</div>
	</section>

</body>
</html>
