<!DOCTYPE html>

<html lang="en">


<!--
efare Cloud Head content
-->

<head th:fragment="headTag">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Genfare Cloud</title>

<link rel="stylesheet" th:href="#{tennant.config} + 'css/reset.css'"
	href="css/reset.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/styles.css'"
	href="css/styles.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/jquery-ui.css'"
	href="css/jquery-ui.css" type="text/css"></link>
<link rel="stylesheet"
	th:href="#{tennant.config} + 'css/developers.css'"
	href="css/developers.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/override.css'"
	href="css/override.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/custom.css'"
	href="css/custom.css" type="text/css"></link>


<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
	th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>

<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
	th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}"
	rel="stylesheet" />

<script src="resources/js/require-jquery-min.js"></script>
<script src="resources/js/cufon-all.js" type="text/javascript"></script>
<script type="text/javascript">
		Cufon.replace('.whitney', { fontFamily: 'WhitneySemiBold' });
	</script>

</head>

<body>
</body>

</html>



