
<script
	src="${gfi:staticContentUrl(pageContext, 'scripts/require-jquery-min.js')}"></script>
<script
	src="${gfi:staticContentUrl(pageContext,'scripts/cufon-all.js')}"
	type="text/javascript"></script>
<script type="text/javascript">
	Cufon.replace('.whitney', { fontFamily: 'WhitneySemiBold' });
</script>
