<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title></title>
<meta name="description" content="HTML 5 CSS 3 Spring Form" />


<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../../resources/css/style.css"
	th:href="@{/resources/css/style.css}" />

<script src="../../resources/js/libs/modernizr-2.0.6.min.js"
	th:src="@{/resources/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>

	<a th:href="@{/logout}"><input type="button" value="Logout"
		name="logout" class="submit" /></a>
	<div id="container">
		<table id="display-data">
			<thead>
				<tr>
					<th th:text="#{theader.count}"></th>
					<th th:text="#{theader.name}"></th>
					<th th:text="#{theader.email}"></th>
					<th th:text="#{theader.phone}"></th>
					<th th:text="#{theader.website}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="msg, rowStat : ${messages}">
					<td th:text="${rowStat.count}">1</td>
					<td th:text="${msg.name}">My Name</td>
					<td th:text="${msg.email}">my@email.com</td>
					<td th:text="${msg.phone}">9999</td>
					<td th:text="${msg.website}">http://mysite.com</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
		/*<![CDATA[*/
		//Embbeded Javascript         
		/*]]>*/
	</script>

</body>
</html>