<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title></title>
<meta name="description" content="HTML 5 CSS 3 Spring Form" />

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../../resources/css/style.css"
	th:href="@{/resources/css/style.css}" />
<script src="../../resources/js/libs/modernizr-2.0.6.min.js"
	th:src="@{/resources/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<div id="container">
		<header> </header>

		<div>
			<form id="signin" th:action="@{/login/authenticate}" method="post">

				<h1>Login using your user account</h1>

				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<div class="formInfo">
					<div class="error"
						th:if="${param.error != null and param.error[0] eq 'bad_credentials'}">
						Your sign in information was incorrect. Please try again or <a
							th:href="@{/signup}">sign up</a>.
					</div>
					<div class="error"
						th:if="${param.error != null and param.error[0] eq 'multiple_users'}">
						Multiple local accounts are connected to the provider account. Try
						again with a different provider or with your username and
						password.</div>
				</div>
				<fieldset id="user-details">
					<label for="login" th:text="#{theader.username}">Username</label> <input
						id="login" name="username" type="text" size="25"></input> <label
						for="password" th:text="#{theader.password}">Password</label> <input
						id="password" name="password" type="password" size="25"></input> <input
						type="submit" value="Submit" name="submit" class="submit" />
				</fieldset>

			</form>
			<h1>
				Or you can <a th:href="@{/signup}">signup</a> with a new account.
			</h1>
			<h1>
				Or <a th:href="@{/auth/twitter}"><img
					src="../../resources/img/sign-in-with-twitter-d.png"
					th:src="@{/resources/img/sign-in-with-twitter-d.png}" border="0" /></a>
			</h1>
		</div>
		<footer> </footer>
	</div>
	<!--! end of #container -->


	<script>
		/*<![CDATA[*/
		      //Embbeded Javascript    
		/*]]>*/
	</script>

</body>
</html>
