<%@ taglib uri="http://epay.gfigenfare.com" prefix="gfi" %>

<gfi:IfUserIsProxied>
	<c:set var="permissions" value="" />
	<c:forEach items="${Genfare_User.originalUserFromProxy.userSet}"
		var="group" varStatus="pos">
		<c:set var="permissions" value="${permissions}${group}" />
		<c:if test="${not pos.last}">
			<c:set var="permissions" value="${permissions}," />
		</c:if>
	</c:forEach>

	<div id="proxy-login">
		<bean:message key="admin.proxy.banner.message"
			arg0="${Genfare_User.originalUserFromProxy.userId}"
			arg1="${permissions}" />
		<html:link action="/admin/returnFromProxy" styleClass="small">
			<bean:message key="admin.proxy.banner.return.link" />
		</html:link>
	</div>
</gfi:IfUserIsProxied>