<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainLayout">
<head>
<title>eFare</title>
<link rel="stylesheet" href="../../resources/css/style.css"
	th:href="@{/resources/css/style.css}" />
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Panel primary</h3>
		</div>
		<div class="panel-body">
			<form id="signup" th:action="@{/signup}" method="post"
				th:object="${signupForm}">

				<h1>Sign Up</h1>

				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<div class="formInfo">
					<div class="error" th:if="${#fields.hasErrors('*')}">Unable
						to sign up. Please fix the errors below and resubmit.</div>
				</div>

				<input th:if="*{signInProvider} != null" type="hidden"
					th:value="*{signInProvider}" name="signInProvider"
					th:field="*{signInProvider}" />

				<fieldset id="user-details">
					<label for="firstName" th:text="#{theader.firstname}">First
						Name</label><span th:if="${#fields.hasErrors('firstName')}" class="error"
						th:text="${#fields.errors('firstName')[0]}">Error</span> <input
						type="text" th:field="*{firstName}" /> <label for="lastName"
						th:text="#{theader.lastname}">Last Name</label><span
						th:if="${#fields.hasErrors('lastName')}" class="error"
						th:text="${#fields.errors('lastName')[0]}">Error</span> <input
						type="text" th:field="*{lastName}" /> <label for="username"
						th:text="#{theader.email}">Email </label><span
						th:if="${#fields.hasErrors('email')}" class="error"
						th:text="${#fields.errors('email')[0]}">Error</span> <input
						type="text" th:field="*{email}" /> <label for="password"
						th:text="#{theader.password}"
						th:if="${signupForm.signInProvider == null}">Password (at
						least 6 characters)</label><span th:if="${#fields.hasErrors('password')}"
						class="error" th:text="${#fields.errors('password')[0]}">Error</span>
					<input type="password" th:if="${signupForm.signInProvider == null}"
						th:field="*{password}" />
					<p>
						<input type="submit" value="Sign Up" name="submit" class="submit" />
					</p>
				</fieldset>
			</form>
		</div>
	</div>

	<div id="content" layout:fragment="content">

		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a
				few things up</a> and try submitting again.
		</div>

		<div th:if="${!#strings.isEmpty(message)}"
			th:class="${message.type.cssClass}" th:text="${message.text}">error
			message text</div>


	</div>
</body>
</html>

