
<link rel="stylesheet" th:href="#{tennant.config} + 'css/reset.css'"
	href="css/reset.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/styles.css'"
	href="css/styles.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/jquery-ui.css'"
	href="css/jquery-ui.css" type="text/css"></link>
<link rel="stylesheet"
	th:href="#{tennant.config} + 'css/developers.css'"
	href="css/developers.css" type="text/css"></link>
<link rel="stylesheet" th:href="#{tennant.config} + 'css/override.css'"
	href="css/override.css" type="text/css"></link>


<link rel="stylesheet" th:href="#{tennant.config} + 'css/custom.css'"
	href="css/custom.css" type="text/css"></link>
