<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="card-details">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 account-wallet light-blue">
                <div class="col-md-12 col-lg-12 col-sm-12 generic-card-thumbnail walletcard-thumbnail center-block">
                    <div class="row wallet-size">
                            <img class="wallet-qty" th:src="@{/resources/img/icon-ticket-small.svg}" alt="" src="" />
                            <span th:text="${wallet.walletcontentses.size()}">-1</span>
                    </div>
                    <div class="row table-rw">
                        <a sec:authorize="isAuthenticated()" th:href="@{/#cardsummary}">
                            <img th:src="@{/resources/img/back-arrow-white.svg}" src="" alt="" />
                            <th:block th:text="#{card.details.switch}" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <h2 class="col-xs-7 col-md-6"
                        th:text="${wallet.nickname != ''} ? ${wallet.nickname} : ${wallet.wallettypes.description}">Default
                        Card Name</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5
                            th:text="${wallet.farecodes == null} ? #{card.details.discounts.none} :
                            ${wallet.farecodes.description} + ' ' + #{efare.subbanner.fare}">Unknown
                            Type</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h5 th:utext="|#{eFare.card.details.Id} ${cardNumber}|">xxxxxx</h5>
                    </div>
                </div>
                <div class="row" th:if="${wallet.dateExpires}">
                    <div class="col-xs-12">
                        <h5 th:utext="|#{eFare.card.details.expires} ${#calendars.format(wallet.dateExpires,'__#{date.format}__')}|">Expiration</h5>
                    </div>
                </div>
                <div class="row">
                  <a class="col-xs-12 light-link" sec:authorize="isAuthenticated()" th:if="${(replacingCard != true) and (wallet.isRegistered)}"
                        th:href="@{/card/replace(cardnumber=__${cardNumber}__)}" th:text="#{card.details.replace.card}">Replace
                        Card</a>
                      <div class="col-xs-12" th:if="${replacingCard == true}">
                        <h5 th:text="#{efare.carddetails.replacingcard.info}"></h5>
                      </div>
                </div>
            </div>
        </div>
        <div th:if="${wallet.walletcontentses.size() &gt; 0}">
            <div class="row">
                <h3 class="col-xs-6 col-sm-6 col-md-4" th:text="#{card.details.products.title}">Current Products</h3>
            </div>
            <form th:action="@{/store/products}" method="POST" action="">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input> <input type="hidden" name="wallet"
                    th:value="${wallet.walletId}" /> <input type="hidden" name="quantity" th:value="1" />
               <div class="no-table">
                <table class="table table-responsive dataTable">
                    <thead>
                        <tr>
                            <th th:text="#{card.details.products.colheader1}">Product Type</th>
                            <th th:text="#{card.details.products.colheader3}">Description</th>
                            <th th:text="#{card.details.products.colheader4}">Balance</th>
                            <th th:text="#{card.details.products.colheader5}">Status</th>
                            <th th:text="#{card.details.products.colheader6}">Expiration</th>
                            <th th:text="#{card.details.products.colheader7}" th:if="${wallet.people != null}">Autobuy</th>
                            <th th:text="#{card.details.products.colheader8}">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="entry : ${current}">
                            <tr class="table-rw" th:each="item : ${entry.value}">
                                <td th:attr="data-title='__#{card.details.products.colheader1}__'" th:text="${entry.key}">ProdType</td>
                                <td th:attr="data-title='__#{card.details.products.colheader3}__'" th:text="${item.tickets.description}">Desc</td>
                                <td th:attr="data-title='__#{card.details.products.colheader4}__'" th:text="${walletContentUtil.getBalance(item)}">Bal</td>
                                <td th:attr="data-title='__#{card.details.products.colheader5}__'"><img class="product-status" th:if="${walletContentUtil.getStatus(item) == 'Active'}"
                                    th:src="@{/resources/img/product-active.svg}" src="" alt="" /><img class="product-status"
                                    th:if="${walletContentUtil.getStatus(item) != 'Active'}"
                                    th:src="@{/resources/img/product-inactive.svg}" src="" alt="" /> <th:block
                                        th:text="${walletContentUtil.getStatus(item)}" /></td>
                                <td th:attr="data-title='__#{card.details.products.colheader6}__'" class="centered"
                                    th:text="${item.dateExpires} ? ${#calendars.format(item.dateExpires,'__#{date.format}__')} : '--'">Exp</td>
                                <td th:attr="data-title='__#{card.details.products.colheader7}__'" th:if="${wallet.people != null}">
                                    <div th:if="${wallet.people != null}">
                                        <div th:if="${walletContentUtil.getSubscriptionStatus(item) == 'Active'}" th:text="#{subscriptions.status.on}">On</div>
                                        <div th:if="${walletContentUtil.getSubscriptionStatus(item) == 'Inactive'}" th:text="#{subscriptions.status.off}">Off</div>
                                    </div>
                                </td>
                                <td th:attr="data-title='__#{card.details.products.colheader8}__'"><span
                                    th:if="${walletContentUtil.getStatus(item) == 'Active'}"> <span
                                        th:if="${wallet.people != null and replacingCard != true}"> <a class="light-link"
                                            th:if="${walletContentUtil.getSubscriptionStatus(item) == 'Active'}"
                                            th:href="@{/subscription/details(walletcontents=${item.walletContentsId})}"
                                            th:text="#{card.details.subscriptions.modify.text}">Modify</a> <a class="light-link"
                                            th:if="${walletContentUtil.getSubscriptionStatus(item) != 'Active' and item.tickets.isSubscribable == true}"
                                            th:href="@{/subscription(walletcontents=${item.walletContentsId})}"
                                            th:text="#{card.details.subscriptions.setup.text}">Setup</a> <span
                                            th:if="${item.tickets.isSubscribable == true and rules.buyMoreProducts(item)}"> | </span>
                                    </span>
                                    <input type="hidden" name="value" th:value="${item.valueOriginal}"/>
                                    <th:block th:if="${rules.buyMoreProducts(item)}" th:object="${walletContentUtil.buyMoreOffering(item)}">
                                        <button th:if="${#object != null and replacingCard != true}" class="btn-to-link" type="submit" th:name="offering"
                                            th:value="${#object.offeringId}"
                                            th:text="#{card.details.actions.buymore.text}">BuyMore</button>
                                    </th:block>
                                </span>
                                <span th:if="${walletContentUtil.getStatus(item) != 'Active' and rules.buyMoreProducts(item)}">
                                  <th:block th:if="${replacingCard != true}" th:object="${walletContentUtil.buyMoreOffering(item)}">
                                        <button th:if="${#object != null}" 
                                        		class="btn-to-link" 
                                        		type="submit" 
                                        		th:name="offering"
	                                            th:value="${#object.offeringId}"
	                                            th:text="#{card.details.actions.buymore.text}">
                                            BuyMore
                                        </button>
                                    </th:block>
                                </span></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                </div>
            </form>
        </div>
        <div th:if="${wallet.walletcontentses.size() == 0}" th:text="#{card.details.products.none}">No Products To Display</div>
        <div class="row">
            <h4 th:if="${rules.purchaseNewProducts(wallet) and replacingCard != true}">
                <a class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pull-right" th:href="@{/store/products(wallet=__${wallet.walletId}__)}">
                    <th:block th:text="#{card.details.products.addmore}" /><img th:src="@{/resources/img/icon-add.svg}" src=""
                    alt="" />
                </a>
            </h4>
            <h4 class="col-xs-6 col-sm-6 col-md-4 pull-right" th:if="${!rules.purchaseNewProducts(wallet)}"
                th:text="#{card.details.products.cantaddmore}">More Products Cannot Be Added</h4>
        </div>
        <div th:if="${processing.size() &gt; 0}">
            <h3 th:text="#{card.details.processing.title}">Products Being Processed</h3>
            <div class="no-table">
            <table class="table table-responsive dataTable">
                <thead>
                    <tr class="table-rw">
                        <th th:text="#{card.details.processing.colheader1}">Product</th>
                        <th th:text="#{card.details.processing.colheader3}">Description</th>
                        <th th:text="#{card.details.processing.colheader5}">Purchase Date</th>
                        <th th:text="#{card.details.processing.colheader6}">Price</th>
                        <th th:text="#{card.details.processing.colheader4}">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="entry : ${processing}">
                        <tr class="table-rw" th:each="item : ${entry.value}">
                            <td th:attr="data-title='__#{card.details.processing.colheader1}__'" th:text="${entry.key}">ProdType</td>
                            <td th:attr="data-title='__#{card.details.processing.colheader3}__'" th:text="${item.tickets.description}">Desc</td>
                            <td th:attr="data-title='__#{card.details.processing.colheader5}__'" th:text="${#calendars.format(item.createdAt,'__#{date.format}__')}">Date</td>
                            <td th:attr="data-title='__#{card.details.processing.colheader6}__'" th:text="${'$'+item.unitPrice}">--</td>
                            <td th:attr="data-title='__#{card.details.processing.colheader4}__'"><img class="product-status"
                                th:src="@{/resources/img/product-pending.svg}" src="" alt="" />
                                <th:block th:text="#{card.details.processing.processing}" /></td>
                        </tr>
                    </div>
                </tbody>
            </table>
            </div>
        </div>
    </div>
<div th:fragment="shippingform">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 th:text="#{shipping.address}"></h4>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="form-group">
                    <label th:text="#{register.firstName.text}" th:for="*{firstName}"></label> <input type="text"
                        th:field="*{firstName}" class="form-control" required="required" th:errorclass="form-control-error"></input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label th:text="#{register.lastName.text}" th:for="*{lastName}"></label> <input type="text"
                        th:field="*{lastName}" class="form-control" required="required" th:errorclass="form-control-error"></input>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="form-group">
                    <label th:text="#{register.address1.text}" th:for="*{address.line1}"></label> <input type="text"
                        th:field="*{address.line1}" class="form-control" th:errorclass="form-control-error"></input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label th:text="#{register.address2.text}" th:for="*{address.line2}"></label> <input type="text"
                        th:field="*{address.line2}" class="form-control" th:errorclass="form-control-error"></input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label th:text="#{register.city.text}" th:for="*{address.city}"></label> <input type="text"
                        th:field="*{address.city}" class="form-control" th:errorclass="form-control-error"></input>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:text="#{register.state.text}" th:for="*{address.state}"></label> <input type="text"
                        th:field="*{address.state}" class="form-control" th:errorclass="form-control-error"></input>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:text="#{register.postalCode.text}" th:for="*{address.postalCode}"></label> <input type="text"
                        th:field="*{address.postalCode}" class="form-control" th:errorclass="form-control-error"></input>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:text="#{register.country.text}" th:for="*{address.country}"></label> <input type="text"
                        th:field="*{address.country}" class="form-control" th:errorclass="form-control-error"></input>
                </div>
            </div>
        </div>

        <hr></hr>

        <div class="row">
            <div class="col-md-6">
                <h4 th:text="#{shipping.method}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <select name="method">
                    <option th:each="shipper: ${shippers}" th:value="${shipper.description}"
                        th:text="${shipper.description} + ' ' + ${shipper.rate}" th:selected="${shipper == selectedShipper}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <div th:if="${selectedShipper} != null" th:text="${selectedShipper.description}"></div>
            </div>
        </div>

        <div class="row">
            <div class="span6 ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-8">
                    <div class="col-xs-2 col-sm-2 col-md-2 vertical-centered" th:text="#{shipping.orderdetails.ordertotal}">Order
                        Total</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <h4 class="vertical-centered" th:text="|$${order.amountOrder}|">$0.00</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span6 ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-8">
                    <div class="col-xs-2 col-sm-2 col-md-2  vertical-centered" th:text="#{shipping.orderdetails.shipping}">Shipping
                        Cost</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <h4 class="vertical-centered" th:text="${selectedShipper} == null? |$0.00| : |$${selectedShipper.rate}|"></h4>
                    </div>
                </div>
            </div>
        </div>

        <hr></hr>
        <div class="row">
            <div class="span6 ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-8">
                    <div class="col-xs-2 col-sm-2 col-md-2  vertical-centered" th:text="#{shipping.orderdetails.total}">Total</div>
                    <strong>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <h4 class="vertical-centered"
                                th:text="${selectedShipper} == null? |$${order.amountOrder}| : |$${selectedShipper.rate + order.amountOrder}|"></h4>
                        </div>
                    </strong>
                </div>
            </div>
        </div>

        <div class="row bottom-content">
            <div class="span4 pull-left">
                <a class="grey-link" th:href="@{/store/products(parent=${parent})}" th:if="${parent != null}"> <span
                    class="icon-back"></span> <th:block th:text="#{product.back}"></th:block>
                </a> <a class="grey-link" th:href="@{/store/products(wallet=${wallet})}" th:unless="${parent != null}"
                    th:if="${wallet !=null}"> <span class="icon-back"></span> <th:block th:text="#{product.back}"></th:block>
                </a> <a class="grey-link" th:href="'previous.html'" onClick="history.back();return false;" th:if="${parent == null}"
                    th:unless="${wallet != null}"> <span class="icon-back"></span> <th:block th:text="#{product.back}"></th:block>
                </a>
            </div>
            <div class="span8 pull-right">
                <div class="col-md-12">
                    <button id="submit" type="submit" name="update" th:text="#{cart.update}" class="button-no-style"></button>
                    |
                    <button id="checkoutButton" type="submit" name="checkout" th:text="#{cart.checkout}" class="btn btn-primary">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
