<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="form">
			<input type="hidden" th:each="entry : ${creditServiceData}"
				th:name="${entry.key}" th:value="${entry.value}"
				th:unless="${entry.key == 'LineItems'}" />
			<div th:object="${creditServiceData['LineItems']}">
				<input type="hidden" th:if="${#object['isList'] == false}"
					th:name="${#object['name']}" th:value="${#object['items']}" /> <input
					type="hidden" th:if="${#object['isList'] == true}"
					th:each="item : ${#object['items']}" th:name="${#object['name']}"
					th:value="${item}" />
			</div>
			<button layout:fragment="credit-content-submit"
				class="btn btn-primary" type="submit" id="checkoutButton" name="PaymentForm"
				th:text="#{cart.checkout}" th:if="${numOfItems == '0'}" disabled="disabled">Checkout</button>
            <button layout:fragment="credit-content-submit"
                class="btn btn-primary" type="submit" id="checkoutButton" name="PaymentForm"
                th:text="#{cart.checkout}" th:unless="${numOfItems == '0'}">Checkout</button>
	</div>
	<div th:fragment="formDataOnly">
		<input type="hidden" th:each="entry : ${creditServiceData}"
			th:name="${entry.key}" th:value="${entry.value}"
			th:unless="${entry.key == 'LineItems'}" />
		<div th:object="${creditServiceData['LineItems']}">
			<input type="hidden" th:if="${#object['isList'] == false}"
				th:name="${#object['name']}" th:value="${#object['items']}" /> <input
				type="hidden" th:if="${#object['isList'] == true}"
				th:each="item : ${#object['items']}" th:name="${#object['name']}"
				th:value="${item}" />
		</div>
	</div>
</body>
</html>