<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div class="footer hidden-xs hidden-sm" th:fragment="footer">
		<div class="text-center small">
			<a th:href="#{footer.url_1.url}" th:text="#{footer.url_1.text}"></a>
			| <a th:href="#{footer.url_2.url}" th:text="#{footer.url_2.text}"></a>
			| <a th:href="#{footer.url_3.url}" th:text="#{footer.url_3.text}"></a>
			| <a th:href="#{footer.url_4.url}" th:text="#{footer.url_4.text}"></a>
			| <a th:href="#{footer.url_5.url}" th:text="#{footer.url_5.text}"></a>
		</div>
		<br/>
		<div class="text-center small" th:text="#{footer.text}"></div>
	</div>
	
	<div class="row hidden-xs hidden-sm" th:fragment="footer-admin">
		&copy; 2013 Admin Footer
	</div>
</body>
</html>