<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="eFare-home" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a th:href="@{/}" class="navbar-brand"><img class="img-responsive col-lg-12 header-logo" th:src="@{/resources/img/logo.png}"/></a>
				<button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/login}"><h4 th:text="#{efare.header.home.access.account.link}"></h4></a></li>
					<li><a th:href="@{/store/cart}" class="shopping-cart"><div class="cart-qty" th:text="${numOfItems}">99</div></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div th:fragment="eFare-wizard (currentStep, steps, shopping)">
				<nav>
					<ul class="main-menu nav">
						<li class="text-right"><a href="#" id="nav-close">X</a></li>
						<li><h3 th:text="#{sidebar.panel1.header}"
						class="off-canvas-menu"></h3></li>
						<li><a th:text="#{sidebar.panel1.text2}"
						th:href="${name != 'Guest'}? @{/store} : @{/store/cards}"></a></li>
						<li><a th:text="#{sidebar.panel1.text4}"
						th:href="@{/card/search}"></a></li>
                        <li><a th:text="#{sidebar.panel1.text1}" th:href="@{/faq}"></a></li>
						<li sec:authorize="!isAuthenticated()"><h3
						th:text="#{sidebar.panel2.header}"
						class="off-canvas-menu"></h3></li>
						<li sec:authorize="!isAuthenticated()"><a
						th:text="#{sidebar.panel2.text1}" th:href="@{/}"></a></li>
						<li sec:authorize="!isAuthenticated()"><a
						th:text="#{sidebar.panel2.text2}" th:href="@{/signup}">Signup</a></li>
						<li sec:authorize="!isAuthenticated()" class="hidden-md hidden-lg"><a th:text="#{sidebar.login}" th:href="@{/login}"></a></li>
						<li sec:authorize="isAuthenticated()"><h3
						th:text="#{sidebar.panel3.header}"
						class="off-canvas-menu">Users</h3></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/}"
						th:text="#{header.link3}"></a></li>
						<li sec:authorize="isAuthenticated()"><a
						th:text="#{efare.report.orderhistory.title}" th:href="@{/report/orderhistory}"></a></li>
						<li sec:authorize="isAuthenticated()"><a
						th:text="#{header.logout}" th:href="@{/logout}"></a></li>
				</ul>
		</nav>
		<div  class="navbar navbar-default navbar-inverse navbar-static-top compact-nav" role="navigation">
			<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 navbar-header">
					<a th:href="@{/}" class="navbar-brand">
					<img th:src="@{/resources/img/logo.png}" class="img-responsive col-lg-12 header-logo"/>
					</a>
				</div>
            	<div class="col-md-4 col-lg-3 hidden-xs hidden-sm">
				<div class="steps-container">
					<ul>
							<li th:each="i : ${#numbers.sequence( 1, steps)}" class="steps complete" th:if="${i &lt; currentStep}">
								<span th:text="${i}"></span>
							</li>
							<li  th:each="i : ${#numbers.sequence( 1, steps)}" class="steps active" th:if="${i == currentStep}">
								<span th:text="${i}"></span>
							</li>
							<li th:each="i : ${#numbers.sequence( 1, steps)}" class="steps" th:if="${i &gt; currentStep}">
								<span th:text="${i}"></span>
							</li>
					</ul>
				</div>	
                </div>
                <div th:class="${shopping==0}? 'col-xs-5 col-sm-5 col-md-5 col-lg-5 pull-right' : 'col-xs-5 col-sm-5 col-md-4 col-lg-5 pull-right'">
				<ul class="nav navbar-nav navbar-right">					
					<li th:class="${shopping==0}? 'hidden-xs col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-6 col-lg-4 col-lg-offset-5' : 'hidden-xs col-sm-4 col-sm-offset-5 col-md-4 col-md-offset-6 col-lg-4 col-lg-offset-5'" sec:authorize="!isAuthenticated()"><a th:href="@{/login}" th:text="#{sidebar.login}">Login</a></li>
					<li th:class="${shopping==0}? 'hidden-xs col-sm-8 col-sm-offset-0 col-md-7 col-md-offset-0 col-lg-7 col-lg-offset-2' : 'hidden-xs col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1 col-lg-7 col-lg-offset-3'" sec:authorize="isAuthenticated()" id="nameUser"><a th:href="@{/}"><span class="glyphicon glyphicon-user"></span>
					<th:block th:text="${name}"/> </a></li>
					<li th:if="${shopping == 0}" class="hidden-xs col-sm-2 col-md-2 col-lg-2 verticalLine"><a th:href="@{/store/cart}" class="shopping-cart">
					<div class="cart-qty" th:text="${numOfItems}"></div></a></li>
					<li class="col-xs-3 col-xs-offset-9 col-sm-1 col-sm-offset-0 col-md-1 col-md-offset-0 col-lg-1 col-lg-offset-0"><a id="nav-expander" class="nav-expander"><span class="glyphicon glyphicon-align-justify glyphicon-md"></span>
      				</a></li>
				</ul>
			</div>
			</div>
		</div>
		</div>
	</div>
	
	<nav th:fragment="eFare-slim" class="navbar navbar-default navbar-inverse navbar-static-top compact-nav" role="navigation">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
				<div class="navbar-header">
					<a th:href="@{/}" class="navbar-brand">
						<img th:src="@{/resources/img/logo.png}" class="img-responsive col-lg-12 header-logo"/>
					</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
			<div class="hidden-xs hidden-sm col-md-5 col-lg-5">
				<ul class="nav navbar-nav navbar-right">					
					<li><a th:href="@{/store/cart}"><span class="glyphicon glyphicon-shopping-cart glyphicon-sm-md"></span></a></li>
					<li><a th:href="@{/store/cart}" th:text="|${numOfItems} item(s)|">0 item(s)</a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" th:text="#{header.login}">Login or Signup</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/}" th:text="#{efare.header.home.access.account.link}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div th:fragment="header-nav">
				<nav>
					<ul class="main-menu nav">
						<li class="text-right"><a href="#" id="nav-close">X</a></li>
						<li><h3 th:text="#{sidebar.panel1.header}"
						class="off-canvas-menu"></h3></li>
						<li><a th:text="#{sidebar.panel1.text2}"
						th:href="${name != 'Guest'}? @{/store} : @{/store/cards}"></a></li>
						<li><a th:text="#{sidebar.panel1.text4}"
						th:href="@{/card/search}"></a></li>
                        <li><a th:text="#{sidebar.panel1.text1}" th:href="@{/faq}"></a></li>
						<li sec:authorize="!isAuthenticated()"><h3
						th:text="#{sidebar.panel2.header}"
						class="off-canvas-menu"></h3></li>
						<li sec:authorize="!isAuthenticated()"><a
						th:text="#{sidebar.panel2.text1}" th:href="@{/}"></a></li>
						<li sec:authorize="!isAuthenticated()"><a
						th:text="#{sidebar.panel2.text2}" th:href="@{/signup}">Signup</a></li>
						<li sec:authorize="!isAuthenticated()" class="hidden-md hidden-lg"><a th:text="#{sidebar.login}" th:href="@{/login}"></a></li>
						<li sec:authorize="isAuthenticated()"><h3
						th:text="#{sidebar.panel3.header}"
						class="off-canvas-menu">Users</h3></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/}"
						th:text="#{header.link3}"></a></li>
						<li sec:authorize="isAuthenticated()"><a
						th:text="#{efare.report.orderhistory.title}" th:href="@{/report/orderhistory}"></a></li>
						<li sec:authorize="isAuthenticated()"><a
						th:text="#{header.logout}" th:href="@{/logout}"></a></li>
				</ul>
		</nav>
		<div  class="navbar navbar-default navbar-inverse navbar-static-top compact-nav" role="navigation">
			<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-6 col-sm-6 col-md-7 col-lg-6 navbar-header">
					<a th:href="@{/}" class="navbar-brand">
					<img th:src="@{/resources/img/logo.png}" class="img-responsive col-lg-12 header-logo"/>
					</a>
				</div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 pull-right">
				<ul class="nav navbar-nav navbar-right">					
					<li class="hidden-xs col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4" sec:authorize="!isAuthenticated()"><a th:href="@{/login}" th:text="#{sidebar.login}">Login</a></li>
					<li class="hidden-xs col-sm-8 col-sm-offset-0 col-md-7 col-md-offset-0 col-lg-7 col-lg-offset-2" sec:authorize="isAuthenticated()" id="nameUser"><a th:href="@{/}"><span class="glyphicon glyphicon-user"></span>
                    <th:block th:text="${name}"/> </a></li>
					<li class="hidden-xs col-sm-2 col-md-2 col-lg-2 verticalLine"><a th:href="@{/store/cart}" class="shopping-cart">
					<div class="cart-qty" th:text="${numOfItems}"></div></a></li>
					<li class="col-xs-3 col-xs-offset-9 col-sm-1 col-sm-offset-0 col-md-1 col-md-offset-0 col-lg-1 col-lg-offset-0"><a id="nav-expander" class="nav-expander"><span class="glyphicon glyphicon-align-justify glyphicon-md"></span>
      				</a></li>
				</ul>
			</div>
			</div>
		</div>
		</div>
	</div>
</html>
