<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="productList (products)">
			<div class="row">
						<div class="col-md-12 tickets" th:each="ticket : ${products}">
						<div th:attr="data-filterable=${ticket.tickets.zones != null}? |Zoned All ${ticket.tickets.zones.zoneId}|:'Regional'">
								<div class="row product-description">
									<div class="col-xs-12 col-sm-12 col-md-6">
										<h3 th:text="${ticket.description}" th:value="${ticket}">Day Card</h3>                             
										<h4 th:text="${ticket.tickets.descriptionLong}">Product highlights, consectetur adipiscing elit.Vestibulum id hendrerit ipsum</h4>										
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6">
									<div class="product-selection-utility-container pull-right">										
											<form id="addToCart" th:object="${ticket}" method="post"
												th:action="@{/store/products}">
												<input type="hidden" th:value="${ticket.offeringId}"
													name="offering" /> <input type="hidden"
													th:value="${parent}" name="parent" /> <input type="hidden"
													th:value="${wallet}" name="wallet" />
											<div class="row">																						
											<div class="product-selection-utility price col-xs-12 col-sm-4 col-md-4">
											<span class="input-title" th:text="#{product.price}">Price</span>
											<span class="input-value" th:text="|$${ticket.unitPrice}|">$5.00</span>
											</div>
											<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
											<span class="input-title" th:text="#{product.quantity}">Quantity</span>
											<span class="input-value"><input type="text" class="form-control text-centered" id="quantity" name="quantity" placeholder="0" pattern="(\d){1,4}" title="Please enter a valid quantity"/></span>
											</div>
											<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
											<span class="input-title"></span>
											<span class="input-value add-to-cart">
											<button class="button-link-style" id="submit" type="submit" name="addToCart">
											<th:block th:text="#{addToCart.text}"/>
											<img class="icon-add" th:src="@{/resources/img/icon-add.svg}"/></button></span>
											</div>											
											</div>
											</form>
										
									</div>									
									</div>
								</div>
								<hr></hr>
							</div>
						</div>
					</div>
	</div>
</html>