<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="sidebar-panel">
		<div class="list-group">
			<a href="#" th:text="#{sidebar.panel1.header}"
				class="list-group-item active"></a> <a
				th:text="#{sidebar.panel1.text1}" th:href="@{/faq}"
				class="list-group-item"></a> <a th:text="#{sidebar.panel1.text2}"
				th:href="@{/store/cards}" class="list-group-item"></a> <a
				th:text="#{sidebar.panel1.text3}" th:href="@{/card/search}"
				class="list-group-item"></a> <a th:text="#{sidebar.panel1.text4}"
				th:href="@{/card/search}" class="list-group-item"></a> <a
				sec:authorize="!isAuthenticated()" href="#"
				th:text="#{sidebar.panel2.header}" class="list-group-item active"></a>
			<a sec:authorize="!isAuthenticated()"
				th:text="#{sidebar.panel2.text1}" th:href="@{/}"
				class="list-group-item"></a> <a sec:authorize="!isAuthenticated()"
				th:text="#{sidebar.panel2.text2}" th:href="@{/signup}"
				class="list-group-item">Signup</a> <a
				sec:authorize="isAuthenticated()" href="#"
				th:text="#{sidebar.panel3.header}" class="list-group-item active">Users</a>
			<a sec:authorize="isAuthenticated()"
				th:text="#{sidebar.panel3.text1}" th:href="@{/}"
				class="list-group-item"></a> <a sec:authorize="isAuthenticated()"
				th:text="#{sidebar.panel3.text2}" th:href="@{/report/orderhistory}"
				class="list-group-item"></a>

		</div>
	</div>

	<div th:fragment="sidebar-panel1">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading"
					style="background-color: rgb(68, 110, 155); color: #fff; border-color: #446E9B">
					<h3 class="panel-title" th:text="#{sidebar.header1}"></h3>
				</div>
				<div class="panel-heading">
					<h4 class="panel-title" th:text="#{sidebar.panel1.header}"
						data-toggle="collapse" data-target="#collapse1"></h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body" th:text="#{sidebar.quickaccess.body}">
						<form th:action="@{/card/search}" method="post">
							<div class="form-group">
								<input class="form-control" type="text" name="cardNum"
									placeholder="012345"></input>
							</div>
							<div class="form-group">
								<input type="submit" value="Search"
									class="btn btn-primary btn-block"></input>
							</div>
						</form>
					</div>
				</div>
				<div class="panel-heading">
					<h4 class="panel-title" th:text="#{sidebar.panel2.header}"
						data-toggle="collapse" data-target="#collapse2"></h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<form th:action="@{/store/cart}" method="POST">
							<div class="form-group">
								<p th:text="#{sidebar.panel.body}"></p>
								<input class="form-control" type="text" name="cardNum"
									placeholder="012345"></input>
							</div>
							<div class="form-group">
								<div class="radio">
									<label> <input name="reloadRadio" id="reloadRadio1"
										value="5" type="radio" th:text="#{sidebar.option1}"></input>
									</label>
								</div>
								<div class="radio">
									<label> <input name="reloadRadio" id="reloadRadio2"
										value="25" type="radio" th:text="#{sidebar.option2}"></input>
									</label>
								</div>
								<div class="radio">
									<label><input name="reloadRadio" id="reloadRadio3"
										value="50" type="radio" th:text="#{sidebar.option3}"></input>
									</label>
								</div>
								<input class="form-control" name="reloadRadio" id="reloadRadio5"
									type="text" placeholder="Other Amount"></input>
							</div>
							<div class="form-group">
								<input type="submit" value="Reload"
									class="btn btn-primary btn-block"></input>
							</div>
						</form>
					</div>
				</div>
				<div class="panel-heading">
					<h4 class="panel-title" th:text="#{sidebar.panel3.header}"
						data-toggle="collapse" data-target="#collapse3"></h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse in">
					<div class="panel-body">
						<form th:action="@{/order/activate}" method="POST">
							<div class="form-group" th:text="#{sidebar.panel.body}">
								<input class="form-control" type="text" name="cardNum"
									placeholder="012345"></input>
							</div>
							<div class="form-group" th:text="#{sidebar.panel.body2}">
								<input class="form-control" type="text" name="orderNum"
									placeholder="012345"></input>
							</div>
							<div class="form-group">
								<input type="submit" value="Activate"
									class="btn btn-primary btn-block"></input>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>