<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div
	th:fragment="shopping-sub-banner (step, stepText, checkoutAllowed, productFilter)">
	<div class="sub-banner">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-sm-9 col-md-11">
					<h6 th:text="${step}">Step 1/4</h6>
					<h1 th:text="${stepText}">Select a Card</h1>
					<h5 th:if="${farecode != null}"
						th:text="|${farecode.description} #{efare.subbanner.fare}|"></h5>
					<div class="ticketfilter-container"
						th:if="${(productFilter == 1) and (zones != null)}">
						<h5
							th:text="${cardnumber} != null? |#{products.addTo} ${cardnumber}| : |#{products.addTo} New Card|"></h5>
						<a href="#" data-role="filter" id="ticketFilter"
							th:text="#{addProducts.regional}">Regional</a> | <a href="#"
							data-role="filter" id="ticketFilter"
							th:text="#{addProducts.zoned}">Zoned</a> <span
							class="glyphicon glyphicon-arrow-right"
							data-filterable="Zoned All 1 2 3" style="display: none;"></span>
						<button data-filterable="Zoned All 1 2 3" data-role="filter"
							class="btn hidden-xs" id="allZones" style="display: none;"
							th:text="#{all}">All</button>
						<span data-filterable="Zoned All 1 2 3"
							class="outlined img-rounded" style="display: none;">
							<button data-filterable="Zoned All 1 2 3" data-role="filter"
								class="img-rounded" id="1" style="display: none;">1</button>
							<button data-filterable="Zoned All 1 2 3" data-role="filter"
								class="img-rounded" id="2" style="display: none;">2</button>
							<button data-filterable="Zoned All 1 2 3" data-role="filter"
								class="img-rounded" id="3" style="display: none;">3</button>
						</span> <a
							th:href="${parent != null}? @{/store/products/zones(parent=${parent})}: @{/store/zones(wallet=${wallet})}"
							data-filterable="Zoned 1 2 3"
							class="btn btn-default btn-sm hidden-xs hidden-sm"
							style="display: none;">Map</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-1">
					<div class="large-cart">
						<a th:href="@{/store/cart}"><img
							th:src="@{/resources/img/icon-shopping-cart.svg}" />
						<div class="cart-qty" th:text="${numOfItems}"></div></a>
						<!--  
                    <a href="#" class="btn-checkout disabled" th:if="${checkoutAllowed == 0}" th:text="#{cart.checkout}"></a>
                    <a th:href="@{/store/cart}" class="btn-checkout" th:if="${checkoutAllowed == 1}" th:text="#{cart.checkout}"></a>
                    -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div th:fragment="confirm-sub-banner (mainText, subText, cart)">
	<div class="sub-banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-md-1 hidden-xs">
					<img class="product-selected-check-mark"
						th:src="@{/resources/img/product-selected-white.svg}" />
				</div>
				<div class="col-xs-12 col-sm-10 col-md-11">
					<div class="col-xs-8 col-sm-9 col-md-10">
						<h1 id="itemAdded" th:text="${mainText}"></h1>
						<h5 th:unless="${(subText == null) || subText.isEmpty()}"
							th:text="${subText}"></h5>
						<h5 th:if="${farecode != null}"
							th:text="|${farecode.description} #{efare.subbanner.fare}|"></h5>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2" th:unless="${cart == 0}">
						<div class="large-cart">
							<a th:href="@{/store/cart}"><img
								th:src="@{/resources/img/icon-shopping-cart.svg}" />
							<div class="cart-qty" th:text="${numOfItems}"></div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="cart-sub-banner (step, stepText)">
	<div class="sub-banner">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-7 col-md-8">
					<h6 th:text="${step}">Step 1/4</h6>
					<h1 th:text="${stepText}">Select a Card</h1>
				</div>
                <div class="col-xs-6 col-sm-5 col-sm-push-1 col-md-4 col-md-push-1">
                    <div class="large-cart col-xs-12 col-xs-push-6 col-sm-12 col-sm-push-6 col-md-12 col-md-push-6">
                    <a th:href="@{/store/cart}"><img th:src="@{/resources/img/icon-shopping-cart.svg}"/><div class="cart-qty" th:text="${numOfItems}"></div></a>
                    </div>
                    <br></br>
                    <br></br>
                    <br></br>
                    <a class="vertical-centered col-md-12 col-md-push-1" th:href="@{/store/cards}"> 
                     <th:block th:text="#{add.another}"/>
                     <img th:src="@{/resources/img/icon-add.svg}"/></a>
                </div>
			</div>
		</div>
	</div>
</div>


<div th:fragment="replace-sub-banner (step, stepText)">
	<div class="sub-banner">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-sm-9 col-md-11">
					<h6 th:text="${step}">Step 1/4</h6>
					<h1 th:text="${stepText}">Select a Card</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="account-sub-banner(title, subtitle)">
	<div class="sub-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-11">

					<h1 th:text="${title}">Title</h1>
					<h5 th:text="${subtitle}">Subtitle</h5>

				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="autobuy-sub-banner (step, stepText)">
	<div class="sub-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h6 th:text="${step}">Step 1/4</h6>
					<h1 th:text="${stepText}">Select a Card</h1>
				</div>
			</div>
		</div>
	</div>
</div>

</html>