<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
        <h2 th:text="#{menu.title}"></h2>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li sec:authorize="${hasAnyRole(#vars.groupPermissionsService.getModulePermission(#vars.module))}" th:each="module,iterStat : ${modules}" th:class="${iterStat.index} eq 0 ? 'active'" class="active" style="text-align: center;" ><a role="tab" data-toggle="tab" th:href="|#${#strings.replace(module.description,' ','')}|"><img src="http://placehold.it/80x80" class="img-circle"></img><br/><p th:text="${module.description}">Admin</p></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div th:each="module,iterStat : ${modules}" th:class="${iterStat.index} eq 0 ? 'tab-pane fade active in' : 'tab-pane'" class="tab-pane fade active in" th:id="${#strings.replace(module.description,' ','')}">
                    <h3 th:text="#{menu.admin.title}"></h3>
                    <div sec:authorize="${hasAnyRole(#vars.groupPermissionsService.getComponentsPermission(#vars.component))}" th:each="component : ${module.componentses}" class="row">
                        <div class="hidden-xs col-sm-1 col-md-1"><img src="http://placehold.it/50x50" class="img-circle"></img></div>
                        <div class="hidden-xs col-sm-11 col-md-11">
                            <div class="row">
                                <div class="hidden-xs col-sm-12 col-md-12"><p th:text="${component.description}">User Manager</p></div>
                            </div>
                            <div class="row">
                                <div class="hidden-xs col-sm-2 col-md-2"><p class="glyphicon glyphicon-collapse-down" th:text="#{menu.admin.details}">Details</p></div>
                                <div class="hidden-xs col-sm-2 col-md-2"><p class="glyphicon glyphicon-star" th:text="#{menu.admin.favorite}">Favorite</p></div>
                                <div class="hidden-xs col-sm-8 col-md-8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
</th:block>
</html>