<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<body>
	<div layout:fragment="content">
		<h1 th:text="#{logout.header}"></h1>
		<p>You have been logged off. <a th:href="@{/}" th:text="logout.text"></a></p>
	</div>
</body>
</html>