<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body class="hidden-print findOrdersPage">
	<div layout:fragment="content" class="paddedContainer fulfillment">
		<div class="row">
			<div class="col-md-12">
				
				<!-- Print Shipping Labels Modal -->
                              <div class="modal fade" id="printShippingLabelsModal"
                                 tabindex="-1">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Print
                                             Shipping Labels</h4>
                                       </div>
                                       <div class="modal-body">
                                          <div class="shippingLabel" id="printShippingLabelContent">
                                             <span>Customer Name<br />123 Fake St.<br />Nocity,
                                                ST 12345-678
                                             </span>
                                          </div>
                                       </div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-default closeButton"
                                             data-dismiss="modal">Cancel</button>
                                          <button type="button" class="btn btn-primary printButton">Print</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- Print Shipping Labels Modal -->
				
				<!-- Header -->
				<div class="row">
					<div class="col-md-12">
						<h2 th:text="#{admin.find.manage.orders.heading}"></h2>
					</div>
				</div>
				<!-- Lead -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<h3 th:text="#{admin.find.manage.orders.lead}"></h3>
							</div>
						</div>
					</div>
				</div>
				<!-- Search Errors -->
				<div th:if="${error}" class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="alert alert-dismissable alert-danger">
							<button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
							<ul>
								<li class="globalerr" th:text="${error}"></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<!-- Search Form -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<form th:action="@{/fulfillment/orders}" th:object="${findOrdersForm}"
									method="POST">
									<!--  Search Form Errors -->
									<div th:if="${#fields.hasAnyErrors()}" class="row">
										<div class="alert alert-dismissable alert-danger">
											<button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
											<ul>
												<li th:each="e : ${#fields.detailedErrors()}"
													th:class="${e.global}? globalerr : fielderr"
													th:text="${e.message}"></li>
											</ul>
										</div>
									</div>
									<!-- Order search fields -->
									<div class="row">
										<div class="col-md-12" id="findOrdersSearchRow">
											<div class="form-group">
												<div class="row">
													<div class="col-md-2">
														<!-- Search Status -->
														<span th:text="#{admin.find.manage.orders.form.order.status}"></span>
														<select th:field="*{status}" id="orderStatusSelector" class="reset-box-sizing">
															<option th:each="status : ${statuses}"
																th:value="${status.status}" th:text="${status.description}">&nbsp;</option>
														</select>
													</div>
													<!-- Search From -->
													<div class="col-md-2">
														<span
															th:text="#{admin.find.manage.orders.form.order.range.from}"></span>
														<input type="text" id="from" 
															th:field="*{fromDate}"
															th:name="fromDate"
															th:placeholder="#{date.format.string}"/>
													</div>
													<!-- Search To -->
													<div class="col-md-2">
														<span th:text="#{admin.find.manage.orders.form.order.range.to}"></span>
														<input type="text" id="to" 
															th:field="*{toDate}"
															th:name="toDate"
															th:placeholder="#{date.format.string}"/>
													</div>
													<!-- Search OrderNum -->
													<div class="col-md-4">
														<span th:text="#{admin.find.manage.orders.form.order.number}"></span>
														<input type="text" class="form-control input-sm"
															th:field="*{orderNumber}"
															th:name="orderNumber"
															th:placeholder="#{admin.find.manage.orders.form.order.number}"
															th:errorclass="form-control-error"></input>
													</div>
													<!-- Search Submit -->
													<div class="col-md-2">
														<button id="search" class="btn btn-primary" type="submit"
															th:text="#{admin.find.manage.orders.form.submit}"></button>
													</div>
												</div>
											</div>
											<div class="form-group"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- End Search Form -->
				<!--Search results row displays if orders are found-->
				<div th:if="${ordersList}" class="row">
					<div class="row">
						<div class="col-md-12">
							<div class="media">
								<div class="media-body">
									<!-- Order headings  -->
									<table th:object="${ordersList}" id="order-search-results" class="hiddenFix">
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th th:text="#{admin.find.manage.orders.results.order.date}"></th>
												<th th:text="#{admin.find.manage.orders.results.order.number}"></th>
												<th th:text="#{admin.find.manage.orders.results.status}"></th>
												<th th:text="#{admin.find.manage.orders.results.username}"></th>
												<th th:text="#{admin.find.manage.orders.results.cards}"></th>
												<th th:text="#{admin.find.manage.orders.results.encoded}"></th>
												<th th:text="#{admin.find.manage.orders.results.shipped}"></th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${ordersList}">
												<td><input type="checkbox" class="lineItemCheckBox" /></td>
												<td th:if="${order.dateOrdered}" th:text="${order.dateOrdered}"></td>
													<td th:unless="${order.dateOrdered}"><span></span></td>
												<td th:if="${order.ordId}" class="detailOrderId" th:text="${order.ordId}"></td>
													<td th:unless="${order.ordId}" class="detailOrderId"><span>0</span></td>
												<td th:if="${order.orderStatus}" th:text="${order.orderStatus}"></td>
													<td th:unless="${order.orderStatus}"><span></span></td>
												<td th:if="${order.user}" th:text="${order.user}"></td>
													<td th:unless="${order.user}"><span></span></td>
												<td th:if="${order.quantity}" th:text="${order.quantity}"></td>
													<td th:unless="${order.quantity}"><span></span></td>
												<td th:if="${order.numEncoded}"><span th:text="${order.numEncoded}"></span></td>
													<td th:unless="${order.numEncoded}"><span>0</span></td>
												<td th:if="${order.numShipped}"><span th:text="${order.numShipped}"></span></td>
													<td th:unless="${order.numShipped}"><span>0</span></td>
												
												<td>
													<form class="details" th:action="@{/fulfillment/orders/details}" th:object="${findOrdersForm}" method="POST">
														<input type="hidden" th:field="*{orderNumber}" th:name="orderNumber"/>
														<input type="hidden" th:field="*{searchOrderNumber}" th:name="searchOrderNumber"/>
														<input type="hidden" th:field="*{fromDate}" th:name="fromDate"/>
														<input type="hidden" th:field="*{toDate}" th:name="toDate"/>
														<input type="hidden" th:field="*{status}" th:name="status"/>
														<button class="viewDetail btn btn-primary data" type="button" th:text="#{admin.find.manage.orders.view.detail}"></button>
														<span th:if="${order.isLocked}" class="glyphicon glyphicon-lock"></span>
													</form>
												</td>
											</tr>
										</tbody>
									</table>
									<!-- Order result nav buttons -->
									<div class="row">
										<div class="col-md-12">
											<div class="media">
												<div class="media-body">
													<div class="row fulfillmentOrderRow">
														<div class="col-md-12 fulfillmentNoPadding">
															<div class="col-md-2 orderColumn">
																<button class="btn btn-primary printButton disabled" id="printLabels"
																	th:text="#{admin.find.manage.orders.print.labels}"></button>
																<button class="hidden" id="printLabelsAction" data-toggle="modal" data-target="#printShippingLabelsModal"></button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- /Order result nav buttons -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /if order object exists -->

			</div>
			<!-- /page container col -->
		</div>
		<!-- /page container row -->
	</div>
	<!-- /page container layout -->

	<div class="hidden-xs hidden-sm" layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/resources/js/fulfillment/find_orders.js}"></script>
	</div>
</body>
</html>
