<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="layouts/main">
<body>
   <div layout:fragment="content" class="orderDetailsPage">
      <div id="printTemplate"></div>
      <div class="row orderDetailsPageRow">
         <div class="col-md-12">
            <div class="row">
               <!-- Header -->
               <div class="col-md-12">
                  <h2 th:text="#{admin.find.manage.orders.details.heading}"></h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="media">
                     <div class="media-body">
                        <!--Display order details-->
                        <div th:if="${orders}" th:object="${orders}" class="row">
                           <div class="col-md-12 border-bottom-strong">
                              
                              <!-- Encode Modal -->
                              <div class="modal fade" id="encodeModal" tabindex="-1">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h3 class="modal-title" id="myModalLabel" th:text="#{admin.order.details.encode}"></h3>
                                       </div>
                                       <div class="modal-body">
                                          <div class="alert alert-danger hiddenFix">
                                          	<button type="button" class="close alert-div-close"><span class="glyphicon glyphicon-remove"></span></button>
	                              			<span id="info"></span>
                                          </div>
                                          <div class="alert alert-success hiddenFix">
                                          	<button type="button" class="close alert-div-close"><span class="glyphicon glyphicon-remove"></span></button>
	                              			<span id="info"></span>
                                          </div>
                                          <h4 th:text="#{admin.find.manage.orders.details.heading}"></h4>
                                          <div class="col-md-12 border-bottom-strong encodeModalHeader">
                                             <div class="row">
                                                <div class="col-md-3">
                                                   <div>
                                                      <h5>
                                                         <span class="strongSpan" th:text="#{admin.find.manage.orders.form.order.number}"></span>
                                                      </h5>
                                                   </div>
                                                   <div class="col-md-3">
                                                      <span th:text="*{orderId}"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <div>
                                                      <h5>
                                                         <span class="strongSpan" th:text="#{admin.order.details.product.description}"></span>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span id="encodeModalProduct"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-2">
                                                   <div>
                                                      <h5>
                                                         <span class="strongSpan" th:text="#{admin.order.details.cards.ordered}"></span>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span class="strongSpan" id="encodeModalOrdered"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-4">
                                                   <div>
                                                      <h5>
                                                         <span class="strongSpan" th:text="#{admin.order.details.encode.remaining}"></span>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span class="strongSpan" id="encodeModalRemaining"></span>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                                      <div class="col-md-12" id="encodeContent">
                                             <div class="fulfillmentSpacer"></div>
                                             <h3 th:text="#{admin.order.details.encoding.method}"></h3>
                                             <div class="fulfillmentSpacer"></div>
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <div class="col-md-3 encodeModalNavCol">
                                                      <div class="encodeModalNav text-right selected" id="singleCardEncodeNav">
                                                         <span th:text="#{admin.order.details.encode.modal.encode.single}"></span>
                                                      </div>
                                                      <div class="encodeModalNav text-right"
                                                         id="bulkCardEncodeNav">
                                                         <span th:text="#{admin.order.details.encode.modal.encode.bulk}"></span>
                                                      </div>
                                                      <div th:if="${encodeOnFirst}" class="encodeModalNav text-right"
                                                         id="firstUseCardEncodeNav">
                                                         <span th:text="#{admin.order.details.encode.modal.encode.first.use}"></span>
                                                      </div>
                                                   </div><!--  /encodeModalNavCol -->
                                                   <div class="col-md-9" id="encodeModalDescription">
                                                      <!-- Single Card Encode -->
                                                      <div id="singleCardEncodeText">
                                                         <span th:text="#{admin.order.details.encode.modal.encode.single.description}"></span>
                                                         <div id="encodeSingleCardButton">
                                                            <button type="button" class="btn btn-primary" th:text="#{admin.order.details.encode.card}"></button>
                                                         </div>
                                                      </div>
                                                      <!-- Bulk Encode Cards -->
                                                      <div id="bulkCardEncodeText" class="hiddenFix">
                                                      	 
                                                         <span th:text="#{admin.order.details.encode.modal.encode.bulk.description}"></span><br/>
                                                         <input type="text" id="encodeBulkQty" th:placeholder="#{admin.order.details.bulk.qty}"/>
                                                         <button type="button" class="btn btn-primary" id="encodeBulkCardButton" th:text="#{admin.order.details.encode.cards}"></button>
                                                      </div>
                                                      <!-- Encode On First Use -->
                                                         <div id="firstUseCardEncodeText" class="hiddenFix">
                                                            <span th:text="#{admin.order.details.encode.modal.encode.first.use.description}"></span>
                                                            <div class="clearfix"></div>
                                                            <input type="text" name="lowPID"  th:placeholder="#{admin.order.details.encode.modal.low.pid}" />
                                                            <input type="text" name="highPID" th:placeholder="#{admin.order.details.encode.modal.high.pid}" />
                                                            <button type="button" class="btn btn-primary" id="encodeFirstUseCardButton" th:text="#{admin.order.details.encode.cards}"></button>
                                                         </div>
                                                   </div><!-- /encodeModalDescription -->
                                                </div><!-- /col-md-12 -->
                                             </div><!-- /row (details) -->
                                          </div><!-- /encodeContent -->
                                       </div>
                                       <div class="clearfix"></div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal" id="encode-modal-close">Close</button>
                                       </div><!--  /modal-footer -->
                                    </div>
                                 </div>
                              </div><!-- /encode modal -->

                              <!-- Ship Modal -->
                              <div class="modal fade" id="shipModal" tabindex="-1">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h3 class="modal-title" id="myModalLabel" th:text="#{admin.order.details.ship.modal.title}"></h3>
                                       </div>
                                       <div class="modal-body">
                                            <div class="alert alert-danger hiddenFix">
	                                            <button type="button" class="close alert-div-close"><span class="glyphicon glyphicon-remove"></span></button>
		                              			<span id="info"></span>
	                              			</div>
                                          <h4 th:text="#{admin.find.manage.orders.details.heading}"></h4>
                                          <div class="col-md-12 border-bottom-strong paddingBottom-md">
                                             <div class="row" id="shipModalRowSingleLine">
                                                <div class="col-md-4">
                                                   <div>
                                                      <h5>
                                                         <strong><span th:text="#{admin.find.manage.orders.form.order.number}"></span></strong>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span id="shipModalOrderId" th:text="${orders.orderId}"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-5">
                                                   <div>
                                                      <h5>
                                                         <strong><span th:text="#{admin.order.details.product.description}"></span></strong>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span id="shipModalProductDescription"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <div>
                                                      <h5>
                                                         <strong><span th:text="#{admin.order.details.cards.to.ship}"></span></strong>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span id="shipModalQuantityToShip"></span>
                                                   </div>
                                                </div>
                                             </div> <!-- Ship one line modal row -->
                                             <div class="row hiddenFix" id="shipModalRowAllLines">
                                                 <div class="col-md-4">
                                                   <div>
                                                      <h5>
                                                         <strong><span th:text="#{admin.find.manage.orders.form.order.number}"></span></strong>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span id="shipModalOrderId" th:text="${orders.orderId}"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-4">
                                                   <div>
                                                      <h5>
                                                         <strong><span th:text="#{admin.order.details.cards.to.ship}"></span></strong>
                                                      </h5>
                                                   </div>
                                                   <div>
                                                      <span id="shipModalQuantityToShip"></span>
                                                   </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                             </div> <!-- Ship all lines modal dow -->
                                          </div>
                                          <div class="clearfix"></div>
                                          <h3 th:text="#{admin.order.details.ship.modal.details}"></h3>
                                          <div class="col-md-12" id="ship-modal-details">
                                             <div class="row" id="ship-modal-date-row">
                                                <input class="hidden" type="text" name="orderNumber" /> 
                                                <input class="hidden" type="text" name="orderItemNumber" />
                                                <div class="col-md-4 col-md-offset-1 text-right shipModalField">
                                                   <strong><span class="text-right" th:text="#{admin.order.details.ship.date}"></span></strong>
                                                </div>
                                                <div class="col-md-3">
                                                   <input class="marginVertical dateField" type="text"
                                                      id="shipDateModal" name="shipDate" th:placeholder="#{date.format.string}" />
                                                </div>
                                             </div><!-- /ship-modal-date-row -->
                                             <div class="row" id="ship-modal-shipper-row">
                                                <div class="col-md-4 col-md-offset-1 text-right shipModalField">
                                                   <strong><span class="text-right" id="shipperField" th:text="#{admin.order.details.ship.method}"></span></strong>
                                                </div>
                                                <div class="col-md-3">
                                                   <th:block th:if="${orders.shippers}">
                                                      <span th:text="${orders.shippers.description}" th:name="${orders.shippers.shipperId}" id="textShipper"></span>
                                                   </th:block>
                                                   <th:block th:unless="${orders.shippers}">
                                                      <select class="marginVertical" name="shipperId">
                                                         <option th:each="shipper : ${shippers}"
                                                            th:value="${shipper.shipperId}"
                                                            th:text="${shipper.description}">&nbsp;</option>
                                                      </select>
                                                   </th:block>
                                                </div>
                                             </div><!-- /ship-modal-shipper-row -->
                                             <div class="row" id="ship-modal-tracking-row">
                                                <div class="col-md-4 col-md-offset-1 text-right shipModalField">
                                                   <div>
                                                      <strong><span class="text-right" th:text="#{admin.order.details.ship.tracking}"></span></strong>
                                                   </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <input class="marginVertical" type="text" th:placeholder="optional" name="tracking" />
                                                </div>
                                             </div><!-- /ship-modal-tracking-row -->
                                          </div><!-- /ship-modal-details -->
                                       </div><!-- /modal-body -->
                                       <div class="clearfix"></div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal" id="ship-modal-close">Close</button>
                                          <button type="button" class="btn btn-primary" id="ship-modal-ship">Ship Items</button>
                                       </div><!-- /ship-modal-footer -->
                                    </div><!-- /modal-content -->
                                 </div><!-- /modal-dial -->
                              </div><!-- /shipModal -->
                              <!-- Ship Modal -->

                              <!-- Cancel Modal -->
                              <div class="modal fade" id="cancelModal" tabindex="-1">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h3 class="modal-title" id="myModalLabel" th:text="#{admin.order.details.cancel.modal.title}"></h3>
                                       </div>
                                       <div class="modal-body">
                                          <div class="alert alert-danger hiddenFix">
                                          	<button type="button" class="close alert-div-close"><span class="glyphicon glyphicon-remove"></span></button>
	                              			<span id="info"></span>
                                          </div>
                                          <h4 th:text="#{admin.order.details.cancel.modal.subtitle}"></h4>
                                          <div class="col-md-12">
                                             <div class="row">
                                                <div class="col-md-4">
                                                   <h5>
                                                      <span class="strongSpan" th:text="#{admin.order.details.cancel.modal.order.number}"></span>
                                                   </h5>
                                                </div>
                                                <div class="col-md-8">
                                                   <h5>
                                                      <span class="strongSpan" th:text="#{admin.order.details.cancel.modal.order.item.number}"></span>
                                                   </h5>
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class="col-md-4" id="cancelOrderId">
                                                   <span th:text="*{orderId}"></span>
                                                </div>
                                                <div class="col-md-8" id="cancelOrderItems">
                                                   <span></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="clearfix"></div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" id="cancelBtnYes" th:text="#{admin.order.details.cancel.yes}"></button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-modal-close" th:text="#{admin.order.details.cancel.no}"></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- Cancel Modal -->

                              <!-- Print Shipping Labels Modal -->
                              <div class="modal fade" id="printShippingLabelsModal"
                                 tabindex="-1">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Print
                                             Shipping Labels</h4>
                                       </div>
                                       <div class="modal-body">
                                          <div class="shippingLabel" id="printShippingLabelContent">
                                             <span>Customer Name<br />123 Fake St.<br />Nocity,
                                                ST 12345-678
                                             </span>
                                          </div>
                                       </div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-default closeButton"
                                             data-dismiss="modal">Cancel</button>
                                          <button type="button" class="btn btn-primary printButton">Print</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- Print Shipping Labels Modal -->

                              <!-- Order Details -->
                              <div class="row orderDetailsHeaders">
                                 <div class="col-md-2" id="headerOrderNumber">
                                    <div>
                                       <h4 class="orderDetailsHeader" th:text="#{admin.find.manage.orders.form.order.number}"></h4>
                                    </div>
                                    <div class="orderDetailsHeadersData">
                                       <span class="data" id="order-id" th:text="*{orderId}"></span>
                                    </div>
                                 </div>
                                 <div class="col-md-2" id="headerOrderDate">
                                    <div>
                                       <h4 class="orderDetailsHeader" th:text="#{invoicing.unbilled.orders.order.date}"></h4>
                                    </div>
                                    <div class="orderDetailsHeadersData">
                                       <span class="data" th:text="*{#calendars.format(dateOrdered,'MM/dd/yyyy')}"></span>
                                    </div>
                                 </div>
                                 <div class="col-md-2" id="headerEncoded">
                                    <div>
                                       <h4 class="orderDetailsHeader" th:text="#{admin.order.details.encoded.question}"></h4>
                                    </div>
                                    <div class="orderDetailsHeadersData">
                                       <span class="data" id="orderEncodedStatus"></span>
                                    </div>
                                 </div>
                                 <div class="col-md-2" id="headerShipped">
                                    <div>
                                       <h4 class="orderDetailsHeader" th:text="#{admin.order.details.shipped.question}"></h4>
                                    </div>
                                    <div class="orderDetailsHeadersData">
                                       <span class="data" id="orderShippedStatus"></span>
                                    </div>
                                 </div>
                                 <div class="col-md-1"></div>
                                 <div class="col-md-3" id="headerShipAddress">
                                    <div>
                                       <h4 class="orderDetailsHeader" th:text="#{admin.order.details.ship.address}"></h4>
                                    </div>
                                    <div class="orderDetailsHeadersData">
                                      <div>
                                         <span class="data" th:text="${order.addr1}"></span>
                                      </div>
                                      <div>
                                         <span class="data" th:text="${order.addr2}"></span>
                                      </div>
                                      <div>
                                         <span class="data" th:text="${order.city}"></span>
                                         <span>,&nbsp;</span> <span class="data" th:text="${order.state}"></span>
                                         <span>&nbsp;</span> <span class="data" th:text="${order.zip}"></span>
                                      </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                              <div id="warn-lock" class="alert alert-warning" role="alert">
                              	<th:block th:if="${order.isLocked}"><button id="lockOrder" class="btn-default hiddenFix" th:text="#{admin.order.details.unlock.order}"></button> <span id="warn-info" th:text="#{admin.order.details.unlocked.message(${order.lockedAt}, ${order.lockedBy})}"></span></th:block>
							    <th:block th:unless="${order.isLocked}"><button id="lockOrder" class="btn-default" th:text="#{admin.order.details.lock.order}"></button> <span id="warn-info" th:text="#{admin.order.details.locked.message}"></span></th:block>
							  </div>
                              <div id="global-alert-good-div" class="alert alert-success hiddenFix">
	                              <button type="button" class="close alert-div-close"><span class="glyphicon glyphicon-remove"></span></button>
	                              <span id="info"></span>
                              </div>
                              <div id="global-alert-bad-div" class="alert alert-danger hiddenFix">
	                              <button type="button" class="close alert-div-close"><span class="glyphicon glyphicon-remove"></span></button>
	                              <span id="info"></span>
                              </div>
                           </div>
                           <div class="fulfillmentSpacer"></div>
                        </div>
                        <!-- Order Details -->

                        <!-- Line Item Details -->
                        <div th:if="${orders}" th:object="${orders}" class="row">
                           <div th:if="*{orderitemses}" th:each="lineItem : *{orderitemses}" class="border-bottom-strong row lineItemDetails">
                           	<div th:if="${lineItem.parentItemNumber != null and lineItem.parentItemNumber == lineItem.id.orderItemNumber}"><!--  item.getParentItemNumber() != null && !item.getParentItemNumber().equals(item.getId().getOrderItemNumber()) -->
                              <div th:object="${lineItem}" class="col-md-12 lineItemObject" th:name="*{id.orderItemNumber}">
                                 <div class="col-md-12 lineItemContents">
                                    <h3 class="lineItemText">
                                    	<span class="lineItemStatus" th:text="#{admin.order.details.line.item}"></span>
                                    	<span>&nbsp;</span><span class="lineItemNumber" th:text="*{id.orderItemNumber}"></span>
                                    	<span class="alert alert-info hiddenFix" id="isauto" th:text="#{admin.order.details.autoload.auto.fulfilled}"></span>
                                    </h3>
                                 </div>
                                 <div class="row lineItemRow">
                                    <div class="col-md-5 lineColumnLeft">
                                       <div class="col-md-12 lineColumnLeftColumnContainer">
                                          <div class="row lineLeftEncoded">
                                             <div class="col-md-4 text-right line LineLeftEncodedLeft">
                                                <div>
                                                   <span class="strongSpan" th:text="#{admin.order.details.encoded}"></span>
                                                </div>
                                             </div>
                                             <div class="col-md-8 lineLeftEncodedRight">
                                                <div class="lineItemLeft">
                                                   <span th:each="fulfillment : *{fulfillments}" th:text="${fulfillment.quantityEncoded}" class="quantityFulfilled quantityEncoded"></span>
                                                   <span th:text="#{admin.order.details.of}"></span>
                                                   <span th:text="*{quantity}" class="quantityTotal"></span>
                                                   <span class="glyphicon glyphicon-remove-circle"></span>
                                                   <span class="glyphicon glyphicon-ok-circle hiddenFix"></span>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row lineLeftShipped">
                                             <div class="col-md-4 text-right lineLeftShippedLeft">
                                                <div>
                                                   <span  class="strongSpan" th:text="#{admin.order.details.shipped}"></span>
                                                </div>
                                             </div>
                                             <div class="col-md-8 lineLeftShippedRight">
                                                <div class="lineItemLeft">
                                                   <span th:each="fulfillment : *{fulfillments}" th:text="${fulfillment.quantityShipped}"
                                                      class="quantityFulfilled quantityShipped"></span> 
                                                   <span th:text="#{admin.order.details.of}"></span> 
                                                   <span th:text="*{quantity}" class="quantityTotal"></span> 
                                                   <span class="glyphicon glyphicon-remove-circle"></span> 
                                                   <span class="glyphicon glyphicon-ok-circle hiddenFix"></span>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row lineLeftIDs">
                                             <div class="col-md-4 text-right  lineLeftShippedRight">
                                                <div>
                                                   <span class="strongSpan" th:text="#{admin.order.details.printedids}"></span>
                                                </div>
                                             </div>
                                             <div class="col-md-8">
                                                <div>
                                                   <span class="pids" th:name="*{id.orderItemNumber}" th:text="#{admin.order.details.pids.default}"></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-2 lineColumnCenter"></div>

                                    <!-- Line Item Right Column -->
                                    <div class="col-md-5 lineColumnRight">
                                       
                                       	<table class="productsTable col-md-12 border-bottom" th:name="*{id.orderItemNumber}">
                                       		<tr>
                                       			<th class="productHeader" th:text="#{admin.order.details.product}"></th>
                                       			<th class="productHeader" th:text="#{admin.order.details.unit.price}"></th>
                                       			<th class="productHeader" th:text="#{admin.order.details.ext.price}"></th>
                                       		</tr>
                                       	</table>
                                       
                                          <!-- Subtotal for Line Item -->
                                          <div class="row">
                                             <div class="col-md-4"></div>
                                             <div class="col-md-4">
                                                <div class="text-right lineItemRightSubtotal">
                                                   <span class="strongSpan"
                                                      th:text="#{admin.order.details.subtotal}"></span>
                                                </div>
                                             </div>
                                             <div class="col-md-4 lineItemRight">
                                                <span class="strongSpan subtotal col-md-12" th:name="*{id.orderItemNumber}"></span>
                                             </div>
                                             <div class="clearfix"></div>
                                          </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row lineItemButtons" th:name="${lineItem.id.orderItemNumber}">
                                 <!-- Line Item Action Buttons -->
                                 <div class="clearfix"></div>
                                 <div class="fulfillmentSpacer"></div>
                                 <div class="col-md-12 lineItemActionButtons">
                                    <div class="row buttonRow">
                                       <div class="lineItemDivCancel">
                                          <button
                                             class="btn btn-primary lineItemButton cancelLine pull-right hiddenFix"
                                             data-toggle="modal" data-target="#cancelModal"
                                             th:text="#{admin.order.details.cancel.line.item}"></button>
                                       </div>
                                       <div class="lineItemDivShip">
                                          <button
                                             class="btn btn-primary lineItemButton shipLine pull-right hiddenFix"
                                             data-toggle="modal" data-target="#shipModal"
                                             th:text="#{admin.order.details.ship.line.item}"></button>
                                       </div>
                                       <div class="lineItemDivEncode">
                                          <button
                                             class="btn btn-primary lineItemButton encodeLine pull-right hiddenFix"
                                             data-toggle="modal" data-target="#encodeModal"
                                             th:text="#{admin.order.details.encode.line.item}"></button>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="fulfillmentSpacer"></div>
                              </div>
                              <!-- Line item action buttons -->
                           
                           	</div><!-- /if not has parent -->
                           </div>
                        </div>
                        <!-- Line Item Details -->

                        <!-- Order result nav buttons -->
                        <div class="row fulfillmentOrderRow">
                           <div class="fulfillmentSpacer"></div>
                           <div id="backButton">
                              <form th:action="@{/fulfillment/orders}" th:object="${findOrdersForm}" id="goBack" method="POST">
	                              <span class="hidden" th:text="${searchOrderNumber}" id="searchOrderNumber"></span>
	                              <span class="hidden" th:text="${fromDate}" id="searchFromDate"></span>
	                              <span class="hidden" th:text="${toDate}" id="searchToDate"></span>
	                              <span class="hidden" th:text="${status}" id="searchStatus"></span>
	                              <input type="hidden" th:field="*{orderNumber}" th:name="orderNumber"/>
	                              <input type="hidden" th:field="*{fromDate}" th:name="fromDate"/>
	                              <input type="hidden" th:field="*{toDate}" th:name="toDate"/>
	                              <input type="hidden" th:field="*{status}" th:name="status"/>
                              </form>
                              <span class="glyphicon glyphicon-circle-arrow-left glyphiconButton pull-left"></span>
                              <span class="glyphiconCenterSpan pull-left" th:text="#{admin.order.details.back}"></span>
                           </div>
                           <div class="wholeOrderDivShip">
                              <button class="btn btn-primary allLineItemsButton shipAllLineItemsButton hiddenFix"
                                 data-toggle="modal" data-target="#shipModal"
                                 th:text="#{admin.order.details.ship.all}"></button>
                           </div>
                           <div class="wholeOrderDivPrint">
                              <button class="btn btn-primary allLineItemsButton shippingLabelsButton hiddenFix"
                                 id="printLabels" th:text="#{admin.find.manage.orders.print.labels}"></button>
                              <button class="hidden" id="printLabelsAction" data-toggle="modal" data-target="#printShippingLabelsModal"></button>
                           </div>
                           <div class="wholeOrderDivCancel">
                              <button class="btn btn-primary allLineItemsButton cancelAllLineItemsButton hiddenFix"
                                 data-toggle="modal" data-target="#cancelModal"
                                 th:text="#{admin.order.details.cancel.all}"></button>
                              <div class="clearfix"></div>
                           </div>
                           <div class="fulfillmentSpacer"></div>
                        </div>
                        <!-- /Order result nav buttons -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- Hidden div holds the encoder applet on encode -->
			<div class="" id="encoderAppletHolder"></div>
         </div>
         <!-- /page container col -->
      </div>
      <!-- /page container row -->
   </div>
   <!-- /page container layout -->
   <div class="hidden" layout:fragment="scripts">
      <script type="text/javascript"
         th:src="@{/resources/js/fulfillment/view_details.js}"></script>
      <script type="text/javascript"
         th:src="@{/resources/js/fulfillment/deployJava.js}"></script>
   </div>
</body>
</html>