<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: account-sub-banner(#{efare.card.search.title}, #{efare.card.search.subtitle})"></div>
</th:block>
<th:block layout:fragment="page-content">
<div class="container">
			<form th:action="@{/card/search}" th:object="${searchCardForm}"
				method="POST">
				<div th:if="${#fields.hasAnyErrors()}" class="row">
					<div class="alert alert-dismissable alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<ul>
							<li th:each="e : ${#fields.detailedErrors()}"
								th:class="${e.global}? globalerr : fielderr"
								th:text="${e.message}"></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="hidden-xs col-md-4 col-lg-3">
						<img class="thumbnail card-illustration" src="/eFare/resources/img/card-illustration.png" />
					</div>
					<div class="col-md-8 col-md-9">
						<h3 th:text="#{card.header2}"></h3>
						<p th:text="#{card.body1}"></p>					
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
                                    <label th:for="*{cardNumber}" th:text="#{searchCard.card_number.text}"></label>
									<input type="text" class="form-control"
										th:field="*{cardNumber}"
										required="required" th:errorclass="form-control-error"></input>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
                                    <label th:for="*{cvvNumber}" th:text="#{searchCard.cvv_number.text}"></label>
									<input type="text" class="form-control"
										th:field="*{cvvNumber}"
										 th:errorclass="form-control-error"></input>
								</div>
							</div>
							<div class="col-md-5 pull-right">
							<label>&nbsp;</label>
								<div class="form-group">								
									<button id="search" class="btn btn-primary pull-right"
										type="submit" th:text="#{searchCard.search.text}"></button>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</form>
			</div>
			<div th:if="${wallet != null or error != null}" class="secondary-background-color">
			<div class="container search-results">
			<!-- TODO: handle exceptions better -->
			<div th:if="${error}" class="alert alert-dismissable alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<p th:text="#{card.error}"></p>
				<p th:text="${error}"></p>
			</div>

			<div th:if="${wallet}">

					<div class="row">
						<div class="col-sm-3 col-md-3 account-wallet light-blue">
						<h3 th:text="#{card.header3}" id="searchResults"></h3>
                            <div class=" col-md-12 generic-card-thumbnail walletcard-thumbnail foundcard-thumbnail center-block">
                               <div class="row"></div>
                                <div class="row wallet-size">                       
										<img class="wallet-qty" th:src="@{/resources/img/icon-ticket-small.svg}" alt="" src="" />
										<span th:text="${wallet.walletcontentses.size()}">-1</span>
								</div>
                            </div>
                        </div>
                        <div class="col-md-9">
								<div class="row">
								<div class="col-md-9">
								<h3>&nbsp;</h3>
								</div>
							</div>
                            <div class="row">
						          <div class="col-sm-4 col-md-4">
							         <h5 th:text="|Card Number: ${searchCardForm.cardNumber}|"></h5>
							         <h5 th:text="#{card.body2}"></h5>
									 <h5 th:text="#{card.body3}"></h5>
						          </div>
						    </div>
							<div class="row">
									<div class="col-md-12">
									<span>
                                    <form sec:authorize="isAuthenticated()" th:action="@{/card/register}"
                                    th:object="${cardRegistrationForm}" method="GET">
                                    <input type="hidden"
                                    th:field="*{cardNumber}"
                                    th:value="${searchCardForm.cardNumber}"></input>
                                    <input type="hidden"
                                    th:field="*{cvvNumber}"
                                    th:value="${searchCardForm.cvvNumber}"></input>
                                    <button class="btn btn-primary"
                                    type="submit" th:text="#{eFare.cardRegistration.register.text}"></button>
                                    </form>
									</span>
									<span>
							         <a class="btn btn-link" id="addProducts"
								    th:text="#{card.body4}"
								    th:href="@{/store/products(wallet=${wallet.walletId})}"></a>
									</span>									
                                    <span>
                                    <a class="btn btn-link" id="viewDetails" th:text="#{eFare.view.cardDetails}" 
                                    th:href="@{/card/details(cardnumber=${searchCardForm.cardNumber},cvv=${searchCardForm.cvvNumber})}"></a>
									</span>		
									</div>
						    </div>
                            </div>
                        </div>  
				</div>  
			</div>
			</div>
</th:block>

<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>