<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="footer">
    	<div class="text-center small">
    		<a th:href="#{footer.url_1.url}" th:text="#{footer.url_1.text}"></a> |
    		<a th:href="#{footer.url_2.url}" th:text="#{footer.url_2.text}"></a> |
    		<a th:href="#{footer.url_3.url}" th:text="#{footer.url_3.text}"></a> |
    		<a th:href="#{footer.url_4.url}" th:text="#{footer.url_4.text}"></a> |
    		<a th:href="#{footer.url_5.url}" th:text="#{footer.url_5.text}"></a>
    	</div>
        <div class="text-center small" th:text="#{footer.text}"></div>
    </div>
    <div th:fragment="footer-admin">
        &copy; 2013 Admin Footer
    </div>
    
    <div th:fragment="scripts">
	    <script th:inline="javascript">
			/*<![CDATA[*/
				var _csrfToken = /*[[${_csrf.token}]]*/ null;
				console.log(_csrfToken);
			/*]]>*/
		</script>
		<script th:inline="javascript">
			function _log(s) {
			  try { console.log(s); } catch (e) { }
			}
			function _err(s) {
			  try { console.error(s); } catch (e) { }
			}
			function extract_url(path) {		
				return window.location.origin + '/' + window.location.pathname.split('/')[1] + path;
			}
		</script>
    	<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/jquery-ui-1.10.0.custom.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/jquery.i18n.properties.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrap-formhelpers.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrap-validation.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/grids.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.js}"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
				$.i18n.properties({
				    name:'messages',
				    path:/*[[@{/resources/locale/}]]*/ './resources/locale/',
				    mode:'both',
				    language:"en_US"
				});
			
				function _getMessage(message) {
					var msg = message;
					var keys = new Array();
					if( message.indexOf("[") > 0 ) {
						msg = message.substr(0, message.indexOf("["));
						var count = 0;
						while( message.indexOf("[") > 0 ) {
							message = message.substr(message.indexOf("["))
							var open = message.indexOf("[");
							var close = message.indexOf("]");
							var key = message.substr(open+1,close-1);
							keys[count] = key;
							count++;
							message = message.substr(close);
						}
					}
					return $.i18n.prop(msg, keys);
				}
			/*]]>*/
		</script>
		
    </div>
    
</body>
</html>