<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="row" th:fragment="header-nav">
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-imgbar">
					<span class="sr-only">Toggle Navigation</span> 
					<span class="icon-bar"></span> <span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand navbar-brand-custom" th:href="@{/home}"></a>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar-imgbar">
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a th:href="@{/products}" th:text="#{header.link1}"></a></li>
					<li><a th:href="@{/search/card}" th:text="#{header.link2}"></a></li> -->
					<li id="myAccount" sec:authorize="isAuthenticated()">
						<a th:href="@{/user/profile}" th:text="#{header.link3}"></a>
					</li>
					<li sec:authorize="isAuthenticated()">
 							<a th:href="@{/logout}" th:text="#{header.logout}"></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>