<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav class="navbar navbar-inverse" role="navigation" th:fragment="navbar">
		<div class="container-fluid">				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="top-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="#{navbar.nav_1.url}"><img th:alt="#{navbar.nav_1.alt_text}" th:src="@{/resources/img/nav_1.gif}" /></a></li>
						<li><a th:href="#{navbar.nav_2.url}"><img th:alt="#{navbar.nav_1.alt_text}" th:src="@{/resources/img/nav_2.gif}" /></a></li>
						<li><a th:href="#{navbar.nav_3.url}"><img th:alt="#{navbar.nav_1.alt_text}" th:src="@{/resources/img/nav_3.gif}" /></a></li>
						<li><a th:href="#{navbar.nav_4.url}"><img th:alt="#{navbar.nav_1.alt_text}" th:src="@{/resources/img/nav_4.gif}" /></a></li>
						<li><a th:href="#{navbar.nav_5.url}"><img th:alt="#{navbar.nav_1.alt_text}" th:src="@{/resources/img/nav_5.gif}" /></a></li>
					</ul>
				</div>
		</div>
	</nav>
</body>
</html>