
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="panel-signin">
		<div class="panel panel-default panel-signin">
			<div class="panel-heading">
				<h2 class="panel-title" th:text="#{links.login}"></h2>
			</div>
			<div class="panel-body panel-height">
				<h4 th:text="#{panel.signin.info}"></h4>
				<div class="alert alert-dismissable alert-danger alert-signin" th:if="${param.error}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
					<strong th:text="#{panel.signin.invalid_password}"></strong>
				</div>
				<form class="form-horizontal" th:action="@{/login}" method="post">
					<fieldset>
						<div class="form-group col-md-12">
							<input class="form-control" id="username" name="username" type="text" th:placeholder="#{panel.signin.username.text}" />
						</div>
						<div class="form-group col-md-12">
							<input class="form-control" id="password" name="password" type="password" th:placeholder="#{panel.signin.password.text}" />
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<button type="submit" id = "login" class="btn btn-primary" th:text="#{panel.signin.btn}" th:value="#{login.submit}"></button>
							</div>
							<div class="col-md-6 checkbox">
								<div class="row">
								<label>
									<input  th:text="#{panel.signin.remember_me.text}" type="checkbox" name="remember-me" />
								</label>
								</div>
								<div class="row">
									<small><a th:text="#{panel.signin.reset.password.text}" th:href="@{/signin/reset}"></a></small>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div th:fragment="panel-signup">
		<div class="panel panel-primary panel-signup">
			<div class="panel-heading">
				<h2 class="panel-title" th:text="#{panel.signup.heading}"></h2>
			</div>
			<div class="panel-body panel-height">
				<h4 th:text="#{panel.signup.info}"></h4>
				<p th:text="#{panel.signup.text}" />
				<a class="btn btn-primary" th:text="#{panel.signup.btn}" th:href="@{/signup}"></a>
			</div>
		</div>
	</div>
	<div th:fragment="panel-guest">
		<div class="panel panel-default panel-guest">
			<div class="panel-heading">
				<h2 class="panel-title" th:text="#{panel.guest.heading}"></h2>
			</div>
			<div class="panel-body panel-height">
				<h4 th:text="#{panel.guest.info}"></h4>
				<p th:text="#{panel.guest.text}" />
				<div class="form-group">
					<a class="btn btn-primary" th:href="@{/products}" th:text="#{panel.guest.btn1}"></a>
				</div>
				<div class="form-group">
					<a class="btn btn-primary" th:href="@{/search/card}" th:text="#{panel.guest.btn2}"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>