body {
  padding-top: 50px;
}

#banner {
  min-height: 300px;
  border-bottom: none;
}

.page-header {

  h1 {
    font-size: 4em;
  }
}

.bs-docs-section {
  margin-top: 8em;
}

.bs-component {
  position: relative;

  .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;

    &-dialog {
      width: 90%;
    }
  }

  .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
}

.progress {
  margin-bottom: 10px;
}

footer {
  margin: 5em 0;

  li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }

  p {
    clear: left;
    margin-bottom: 0;
  }
}

.splash {
  padding: 4em 0 0;
  background-color: #141d27;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 4em;
  }

  #social {
    margin: 2em 0;
  }

  .alert {
    margin: 2em 0;
  }
}

.section-tout {
  padding: 4em 0 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #eaf1f1;

  .fa {
    margin-right: 0.5em;
  }

  p {
    margin-bottom: 3em;
  }
}

.section-preview {
  padding: 4em 0 4em;

  .preview {

    margin-bottom: 4em;
    background-color: #eaf1f1;

    .image {
      position: relative;
    }

    .image:before {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      pointer-events: none;
    }

    .options {
      padding: 1em 2em 2em;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-top: none;
      text-align: center;

      p {
        margin-bottom: 2em;
      }
    }
  }

  .dropdown-menu {
    text-align: left;
  }

  .lead {
    margin-bottom: 2em;
  }

  @media (max-width: 767px) {
    
    .image img {
      width: 100%;
    }
  }
}

.sponsor {

  text-align: center;

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 767px) {

  #banner {
    margin-bottom: 2em;
    text-align: center
  }

}