<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body>
	<div layout:fragment="content" class="paddedContainer invoiceUnbilledOrders">
		<div class="row">
			<div class="col-md-12">
				<!-- Header -->
				<div class="row">
					<div class="col-md-12">
						<h2 th:text="#{invoicing.unbilled.orders.header}"></h2>
					</div>
				</div>
				<!-- Lead -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<h3 th:text="#{invoicing.unbilled.orders.lead}"></h3>
							</div>
						</div>
					</div>
				</div>
				<!-- Search Errors -->
				<div th:if="${error}" class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="alert alert-dismissable alert-danger">
							<button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
							<ul>
								<li class="globalerr" th:text="${error}"></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<!-- Search Form -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<form th:action="@{/invoicing/create_invoice}" th:object="${findOrdersForm}"
									method="POST">
									
									<!--  Check Created Form Errors 
									<div th:if="${#fields.hasAnyErrors()}" class="row">
										<div class="alert alert-dismissable alert-danger">
											<button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
											<ul>
												<li th:each="e : ${#fields.detailedErrors()}"
													th:class="${e.global}? globalerr : fielderr"
													th:text="${e.message}"></li>
											</ul>
										</div>
									</div>
									-->
									
									<div class="row">
										<h3>Create Invoice</h3>
									</div>
									<div class="row">
										<select>
											<option>Select an Organization</option>
										</select>
									</div>
									
								</form> <!-- /Invoice search form -->
							</div> <!-- /media body -->
						</div> <!-- /media -->
					</div>
				</div>
			</div>
			<!-- /page container col -->
		</div>
		<!-- /page container row -->
	</div>
	<!-- /page container layout -->

	<div class="hidden-xs hidden-sm" layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/resources/js/invoicing/unbilled_orders.js}"></script>
	</div>
</body>
</html>
