<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body>
	<div layout:fragment="content" class="paddedContainer invoiceUnbilledOrders">
		<div class="row">
			<div class="col-md-12">
				<!-- Header -->
				<div class="row">
					<div class="col-md-12">
						<h2 th:text="#{invoicing.unbilled.orders.header}"></h2>
					</div>
				</div>
				<!-- Lead -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<h3 th:text="#{invoicing.unbilled.orders.lead}"></h3>
							</div>
						</div>
					</div>
				</div>
				<!-- Search Errors -->
				<div th:if="${error}" class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="alert alert-dismissable alert-danger">
							<button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
							<ul>
								<li class="globalerr" th:text="${error}"></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<!-- Search Form -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<form th:action="@{/invoicing/find_orders}" th:object="${findOrdersForm}"
									method="POST">
									
									<!--  Search Form Errors 
									<div th:if="${#fields.hasAnyErrors()}" class="row">
										<div class="alert alert-dismissable alert-danger">
											<button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
											<ul>
												<li th:each="e : ${#fields.detailedErrors()}"
													th:class="${e.global}? globalerr : fielderr"
													th:text="${e.message}"></li>
											</ul>
										</div>
									</div>
									-->
									
									<!-- Order search fields -->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="row invoiceMarginVertical">
													<div class="col-md-2 col-md-offset-3 text-right invoiceSearchLabel">
														<!-- Org Filter -->
														<span th:text="#{invoicing.unbilled.order.org.name}"></span>
													</div>
													<div class="col-md-4">
														<select id="invoicingOrgSelector" class="reset-box-sizing">
															<option>Testorg</option>
														</select>
													</div>
													<div class="col-md-3"></div>
												</div>
												<div class="row invoiceMarginVertical">
													<div class="col-md-2 col-md-offset-3 text-right invoiceSearchLabel">
														<!-- Org Sub-location Filter -->
														<span th:text="#{invoicing.unbilled.order.org.sub.name}"></span>
													</div>
													<div class="col-md-4">
														<select id="invoicingOrgSubSelector" class="reset-box-sizing">
															<option>Store #123</option>
														</select>
													</div>
													<div class="col-md-3"></div>
												</div>
												<div class="row invoiceMarginVertical">
													<!-- Search From -->
													<div class="col-md-1 col-md-offset-3  text-right invoiceSearchLabel">
														<span th:text="#{invoicing.unbilled.orders.search.from}"></span>
													</div>
													<div class="col-md-2 dateBox">
														<input type="text" id="from" value="mm/dd/yyyy" />
													</div>
													<!-- Search To -->
													<div class="col-md-1  text-right invoiceSearchLabel">
														<span th:text="#{invoicing.unbilled.orders.search.to}"></span>
													</div>
													<div class="col-md-2 dateBox">
														<input type="text" id="to" value="mm/dd/yyyy" />
													</div>
													<div class="col-md-3"></div>
												</div>
												<div class="row">
													<div class="col-md-5">
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary" type="button" th:text="#{invoicing.unbilled.orders.show.report}"></button>
													</div>
													<div class="col-md-5"></div>
												</div>
												<div class="row">
													<div class="col-md-9"></div>
													<div class="col-md-3">
														<button class="btn btn-primary pull-right" type="button" th:text="#{invoicing.unbilled.orders.download.report}"></button>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- /Order Search Fields -->
								</form> <!-- /Invoice search form -->
							</div> <!-- /media body -->
						</div> <!-- /media -->
					</div>
				</div>
				<div class="row">
				
					<!-- Returned Unbilled Invoice -->
					<div th:object="${orders}" class="col-md-12 invoiceSearchResults">
						<div class="row">
							<span th:text="#{invoicing.unbilled.orders.showing}"></span>
							<strong>&nbsp;1 - <span th:text="${#lists.size(orders)}"></span>&nbsp;</strong>
							<span th:text="#{invoicing.unbilled.orders.showing.of}"></span>
							<strong>&nbsp;<span th:text="${#lists.size(orders)}"></span>&nbsp;</strong>
							<span th:text="#{invoicing.unbilled.orders.showing.unbilled.orders}"></span>
						</div>
						
						<div th:each="singleOrder : ${orders}">
							<div class="row invoiceTableHeader">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-7">
											<h4 th:text="*{orderOrganizationNameNullSafe()}?: 'Organization Not Found'"></h4>
										</div>
										<div class="col-md-3 text-right">
											<h4>$00000.00</h4>
										</div>
										<div class="col-md-2">
											<button class="btn btn-primary pull-right">Invoice</button>
										</div>
									</div>
								</div>
							</div>
								
							<div th:if="*{orderitemses}" th:each="lineItem : *{orderitemses}">
								 <div class="row invoiceTableSubHeader">
									<div class="col-md-2">
										<h5><strong th:text="#{invoicing.unbilled.orders.order.date}"></strong></h5>
									</div>
									<div class="col-md-2">
										<h5><strong th:text="#{invoicing.unbilled.orders.order.id}"></strong></h5>
									</div>
									<div class="col-md-2">
										<h5><strong th:text="#{invoicing.unbilled.orders.auto.buy}"></strong></h5>
									</div>
									<div class="col-md-4">
										<h5><strong th:text="#{invoicing.unbilled.orders.purchasing.user}"></strong></h5>
									</div>
									<div class="col-md-2">
										<h5><strong th:text="#{invoicing.unbilled.orders.total.amount}"></strong></h5>
									</div>
								</div>
								<div th:object="${lineItem}" class="row invoiceTableSubHeaderData">
									<div class="col-md-2">
										<span th:text="${singleOrder.dateOrdered}"></span>
									</div>
									<div class="col-md-2">
										<span th:text="${singleOrder.orderId}"></span>
									</div>
									<div class="col-md-2">
										Yes
									</div>
									<div class="col-md-4">
										<span>Firstname Lastname <br />Organization Name Here</span>
									</div>
									<div class="col-md-2">
										<span th:text="${singleOrder.amountOrder}"></span>
									</div>
								</div>
								<div th:object="${lineItem}" class="row invoiceTableBody">
									<div class="col-md-1"><!-- Offset line items --></div>
									<div class="col-md-11">
										<div class="row invoiceItemRowHeader">
											<div class="col-md-4">
												<h5 th:text="#{invoicing.unbilled.orders.order.description}"></h5>
											</div>
											<div class="col-md-2">
												<h5 th:text="#{invoicing.unbilled.orders.order.quantity}"></h5>
											</div>
											<div class="col-md-3">
												<h5 th:text="#{invoicing.unbilled.orders.order.unit.price}"></h5>
											</div>
											<div class="col-md-3">
												<h5 th:text="#{invoicing.unbilled.orders.order.extended.price}"></h5>
											</div>
										</div>
										<div class="row invoiceItemRowData">
											<div class="col-md-4">
												<span>Blank Card</span>
											</div>
											<div class="col-md-2">
												<span th:text="*{quantity}"></span>
											</div>
											<div class="col-md-3">
											</div>
											<div class="col-md-3">
											</div>
										</div>
										<div class="row invoice-border-bottom-strong">
											<div class="col-md-3 col-md-offset-1">
												<span></span>
											</div>
											<div class="col-md-2">
												<span></span>
											</div>
											<div class="col-md-3">
												<span>Line Item Total</span>
											</div>
											<div class="col-md-3">
												<span>$40.00</span>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="row">
											<div class="col-md-3 col-md-offset-1">
												<span></span>
											</div>
											<div class="col-md-2">
												<span></span>
											</div>
											<div class="col-md-3">
												<span>Total</span>
											</div>
											<div class="col-md-3">
												<span>$40.00</span>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- /orderItem : orderitemses -->
						</div> <!-- /singleorder : orders -->
					</div> <!-- /Invoice search results -->
				</div>
			</div>
			<!-- /page container col -->
		</div>
		<!-- /page container row -->
	</div>
	<!-- /page container layout -->

	<div class="hidden-xs hidden-sm" layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/resources/js/invoicing/unbilled_orders.js}"></script>
	</div>
</body>
</html>
