#
# This is mod_cluster module configuration file. Please refer to
# mod_cluster README for more information on how to enable mod_cluster.
#

LoadModule slotmem_module       modules/mod_slotmem.so
LoadModule proxy_cluster_module modules/mod_proxy_cluster.so
LoadModule advertise_module     modules/mod_advertise.so
LoadModule manager_module       modules/mod_manager.so
LoadModule proxy_http_module    modules/mod_proxy_http.so

MemManagerFile /var/cache/httpd

<IfModule manager_module>
        Listen *:6666
        <VirtualHost *:6666>
		<Location />
			Order deny,allow
			Allow from 10.0.0.0/8
			Allow from 172.16.0.0/12
			Allow from 127.0.0.1
			Allow from localhost
		</Location>
                <Location /mod_cluster-manager>
                        SetHandler mod_cluster-manager
                        Order deny,allow
                        Deny from all
			Allow from 10.0.0.0/8
			Allow from 172.16.0.0/12
			Allow from 127.0.0.1
			Allow from localhost
                </Location>

                KeepAliveTimeout 60
                MaxKeepAliveRequests 0
                EnableMCPMReceive true

                ManagerBalancerName eapcluster
                ServerAdvertise Off
        </VirtualHost>
</IfModule>

