<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: eFare-wizard(2,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: shopping-sub-banner (#{eFare.shopping.step2}, #{eFare.shopping.step2.text}, 1, 1)"></div>
</th:block>
<th:block layout:fragment="page-content">

    <div class="sub-nav">
        <div class="container">
            <ul role="tablist" class="nav nav-tabs nav-justified" id="myTabs">
                <li class=""><a data-toggle="tab" th:text="#{addProducts.tab1}" href="#period">Period Passes</a></li>
                <li class=""><a data-toggle="tab" href="#ride" th:text="#{addProducts.tab2}">Ride Passes</a></li>
                <li class=""><a data-toggle="tab" href="#stored" th:text="#{addProducts.tab3}">Stored Value</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div th:if="${(orderError == true) || (itemError==true) || (replaceError==true)}" class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <ul>
                    <li th:if="${itemError}"><span th:text="#{validator.additem.itemerror}"></span></li>
                    <li th:if="${orderError}"><span th:text="#{validator.additem.ordererror}"></span></li>
                    <li th:if="${replaceError}"><span th:text="#{efare.addproducts.replacingcard.error}"></span></li>
                </ul>
            </div>
            <div id="period" class="tab-pane fade active in">
                <div th:include="fragments/listProducts :: productList (${periodTickets})"></div>
            </div>
            <div id="stored" class="tab-pane">
                <!-- slightly different layout, so not using fragment -->
                <div class="row">
                    <div class="col-md-12 tickets" th:each="ticket : ${storedTickets}">
                        <div
                            th:attr="data-filterable=${ticket.tickets.zones != null}? |Zoned All ${ticket.tickets.zones.zoneId}|:'Regional'">
                            <div class="row product-description">
                                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
                                    <h3 th:text="${ticket.description}" th:value="${ticket}">Day Card</h3>
                                    <h4 th:text="${ticket.tickets.descriptionLong}">Product highlights, consectetur
                                        adipiscing elit.Vestibulum id hendrerit ipsum</h4>
                                    <h4 th:text="#{stored.balance}"></h4>
                                    <p th:text="${cardnumber != null}? |$${storedValue}| : '$0.00'"
                                        th:unless="${storedValue==0}"></p>
                                    <p th:if="${storedValue==0}">$0.00</p>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-5 col-md-4">
                                    <div class="product-selection-utility-container">
                                        <form id="addToCart" th:object="${ticket}" method="post" th:action="@{/store/products}"
                                            action="">
											<div class="row">
											<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
                                            <input type="hidden" th:value="${ticket.offeringId}" name="offering" /> <input
                                                type="hidden" th:value="${parent}" name="parent" /> <input type="hidden"
                                                th:value="${wallet}" name="wallet" /> <input type="hidden" value="1"
                                                name="quantity" id="quantity" />
											</div>	
												
                                            <div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
                                                <span class="input-title"></span> <span class="input-value add-to-cart">
                                                    <button class="button-link-style" id="submit" type="submit" name="addToCart">
                                                        <th:block th:text="#{addToCart.text}" />
                                                        <img class="icon-add" th:src="@{/resources/img/icon-add.svg}" src=""
                                                            alt="" />
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
                                                <span class="input-title" th:text="#{product.price}">Price</span> <input
                                                    class="form-control text-centered" id="value" name="value" type="text"
                                                    placeholder="$0.00" />
                                            </div>
											</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                        </div>
                    </div>
                </div>
                <div th:include="fragments/listProducts :: productList (${fixedStoredTickets})"></div>
            </div>
            <div id="ride" class="tab-pane">
                <div th:include="fragments/listProducts :: productList (${rideTickets})"></div>
            </div>
        </div>
        <div class="bottom-content">
            <form th:action="@{/store/cart/delete}" method="post" action="">
                <div
                    th:replace="fragments/pageControls :: footerButtonControl('__@{/store/cards}__','__${parent} != null? @{/store/cart(parent=${parent})}: @{/store/cart(wallet=${wallet})}__',#{view.cart})"></div>
            </form>
        </div>
    </div>

</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript" th:inline="javascript">
		function zoneFilter() {
			/*[+
			var zone = [[${param.zone}]];
			+]*/
			$('#'+zone).trigger('click');
		}
		window.onload = zoneFilter;
		</script>
    <script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
</th:block>
</html>