<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(2,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: confirm-sub-banner ('__${item.quantity ==1}? |${item.quantity} item has been added to your cart|:|${item.quantity} products have been added to your cart|__','', 1)"></div>
</th:block>
<th:block layout:fragment="page-content">
     <div class="container product-confirm">
     <br/>
       <div class="row">
       	 <div class="hidden-xs hidden-sm col-md-3">
            <img class="product-confirm-icon" th:src="@{/resources/img/icon-large-bus-purchase.svg}"/>       	
         </div> 
       	 <div class="col-xs-8 col-sm-8 col-md-9">
       	 	<div class="row">
                <div class="col-md-12">
       	 	 <h3 th:text="${item.tickets.description}" th:if="${item.tickets != null}"></h3>
             <h3 th:text="${item.wallettypes.description}" th:unless="${item.tickets != null}"></h3>
             <h1 th:text="|$${item.amount}|"></h1>
             </div>
            </div>
			<hr></hr>
            <div class="row ctrl-row">
            	<div class="col-sm-12 col-md-12">
             		<a class="btn btn-primary btn-text" th:href="@{/store/cart(parent=${parent})}" th:text="#{eFare.shopping.checkout}" th:if="${parent != null}"></a> 
             		<a class="btn btn-primary btn-text" th:href="@{/store/cart(wallet=${wallet})}" th:text="#{eFare.shopping.checkout}" th:unless="${parent != null}"></a>
            		 <a class="continue-shopping" th:text="#{eFare.shopping.continue}" th:href="${parent != null}? @{/store/products(parent=${parent})}: @{/store/products(wallet=${wallet})}" id="addProducts">
                     </a>
       	 		</div>
       	 	</div>
       	 </div>
       </div>
        </div>
        <div class="secondary-background-color">
        	<div class="container">
        		<h4 th:text="#{eFare.shopping.aboutProduct}"></h4>
            	<p th:text="${item.wallettypes.descriptionLong}" th:unless="${item.tickets != null}">About: Bluebird opposite far left immensely inside one therefore as much much or activated flauntingly
              	much crookedly bid much scurrilous yikes doused and unimaginative oyster some more moth.</p>
            	<p th:text="${item.tickets.descriptionLong}" th:if="${item.tickets != null}"></p>
        	</div>
        </div>
</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>
