<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(1,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: shopping-sub-banner (#{eFare.shopping.step1}, #{filter.header}, 0, 0)"></div>
</th:block>
<th:block layout:fragment="page-content">
        <div class="container">
			<form method="post" th:action="@{/store}">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
						<div class="isolated-text">
						<h4 th:text="#{eFare.card.filter.question}">Will you be purchasing a card or do you already have a
							card that you would like to register?</h4>							
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-5">
									<input type="radio" name="cardChoice" value="new" required="required"></input>
									<span th:text="#{eFare.card.filter.option1}">Yes, I want to buy a new card.</span>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-7">
									<input type="radio"	name="cardChoice" value="existing"></input>
									<span th:text="#{eFare.card.filter.option2}">No, I already have a card and want to look it up.</span>
								</div>
							</div>				
						</div>
					</div>
				</div>
				<br /> <br />
                <div class="bottom-content">
				        <div class="row">
					       <div class="span12 pull-right">
						      <div class="col-md-12">
							     <a th:href="@{/}"
								  th:text="#{cancel}"></a> |
							     <button class="btn btn-primary" type="submit"
								 th:text="#{selectCard.continue}"></button>
						      </div>
					       </div>
				        </div>
                </div>
			</form>
      </div>
</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>