<!DOCTYPE html>
<!-- replaceCard -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">

<th:block layout:fragment="custom-css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
</th:block>
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: eFare-wizard(2,2,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: replace-sub-banner(#{replace.card.step2}, #{replace.card.step1.header2})"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="container">
		<div class="col-md-12">
			<form class="replace-form" th:action="@{/store/cart}" method="post" th:object="${order}" val:validate="${order}">
				<hr/>
				<input type="hidden" name="cardnumber"
					th:value="${KeyStringCardNumber}"></input> <input type="hidden"
					name="orderprice" th:value="${KeyStringPrice}"></input>
				
				<div class="row header-row">
					<div class="col-md-7 col-sm-7 col-xs-7 replace-name" th:text="#{replace.card.step2.header2} + ' ' +${KeyStringCardName}">
						Card Name
					</div>
					
					<div class="col-md-2 col-sm-2 col-xs-2 replace-price-label" th:text="#{replace.card.step2.header3}">
						Price
					</div>
				</div>
				
				<div class="row info-row">
					<div class="col-md-2 col-md-offset-7 col-sm-2 col-sm-offset-7 col-xs-2 col-xs-offset-7 replace-price">
						<p th:text="${KeyStringPrice}">PRICE</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 replace-remove">
						<a th:href="@{/card/replace}">
							<span class="glyphicon glyphicon-remove-circle"></span> 
							Remove
						</a>
					</div>
				</div>
				<div class="row">
					<div class="replace-what">
						<strong th:text="#{replace.card.step2.next}"></strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
						ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
					</div>
				</div>
				
				<div class="bottom-content row">
					<div class="pull-left">
						<div class="col-md-6 col-sm-12 hidden-xs replace-back-icon">
							<span class="glyphicon glyphicon-circle-arrow-left"></span>
						</div>
						<div class="col-md-6 replace-back hidden-xs hidden-sm">
							<a th:href="@{/card/replace}" th:text="#{product.back}"></a>
						</div>
					</div>
					<div class="pull-right">
						<div class="col-md-12 replace-buttons">
							<div class="replace-cancel col-md-5 col-xs-5 col-sm-5 center-block">
								<a th:href="@{/}" th:text="#{product.cancel}" ></a>
							</div>
							<div class="replace-continue col-md-7 col-xs-7  col-sm-7 center-block">
								<button class="btn btn-primary" type="submit" th:text="#{replace.card.confirmation.continue}"></button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>
