<!DOCTYPE html>
<!-- replaceCard -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">

<th:block layout:fragment="custom-css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
</th:block>
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: eFare-wizard(1,2,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: replace-sub-banner(#{replace.card.step1}, #{replace.card.step1.header1})"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="container" layout:fragment="content">
        <div class="panel-body col-md-12">
            <form id="replaceCard" class="replace-form" method="post" th:action="@{/card/replace}" action="">
                <hr />
                <div class="form-group">
                    <label th:text="#{replace.card.step1.header2}" for="card"></label> <select id="card" class="replace-card"
                        name="card">
                        <option th:each="card : ${cardList}" th:selected="${card.selected}" th:value="${card.value}"
                            th:text="${card.name}"></option>
                    </select>
                </div>
                <div class="row" />
                <div class="form-group">

                    <label th:text="#{replace.card.step1.header3}" for="card"></label> <select id="reason"
                        class="replace-reason" name="reason">
                        <option th:value="#{replace.card.step1.reason0}" th:text="#{replace.card.step1.reason0}">Lost</option>
                        <option th:value="#{replace.card.step1.reason1}" th:text="#{replace.card.step1.reason1}">Damage</option>
                        <option th:value="#{replace.card.step1.reason2}" th:text="#{replace.card.step1.reason2}">Defect</option>
                        <option th:value="#{replace.card.step1.reason3}" th:text="#{replace.card.step1.reason3}">Expire</option>
                    </select>
                </div>


                <div class="replace-why">
                    <strong th:text="#{replace.card.why}"></strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit.
                </div>
                <div class="bottom-content row">
                    <div class="pull-left">
                        <div class="col-md-6 col-sm-12 hidden-xs replace-back-icon">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        </div>
                        <div class="col-md-6 replace-back hidden-xs hidden-sm">
                            <a th:href="@{/}" th:text="#{product.back}"></a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="col-md-12 replace-buttons">
                            <div class="replace-cancel col-md-5 col-xs-5 col-sm-5 center-block">
                                <a th:href="@{/}" th:text="#{product.cancel}"></a>
                            </div>
                            <div class="replace-continue col-md-7 col-xs-7  col-sm-7 center-block">
                                <button class="btn btn-primary" type="submit" th:text="#{replace.card.step1.continue}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>
