<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">

<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: eFare-wizard(1,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: shopping-sub-banner (#{eFare.shopping.step1}, #{eFare.shopping.step1.text}, 0, 0)"></div>
</th:block>
<th:block layout:fragment="page-content">
    <!--Begin Product Description-->
    <div class="container product-selection">
        <div th:if="${(orderError == true) || (itemError==true)}" class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul>
                <li th:if="${itemError}"><span th:text="#{validator.selectcard.itemerror}"></span></li>
                <li th:if="${orderError}"><span th:text="#{validator.selectcard.ordererror}"></span></li>
            </ul>
        </div>
        <div class="col-md-12" th:each="product,iterStat : ${offers}">
            <form th:action="@{/store/cards}" method="post" id="selectCard" action="">
                <div class="row">
                    <input type="hidden" th:value="${product.offeringId}" name="offerId" />
                    <div class="hidden-xs col-sm-4 col-md-3">
                        <div th:class="${iterStat.odd}? 'img-responsive smartcard-thumbnail  light-blue' : 'img-responsive smartcard-thumbnail dark-blue' "
                            th:text="${product.description}">smartcard</div>
                    </div>
                    <div class="col-md-9 col-sm-7">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 th:text="${product.description}">Fare Card</h2>
                                <p th:text="${product.wallettypes.descriptionLong}">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Vestibulum id hendrerit ipsum. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper
                                    nisi ipsum, nec molestie metus convallis a. Praesent velarcu in sem suscipit gravida.</p>
                            </div>
                        </div>
						<hr></hr>
						<div class="row ctrl-row">
							<div class="product-selection-utility-container pull-right">
								<div class="product-selection-utility price col-xs-12 col-sm-4 col-md-4">
									<span class="input-title" th:text="#{product.price}">Price</span> <span class="input-value"
										th:text="|$${product.UnitPrice}|">$5.00</span>
								</div>

								<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
									<span class="input-title" th:text="#{product.quantity}">Quantity</span> <span class="input-value"><input
										type="text" placeholder="0" name="quantity" id="quantity" class="form-control text-centered"
										pattern="(\d){1,4}" title="Please enter a valid quantity" /></span>
								</div>
																<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
									<span class="input-title"></span> <span class="input-value add-to-cart">
										<button id="submit" type="submit" class="button-link-style">
											<th:block th:text="#{addToCart.text}" />
											<img th:src="@{/resources/img/icon-add.svg}" class="icon-add" src="" alt="" />
										</button>
									</span>
								</div>

							</div>
						</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="bottom-content">
            <div th:replace="fragments/pageControls :: footerCancelOnly ('__@{/store/cart/delete}__',#{eFare.shopping.cancel})"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
</th:block>
</html>