<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(2,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: shopping-sub-banner (#{eFare.shopping.step2}, #{eFare.shopping.step2.zoneMap}, 1, 0)"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="container">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-7 col-sm-7 col-md-7">
					<img class="img-responsive thumbnail hidden-xs hidden-sm"
						th:src="@{/resources/img/nx-zone-map.jpg}" />
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5">
					<div class="row">
						<h3 th:text="#{select.zone}"></h3>
						<p th:text="#{select.zone.description}">sadkljwpoma slmc;aome 3fnas lkcnxc lksmak l mczlkcms
							kladmakl smcklsmc lqdow qiejw qiomd dlaksjdo saklms salkm lskm
							lakmsakll klsdjaslk sdalk lskd alsk alksdjak aslkj a</p>
					</div>
					<div class="row" th:each="zone: ${zones}">
						<h4 th:unless="${zone.name == null}" th:text="${zone.name}"></h4>
						<p th:text="${zone.description}">sadkljwpoma slmc;aome 3fnas lkcnxc lksmak l mczlkcms
							kladmakl smcklsmc lqdow qiejw qiomd dlaksjdo saklms salkm lskm
							lakmsakll klsdjaslk sdalk lskd alsk alksdjak aslkj asdkjw
							sadkjwioadn woieuwqiodn sado awoi o</p>
						<div class="row">
							<div class="col-xs-3 col-md-3 pull-right">
								<a
									th:href="${parent != null}? @{/store/products(parent=${parent},zone=${zone.zoneId})}: @{/store/products(wallet=${wallet},zone=${zone.zoneId})}"
									class="btn btn-primary" th:field="|zone${zone.zoneId}|"
									th:text="#{submit}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="bottom-content">
					<div class="span6 pull-right">
						<div class="col-md-12">
							<a class="grey-link"
								th:href="${parent != null}? @{/store/products(parent=${parent})}: @{/store/products(wallet=${wallet})}"
								th:text="#{cancel}"></a>
						</div>
					</div>
				</div>
		</div>
	</div>
	</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>