<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="|#{AppName} -- Running #{AppVersion} -- Built #{AppBuildDate}|">AppName - 1.0.0 @ 01/20/14 12:31:03 AM CDT</title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" media="screen"/>
<link rel="stylesheet" th:href="@{/resources/css/bootswatch.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.0.custom.css}" />
<link rel="stylesheet" th:href="@{/resources/css/base.css}" />
<link rel="stylesheet" th:href="@{/resources/css/menu.css}"/>
<th:block layout:fragment="custom-css"></th:block>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body th:class="#{AppName}">
	<th:block layout:fragment="page-header"></th:block>
	<div class="container">
		<th:block layout:fragment="page-content"></th:block>
		<th:block layout:fragment="page-footer"></th:block>
	</div>

	<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/jquery-ui-1.10.0.custom.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/bootswatch.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/bootstrap-formhelpers.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/grids.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/spx-genfare-utils.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/menu.js}"></script>
	<th:block layout:fragment="custom-js"></th:block>
    <script type="text/javascript" src="https://genfare.atlassian.net/s/2354491dcb91a9c78f23fdd9580a113d-T/en_USx5630s/64003/21/1.4.15/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&amp;collectorId=d1d9eb47"></script>	
</body>
</html>