<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layouts/home">
<body>
	<div class="hidden-xs hidden-sm" layout:fragment="content">
		<div class="row">
			<!-- <div class="col-md-8">
				<h2 th:text="#{home.head}"></h2>
			</div> -->
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<img class="hidden-xs hidden-sm" src="http://placehold.it/545x321"/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<h2 th:text="#{admin.home.heading}"></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<p th:text="#{admin.home.lead}"></p>
							</div>
						</div>							
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<a class="btn btn-primary" th:text="#{admin.home.login}" th:href="@{/login}"></a>
								<a class="btn btn-primary" th:text="#{admin.find.manage.orders}" th:href="@{/fulfillment/orders}"></a>
							</div>
						</div>							
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>