.efare .header-logo {
	height : 50px;	
}

.efare .button-no-style {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}

.compact-nav {
height: 80px;
}

.efare .compact-nav .header-logo {
    height: 40px;
}

.bus-icon {
	height: 300px;
}

.or-icon {
	height: 30px;
	width: 30px;	
}



.bucket-icon {
	height: 80px;
	width: 80px;
}

.efare .navbar {
    background-color: #2c3e50;
    margin-bottom: 0;
}

.efare .navbar-header {
	margin:15px;
}

.efare a {
	color:#08487a;
	font-size:18px;
}

.efare .navbar-nav {
    margin: 15px;
}

.efare .navbar-brand {
    padding: 0;
}

.efare .navbar-nav {
    margin-bottom: 15px;
    margin-top: 15px;
}

.efare .navbar-nav h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.shopping-cart {
    background: url("./images/icon-shopping-cart.svg") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    height: 60px;
    padding-top: 7px;
    width: 60px;
}

.cart-qty {
    color: #fff;
    font-size: 24px;
    margin-left: -5px;
    margin-top: -12px;
}

.login-link {
	font-size:12px;
	color:#fff;
}

a.login-link.large {
    border-right: 1px solid #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    padding-right: 20px !important;
    vertical-align: middle;
}

.hero {
    background: url("./images/hero-bg2.jpg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    min-height: 400px;
    padding-bottom: 1%;
    padding-top: 2%;
}

.hero h1{
	color:#fff;
	font-size:5em;
	font-weight:bold;
}

.hero h3{
	color:#fff;
}
.hero .btn-default {
    background: url("./images/icon-shopping_bag.sml.svg") no-repeat scroll 10px 5px #f26522;
    border: medium none;
    color: #ffffff;
    padding-left: 54px;
	margin-top:20px
}

.hero .btn-primary {
	margin-top:20px
}

.bubble {
    background: url("./images/bubble.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 14px;
    height: 100px;
    margin-top: -67px;
    padding: 15px 15px 15px 24px;
    position: absolute;
    text-align: center;
    width: 110px;
}
.container-fluid.alternate-color {
}
.row.buckets {
	margin:10% auto;
}


.row.buckets p {
    color: #333;
    font-size: 22px;
    padding: 0 18px;
}

/*Wizard */
.steps-container {
    float: left;
    height: 65px;
    margin-top:15px;
    width: 200px;
}
.steps-container ul {
    padding: 0;
}



.steps-container li.steps {
    background: url("./images/step-indicator.svg") no-repeat scroll 0 0 / 36px auto rgba(0, 0, 0, 0);
    float: left;
    height: 77px;
    list-style: none outside none;
    margin: 0 5px 5px 0;
    width: 44px;
}

.efare li.steps.active {
    background: url("./images/step-indicator-active.svg") no-repeat scroll 0 0 / 36px auto rgba(0, 0, 0, 0);
    float: left;
    list-style: none outside none;
    margin: 0 5px 5px 0;
}
.efare li.steps.complete {
    background: url("./images/step-indicator-complete.svg") no-repeat scroll 0 0 / 36px auto rgba(0, 0, 0, 0);
    float: left;
    list-style: none outside none;
    margin: 0 5px 5px 0;
}

.efare .steps span {
    color: #fff;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 30px;
    padding-top: 5px;
    text-align: center;
    width: 36px;
}

.efare .steps.active span, .efare .steps.complete span {
    color: #333;

}

.sub-banner {
    background: none repeat scroll 0 0 #3b81c5;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sub-banner h1 {
    font-size: 34px;
    font-weight: normal;
    margin: 5px 0;
	color:#fff;
}

.sub-banner h5 {
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 0 10px;
}

.sub-banner h6 {
    font-size: 14px;
    font-weight: medium;
    margin: 0;
	color:#fff;
}

.sub-banner .shopping-cart {
    background: url("./images/icon-shopping-cart.svg") no-repeat scroll 0 0 / 100px auto rgba(0, 0, 0, 0);
    display: block;
    height: 100px;
    width: 110px;
}

.large-cart {

}

.large-cart img{
    display: block;
    height: 100px;
    width: 110px;
}
.large-cart .cart-qty {
    float: left;
    font-size: 34px;
    margin-top: -96px;
    text-align: center;
    width: 94px;
}

a.btn-checkout {
    border: medium none;
    border-radius: 10px;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    margin-left: 0;
    margin-top: 6px;
    padding: 8px;
    text-align: center;
    width: 84px;
}
	
.btn-checkout  {
	border:solid red 1px;
	background-color:#000;
}


.btn-checkout.disabled {
    background-color: transparent;
    border: 3px dashed;
    opacity: 0.5;
}

.sub-banner.cart-qty {
    color: #fff;
    font-size: 24px;
    margin-left: -5px;
    margin-top: -12px;
}

.product-selection h2 {
margin-top:30px;
}

span.input-title {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
}


span.input-value {
    display: block;
    font-size: 24px;
    height: 50px;
}

span.input-value input {
    font-size: 18px;
    text-align: center;
    width: 50px;
}

.product-selection p {
font-size:14px;
color:#666;
}

.product-selection input[type="text"] {
    color: red;
    font-size: 24px;
    height: 40px;
    max-width: 40px;
    text-align: center;
}
.product-selection-utility {
float: right;
width: auto;
padding:10px;	
}
	

.product-selection-utility a {
    font-size: 16px;
}

.add-to-cart {
    margin-top: -6px;
}

img.icon-add {
    height: 53px;
    margin-left: 10px;
    width: 53px;
}

.smartcard-thumbnail {
    background: url("./images/card-image.png") no-repeat scroll 0 0 #333;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 160px;
    margin-top: 30px;
    padding-top: 97px;
    text-align: center;
    text-transform: uppercase;
    width: 220px;
}

.smartcard-thumbnail.light-blue{
background-color:#5facf7;
}


.smartcard-thumbnail.dark-blue{
background-color:#065db1;
}

.smartcard-thumbnail.orange{
background-color:orange;
}

.smartcard-thumbnail.red{
background-color:red;
}

.full-divider {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-top: 21px;
	
}

.bottom-content {
    border-bottom: 1px solid #ccc;
    height: auto;
    margin: 0 0 5%;
    padding: 40px 0;
}

.product-selection-utility-container{
min-width: 330px;
}

.product-description .product-selection-utility {
	margin-top:20px;
}
.sub-nav {
	background: #333;
	border-bottom: solid #ccc 1px;
}

.sub-nav .nav-tabs.nav-justified > li > a {
    border-bottom: 5px solid transparent;
    color: #fff;
    font-size: 22px;
    padding: 18px;
}

.sub-nav .nav-tabs.nav-justified > li > a:hover {
    color: #666;
	border-bottom: solid #fff 5px;
	border-radius:0;
}

.sub-nav .nav-tabs.nav-justified .active {
    background: none repeat scroll 0 0 red !important;
}
.sub-nav .nav-tabs.nav-justified  .active a:active {
border-bottom: 5px solid red;
background: red;
}

.ticketfilter-container {

}


.sub-nav .nav-tabs.nav-justified > li.active > a {
    background: url("./images/active-tab.svg") no-repeat scroll center bottom / 30px auto #333;
    border-radius: 0;
    color: #fff;
    font-size: 22px;
    padding: 18px;
}



