

.efare .navbar-header {
	margin:15px;
}

.efare .navbar-default {
    background-color: #2c3e50;
    border-color: transparent;
}

.efare .navbar-nav {
    margin: 15px;
}

.efare .navbar-brand {
    padding: 0;
}

.efare .navbar-nav {
    margin-bottom: 15px;
    margin-top: 15px;
}

.efare .navbar-nav h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.shopping-cart {
    background: url("images/icon-shopping-cart.svg") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    height: 60px;
    padding-top: 7px;
    width: 60px;
}

.cart-qty {
    color: #fff;
    font-size: 24px;
    margin-left: -5px;
    margin-top: -12px;
}

.login-link {
	font-size:12px;
	color:#fff;
}

a.login-link.large {
    border-right: 1px solid #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    padding-right: 20px !important;
    vertical-align: middle;
}

.hero {
    background: url("images/hero-bg2.jpg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    min-height: 400px;
    padding-bottom: 1%;
    padding-top: 2%;
}

.hero h1{
	color:#fff;
	font-size:5em;
	font-weight:bold;
}

.hero h3{
	color:#fff;
}
.hero .btn-default {
    background: url("images/icon-shopping_bag.sml.svg") no-repeat scroll 10px 5px #f26522;
    border: medium none;
    color: #ffffff;
    padding-left: 54px;
	margin-top:20px
}

.hero .btn-primary {
	margin-top:20px
}

.bubble {
    background: url("images/bubble.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 14px;
    height: 100px;
    margin-top: -67px;
    padding: 15px 15px 15px 24px;
    position: absolute;
    text-align: center;
    width: 110px;
}
.container-fluid.alternate-color {
}
.row.buckets {
	margin:10% auto;
}


.row.buckets p {
    color: #333;
    font-size: 22px;
    padding: 0 18px;
}