<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body class="hidden-print findOrdersPage">
	<div layout:fragment="content" class="paddedContainer id-card-management">

		<!-- Cancel Modal -->
		<div class="modal fade" id="cancel-card-modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title" id="cancelIDCard" th:text="#{admin.id.cards.manage.cancel.modal.title}"></h3>
					</div>
					<div class="modal-body">
						<span>Cancel modal.</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Yes</button>
						<button type="button" class="btn btn-default"
							data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Cancel Modal -->

		<div class="row panel panel-default" id="id-card-body-panel">
			<div class="row id-card-header">
				<div class="col-md-12">
					<h1 th:text="#{admin.id.cards.bulk.title}"></h1>
				</div>
			</div>
			<div class="row id-card-step-row">
				<div class="col-md-12" id="id-card-steps-column">
					<div class="id-card-step" id="step-one-div">
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="img-circle id-card-step-image" />
						<span class="strongSpan" th:text="#{admin.id.cards.bulk.step.one}"></span>
						<span class="glyphicon glyphicon-arrow-right step-arrow"></span>
					</div>
					<div class="id-card-step" id="step-two-div">
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="img-circle id-card-step-image" />
						<span th:text="#{admin.id.cards.bulk.step.two}"></span>
						<span class="glyphicon glyphicon-arrow-right step-arrow"></span>
					</div>
					<div class="id-card-step" id="step-three-div">
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="img-circle id-card-step-image" />
						<span th:text="#{admin.id.cards.bulk.step.three}"></span>
					</div>
				</div>
			</div>
			<div class="row id-card-body" id="bulkStepContainer">
				<div class="col-md-3 hidden-xs hiddem-sm" id="id-card-bulk-left">
				</div>
				<div class="col-md-6" id="id-card-bulk-center">
					<div class="row hiddenFix" id="id-card-bulk-center-warn">
					</div>
					<div class="row .marginTop">
						<span th:text="#{admin.id.cards.bulk.instructions}"></span>
					</div>
					<div class="row .marginTop">
						<span th:text="#{admin.id.cards.bulk.download.csv}"></span>
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="glyphicon glyphicon-save bulk-download-icon" />
					</div>
					<div class="row">
						<div class="col-md-3 .marginTop">
							<span th:text="#{admin.id.cards.bulk.accounts.input}"></span>
						</div>
						<div class="col-md-6">
							<input type="text" />
						</div>
						<div class="col-md-3">
							<button class="btn btn-default"
							th:text="#{admin.id.cards.bulk.choose.file}">
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<span th:text="#{admin.id.cards.bulk.pictures.input}"></span>
						</div>
						<div class="col-md-6">
							<input type="text" />
						</div>
						<div class="col-md-3">
							<button class="btn btn-default"
							th:text="#{admin.id.cards.bulk.choose.file}">
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<span th:text="#{admin.id.cards.bulk.template.input}"></span>
						</div>
						<div class="col-md-6">
							<select>
								<option>Corporate</option>
							</select>
						</div>
						<div class="col-md-3">
						</div>
					</div>
					<a href="/admin/id_cards/bulk/bulkStepTwo.html">
					<div class="row bulk-print-button">
						<button class="btn btn-primary" id="takePictureButton"
							data-toggle="modal" data-target="#pictureModal"
							th:text="#{admin.id.cards.bulk.upload}">
							</button>
					</div>
					</a>
				</div>
				<div class="col-md-3 hidden-xs hiddem-sm" id="id-card-bulk-right">
				</div>
			</div>
			<div class="row" id="id-card-footer">
				<div class="col-md-12" id="id-card-footer-column">
					<span class="glyphicon glyphicon-circle-arrow-left backButton pull-left"></span>
					<div class="cancelCardDiv pull-left">
						<button class="btn btn-default cancelCardButton"
							data-toggle="modal" data-target="#cancelModal"
							th:text="#{admin.id.cards.manage.cancel.card}">
						</button>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /page container id-card-management -->

	<div class="hidden" layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/resources/js/id_cards/bulk.js}"></script>
	</div>
</body>
</html>
