<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/resources/css/base.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.0.custom.css}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="efare">
    <div class="hero login-page">
      <div class="modal show">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a th:href="@{/}">
              <div class="login-logo"></div>	
              </a>
				<h1 class="text-center" th:text="#{panel.signin.heading}">Login</h1>
            </div>
            <div class="modal-body">
                <div th:if="${param.verified}"
                class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p th:text="#{eFare.email.confirmed}"></p>
                </div>
              <div class="alert alert-dismissable alert-danger alert-signin"
                  th:if="${param.error}">
                <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">×</button>
                <strong th:text="#{panel.signin.invalid_password}"></strong>
              </div>
              <form class="form col-md-12 center-block" th:action="@{/login}" method="post">
                <div class="form-group">
					<label th:text="#{panel.signin.username.text}" for="username">Email</label>
                  <input class="form-control input-lg" type="text" id="username" name="username" th:placeholder="#{eFare.signin.username.placeholder}" />
                </div>
                <div class="form-group">
					<label th:text="#{panel.signin.password.text}" for="password">Password</label>
                  <input class="form-control input-lg" type="password" id="password" name="password"/>
                </div>
                <div class="form-group">
                  <button name="submit" class="btn btn-primary btn-lg btn-block" type="submit" id="login" th:text="#{panel.signin.btn}">Sign In</button>
                  <div class="login-options">
                    <span class=""><input type="checkbox" th:text="#{panel.signin.remember_me.text}" name="remember-me" /></span>
                    <span class="divider"></span>
                    <span class=""><a th:href="@{/recovery}" th:text="#{panel.signin.reset.password.text}">Forgot Password?</a></span>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="col-md-12">
                <form action="/eFare" method="get">
                  <button class="btn" type="submit" th:text="#{panel.signin.back.btn}">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          <p>
						Don't have an efare account? <a th:href="@{/signup}">Register</a> now.
          </p>
        </div>
      </div>
    </div>
	<th:block layout:fragment="page-footer">
		<div th:replace="fragments/footer :: footer"></div>
	</th:block>
    <script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/jquery-ui-1.10.0.custom.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootswatch.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootstrap-formhelpers.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/grids.min.js}"></script>

  </body>
</html>
