<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body>
	<div layout:fragment="content">
		<h2 th:text="#{registeredCards.title}"></h2>
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default " style="height: 250px">
					<div class="span6 text-center">
						<a data-toggle="modal" href="#selectCard"><img
							src="http://placehold.it/50x50" class="img-circle"></img></a>
						<div class="span6  text-center">
							<span th:text="#{registeredCards.add_card}">Add a Card</span>
						</div>
						<div class="modal fade " id="selectCard" tabindex="-1"
							role="dialog" aria-labelledby="mySmallModalLabel"
							aria-hidden="true">
							<div class="modal-dialog ">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel"
											th:text="#{registeredCards.select_card.title}">Modal
											title</h4>
									</div>
									<div class="modal-body">
										<span th:text="#{registeredCards.select_card.info}"></span>
										<div class="radio">
											<label> <input type="radio" name="optionsRadios"
												id="optionsRadios1"
												th:onclick="'javascript:document.getElementById(\'continue\').href =  \'#\';'"
												value="option1" th:text="#{registeredCards.select_card.yes}"></input>
											</label>
										</div>
										<div class="radio">
											<label> <input type="radio" name="optionsRadios"
												id="optionsRadios2"
												th:onclick="'javascript:document.getElementById(\'continue\').href =  \'' + @{/card/register} + '\';'"
												value="option2" th:text="#{registeredCards.select_card.no}"></input>
											</label>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal"
											th:text="#{registeredCards.select_card.close}">Close</button>
										<a id="continue">
											<button type="button" class="btn btn-primary"
												th:text="#{registeredCards.select_card.continue}">Continue</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-9">
				<span th:text="#{registeredCards.no_card}"></span>
			</div>
		</div>
	</div>

</body>
</html>