<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="|#{AppName} :: Running #{AppVersion} :: Built #{AppBuildDate}|">AppName - 1.0.0 @ 01/20/14 12:31:03 AM CDT</title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/custom.css}" />
<link rel="stylesheet" th:href="@{/resources/css/menu.css}"/>
	<link rel="stylesheet" th:href="@{/resources/css/base.css}"/>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<div th:replace="fragments/header :: header-nav"></div>
	<div class="container">
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-3"
				th:include="fragments/sidebar :: sidebar-panel"></div>
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div layout:fragment="content"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" th:include="fragments/panel :: panel-signin"></div>
			<div class="col-md-4" th:include="fragments/panel :: panel-signup"></div>
			<div class="col-md-4" th:include="fragments/panel :: panel-guest"></div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

	<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/grids.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/menu.js}"></script>
    <script type="text/javascript" src="https://genfare.atlassian.net/s/2354491dcb91a9c78f23fdd9580a113d-T/en_USx5630s/64003/21/1.4.15/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&amp;collectorId=d1d9eb47"></script>   
</body>
<div layout:fragment="scripts"></div>
</html>
