/* =================
 * TABLE OF CONTENTS
 * =================
 * 1. =GLOBAL
 * 2. =HEADER
 * 3. =FOOTER
 * 4. =EFARE
 * 5. =GENFARE.COM
 * ================= */

/* ===EFARE=== */
a {
	cursor: pointer;
}

.efare .header-logo {
	height: 50px;
}

.efare h1 {
	color: #333;
}

.efare h4 {
	color: #444;
}

.efare p {
	color: #666;
	font-size: 18px;
}

.efare .button-no-style {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
}

.compact-nav {
	height: 80px;
}

.efare .compact-nav .header-logo {
	height: 80px;
	margin-top: -15px;
	padding: 0;
	width: 300px;
}

.bus-icon {
	height: 300px;
}

.or-icon {
	height: 30px;
	width: 30px;
}

.bucket-icon {
	height: 80px;
	width: 80px;
}

.efare .navbar {
	background-color: #2c3e50;
	margin-bottom: 0;
}

.efare .navbar-header {
	margin: 15px 0px 15px 0px;
}

.efare a {
	color: #08487a;
	font-size: 18px;
}

.efare .navbar-nav {
	margin: 15px;
}

.efare .navbar-brand {
	padding: 0;
}

.efare .navbar-nav h4 {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.shopping-cart {
	background: url("../img/icon-shopping-cart.svg") no-repeat scroll 0 6px
		rgba(0, 0, 0, 0);
	height: 60px;
	padding-top: 7px;
	width: 60px;
}

.cart-qty {
	color: #fff;
	font-size: 24px;
	margin: -12px auto auto -14px;
	text-align: center;
	width: 40px;
}

.cart-qty-orange {
	color: #f26522;
	font-size: 30px;
	margin-left: 30px;
	margin-top: -80px;
}

.login-link {
	font-size: 12px;
	color: #fff;
}

.btn-primary {
	background-color: #2c3e50;
	border-color: #2c3e50;
	color: #ffffff !important;
}

a.login-link.large {
	border-right: 1px solid #fff;
	font-size: 24px;
	font-weight: bold;
	line-height: 60px;
	padding-right: 20px !important;
	vertical-align: middle;
}

.hero {
	background: url("../img/hero-bg2.jpg") no-repeat scroll 0 0/cover
		rgba(0, 0, 0, 0);
	min-height: 400px;
	padding-bottom: 1%;
	padding-top: 2%;
}

.hero h1 {
	color: #fff;
	font-size: 5em;
	font-weight: bold;
}

.hero h3 {
	color: #fff;
}

.hero .btn-default {
	background: url("../img/icon-shopping_bag.sml.svg") no-repeat scroll
	10px 5px #f26522;
	border: medium none;
	color: #ffffff;
	padding-left: 54px;
	margin-top: 20px
}

.hero .btn-primary {
	margin-top: 20px
}

.bubble {
	background: url("../img/bubble.svg") no-repeat scroll 0 0
		rgba(0, 0, 0, 0);
	display: inline-block;
	font-size: 14px;
	height: 100px;
	margin-top: -67px;
	padding: 15px 15px 15px 24px;
	position: absolute;
	text-align: center;
	width: 110px;
}

.container-fluid.alternate-color {
	
}

.row.buckets {
	margin: 10% auto;
}

.row.buckets p {
	color: #333;
	font-size: 22px;
	padding: 0 18px;
}

/*Wizard */
.steps-container {
	float: left;
	height: 65px;
	margin-left: 68px;
	margin-top: 17px;
	width: 200px;
}

.steps-container ul {
	padding: 0;
}

.steps-container li.steps {
	background: url("../img/step-indicator.svg") no-repeat scroll 0 0/36px
		auto rgba(0, 0, 0, 0);
	float: left;
	height: 77px;
	list-style: none outside none;
	margin: 0 5px 5px 0;
	width: 44px;
}

.efare li.steps.active {
	background: url("../img/step-indicator-active.svg") no-repeat scroll 0 0/36px
		auto rgba(0, 0, 0, 0);
	float: left;
	list-style: none outside none;
	margin: 0 5px 5px 0;
}

.efare li.steps.complete {
	background: url("../img/step-indicator-complete.svg") no-repeat scroll 0
		0/36px auto rgba(0, 0, 0, 0);
	float: left;
	list-style: none outside none;
	margin: 0 5px 5px 0;
}

.efare .steps span {
	color: #fff;
	display: block;
	font-size: 20px;
	height: 50px;
	line-height: 30px;
	padding-top: 5px;
	text-align: center;
	width: 36px;
}

.efare .steps.active span,.efare .steps.complete span {
	color: #333;
}

.sub-banner {
	background: none repeat scroll 0 0 #f3f4f7;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	padding-top: 20px;
}

.sub-banner h1 {
	font-weight: normal;
	margin: 5px 0;
	color: #333;
}

.sub-banner h5 {
	color: #666;
	font-size: 15px;
	font-weight: bolder;
	margin: 0 0 10px;
}

.sub-banner h6 {
	font-size: 14px;
	font-weight: medium;
	margin: 0;
	color: #666;
}

.sub-banner .shopping-cart {
	background: url("../img/icon-shopping_bag_blk.sml.svg") no-repeat scroll 0 0/100px
	auto rgba(0, 0, 0, 0);
	display: block;
	height: 100px;
	width: 110px;
	color:#f26522;
}

.large-cart {
	
}

.large-cart img {
    display: block;
    width: 68px;
}

.large-cart .cart-qty {
    color: #333;
    font-size: 24px;
    margin-left: 5px;
    margin-top: -68px;
    text-align: center;
    width: 44px;
}

a.btn-checkout {
	border: medium none;
	border-radius: 10px;
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	margin-left: 0;
	margin-top: 6px;
	padding: 8px;
	text-align: center;
	width: 84px;
}

.btn-checkout {
	border: solid red 1px;
	background-color: #000;
}

.btn-checkout.disabled {
	background-color: transparent;
	border: 3px dashed;
	opacity: 0.5;
}

.sub-banner.cart-qty {
	color: #fff;
	font-size: 24px;
	margin-left: -5px;
	margin-top: -12px;
}

.product-selection h2 {
	margin-top: 30px;
}

span.input-title {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
}

span.input-value {
	display: block;
	font-size: 24px;
	height: 50px;
}

span.input-value input {
	font-size: 18px;
	text-align: center;
	width: 50px;
}

.product-selection-utility span.input-value input[type="text"] {
    padding-left: 0;
    padding:0;
    width: 50px;
}

.product-selection p {
    color: #666;
    font-size: 14px;
    text-align: justify;
}

.product-selection input[type="text"] {
	font-size: 24px;
	height: 40px;
	max-width: 40px;
	text-align: center;
}

.product-description h3{
margin-top:0;
}

.product-selection-utility {
    padding: 10px 10px 10px 0;
    width: auto;
}

.product-selection-utility a {
	font-size: 16px;
}

.add-to-cart {
	margin-top: -6px;
}

img.icon-add {
	height: 53px;
	margin-left: 10px;
	width: 53px;
}



.smartcard-thumbnail.light-blue {
	background-color: #5facf7;
}

.smartcard-thumbnail.dark-blue {
	background-color: #065db1;
}

.smartcard-thumbnail.orange {
	background-color: orange;
}

.smartcard-thumbnail.red {
	background-color: red;
}

.full-divider {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ccc;
	border-image: none;
	border-right: 0 none;
	border-style: solid none none;
	border-width: 1px 0 0;
	margin-top: 21px;
}

.bottom-content {
	border-top: 1px solid #ccc;
	height: auto;
	margin: 0 0 5%;
	padding: 40px 0;
}

.product-selection-utility-container {
    padding-left: 15px;
    width: auto;
}

.product-description .product-selection-utility {
	margin-top: 20px;
}

.sub-nav {
	background: #333;
	border-bottom: solid #ccc 1px;
}

.sub-nav .nav-tabs.nav-justified>li>a {
	border-bottom: 5px solid transparent;
	color: #fff;
	font-size: 22px;
	padding: 18px;
}

.efare a:hover {
	text-decoration: underline;
}

.sub-nav .nav-tabs.nav-justified>li>a:hover {
	border-bottom: solid #fff 5px;
	border-radius: 0;
	text-decoration: underline;
}

.sub-nav .nav-tabs.nav-justified .active {
}

.sub-nav .nav-tabs.nav-justified  .active a:active {

}

.ticketfilter-container {
	
}

.sub-nav .nav-tabs.nav-justified>li.active>a {
	background: url("../img/active-tab.svg") no-repeat scroll center bottom/30px auto;
	border-radius: 0;
	color: #fff;
	font-size: 22px;
	padding: 18px;
}

.container.autobuy {
	
}

.efare .verticalLine {
	border-left: solid #ccc 1px;
	padding-left: 30px;
}

.efare .autobuy h1,.efare .autobuy h2,.efare .autobuy h3,.efare .autobuy h4,.efare .autobuy h5,.efare .autobuy h6
	{
	margin: 0 0 5px;
}

.product-quick-summary h1,.product-quick-summary h2,.product-quick-summary h3,.product-quick-summary h4,.product-quick-summary h5,.product-quick-summary h6
	{
	margin: 0 0 5px;
}

/* .efare .form-control { */
/*     width: auto; */
/* } */
.autobuy-icon {
	background-size: 300px auto;
	margin-right: 10px;
	width: 170px;
}

.light-text {
	color: #888;
	font-weight: normal;
	font-size: 80%;
}

.input-rounded {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #808080;
	display: inline-block;
	font-size: 13px;
	line-height: 33px;
	padding: 4px 20px;
	text-align: center;
	margin-right: 10px;
}

.btn-to-link {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #3399f3;
	cursor: pointer;
	text-decoration: underline;
}

.grey-link {
	color: #666666;
}

.creditcard-icon {
	background: url("../img/icon-creditcard.svg") no-repeat scroll 0 0/120px
		auto rgba(0, 0, 0, 0);
	display: block;
	height: 86px;
}

span.uppercase {
	font-weight: bold;
	padding-right: 10px;
	text-transform: uppercase;
	color: #000;
}

.uppercase {
	text-transform: uppercase;
}

.efare .fixed-table-container {
	border-width: 0;
	border-bottom-width: 1px;
}

.report-controls form {
	margin-top: 15px;
	color: white;
}

.report-controls input {
	margin: 0px 10px 3px 0;
}

.report-controls input[type=submit] {
	margin-top: 3px;
}

.report-controls .note {
	color: #dddddd;
}

.report-results {
	margin-top: 10px;
}

.report-results .note {
	font-style: italic;
}

.report-results .order {
	margin-top: 70px;
	margin-bottom: 10px;
	border-bottom: solid 2px #dddddd;
	font-size: 14px;
}

/*Login Page*/
.efare .hero.login-page,.recovery-page {
	height: 3000px;
}

.efare .hero.login-page {
	height: 3000px;
}

.efare .hero.login-page p {
	font-size: 20px;
	padding: 25px 80px;
}

.efare .hero h3 {
	color: #fff;
}

.efare .hero .btn-default {
	background: url("../img/icon-shopping_bag.sml.svg") no-repeat scroll 10px 5px #f26522;
	border: medium none;
	color: #ffffff;
	padding-left: 54px;
	margin-top: 20px
}

.alert {
	text-align: center;
}

.alert ul {
	text-align: left;
}

.alert p {
	color: white;
}

.recovery-page .alert {
	width: 80%;
	margin-left: 10%;
}

.recovery-page h1 {
	font-size: 39px;
}

/*Account Page*/
.wallet-type,.wallet-num,.wallet-name {
	text-align: center;
}

.wallet-type h4,.wallet-num,.wallet-size {
	color: white;
}

.wallet-name {
	width: 230px;
}

.wallet-tab {
	margin-top: 30px;
}

.wallet-type h4 {
	margin-bottom: 0px;
}

.smartcard-thumbnail {
	background: url("../img/card-image.png") no-repeat scroll 50% 0 #333;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 160px;
	margin-top: 30px;
	padding-top: 97px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.generic-card-thumbnail {
	background: url("../img/card-image.png") no-repeat scroll 50% 0 #333;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 160px;
	padding-top: 97px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.wallet-add {
	display: block;
	font-size: 18px;
	margin-top: 0;
	text-align: center;
}


.wallet-img {
	padding-bottom: 15px;
}

.wallet-logo {
    margin-bottom: 25px;
}



.caption {
	color: #00aeef;
}

.light-blue .walletcard-thumbnail {
	background-color: #5facf7;
}

.dark-blue .walletcard-thumbnail {
	background-color: #065db1;
}

.efare .hero .btn-primary {
	margin-top: 20px
}

.efare .login-logo {
	background: url("../img/logo.png") no-repeat scroll center bottom/200px
		auto rgba(0, 0, 0, 0);
	height: 60px;
	margin: 0 auto auto;
	width: 200px;
}

.efare .hero.login-page h1 {
	color: #fff;
	font-size: 3em;
	font-weight: normal;
}

.efare .modal-body .center-block {
	float: none;
}

.efare .modal-header {
	background-color: #003d79;
	border-radius: 6px 6px 0 0;
}

.efare .login-options,.efare .login-options a {
	font-size: 16px;
	margin-top: 20px;
	padding: 20px 0 15px;
}

.efare .divider {
	border-left: 1px solid #ccc;
	margin: 10px;
	padding: 10px 0;
	width: 1px;
}

.efare a.light-link {
	color: #3399f3;
	font-size: 15px;
}

.report-results .order .parent {
	border-top: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
	margin-top: 50px;
	padding-top: 5px;
}

.report-results .order .child {
	padding-top: 5px;
}

.report-results .order li {
	margin-left: 5px;
	width: 76px;
}

.report-results .order .child .item {
	border-bottom: solid 1px #dddddd;
}

.report-results .order .total {
	margin-top: 40px;
	font-size: 16px;
}

.efare .table-rw td {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        vertical-align: middle;
}

.efare .table-rw img {
        max-height: 35px;
        max-width: 45px;
        padding-left: 4px;
        padding-right: 4px;
}

.wallet-qty {
        padding-right: 0px;
        width: 20px; 
		margin-top:-4px;
}

/*Replace Card Pages*/
.replace-form label {
	display: block;
	font-size: x-large;
	padding-bottom: 10px;
}

.replace-form select {
	font-size: larger;
}

.replace-card {
	margin-bottom: 70px
}

.replace-reason {
	margin-bottom: 50px
}

.replace-why {
	font-size: large;
	padding-bottom: 100px;
}

.replace-what {
	font-size: large;
	padding-bottom: 240px;
}

.replace-back {
	padding-left: 0;
	margin-top: 12px;
}

.replace-buttons {
	margin-top: 3px;
}

.replace-cancel {
	margin-top: 9px;
	border-right: 1px solid;
}

.replace-name {
	font-size: x-large;
}

.replace-price-label {
	font-size: large;
	margin-top: 9px;
}

.row.header-row {
	margin-bottom: 10px;
}

.info-row {
	margin-bottom: 50px
}

.page-registration{
	margin-top: 20px;
}

/* No Tables */
/* This CSS will take a table and break it down into a block view smaller devices */
@media only screen and (max-width: 800px) {
	.no-table table,.no-table thead,.no-table tbody,.no-table th,.no-table td,.no-table tr
		{
		display: block;
	}
	.no-table table {
		border: 0;
	}

	/* hide the headers that aren't needed for small view for accessibility*/
	.no-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.no-table tr {
		border: 1px solid #dddddd;
		margin-bottom: 10px;
		border-radius: 6px;
	}
	.no-table td {
		/* behave like a row */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		margin: none;
		padding: 2px !important;
		padding-left: 50% !important;
		white-space: normal;
		text-align: left;
	}
	.no-table td:before {
		/* makes it like a tbl header */
		position: absolute;
		/* Top/Left work like padding here */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: no-wrap;
		text-align: left;
		font-weight: bold;
	}

	/* labels ftw */
	.no-table td:before {
		content: attr(data-title);
	}
}

.icon-large-bus-purchase {
	background: url("../img/icon-large-bus-purchase.svg") no-repeat scroll 0
		0 rgba(0, 0, 0, 0);
	display: block;
	width: 150px;
}

input:focus {
	border-color: #66afe9 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

/* Link hover, focus colour fix*/
.efare a:focus {
	text-decoration: underline;
}

/*bug fixes CLEAN UP AND CONSOLIDATE removed duplicates*/
.navbar-nav > li > a.shopping-cart:hover { 
    text-decoration:none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}



.button-link-style:hover {

}

.navbar-nav > li > a:hover {

}

a.nav-expander:hover { 
}


span.input-value .button-link-style {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ccc;
    border-radius: 28px;
    color: #08487a;
    font-size: 14px;
    padding: 5px 5px 5px 15px;
    margin-top:5px;
}

a.continue-shopping {
    background: url("../img/icon-shopping_bag_blk.sml.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 61px;
    padding-left: 42px;
    padding-top: 12px;
    color:#f26522;
}
img.icon-add {
    height: 34px;
    margin-left: 10px;
    width: 34px;
}

.product-confirm {
	
}

table.dataTable thead > tr > th{
    padding-left: 0px !important;
}

/*---------------------------*/
.efare ul.main-menu.nav {
    background: #000;

}
.efare ul.main-menu.nav #nav-close {
  color:#fff;
}

a.continue-shopping {
    background: url("../img/icon-shopping_bag_blk.sml.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #f26522;
    display: inline-block;
    float: none;
    height: 61px;
    margin-left: 15px;
    padding-left: 42px;
    padding-top: 12px;
}

.container.product-confirm h3{
	margin:0px;
	font-weight:normal;
}

.container.product-confirm h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 10px 0;
}


.product-selected-check-mark {
    width: 90px;
}

.product-confirm-icon {
}



.efare .modal-dialog {
    margin: 30px auto;
    max-width: 500px;
    min-width: 380px;
}


.efare input[type="radio"], .efare input[type="checkbox"] {
    line-height: normal;
    margin: 4px 10px 0px 45px;
}

.efare input[type="text"], .efare input[type="password"], .efare .ui-autocomplete-input, .efare textarea, .efare .uneditable-input {
    font-size: 16px;
}

.modal-dialog {
    margin: 30px auto;
    min-width: 380px;
}

.efare input[type="radio"], .efare input[type="checkbox"] {
    line-height: normal;
    margin: 4px 10px 0px 45px;
}

.efare input[type="text"], .efare input[type="password"], .efare .ui-autocomplete-input, .efare textarea, .efare .uneditable-input {
    font-size: 18px;
		padding-left:10px;

}



.footer .text-center a {
	color:#fff;
}

.footer .text-center {
	color:#fff;
}

.footer .text-center.small {
	color:#efefef;
}

a.login-link {
	color:#fff;
	font-size:28px;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
}
.walletcard-thumbnail {
    height: 100%;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.wallet-add-inner {
    height: 220px;
    padding-top: 45px;
	width:100%;
}

.row.wallet-size {
    margin-top: -20px;
    margin-bottom:0px;
}

.row.wallet-size h5 {
    margin:0px;
    font-size:18px;
    margin-left:-15px;
    margin-top:5px;
    
}

.wallet-num {
    margin-top:-10px;
    }
.wallet-name{
text-align:center;
    margin:auto;
    width:80%;
}
.wallet-name h6{
    margin-top:-0px;
    border:solid #fff 1px;
    border-radius:24px;
    background-color:#fff;
    margin:auto;
    color:#666;
    padding:10px;
    
}

.container.card-detail .wallet-logo {
    margin-top:30px;

}

.switch-card a  {
    color:#fff;
}

.switch-card  {
    color:#fff;
    margin-top:40px;
}


.sub-nav .nav-tabs.nav-justified li a {
    border-bottom:none;
    background:transparent;
    border:none;
    color:#ccc;
}


.sub-nav .nav-tabs.nav-justified .active a {
    border-bottom:none;
    background:transparent;
}

.sub-nav .nav-tabs.nav-justified .active a:active {
    border:none;
    background:transparent;
}


.sub-nav .nav-tabs.nav-justified > li.active  {
    padding:0px;
}

.sub-nav .nav-tabs.nav-justified > li.active > a {
    margin-top:-10px;
    padding-bottom:24px;

}

.sub-nav .nav-tabs.nav-justified > li.active > a:hover {
	background: url("../img/active-tab.svg") no-repeat scroll center bottom / 30px auto rgba(0, 0, 0, 0);
    margin-top:-10px;
    padding-bottom:24px;
    border:none;

}

.sub-nav .nav-tabs.nav-justified > li.active > a:focus {
    margin-top:-10px;
    padding-bottom:24px;
    border:none;

}
.sub-nav .nav-tabs.nav-justified li a:hover {
    border:none;
    background:none;
    text-decoration:none;
    color:#fff;
}

.sub-nav {
    border-bottom:none;
}

a:focus {
    outline:none;
    outline-offset: 0px;
}

img.product-status {
    width:35px;
}

.wrapper {  
    height:100%;
    margin:0;
    padding:0;

}

.icon-back-dark {
background: url("../img/back-arrow-dark.svg") no-repeat scroll 0px 0px;
width:80px;
height:80px;
}

h5.card-icon {
    background: url("../img/card-icon") no-repeat scroll 0px 0px;
    margin:0px
}

h5.ticket-icon {
    background: url("../img/ticket-icon") no-repeat scroll 0px 0px;
    margin:0px
}

.button-link-style.small-link {
    font-size:16px;
    padding:0;
}

.small-link-divider {
    border-left: 1px solid #ccc;
    margin: 10px;
    padding: 5px 0;
    width: 1px;
}

.optional-label{
    padding-left: 10px;
    color: #888;
}

.zone-selector {
   border:solid #ccc 1px;
   padding:10px 15px;
   border-radius:10px;
   background-color:#fff;
   margin:0px 5px;
}
 
 
.zone-selector :hover{
   border:solid #ccc 1px;
   padding:10px 15px;
   border-radius:10px;
   background-color:#fff;
   margin:0px 5px;
}
 
.zone-selector {
   border:solid #ccc 1px;
   padding:10px 15px;
   border-radius:10px;
   background-color:#fff;
   margin:0px 5px;
}
 
a.zone-selector.glyphicon.glyphicon-map-marker{
 padding-bottom:12px;
 
 
}
 
a.zone-selector.glyphicon.glyphicon-map-marker:hover   {
  padding-bottom:14px;
  color:#fff;
  text-decoration:none;
}


.zone-selector:hover, .zone-selector:focus {
  background-color:#1e96ce;
  color:#fff;
  text-decoration:none;
}

/*----------------------*/
.footer {
    background-color: #767676;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 10%;
    padding-top: 40px;
    position: relative;
    width: 100%;
}

.wrapper {
    min-height:600px;
}


.icon-back {
    display: inline-block;
    height: 50px;
    padding-left: 60px;
    padding-top: 10px;
    width: 50px;
    float:none;
}


.navbar-nav > li > a.shopping-cart:hover { 
    text-decoration:none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}



.button-link-style:hover {

}

.navbar-nav > li > a:hover {

}

a.nav-expander:hover {

}

h3.off-canvas-menu {
    color:#fff;
    margin-left:10px;
}
.secondary-background-color {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding: 30px 0;
}



.main-menu.nav > li > a:hover, .nav > li > a:focus {
    background-color: red;
}

.isolated-text h4 {
    margin-bottom: 30px;
}



.efare .isolated-text input[type="radio"], .efare .isolated-text input[type="checkbox"] {
    line-height: normal;
    margin: 4px 10px 0 0px;
}

.container.card-detail h5   {
    margin:0 0 5px 0;
}

.container.card-detail .table-rw td{
    height:60px;
}


.container.card-detail .generic-card-thumbnail  {
min-height:160px;
}

.wallet-size {
    height: 32px;
    margin: -30px auto auto;
    padding: 0;
    vertical-align: middle;
    width: 80px;
}

.foundcard-thumbnail {
	height:180px;
}

.container.search-results h3 {
margin:0;
margin-bottom:10px;
}
.card-detail .generic-card-thumbnail {
    margin-top:30px;
}

.card-illustration {
    border: medium none;
    margin-top: 20px;
    max-width: 280px;
    width: 100%;
}
.row.ctrl-row {
  height:70px;
}

.product-selection-utility.price {
    margin-right: 10px;
    width: auto;
}

.child-indent {
padding-left:50px;
}