<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/custom.css}" />
<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.0.custom.css}" />
<link rel="stylesheet" th:href="@{/resources/css/jquery.dataTables.css}" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header :: header-top"></div>
		<div th:replace="fragments/header :: header-nav"></div>
		<div class="row">
			<div class="col-md-12">
				<div layout:fragment="content"></div>
			</div>
		</div>
		<div class="row hidden-print" th:include="fragments/footer :: footer"></div>
	</div>

	<div th:include="fragments/footer :: scripts"></div><!-- These are universal scripts (jquery, bootstrap, etc) -->
	<div layout:fragment="scripts"></div><!-- These scripts are based on the scripts in each individual "content" page -->
</body>
</html>