.hiddenFix{ /*Fixes issues w/ bootstrap hidden being set to !important*/
	display: none;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alert ul {
	margin-bottom: 0px;
}

.invoiceUnbilledOrders{
	margin-bottom: 20px;
}

.fulfillmentOrderRow a {
	text-decoration: none;
	color: inherit;
}

.orderDetailsPage .spacer,
.fulfillmentSpacer {
	margin: 15px;
}

.orderDetailsPage .productsTable td.description {
	width: 270px;
}

.orderDetailsPage #ship-modal-shipper-row span {
	position: relative;
	top: -3px;
}

.orderDetailsPage #ship-modal-shipper-row span#shipperField {
	top: -5px;
}

.orderDetailsPage #isauto {
	font-size: 14px;
	margin-left: 10px;
	font-style: italic;
	padding: 5px;
	top: -2px;
	position: relative;
}

.orderDetailsPage .noPadding,
.fulfillmentNoPadding {
	padding: 0px;
}

.orderDetailsPage .paddedContainer
.fulfillment .paddedContainer {
	padding: 5px;
}

.orderDetailsPage .form-reset-margin .form-group,
.form-reset-margin .form-group{
	margin-left: 0px;
	margin-right: 0px;
}

.orderDetailsPage .centered-form,
.centered-form {
	margin-top: 60px;
}

.orderDetailsPage #encodeModalDescription .bg-danger {
	padding: 15px;
	top: 19px;
	position: relative;
}

.orderDetailsPage .glyphicon {
	margin-right: 5px;
}

.orderDetailsPage small {
	color: #C8C8C8;
}

.orderDetailsPage .glyphicon-circle-arrow-left{
	margin-left: 20px;
}

.orderDetailsPage th.productHeader {
	font-size: 18px;
	border-bottom: 1px solid;
	font-weight: normal;
	color: black;	
}

.orderDetailsPage #encodeBulkQty {
	padding: 8px;
	width: 50px;
	margin-top:10px;
}

.panel-quick { /* CDTA blue color */
	background-color: rgb(68, 110, 155);
}

.panel-hover {
	cursor: pointer;
}

.form-control-error {
	border: 2px solid #E74C3C;
}

.navbar-brand-custom {
	padding: 5px 5px; 
	background: url(../img/logo_sm.png) no-repeat left center;
	height: 99px;
	width: 336px;
}

select{
	width: 100%;
}

input[type="date"] {
	line-height: 20px;
	width: 100%;
}

#search.btn-primary{
	padding: 5px;
	font-size: 12px;
	margin-top: 19px;
	width:75px;
}

.orderColumn{
	padding: 0px;
}

.lineItem{
	padding-bottom: 2px;
}

input[type="checkbox"].lineItemCheckBox{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.orderColumn div{
	padding: 0px;
}

.orderHeader,
.orderDetailsPage .strongSpan{
	font-weight: bold;	
}

#orderStatusSelector,
#invoicingOrgSelector,
#invoicingOrgSubSelector{
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 14px;
	padding: 4px 0px 4px 10px;
}

#orderResults,
.orderRow,
#orderResults .pagination {
	margin: 0px;
}

.data{
	text-overflow: ellipsis;
	overflow: hidden;
}

.border-bottom-strong,
.invoice-border-bottom-strong{
	border-bottom: 1px solid black;
}

.findOrdersPage .border-top,
.orderDetailsPage .border-top,{
	border-top: 1px solid #C8C8C8;
}

.findOrdersPage .border-bottom,
.orderDetailsPage .border-bottom{
	border-bottom: 1px solid #C8C8C8;
}

.findOrdersPage .viewDetail{
	padding: 0px 5px 0px 5px;
	font-size: 12px;
	width:75px;
}

.findOrdersPage #printLabels{
	margin-left: 20px;
}

.glyphicon-remove-circle{
	color: red;
}

.glyphicon-ok-circle{
	color: green;
}

.glyphiconButton{
	font-size: 30px;
}

.glyphiconCenterSpan{
	display: inline;
	vertical-align: super;
	font-size: 20px;
}

.orderDetailsHeaders .orderDetailsHeader{
	margin: 0;
}

.orderDetailsHeaders .orderDetailsHeadersData{
	margin: 10px 0px 15px 0px;
	font-weight: bold;
}

.lineItemActionButtons{
	padding-right: 70px;
}

.lineItemButton {
	margin-right: 15px;
	padding: 5px 12px;
}

.lineItemButton.cancelLine {
	margin-right: 0px;
}

.allLineItemsButton{
	float: right;
	margin-right: 15px;
}

.viewDetailsOrderTotal,
.invoiceTableSubHeaderData,
.invoiceItemRowHeader{
	margin-top: 10px;
}

#encodeModal .modal-dialog{
	width: 900px;
}

#encodeModalDescription{
	padding: 12px;
	border: 1px solid black;
	min-height: 150px;
}

#encodeModal .encodeModalHeader,
.paddingBottom-md{
	padding-bottom: 10px;
}

.encodeModalNav{
	padding: 1px;
	border: 1px solid black;
	border-right: none;
	margin-bottom: 5px;
	cursor: pointer;
}

.encodeModalNav.selected{
	background: #E6E6E6;
	font-weight: bold;
}

.encodeModalNavCol{
	padding-right: 0px;
}

.encodeModalNav span{
	padding-right: 5px;
}	

#shipModal .marginVertical,
.invoiceMarginVertical{
	margin-bottom: 10px;
}

#shipModal .shipModalField{
	padding: 3px 0px 0px 0px;
}

#printShippingLabelsModal .shippingLabel{
	height: 300px;
	overflow: scroll;
	border: 2px dashed #C8C8C8;
}

#printShippingLabelsModal div.printaddr {
	padding: 10px;
	border: 1px #CCC dashed;
	margin: 5px;
}

#printShippingLabelsModal  span.addrOrderId {
	display: block;
}
#order-search-results input[type="checkbox"]{
	margin-top: 0px;
}

#order-search-results th{
	padding-left: 10px;
}

.orderDetailsPage .lineItemRight{
	padding: 0px;
}

.orderDetailsPage .lineItemRightSubtotal{
	padding-right: 10px;
}

.orderDetailsPage button#lockOrder {
	margin-right: 5px;
}

.invoiceTableHeader{
	padding: 20px 0px 15px 0px;
	background: #AAAAAA;
}

.invoiceTableHeader h4{
	font-weight: bold;
}

.invoiceTableBody{
	margin-bottom: 20px;
}

.invoiceTableSubHeader{
	background: #E6E6E6;
}

.invoiceItemRowHeader{
	background: #F1F1F1;
}

.invoiceSearchLabel{
	padding: 5px 0px 0px 0px;
}

#backButton {
	cursor: pointer;
}

