<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase"
>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(3,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: cart-sub-banner (#{eFare.shopping.step3}, #{eFare.shopping.step3.text})"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="container">
        <form th:action="@{/store/cart}" method="post" th:object="${order}" val:validate="${order}">
				<!--div th:if="${#fields.hasAnyErrors()}"
						class="alert alert-dismissable alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<ul>
							<li th:each="e : ${#fields.detailedErrors()}"
								th:class="${e.global}? globalerr : fielderr">
								<span th:text="${e.message}"></span>
							</li>
						</ul>
				</div>-->
                <div th:if="${orderError == true}"
                        class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <ul>
                            <li th:class="globalerr">
                                <span th:text="#{validator.orderquantity.ordererror}"></span>
                            </li>
                        </ul>
                </div>
				<input id="submit" type="submit" name="update" class="visibility-hidden"/>
				<input type="hidden" th:value="${order.orderId}" th:field="*{orderId}" />
				<div class="col-md-12" th:each="item: ${order.orderitemses}"
					th:unless="${(item.parentItemNumber != item.id.orderItemNumber) || (item.quantity==0) || (item.orderitemactions.orderItemActionId==replaceAction)}"
				>
					<div th:if="${item.orderitemtypes.orderItemTypeId == wallettypeItem.orderItemTypeId}">
						<div class="row">
							<h5 class="col-md-12 card-icon" th:text="#{eFare.shopping.card}"></h5>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8">
								<h3 class="vertical-centered" th:text="${item.wallettypes.description}"></h3>
								<div class="row">
								<div class="hidden-xs col-sm-12 col-md-12">
									<button class="button-link-style small-link" th:value="${item.id.orderItemNumber}" type="submit" th:name="|submit${item.id.orderItemNumber}|"
									th:text="#{cart.removeAll}"
									></button>|
									<button type="button" th:text="#{cart.terms}" data-toggle="collapse" th:attr="data-target='#parentTerms'+${itemStat.index}"
									class="button-link-style small-link"></button>
									<div th:id="|parentTerms${itemStat.index}|" class="collapse" th:text="${item.wallettypes.descriptionLong}">Authentic nostrud banh mi quis, tofu consequat keytar selvage Marfa iPhone
									deserunt. Nihil pickled retro velit. 3 wolf moon nulla consectetur culpa. Adipisicing Helvetica mollit put a bird on it 3 wolf moon.</div>
									</div>							
								</div>			
							</div>
							<div class="product-selection-utility-container pull-right">
								<div class="product-selection-utility price col-xs-12 col-sm-4 col-md-4">
									<input class="form-control" type="hidden" th:value="${item.unitPrice}" th:field="*{orderitemses[__${itemStat.index}__].unitPrice}" />
									<span class="input-title" th:text="#{product.price}"></span>
									<span class="input-value" th:text="|$${item.unitPrice}|">$</span>
								</div>
								<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
									<span class="input-title" th:text="#{product.quantity}">Quantity</span>								
									<span class="input-value"><input class="form-control product-qty" type="text" th:value="${item.quantity}" th:field="*{orderitemses[__${itemStat.index}__].quantity}"  pattern="(\d){1,4}"
								 title="Please enter a valid quantity"/></span>
								</div>	
							</div>
						</div>
					</div>
					<div th:if="${item.orderitemtypes.orderItemTypeId == walletItem.orderItemTypeId}">
						<div class="row">
							<p class="col-md-12" th:text="#{eFare.shopping.card}"></p>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<h3 class="vertical-centered" th:each="number: ${item.wallets.walletidentifierses}" th:if="${number.identifiertypes.identifierId==identifierType}"
									th:text="|Products to be added to card number: ${number.identifier}|"></h3>
								<input class="form-control" type="hidden" th:value="${item.unitPrice}" th:field="*{orderitemses[__${itemStat.index}__].unitPrice}" />
								<input class="form-control" type="hidden" th:value="${item.quantity}" th:field="*{orderitemses[__${itemStat.index}__].quantity}" />
							</div>
						</div>					
					</div>					
					<hr></hr>
					
					<div class="col-md-12 child-indent" th:each="child: ${order.orderitemses}"
						th:if="${child.parentItemNumber == item.id.orderItemNumber}"
						th:unless="${(child.id.orderItemNumber == item.id.orderItemNumber) || (child.quantity==0)}">
						<div class="row" th:unless="${child.tickets.description.equals('Variable Stored Value')}">
						<div class="row">
							<h5 class="col-md-11 ticket-icon" th:text="#{eFare.shopping.ticket}"></h5>
						</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-md-8">
									<h3 class="vertical-centered" th:text="${child.tickets.description}"></h3>
									<div class="row">
								<div class="hidden-xs col-sm-12 col-md-12">
									<button class="button-link-style small-link" th:value="${child.id.orderItemNumber}" type="submit" th:name="|submit${child.id.orderItemNumber}|"
											th:text="#{cart.remove}"
									></button>|
									<button type="button" th:text="#{cart.terms}" data-toggle="collapse" th:attr="data-target='#childTerms'+${childStat.index}"
										class="button-link-style small-link"
									></button>
									<div th:id="|childTerms${childStat.index}|" class="collapse" th:text="${child.tickets.descriptionLong}">Squid consectetur before they sold out kitsch consequat keytar. Cornhole
										aute nesciunt salvia. Sunt XOXO narwhal forage Tonx nisi. Authentic Brooklyn et, American Apparel crucifix odio cliche trust fund cillum
										twee art party.</div>
								</div>								
							</div>
								</div>								
								<div class="product-selection-utility-container pull-right">
									
										<div class="product-selection-utility price col-xs-12 col-sm-4 col-md-4">
											<span class="input-title" th:text="#{product.price}"></span>
											<span class="input-value" th:text="|$${child.unitPrice}|"></span>
										</div>
										<div class="product-selection-utility col-xs-12 col-sm-4 col-md-4">
											<span class="input-title" th:text="#{product.quantity}"></span>
											<span class="input-value"><input class="form-control" type="text" th:value="${child.quantity}" th:field="*{orderitemses[__${childStat.index}__].quantity}" pattern="(\d){1,4}"
											title="Please enter a valid quantity" /></span> 
											<input class="form-control" type="hidden" th:value="${child.unitPrice}" th:field="*{orderitemses[__${childStat.index}__].unitPrice}" />
										</div>
									</div>
								
							</div>
							
						</div>
						<div class="row" th:if="${child.tickets.description.equals('Variable Stored Value')}">
						<div class="row">
							<p class="col-md-11" th:text="#{eFare.shopping.ticket}"></p>
						</div>
						<div class="row">	
								<div class="col-xs-12 col-sm-8 col-md-8">
									<h3 th:text="${child.tickets.description}"></h3>

									<div class="col-xs-8 col-sm-4 col-md-1">
									<p th:text="#{product.price}"></p>
									<h4 th:text="|$${child.unitPrice}|"></h4>
									</div>
									<div class="col-xs-4 col-sm-2 col-md-1">
									<p th:text="#{product.quantity}"></p>
									<input class="form-control" type="text" readonly="readonly" th:value="${child.quantity}"
									th:field="*{orderitemses[__${childStat.index}__].quantity}"
									/> <input class="form-control" type="hidden" th:value="${child.unitPrice}" th:field="*{orderitemses[__${childStat.index}__].unitPrice}" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="hidden-xs col-sm-12 col-md-12">
									<button class="button-link-style small-link" th:value="${child.id.orderItemNumber}" type="submit" th:name="|submit${child.id.orderItemNumber}|"
									th:text="#{cart.remove}"
									></button>|
									<button type="button" th:text="#{cart.terms}" data-toggle="collapse" th:attr="data-target='#childTerms'+${childStat.index}"
										class="button-link-style small-link"
									></button>
									<div th:id="|childTerms${childStat.index}|" class="collapse" th:text="${child.tickets.descriptionLong}">Squid consectetur before they sold out kitsch consequat keytar. Cornhole
										aute nesciunt salvia. Sunt XOXO narwhal forage Tonx nisi. Authentic Brooklyn et, American Apparel crucifix odio cliche trust fund cillum
										twee art party.</div>
								</div>
								<div class="col-xs-8 col-sm-5 col-md-1">
									<h4 th:text="|$${child.unitPrice}|"></h4>
								</div>
								<div class="col-xs-4 col-sm-2 col-md-1">
									<input class="form-control" type="text" readonly="readonly" th:value="${child.quantity}"
										th:field="*{orderitemses[__${childStat.index}__].quantity}"
									/> <input class="form-control" type="hidden" th:value="${child.unitPrice}" th:field="*{orderitemses[__${childStat.index}__].unitPrice}" />
								</div>
							</div>
						</div>
						<hr></hr>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9"
						   th:if="${rules.addMoreProducts(order)}">
								<a class="vertical-centered" th:if="${item.orderitemtypes.orderItemTypeId == wallettypeItem.orderItemTypeId}"
							th:href="@{/store/products(parent=${item.id.orderItemNumber})}">
							<th:block th:text="#{eFare.shopping.cart.addMore}"/>
							<img th:src="@{/resources/img/icon-add.svg}"/></a> 
								<a class="vertical-centered" th:if="${item.orderitemtypes.orderItemTypeId == walletItem.orderItemTypeId}" 
							th:href="@{/store/products(wallet=${item.wallets.walletId})}">
							<th:block th:text="#{eFare.shopping.cart.addMore}"/>
							<img th:src="@{/resources/img/icon-add.svg}"/></a>
						</div>
					</div>
					<hr></hr>
				</div>
				<div class="row">
					<div class="span6 pull-right">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<h2 class="col-xs-7 col-sm-7 col-md-7 vertical-centered" th:text="#{cart.Total}"></h2>
						</div>
						<div class="col-xs-2 col-sm-1 col-md-1">	
							<h3>=</h3>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<h2 th:text="|$${order.amountOrder}|"></h2>
						</div>
					</div>
				</div>
				<br/>

			<div class="bottom-content">
				<div class="span4 pull-left">
						<a class="grey-link" th:href="@{/store/products(parent=${parent})}" th:if="${parent != null}">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span><th:block th:text="#{product.back}"></th:block>
                        </a> <a
							class="grey-link" th:href="@{/store/products(wallet=${wallet})}" th:unless="${parent != null}"
							th:if="${wallet !=null}"
						>
                        <span class="glyphicon glyphicon-circle-arrow-left"></span><th:block th:text="#{product.back}"></th:block>
                        </a> <a class="grey-link" th:href="'previous.html'" onClick="history.back();return false;" th:if="${parent == null}"
							th:unless="${wallet != null}"
						>
                        <span class="glyphicon glyphicon-circle-arrow-left"></span><th:block th:text="#{product.back}"></th:block></a>
				</div>
				<div class="col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-6">
					<div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-2 col-md-10 col-md-offset-5 col-lg-12 col-lg-offset-4">
						<button id="submit" type="submit" name="cancel" th:text="#{eFare.shopping.cancel.order}" class="hidden-xs button-no-style"></button>
						<span class="hidden-xs"> | </span>
						<button id="submit" type="submit" name="update" th:text="#{cart.update}" class="button-no-style"></button>
						<span class="hidden-xs"> |</span>
					</div>
				</div>
				<div class="col-xs-2 col-xs-offset-0 col-sm-1 col-sm-offset-0 col-md-1 col-md-offset-0" th:if="${Shipping}">
						<button th:unless="${numOfItems == '0'}" id="checkoutButton" type="submit" name="ship" th:text="#{cart.checkout}" class="btn btn-primary"></button>
                        <button th:if="${numOfItems == '0'}" disabled="disabled" id="checkoutButton" type="submit" name="ship" th:text="#{cart.checkout}" class="btn btn-primary"></button>
				</div>
                <div class="col-xs-2 col-xs-offset-0 col-sm-1 col-sm-offset-0 col-md-1 col-md-offset-0" th:unless="${Shipping}">
                    <div th:replace="fragments/creditContent :: form"></div>
                </div>
		      </div>
 
			</form>
        </div>
	</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>
