<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body>
	<div class="panel panel-primary" layout:fragment="content">


		<div th:text="#{receipt.canceled}">Order Canceled</div>


	</div>

</body>
</html>