<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: eFare-wizard(4,4,0)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: confirm-sub-banner (#{receipt.header}, #{receipt.subheader}, 0)"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <h3 class="vertical-centered" th:text="#{receipt.order.header}"></h3>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-8">
                            <a href="javascript:window.print()" th:text="#{receipt.order.subheader}"></a>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="col-md-12" th:object="${order}">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-2">
                    <label class="control-label" th:text="#{receipt.order.date}"></label>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-9" th:text="${order.dateOrdered}">Order Date Unavailable</div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-2">
                    <label class="control-label" th:text="#{receipt.order.number}"></label>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-9" th:text="|${order.orderId}|">Order ID Unavailable</div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-2">
                    <label class="control-label" th:text="#{receipt.order.status}"></label>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-9" th:text="${order.orderstatuses.description}">Order Status
                    Unavailable</div>
            </div>
        </div>
        <div class="col-md-12" th:object="${order}">
            <hr></hr>
            <div class="row">
                <div class="panel-heading">
                    <h3 th:inline="text" th:text="#{receipt.addresses.header}">Hello!</h3>
                </div>
                <div class="panel panel-body panel-primary col-md-6" th:unless="${(shipping == null) and (billing == null)}">
                    <div class="col-xs-12 col-sm-6 col-md-6" th:unless="${(shipping.address1 == null)}">
                        <label class="control-label" th:text="#{receipt.addresses.shipping}"></label>
                        <div>
                            <span th:text="|${shipping.address1} ${shipping.address2}|"></span><br /> <span
                                th:text="|${shipping.city}, ${shipping.state} ${shipping.zip}|">Address Unavailable</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6" th:unless="${(billing == null)}">
                        <label class="control-label" th:text="#{receipt.addresses.billing}"></label>
                        <div>
                            <span th:text="|${billing.address1} ${billing.address2}|"></span><br /> <span
                                th:text="|${billing.city}, ${billing.state} ${billing.zip}|">Address Unavailable</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h5>Some Explanation on what will happen next</h5>
                    <div th:text="#{receipt.list.message}"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12" th:object="${order}">
            <div class="panel-heading">
                <h3 th:inline="text" th:text="#{receipt.orderdetails.header}">Order Details</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-3 col-sm-6 col-md-9">
                        <p th:text="#{receipt.orderdetails.subheader.item}">item</p>
                    </div>
                    <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                        <p th:text="#{receipt.orderdetails.subheader.quantity}">quantity</p>
                    </div>
                    <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                        <p th:text="#{receipt.orderdetails.subheader.price}">price</p>
                    </div>
                    <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                        <p th:text="#{receipt.orderdetails.subheader.cost}">cost</p>
                    </div>
                </div>
                <hr></hr>


                <div class="col-md-12 " th:each="item: ${order.orderitemses}"
                    th:unless="${ ((item.parentItemNumber != null) and (item.parentItemNumber != item.id.orderItemNumber)) or (item.quantity==0)}">
                    <div class="row" th:unless="${replaceOrder == true}">
                        <div class="col-xs-3 col-sm-6 col-md-9">
                            <div th:if="${item.wallettypes != null}">
                                <h3 class="vertical-centered" th:text="${item.wallettypes.description}">An item</h3>
                            </div>
                            <div th:if="${(item.wallets != null) and (item.wallettypes == null)}">
                                <h3 class="vertical-centered" th:text="#{receipt.wallet.parent}">An item</h3>
                            </div>
                        </div>
                        <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                            <h4 th:text="${item.quantity}" th:unless="${item.wallets != null}">2</h4>
                        </div>
                        <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                            <h4 th:text="|$${item.unitPrice}|" th:unless="${item.wallets != null}">$10.00</h4>
                        </div>
                        <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                            <h4 th:text="${item.unitPrice} * ${item.quantity}">$2.00</h4>
                        </div>
                    </div>
                    <div class="row" th:if="${replaceOrder == true}">
                        <div class="col-xs-3 col-sm-6 col-md-9">
                           <h3 class="vertical-centered" th:text="|#{efare.cartsuccess.replacecard} ${cardnumber}|">An item</h3>
                        </div>
                        <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                            <h4 th:text="${item.quantity}" th:unless="${item.wallets != null}">2</h4>
                        </div>
                        <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                            <h4 th:text="|$${item.unitPrice}|" th:unless="${item.wallets != null}">$10.00</h4>
                        </div>
                        <div class="col-xs-3 col-xs-push-1 col-sm-2 col-sm-push-0 col-md-1 col-md-push-0">
                            <h4 th:text="${item.unitPrice} * ${item.quantity}" th:unless="${item.wallets != null}">$2.00</h4>
                        </div>
                    </div>
                    <hr></hr>
                    <div class="col-xs-12 col-xs-push-1 col-sm-12 col-sm-push-1 col-md-12 col-md-push-1"
                        th:each="child: ${order.orderitemses}" th:if="${child.parentItemNumber == item.id.orderItemNumber}"
                        th:unless="${(child.id.orderItemNumber == item.id.orderItemNumber) or (child.quantity==0)}">

                        <div class="row" th:unless="${child.tickets.description.equals('Variable Stored Value')}">
                            <div class="row">
                                <div class="col-xs-3 col-sm-4 col-md-8">
                                    <h3 th:text="${child.tickets.description}">fare product</h3>
                                </div>
                                <div class="col-xs-3 col-xs-push-0 col-sm-2 col-sm-push-1 col-md-1 col-md-push-0">
                                    <h4 th:text="${child.quantity} * ${item.quantity}">2</h4>
                                </div>
                                <div class="col-xs-3 col-xs-push-0 col-sm-2 col-sm-push-1 col-md-1 col-md-push-0">
                                    <h4 th:text="|$${child.unitPrice}|">$1.00</h4>
                                </div>
                                <div class="col-xs-3 col-xs-push-0 col-sm-2 col-sm-push-1 col-md-1 col-md-push-0">
                                    <h4 th:text="${child.unitPrice} * ${child.quantity} * ${item.quantity}">$2.00</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${child.tickets.description.equals('Variable Stored Value')}">
                            <div class="row">
                                <div class="col-xs-3 col-sm-6 col-md-8">
                                    <h3 th:text="${child.tickets.description}"></h3>
                                </div>
                                <div class="col-xs-3 col-xs-push-3 col-sm-2 col-sm-push-2 col-md-1 col-md-push-1">
                                    <h4 th:text="|$${child.unitPrice} |"></h4>
                                </div>
                                <div class="col-xs-3 col-xs-push-3 col-sm-2 col-sm-push-2 col-md-1 col-md-push-1">
                                    <h4 th:text="${child.unitPrice} * ${item.quantity}">$2.00</h4>
                                </div>
                            </div>
                        </div>
                        <hr></hr>
                    </div>
                    <hr></hr>
                </div>

                <hr></hr>
                <div class="row">
                    <div class="span6 pull-right">
                        <div class="col-md-12">
                            <div class="col-md-7 vertical-centered" th:text="#{receipt.orderdetails.ordertotal}">Order
                                Total</div>
                            <div class="col-md-4">
                                <h4 class="vertical-centered" th:text="|$${order.amountOrder}|">$0.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-content">
            <div th:replace="fragments/pageControls :: footerNextOnly ('__@{/}__',#{eFare.shopping.done})"></div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>