<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
	
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: eFare-wizard(4,4,1)"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: shopping-sub-banner (#{eFare.shopping.step4}, #{shipping.order.header}, 1, 0)"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="container">
		<div class="panel-body">

			<form th:action="${postURL}" method="post"
				th:object="${shippingForm}" name='shippingautopost-form' >

				<div th:replace="fragments/creditContent :: formDataOnly"></div>

				<div class="row">
						<div class="col-md-12">
						<div class="col-xs-5 col-md-8">
							<h5 th:text="#{cart.automessage}">You are being forwarded to the payment page-</h5>
						</div>
						<button id="goToPayment" type="submit" name="checkout"
								th:text="#{cart.autocheckout}" class="btn btn-primary">Checkout</button>
						</div>
				</div>

			</form>
		</div>

		<script>
			window.onload = function(){
			  document.forms['shippingautopost-form'].submit()
			}
		</script>
	</div>
</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>