<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/base">
<body>
        <div th:fragment="basicInfo (userForm)">
            <div class="panel-body">
                <h3 th:text="#{usermanagement.create_user.basic_information}"></h3>
                <input type="hidden" name="userId" th:value="${userForm.userId}"/>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label th:for="${userForm.agency}"
                            th:text="#{usermanagement.create_user.organization}">Organization</label> <input readonly="true"
                            type="text" id="agency" class="form-control input-sm" required="required"
                            th:field="${userForm.agency}"></input>
                    </div>
                    <div class="form-group col-md-10"></div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label th:for="${userForm.prefix}"
                            th:text="#{usermanagement.create_user.prefix}">Prefix</label> <input
                            type="text" id="prefix" class="form-control input-sm" required="required"
                            th:field="${userForm.prefix}"></input>
                    </div>
                    <div class="form-group col-md-4">
                        <label th:for="${userForm.firstName}"
                            th:text="#{usermanagement.create_user.first_name}">First
                            Name</label> <input type="text" id="firstName" class="form-control input-sm"
                            required="required" th:field="${userForm.firstName}"></input>
                    </div>
                    <div class="form-group col-md-4">
                        <label th:for="${userForm.lastName}"
                            th:text="#{usermanagement.create_user.last_name}">Last
                            Name</label> <input type="text" id="lastName" class="form-control input-sm"
                            required="required" th:field="${userForm.lastName}"></input>
                    </div>
                    <div class="form-group col-md-2">
                        <label>MI</label> <input type="text"
							class="form-control input-sm" th:field="${userForm.middleInitial}"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="${userForm.email.address}"
                            th:text="#{usermanagement.create_user.email_address}">Email
                            Address</label> <input type="text" id="email" class="form-control input-sm"
                            required="required" th:field="${userForm.email.address}"></input>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>
            </div>
        </div>
        <div th:fragment="userProfile (userForm)">
            <div class="panel-body">
                <h3 th:text="#{usermanagement.create_user.user_profile}"></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="${userForm.jobTitle}"
                            th:text="#{usermanagement.create_user.job_title}">Job
                            Title</label> <input type="text" id="jobTitle" class="form-control input-sm"
                            required="required" th:field="${userForm.jobTitle}"></input>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="${userForm.employeeID}"
                            th:text="#{usermanagement.create_user.employee_id}">Employee
                            ID</label> <input type="text" id="employeeId" class="form-control input-sm"
                            required="required" th:field="${userForm.employeeID}"></input>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="${userForm.phoneNumber}"
                            th:text="#{usermanagement.create_user.phone_number}">Phone
                            Number</label> <input type="text" id="phoneNumber" class="form-control input-sm"
                            required="required" th:field="${userForm.phoneNumber.number}"></input>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="${userForm.mobileNumber}"
                            th:text="#{usermanagement.create_user.mobile_number}">Mobile
                            Number</label> <input type="text" id="mobilePhoneNumber" class="form-control input-sm"
                             th:field="${userForm.mobileNumber.number}"></input>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>
            </div>
        </div>
</body>
</html>