<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<body>
	<div th:fragment="editBasicInformation (group)">
			<div class="control-group">
				<label class="control-label" for="name"
					th:text="#{groupmanagement.group.create.name}">Name</label>
				<div class="controls">
					<input type="textfield" id="groupName" name="namefield" form="usrform" size="25" class="required" th:value="${group} !=null ? ${group.name}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="description"
					th:text="#{groupmanagement.group.create.description}">Description</label>
				<div class="controls">
					<textarea rows="10" cols="60" id="description" name="description" form="usrform" th:text="${group} !=null ? ${group.description}"></textarea>
				</div>
			</div>

	</div>
</body>
</html>