<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="form (orgForm,edit,balance)">
		<input id="orgid" type="hidden" th:field="${orgForm.id}" th:value="${orgForm.id}" />
		<div class="row">
			<div class="form-group col-md-4">
				<label th:for="${orgForm.name}"
					th:text="#{usermanagement.org.form.name}">Name</label> <input
					type="text" id="name-input" class="form-control input-sm"
					required="required" th:field="${orgForm.name}" th:readonly="${edit}"></input> <span
					id="name-pass" style="display: none; color: green;"
					class="glyphicon glyphicon-ok-circle"></span> <span id="name-fail"
					style="display: none; color: red;"><span
					class="glyphicon glyphicon-remove-circle"></span><span
					th:text="#{usermanagement.org.form.validation.name.exists}">Exists</span></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label th:for="${orgForm.type}"
					th:text="#{usermanagement.org.form.type}">Type</label> <select
					id="type-input" class="form-control input-sm" required="required"
					th:field="${orgForm.type}">
					<option th:each="type : ${types}" th:value="${type}"
						th:text="${type}">Ex</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label th:for="${orgForm.creditLimit}"
					th:text="#{usermanagement.org.form.creditLimit}">Credit</label> <input
					type="text" id="credit-input" class="form-control input-sm"
					required="required" th:field="${orgForm.creditLimit}" /> <span
					id="credit-pass" style="display: none; color: green;"
					class="glyphicon glyphicon-ok-circle"></span> <span
					id="credit-fail" style="display: none; color: red;"><span
					class="glyphicon glyphicon-remove-circle"></span><span
					th:text="#{usermanagement.org.form.validation.credit.NaN}">NaN</span></span>
			</div>
		</div>
		<div class="row" th:if="${edit == true}">
			<div class="form-group col-md-4">
				<label th:text="#{usermanagement.org.form.balance}">Parent Organization</label>
				<input id="balance" type="text" class="form-control input-sm" th:value="${balance}" th:readonly="readonly"/>
			</div>
		</div>
		<div class="row" th:if="${edit == true}">
			<div class="form-group col-md-4">
				<label th:for="${orgForm.mainContact}" th:text="#{usermanagement.org.form.mainContact}">Contact</label>
				<input type="text" id="contact-input" class="form-control input-sm" th:field="${orgForm.mainContact}"/>
				<span id="contact-pass" style="display: none; color: green;"	class="glyphicon glyphicon-ok-circle"></span> 
				<span id="contact-fail" style="display: none; color: red;">
					<span class="glyphicon glyphicon-remove-circle"></span>
					<span th:text="#{usermanagement.org.form.validation.contact.not.exist}">None</span>
				</span>
			</div>
		</div>
		<div class="row" th:if="${edit == false || #strings.isEmpty(orgForm.parentName)}	">
			<div class="form-group col-md-4">
				<label th:for="${orgForm.parent}"
					th:text="#{usermanagement.org.form.parent}">Parent?</label> <input
					id="parent-yes" type="radio" th:field="${orgForm.parent}"
					th:value="#{usermanagement.org.form.parent.yes}" /><span
					th:text="#{usermanagement.org.form.parent.yes}">Yes</span> <input
					id="parent-no" type="radio" th:field="${orgForm.parent}"
					th:value="#{usermanagement.org.form.parent.no}" /><span
					th:text="#{usermanagement.org.form.parent.no}">No</span>
			</div>
		</div>
		<div id="parent-info" class="row">
			<div class="form-group col-md-4" th:if="${edit == false || #strings.isEmpty(orgForm.parentName)}">
				<label th:for="${orgForm.parentName}"
					th:text="#{usermanagement.org.form.parentName}">Parent
					Organization</label> <input id="parent-input" type="text"
					class="form-control input-sm" th:field="${orgForm.parentName}" /> <span
					id="parent-pass" style="display: none; color: green;"
					class="glyphicon glyphicon-ok-circle"></span> <span
					id="parent-fail" style="display: none; color: red;"><span
					class="glyphicon glyphicon-remove-circle"></span><span
					th:text="#{usermanagement.org.form.validation.parent.not.exist}">None</span></span>
			</div>
			<div class="form-group col-md-4" th:unless="${edit == false || #strings.isEmpty(orgForm.parentName)}">
				<label th:for="${orgForm.parentName}" th:text="#{usermanagement.org.form.parentName}">Parent Organization</label>
				<input id="parent-input" type="text" class="form-control input-sm" th:field="${orgForm.parentName}" th:readonly="readonly"/>
			</div>
		</div>
	</div>
</body>
</html>