<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment='paginationbar'>
	<ul class='pagination pagination-sm'>
    	<li th:class="${page.isFirstPage()} ? 'disabled' : ''">
        	<span th:if='${page.isFirstPage()}'>← First</span>
        	<a th:if='${not page.isFirstPage()}' th:href='@{/groups(page.page=1,page.size=${page.size})}'>← First</a>
      	</li>
      	<li th:class="${page.hasPreviousPage()} ? '' : 'disabled'">
        	<span th:if='${not page.hasPreviousPage()}'>«</span>
        	<a th:if='${page.hasPreviousPage()}' th:href='@{/groups(page.page=${page.number},page.size=${page.size})}' title='Go to previous page'>«</a>
      	</li>
      	<li th:if="${page.hasPreviousPage()}">
        	<a th:href='@{/groups(page.page=${page.number},page.size=${page.size})}'><span th:text='${page.number}'></span></a>
      	</li>      
      	<li>
      		<span th:text="${page.number+1}"></span>
      	</li>
      	<li th:if="${page.hasNextPage()}">
			<a th:href='@{/groups(page.page=${page.number+2},page.size=${page.size})}'><span th:text='${page.number+2}'></span></a>      
      	</li>      
      	<li th:class="${page.hasNextPage()} ? '' : 'disabled'">    
        	<span th:if='${not page.hasNextPage()}'>»</span>
        	<a th:if='${page.hasNextPage()}' th:href='@{/groups(page.page=${page.number+2},page.size=${page.size})}' title='Go to next page'>»</a>
      	</li>
      	<li th:class="${page.isLastPage()} ? 'disabled' : ''">
        	<span th:if='${page.isLastPage()}'>Last →</span>
        	<a th:if='${not page.isLastPage()}' th:href='@{/groups(page.page=${page.totalPages},page.size=${page.size})}'>Last →</a>
      	</li>
    </ul>
</div>
</body>
</html>