<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modules-components (modules,readonly,group)">
	<div class="col-md-12 panel panel-primary">
		<!-- Modules -->
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked" id="modulesTabs">
				<li th:each="module,i : ${modules}" th:class="${i.index == 0 ? 'active' : ''}"><a th:href="'#module' + ${#strings.replace(module.name,' ','')}" th:text="${module.name}">moduleName</a></li> <!-- foreach module -->
			</ul>	
		</div>
		
		<!-- Components -->
		<div class="col-md-9">
			<div class="tab-content">
				<!-- foreach module -->
				<div th:each="module,i : ${modules}" th:id="'module' + ${#strings.replace(module.name,' ','')}" th:class="${i.index == 0 ? 'tab-pane active' : 'tab-pane'}">
					<div class="row">
						<div class="col-md-9"><span th:text="${module.name}">Module Name</span> Components</div>
					</div>
					<div class="row"><hr/></div>
				 	<!-- foreach component -->
					<div th:each="component : ${module.componentses}"> 
						<div class="row">
							<div class="col-md-10">
								<h4 th:text="${component.name}">Component Name</h4>
							</div>
							<div class="col-md-2">
								<input type="checkbox" class="permissions-all" th:disabled="${readonly}" th:checked="${false}"/> Select All
							</div>
						</div>
						<div class="row">
							<!-- foreach permission -->
							<div th:each="privilege : ${component.privilegeses}" class="col-md-3">
								<input th:name="${#strings.replace(privilege.name,' ','-')}" class="privilege-box" th:attr="data-module=${module.name},data-component=${component.name}" 
								type="checkbox" th:disabled="${readonly}" th:checked="${group!=null and groupPermService.groupHasPermission(group,privilege)}"/><span th:text="${privilege.name}">Privilege Name</span>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>
<div th:fragment="groups-modules-components (groups,usergroups,readonly)">
	<div class="row">
		<div class="col-md-3">
			<h3 th:text="#{usermanagement.user.details.groups.title}">Group Assignment</h3>
		</div>
		<div class="col-md-1">
			<span id="assignment-status" class="label"></span>
		</div>
		<div class="col-md-5 pull-right">
			<span id="reset-changes" class="pointer">Reset Changes</span>
			<span id="details-toggle" class="bold pointer">Details</span>
			<span id="description-toggle" class="pointer">Description</span>
			<span id="add-group" class="pointer">
				<span class="add-group-button">
					<span class="glyphicon glyphicon-plus-sign"></span>Add Group
				</span>
				<span class="remove-group-button">
					<span class="glyphicon glyphicon-minus-sign"></span>Remove Group
				</span>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 panel panel-primary">
			<!-- Modules -->
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked" id="groupTabs">
					<li th:each="group,i : ${groups}" th:class="${i.index == 0 ? 'active' : ''}">
						<a th:href="'#group' + ${#strings.replace(group.name,' ','')}">
							<span th:class="${#lists.contains(usergroups,group)} ? 'assignment-toggle glyphicon glyphicon-ok-sign' : 'assignment-toggle glyphicon'"></span>
							<span th:text="${group.name}">groupName</span>
						</a>
					</li>
				</ul>	
			</div>
			<div class="col-md-9">
				<div class="tab-content">
					<div th:each="group,i : ${groups}" th:id="'group' + ${#strings.replace(group.name,' ','')}" th:class="${i.index == 0 ? 'tab-pane active' : 'tab-pane'}">
						<div class="group-details" th:text="${group.description}">DETAILS</div>
						<div class="group-permissions">
							<div class="row">
								<div class="col-md-12 panel panel-primary">
									<!-- Modules -->
									<div class="col-md-3">
										<ul class="moduletabs nav nav-pills nav-stacked" th:id="${#strings.replace(group.name,' ','')} + 'modulesTabs'">
											<li th:each="module,i : ${modules}" th:class="${i.index == 0 ? 'active' : ''}"><a th:href="'#' + ${#strings.replace(group.name,' ','') + #strings.replace(module.name,' ','')}" th:text="${module.name}">moduleName</a></li> <!-- foreach module -->
										</ul>	
									</div>
									
									<!-- Components -->
									<div class="col-md-9">
										<div class="tab-content">
											<!-- foreach module -->
											<div th:each="module,i : ${modules}" th:id="${#strings.replace(group.name,' ','') + #strings.replace(module.name,' ','')}" th:class="${i.index == 0 ? 'tab-pane active' : 'tab-pane'}">
												<div class="row">
													<div class="col-md-9"><span th:text="${module.name}">Module Name</span> Components</div>
												</div>
												<div class="row"><hr/></div>
											 	<!-- foreach component -->
												<div th:each="component : ${module.componentses}"> 
													<div class="row">
														<div class="col-md-10">
															<h4 th:text="${component.name}">Component Name</h4>
														</div>
													</div>
													<div class="row">
														<!-- foreach permission -->
														<div th:each="privilege : ${component.privilegeses}" class="col-md-3">
															<input th:name="${#strings.replace(privilege.name,' ','-')}" class="privilege-box" th:attr="data-module=${module.name},data-component=${component.name}" type="checkbox" disabled="disabled" th:checked="${groupPermService.groupHasPermission(group,privilege)}"/><span th:text="${privilege.name}">Privilege Name</span>
														</div>
													</div>
												</div>
											</div> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div th:fragment="groups-modules-components-available (label,groups)">
	<div class="row">
		<div class="col-md-3">
			<h3 th:text="${label}">Groups</h3>
		</div>
		<div class="col-md-1">
			<span id="assignment-status" class="label"></span>
		</div>
		<div class="col-md-5 pull-right">
			<span id="details-toggle" class="bold pointer">Details</span>
			<span id="description-toggle" class="pointer">Description</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 panel panel-primary">
			<!-- Modules -->
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked" id="groupTabs">
					<li th:each="group,i : ${groups}" th:class="${i.index == 0 ? 'active' : ''}">
						<a th:href="'#group' + ${#strings.replace(group.name,' ','')}">
							<span th:text="${group.name}">groupName</span>
						</a>
					</li>
				</ul>	
			</div>
			<div class="col-md-9">
				<div class="tab-content">
					<div th:each="group,i : ${groups}" th:id="'group' + ${#strings.replace(group.name,' ','')}" th:class="${i.index == 0 ? 'tab-pane active' : 'tab-pane'}">
						<div class="group-details" th:text="${group.description}">DETAILS</div>
						<div class="group-permissions">
							<div class="row">
								<div class="col-md-12 panel panel-primary">
									<!-- Modules -->
									<div class="col-md-3">
										<ul class="moduletabs nav nav-pills nav-stacked" th:id="${#strings.replace(group.name,' ','')} + 'modulesTabs'">
											<li th:each="module,i : ${modules}" th:class="${i.index == 0 ? 'active' : ''}"><a th:href="'#' + ${#strings.replace(group.name,' ','') + #strings.replace(module.name,' ','')}" th:text="${module.name}">moduleName</a></li> <!-- foreach module -->
										</ul>	
									</div>
									
									<!-- Components -->
									<div class="col-md-9">
										<div class="tab-content">
											<!-- foreach module -->
											<div th:each="module,i : ${modules}" th:id="${#strings.replace(group.name,' ','') + #strings.replace(module.name,' ','')}" th:class="${i.index == 0 ? 'tab-pane active' : 'tab-pane'}">
												<div class="row">
													<div class="col-md-9"><span th:text="${module.name}">Module Name</span> Components</div>
												</div>
												<div class="row"><hr/></div>
											 	<!-- foreach component -->
												<div th:each="component : ${module.componentses}"> 
													<div class="row">
														<div class="col-md-10">
															<h4 th:text="${component.name}">Component Name</h4>
														</div>
													</div>
													<div class="row">
														<!-- foreach permission -->
														<div th:each="privilege : ${component.privilegeses}" class="col-md-3">
															<input th:name="${#strings.replace(privilege.name,' ','-')}" class="privilege-box" th:attr="data-module=${module.name},data-component=${component.name}" type="checkbox" disabled="disabled" th:checked="${groupPermService.groupHasPermission(group,privilege)}"/><span th:text="${privilege.name}">Privilege Name</span>
														</div>
													</div>
												</div>
											</div> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
</body>
</html>