<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="searchBar (barLabel,barFilterLabel,barFilterList,searchButtonLabel)">
	<div class="row">
		<div class="col-md-3">
			<b th:text="${barLabel}" style="width:100%">Enter your search criteria</b><br/>
			<input id="search" type="text" name="criteria" style="width:100%"/>
		</div>
		<div th:if="${barFilterList}" class="col-md-3">
			<b th:text="${barFilterLabel}" style="width:100%">Status</b><br/>
			<select id="status-filter" class="form-control">
				<option th:each="filter : ${barFilterList}" th:text="${filter}">Filter</option>
				<option th:text="#{usermanagement.search.filter.all}">All</option>
			</select>
		</div>
		<div class="col-md-3">
			<button id="search-button" th:text="${searchButtonLabel}" name="submit" class="btn btn-primary col-md-10 col-md-offset-1" type="submit" style="margin-top:10px">Search</button>
		</div>
		<div class="col-md-3">
			<div id="loading">
				Searching... <img th:src="@{/resources/img/ajax-loader.gif}"/>
			</div>
		</div>
	</div>
</div>
<div th:fragment="resultsBox (headers)">
	<div class="row results-box">
		<div class="col-md-12">
			<table id="search-results" class="display">
				<thead>
					<tr>
						<th th:each="heading : ${headers}" th:text="${heading}">Heading</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>