/* Changes made by web developers to be included in the CSS later */

/* hiding iframe injected by recaptcha on chrome and safari browsers */
body>iframe[src='about:blank'] {
	display: none;
}

.hidden {
	display: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

/* overriding styles.css */
#columnleft {
	margin-bottom: 10px;
}

#top #toolbar p {
	text-transform: uppercase;
}

input[type=text],input[type=password] {
	height: 16px;
	border: 1px lightgray solid;
	border-radius: 3px;
}

.signin input[type="text"],.signin input[type="password"] {
	padding-left: 5px;
}

input.inFieldLabel {
	color: #999;
	padding-left: 5px;
}

.report-form-button {
	clear: both;
}

/* Informational alert/notice block. Not used for errors */
.informational-alert-block {
	display: table-cell;
	background: url("../images/icon_information.png") no-repeat scroll 5px
		5px #EEF;
	border: 1px solid #CCF;
	padding: 5px 5px 5px 58px;
	height: 48px;
	width: 669px;
	vertical-align: middle;
}

/* Success alert/notice block. Not used for errors */
.successful-alert-block {
	display: table-cell;
	background: url("../images/icon_checkmark.png") no-repeat scroll 25px
		5px #EEFFF1;
	border: 1px solid #7AB87C;
	padding: 5px 5px 5px 58px;
	width: 669px;
	vertical-align: middle;
}

/* Display page level errors (i.e. not field specific) */
.error-alert-block {
	display: table-cell;
	background: url("../images/icon_error.png") no-repeat scroll 5px 5px
		#ffdddd;
	border: 1px solid #ff9999;
	padding: 5px 5px 5px 66px;
	height: 60px;
	width: 661px;
	vertical-align: middle;
	color: #cc0000;
}

/* Field specific error messages */
span.field-error,label.field-error,#htmlErrors.alert {
	color: red;
}

select.field-error,input.field-error {
	border-color: red !important;
}

label.field-error.valid {
	color: #000;
}

img.icon-help {
	width: 12px;
	height: 11px;
}

span.flash-message {
	background-color: #f8e548;
	color: #000;
	padding: 5px 10px;
}

/*----------------- general overlay config -----------------*/
.ui-window {
	display: none;
	position: absolute;
	margin: 0;
	background-color: #FFF;
	color: #000;
	padding: 30px;
}

.ui-overlay {
	background-color: #000;
}

.ui-window img.title-icon {
	float: left;
	margin-right: 5px;
}

/* ---------------- General error dialog -------------------*/
#alert-dialog {
	width: 455px;
	z-index: 3300;
}

#alert-dialog p {
	padding: 10px 0 20px;
}

/* ---------------- Processing Overlay ----------------------*/
#processing-overlay {
	background-color: ${tucson.processing.overlay.bg.color
}

;
}
/* ---------------- Login button for an overlay ----------------------*/

/*
.ui-window a.btn-login {
    background: url("../images/btn_signin.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    width: 122px;
    text-indent: -99999px;
}
.ui-window a.btn-login:hover {
    background-position: 0 -30px;
}

*/

/* ---------------- Okay button for an overlay ----------------------*/
/*
.ui-window .btn-okay {
	background: url("../images/btn_okay.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 101px;
	border: none;
	text-indent: -99999px;
}
.ui-window .btn-okay:hover {
	background-position: 0 -30px;
}
*/

/*---------------- recaptcha widget styles -----------------*/
#recaptcha_widget .recaptcha_actions a {
	font-size: xx-small;
	font-weight: normal;
}

#recaptcha_widget a:hover {
	text-decoration: none;
}

#recaptcha_widget .recaptcha_actions {
	padding: 2px 0 5px;
	height: 15px;
	width: 306px;
}

#recaptcha_image {
	padding: 2px;
	border: 1px lightgray solid;
	border-radius: 3px;
	margin: 5px 0 0 0;
}

#recaptcha_widget .recaptcha_actions .recaptcha_only_if_image,#recaptcha_widget .recaptcha_actions .recaptcha_only_if_audio
	{
	display: inline;
	float: left;
	position: relative;
	margin-right: 10px;
}

#recaptcha_widget .recaptcha_reload img {
	position: relative;
	top: 2px;
}

#recaptcha_widget .recaptcha_powered_by {
	float: right;
	font-size: xx-small;
	color: #CCC;
	margin-left: 10px;
}

#recaptcha_widget .recaptcha_help_wrapper {
	display: inline;
	float: right;
	position: relative;
	top: 3px;
}

/*---------------- forgot password styles ------------------*/
#forgot-password-dialog {
	width: 490px;
}

#forgot-password-dialog h2 {
	background: url("../images/icon_forgotpassword.gif") no-repeat 0 4px;
	padding-left: 36px;
	padding-bottom: 5px;
}

#forgot-password-dialog p {
	padding-bottom: 16px;
}

#forgot-password-dialog .labelName {
	text-align: right;
	padding: 10px 15px 10px 0;
	width: 170px;
	white-space: nowrap;
	vertical-align: top;
}

#forgot-password-dialog .inputColumn {
	padding-top: 10px;
	vertical-align: top;
}

#forgot-password-dialog input[type=text] {
	width: 260px;
	border: 1px lightgray solid;
	border-radius: 2px;
}

#forgot-password-dialog .button-row {
	margin: auto;
	padding: 35px 0 10px 0;
	width: 350px;
}

#forgot-password-dialog .btn-reset-password {
	float: left;
}

#forgot-password-dialog .btn-cancel {
	float: right;
}

.waiting {
	background: url("../images/waiting.gif") no-repeat -6px 0;
	display: block;
	height: 20px;
	width: 208px;
}

.inputRequirement,.required {
	color: red;
}

/*
.btn-save {
	text-indent: -99999px;
	background: url("../images/btn_save.png") no-repeat scroll 0 0 transparent;
	height: 30px;
	width: 101px;
	border: none;
}

.btn-save:hover {
	background-position: 0 -30px;
}

*/

/*---------------- manage cards styles ------------------*/
div.togglecopy {
	clear: both;
}

#manage-cards-messages div {
	margin: 25px 0 0;
}

#manage-cards-list {
	padding-bottom: 20px;
}

#manage-cards-list-error {
	color: #ff0000;
	font-weight: bold;
}

#manage-cards-list-error a {
	color: #ff0000;
	text-decoration: underline;
}

#manage-cards-list-error a:hover {
	text-decoration: none;
}

#manage-cards-list .divider {
	clear: both;
}

#manage-cards-list .no-cards {
	padding: 7px 0 0 10px;
}

#manage-cards-list .contentarea {
	margin: 0;
	float: left;
	width: 734px;
	border: none;
}

#manage-cards-list .inactive-cards {
	margin-top: 0;
}

#manage-cards-list .expired-cards {
	padding-top: 10px;
	float: left;
	width: 734px;
	background: url("../images/expiredopacity.gif") no-repeat scroll 0 0
		transparent;
	margin-bottom: 10px;
}

#manage-cards-list .inactive-cards h5,#manage-cards-list .inactive-cards p,#manage-cards-list .inactive-cards p i,#manage-cards-list .expired-cards h5,#manage-cards-list .expired-cards p,#manage-cards-list .expired-cards p i
	{
	color: #666666;
}

#manage-cards-list .auto-buy-pending {
	padding-left: 28px;
	padding-top: 5px;
}

#manage-cards-list .auto-buy.disabled {
	cursor: progress;
}

.how-to-auto-buy {
	height: 22px;
	padding: 7px 0 0 5px;
	color: ${tucson.anchor.color
}

;
background-color


:

 

${
tucson


.light


.text


.background


.color


}
;
cursor


:

 

pointer


;
}
#manage-cards-list .how-to-auto-buy:hover {
	background-color: ${tucson.dark.text.background.color
}

;
}
#manage-cards-list .flash-message {
	float: right;
	padding: 1px 5px;
	color: #333;
	margin-right: 8px;
}

img.card-image {
	margin-left: 10px;
	margin-right: 10px;
	height: 83px;
	width: 132px;
}

img.icon-last-update {
	width: 12px;
	height: 12px;
	text-align: center;
}

div.togglecopy.expired .togglecopy1,div.togglecopy.expired .togglecopy2
	{
	background-color: #ddd;
	height: 29px;
}

/*------------------Rename card styles ------------------*/
#rename-card-dialog {
	width: 455px;
}

#rename-card-dialog img.title-icon {
	position: relative;
	bottom: 3px;
}

#rename-card-dialog p {
	margin-top: 10px;
}

#rename-card-dialog span.rename-card-pid-label {
	font-weight: bold;
}

#rename-card-dialog span.rename-card-name-label {
	font-weight: bold;
	display: block;
}

#rename-card-dialog input.rename-card-name {
	width: 250px;
}

#rename-card-dialog span.rename-card-example {
	margin-left: 5px;
}

#rename-card-dialog .button-row {
	margin: auto;
	padding: 30px 0 5px 0;
	width: 226px;
}

#rename-card-dialog .button-row .btn-save {
	float: left;
}

#rename-card-dialog .button-row .btn-cancel {
	float: right;
}

#rename-card-dialog .save-pending {
	text-align: center;
	padding: 30px 0 12px 0;
}

/*------------------Lost card styles ------------------*/
#lost-card-dialog {
	width: 490px;
}

#lost-card-dialog img.title-icon {
	position: relative;
	bottom: 3px;
}

#lost-card-dialog p {
	margin-top: 10px;
}

#lost-card-dialog .lost-card-pid-label {
	font-weight: bold;
}

#lost-card-dialog-order-new {
	margin-right: 5px;
}

#lost-card-dialog .button-row {
	margin: auto;
	padding: 30px 0 5px 0;
	width: 350px;
}

#lost-card-dialog .button-row .btn-report-lost {
	float: left;
}

#lost-card-dialog .button-row .btn-cancel {
	float: right;
}

#lost-card-dialog .save-pending {
	text-align: center;
	padding: 30px 0 12px 0;
}
/*
a.btnreportlostcard {
    background: url("../images/btn_reportcardlost.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    width: 187px;
    margin: auto;
    text-indent: -99999px;
}
a.btnreportlostcard:hover {
    background-position: 0 -30px;
}
*/

/*------------------Found card styles ------------------*/
#found-card-dialog {
	width: 490px;
}

#found-card-dialog img.title-icon {
	position: relative;
	bottom: 3px;
}

#found-card-dialog p {
	margin-top: 10px;
}

#found-card-dialog .found-card-pid-label {
	font-weight: bold;
}

#found-card-dialog .button-row {
	margin: auto;
	padding: 30px 0 5px 0;
	width: 350px;
}

#found-card-dialog .button-row .btn-report-found {
	float: left;
}

#found-card-dialog .button-row .btn-cancel {
	float: right;
}

#found-card-dialog .save-pending {
	text-align: center;
	padding: 30px 0 12px 0;
}
/*
a.btnfoundcard {
    background: url("../images/btn_foundcard.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    width: 187px;
    margin: auto;
    text-indent: -99999px;
}
a.btnfoundcard:hover {
    background-position: 0 -30px;
}
*/
/*------------------ Register/unregister card styles ------------------*/
#register-card-dialog p,#unregister-card-dialog p {
	margin-top: 10px;
}

#register-card-dialog li,#unregister-card-dialog li {
	list-style: disc inside none;
	line-height: 170%;
	margin-left: 70px;
}

#register-card-dialog .button-row .btn-cancel,#unregister-card-dialog .button-row .btn-cancel
	{
	float: right;
}

#register-card-dialog .save-pending,#unregister-card-dialog .save-pending
	{
	text-align: center;
	padding: 30px 0 12px 0;
}

/*-- Register specific --*/
#register-card-dialog {
	width: 580px;
}

#register-card-dialog .divider {
	width: 99%;
	height: 2px;
	margin: 5px 0 18px;
}

#register-card-dialog .step-title {
	font-weight: bold;
	font-size: 110%;
	margin-top: 10px;
}

#register-card-dialog div.card-number {
	margin-top: 15px;
	margin-bottom: 10px;
}

#register-card-dialog div.card-number label,#register-card-dialog div.confirm-card-number label,#register-card-dialog div.card-cvv label
	{
	font-weight: bold;
	display: block;
}

#register-card-dialog div.card-cvv {
	margin-top: 14px;
	margin-bottom: 20px;
}

#register-card-dialog input[type=text] {
	width: 250px;
	margin-right: 5px;
}

#register-card-dialog .not-found-error {
	color: red;
}

#register-card-dialog .button-row {
	margin: auto;
	padding: 30px 0 5px 0;
	width: 330px;
}
/*
#register-card-dialog .button-row .btn-register-card {
	text-indent: -99999px;
	background: url("../images/btn_registeryourcard.png") no-repeat scroll 0 0 transparent;
	height: 30px;
	width: 180px;
	border: none;
	float: left;
}
#register-card-dialog .button-row .btn-register-card:hover {
	background-position: 0 -30px;
}
*/

/* -- Unregister specific **/
#unregister-card-dialog {
	width: 455px;
}

#unregister-card-dialog img.title-icon {
	position: relative;
	bottom: 3px;
}

#unregister-card-dialog .button-row {
	margin: auto;
	padding: 30px 0 5px 0;
	width: 310px;
}

/*
#unregister-card-dialog .button-row .btn-unregister-card {
	text-indent: -99999px;
	background: url("../images/btn_unregisteryourcard.png") no-repeat scroll 0 0 transparent;
	height: 30px;
	width: 164px;
	border: none;
	float: left;
}
#unregister-card-dialog .button-row .btn-unregister-card:hover {
	background-position: 0 -30px;
}
*/

/*------------- How To Enable Auto Buy overlay ---------*/
#how-to-enable-autobuy-popup {
	width: 515px;
}

#how-to-enable-autobuy-popup h2 {
	background: url("../images/icon_howtoautobuy.gif") no-repeat 0 4px;
	padding-left: 36px;
	padding-bottom: 10px;
}

/*--------------- Buy products overlay ----------------*/
#buy-products-dialog .card-header {
	font-weight: bold;
	float: none;
}

#cartside1 img {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	width: 132px;
	height: 83px;
}

#cartside2 .wrapper {
	width: 644px;
}

#cartside2 label,#cartside2>p {
	font-weight: bold;
}

#buy-products-error {
	color: #ff0000;
	font-weight: bold;
}

#buy-products-error a {
	color: #ff0000;
	text-decoration: underline;
}

#buy-products-error a:hover {
	text-decoration: none;
}

.popupwrapper .columntwo {
	padding-left: 0;
}

#buy-products-product-list {
	width: 100%;
}

#buy-products-product-list tr {
	background-color: ${tucson.light.text.background.color
}

;
}
#buy-products-product-list tr.spacer {
	background-color: #fff;
	height: 2px;
}

#buy-products-product-list td {
	padding-left: 5px;
	vertical-align: middle;
}

#buy-products-product-list td.rightcolumn {
	width: 165px;
	float: none;
}

#org-product-list #buy-products-product-list td.rightcolumn {
	width: 140px;
}

#buy-products-product-list td.rightcolumn a {
	float: right;
}

#org-product-list #buy-products-product-list td.rightcolumn .auto-buy {
	margin-top: 5px;
	padding: 6px 5px 0 25px;
	width: 100px;
	/* margin-right: 3px; */
}

#cartside2 #buy-products-product-list td.rightcolumn .auto-buy {
	padding: 6px 5px 0 25px;
	margin-right: 3px;
	height: 22px;
	s
}

#buy-products-product-list select.buy-product-fare {
	width: 180px;
}

#org-product-list #buy-products-product-list select.buy-product-fare {
	width: 200px;
}

#buy-products-product-list select.buy-product-quantity {
	width: 40px;
}

#buy-products-product-list td.product-name {
	width: 220px;
}

#buy-products-product-list input[type='text'] {
	width: 94%;
}

#org-product-list .auto-buy {
	padding-right: 0px;
}

#buy-products-cancel-row {
	clear: both;
	padding-top: 20px;
}

#buy-products-dialog .purchase-progress {
	text-align: right;
	float: right;
	padding-right: 5px;
}

#buy-products-dialog .shopping-cart-error {
	color: #ff0000;
	font-weight: bold;
}

#buy-products-dialog .flash-message {
	float: right;
}

#org-product-list {
	padding-top: 5px;
}

#org-product-list p {
	padding: 0 0 5px 5px;
}

/*----------------- Buy cards/tickets ----------------- */
#purchase-cards-error {
	color: #ff0000;
	font-weight: bold;
}

#purchase-cards-messages div {
	margin: 25px 0 25px;
}

#purchase-cards-error a {
	color: #ff0000;
	text-decoration: underline;
}

#purchase-cards-error a:hover {
	text-decoration: none;
}

.purchase-cards-shopping-cart-error {
	color: #ff0000;
	font-weight: bold;
}

#purchase-cards-product-limit {
	margin-left: 15px;
	color: #FF6633;
}

#buy-ride-tickets {
	padding-bottom: 10px;
}

#buynew-guest-info-card {
	float: left;
	width: 345px;
}

#buynew-guest-info-ticket {
	float: right;
	width: 345px;
}

#buynew-guest-info .header {
	font-weight: bold;
	margin: 20px 0 4px;
}

.purchase-cards-progress {
	text-align: right;
	float: right;
}

.purchase-cards-progress img {
	padding-right: 10px;
}

/*----------------- Renew Card/ID Card help -----------------*/
#how-to-renew-card-popup,#how-to-renew-id-card-popup {
	width: 430px;
}

#how-to-renew-card-popup p,#how-to-renew-id-card-popup p {
	margin-top: 10px;
}

/*------------------Guest Home Styles ------------------*/
#guestHome.individual #columnright .columna img,#guestHome.individual #columnright .columnb img
	{
	border: 0px;
	margin: 20px 0;
}

/*----------------- Guest Add Product Styles -------------*/
#guest-add-product #contentarea img.cardback-img {
	float: left;
	margin-right: 20px;
}

#guest-add-product form {
	margin-top: 20px;
	margin-bottom: 10px;
}

#guest-add-product form div {
	height: 25px;
	padding-top: 6px;
	float: left;
	margin-right: 10px;
}

#guest-add-product label,#guest-add-product input[type=submit] {
	margin-right: 10px;
}

#guest-add-product #contentarea .columnb {
	width: 231px;
}

#guest-add-product a.btnbuyproducts {
	margin-top: 0px;
}

#guest-add-product .guest-how-to-auto-buy {
	height: 100%;
	padding-top: 7px;
	color: ${tucson.anchor.color
}

;
}
#guest-add-product .togglecopy1 {
	width: 508px;
}

#guest-add-product .togglecopy2 {
	height: 29px;
	background-color: ${tucson.light.text.background.color
}

;
cursor


:

 

pointer


;
padding-left


:

 

6
px


;
}
#guest-add-product .togglecopy2:hover {
	background-color: ${tucson.dark.text.background.color
}

;
}
#guest-buy-products-loading {
	margin-top: 20px;
}

#guest-buy-products-error {
	color: red;
	font-weight: bold;
}

#how-to-autobuy {
	width: 515px;
}

#how-to-autobuy h2 {
	background: url("../images/icon_howtoautobuy.gif") no-repeat 0 4px;
	padding-left: 36px;
	padding-bottom: 10px;
}

/*------------------FAQ Styles ------------------*/
#faqs .expandable {
	float: left;
}

#faqs div.plus_button {
	background: url('../images/btn_plusminus.png') no-repeat scroll 0 0
		transparent;
	height: 15px;
	/* width:19px; */
	cursor: pointer;
	padding-left: 25px;
	display: inline-block;
	margin-bottom: 4px;
}

#faqs div.minus_button {
	background: url('../images/btn_plusminus.png') no-repeat scroll 0 -15px
		transparent;
	height: 15px;
	/* width:19px; */
	cursor: pointer;
	padding-left: 25px;
	display: inline-block;
	margin-bottom: 4px;
}

#faqs div.subMenu {
	padding-left: 45px;
	display: none;
	margin-bottom: 4px;
}

#faqs a.nodecoration {
	text-decoration: none;
	color: black;
	cursor: default;
}

#faqs a.collapsibleMenuAlign {
	vertical-align: top;
	float: left;
}

#faqs h5.faq {
	margin-top: 10px;
	margin-bottom: -10px;
}

#faqs ul {
	padding-left: 20px;
	list-style: disc;
}

#faqs li {
	padding-bottom: 5px;
}

#faqs ol {
	padding-left: 20px;
	list-style: decimal;
}
/** -----------Order History-------------- **/
div.orderHLeft {
	float: left;
	width: auto;
	margin-top: 10px;
	margin-left: 20px;
}

div.orderHRight {
	float: left;
	width: 573px;
	padding-left: 10px;
	margin-top: 12px;
}

div.orderHInnerColumn {
	float: left;
	width: 119px;
	margin: 7px 10px 0 10px;
}

.orderDetails {
	height: 100%;
	width: 100%;
	/* margin-left: 10px; */
}

.orderHtdA,.orderHtdB,.orderHtdC,.orderHtdD {
	padding-left: 10px;
}

.orderHNew {
	font-weight: bold;
	padding-left: 10px;
}

.orderHNewFee {
	padding-left: 10px;
}

.orderHNewFeeCost {
	padding-left: 10px;
}

div.orderHInfo {
	background: ${tucson.light.text.background.color
}

;
height


:


30
px
;


	

margin-bottom


:


5
px
;




}
div.orderHInnerLeft {
	float: left;
	text-align: left;
	width: 50%
}

div.orderHInnerRight {
	text-align: right;
	font-style: italic;
	padding-right: 5px;
}

span.orderHStatusLabel {
	margin-right: 5px;
}

span.orderHStatusValue {
	margin-left: 5px;
	display: inline-block;
	width: 65px;
}

div.orderHsubtotal {
	padding-top: 5px;
}

div.orderHTop {
	margin-bottom: 10px;
}

div.orderHOrder {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.orderHTotal {
	text-align: right;
}

#orderHistory table.orderHTotals {
	float: right;
}

#orderHistory td.orderHTotals {
	padding-left: 10px;
}

div.orderHTotals {
	float: right;
	text-align: right;
	font-style: italic;
	width: 100%;
	padding-right: 7px;
	padding-bottom: 15px;
	*width: auto; /* IE7 Hack */
	*padding-bottom: 0; /* Another IE7 hack */
}

/* ---------------- Order Detail --------------------- */
#orderConfirmation #order-messages {
	margin: 20px 0 0;
}

#orderConfirmation .orderHRight {
	width: 730px;
}

#orderConfirmation .orderHtdD {
	text-align: right;
	padding-right: 5px;
}

#orderConfirmation table.orderHTotals {
	float: right;
	margin-right: 5px;
}

#orderConfirmation td.orderHtdA {
	width: 220px;
}

#orderConfirmation td.orderHtdB {
	width: 125px;
}

#orderConfirmation td.orderHtdC {
	width: 194px;
}

#orderConfirmation td.orderHtdD {
	width: 147px;
}

#orderConfirmation tr.cardNumSubTotal td {
	padding: 2px 0 6px 0;
}

#orderConfirmation table#orderStatus {
	margin: 10px 0 5px;
}

#orderConfirmation table#orderStatus td {
	padding: 2px;
}

#orderConfirmation #shipping-address,#orderConfirmation #billing-address
	{
	float: left;
	width: 300px;
	margin: 30px 0 30px 40px;
}

#orderConfirmation .address {
	padding: 5px 0;
}

#orderConfirmation .address>div {
	line-height: 16px;
}

/***    Org Manage Accounts Page ***/
.row-user.active p.user span.userCounter {
	padding-right: 10px;
}

#user-edit {
	height: auto;
}

#active-users .row-user {
	width: 100%;
	clear: both;
	padding-left: 20px;
	padding: 5px 0;
	font-size: 125%;
	height: 20px;
	border: none;
}

.row-user p {
	width: 80%;
	float: left;
	display: block;
	padding: 0 !important;
}

.row-user .edit-user {
	float: right;
	display: block;
	width: 10%;
	font-size: 80%;
	font-weight: normal;
}

#active-users .auser {
	border-bottom: 1px dotted #999;
}

#registerUsrPopup #form-create-user .form-fields-left,#registerUsrPopup #form-create-user .form-fields-right
	{
	width: 300px;
	overflow: hidden;
	float: left;
	padding: 10px;
	margin-left: 20px;
}

#registerUsrPopup #form-create-user .form-fields-left input,#registerUsrPopup #form-create-user .form-fields-right input,#registerUsrPopup #form-create-user label,#form-change-password input,#form-change-password label
	{
	width: 280px;
	margin: 5px;
}

#registerUsrPopup #form-create-user .form-fields-left input,#registerUsrPopup #form-create-user .form-fields-right input
	{
	margin-left: 0px;
}
/* #registerUsrPopup #form-create-user .user-actions .action{
	height:18px;
} */
#registerUsrPopup #form-create-user .user-actions .action input,#manage-users .user-actions .action input
	{
	height: 19px;
}

#active-users .action p,#registerUsrPopup .user-actions .label-action {
	padding: 0px;
}

#manage-users input[type="text"] {
	width: 200px;
	padding-left: 3px;
}

#registerUsrPopup input[type="text"] {
	padding-left: 3px;
}

#register-sub-user,#registerUsrPopup {
	width: 700px;
}

#change-password {
	width: 450px;
}

#changePwdPopup {
	max-width: 360px;
}

#changePwdPopup .errordiv {
	margin-bottom: 7px;
	display: none;
}

#manage-users a.changePassword {
	cursor: pointer;
}

#manage-users div.user-save {
	display: none;
}

#manage-users div.user-close {
	width: 150px;
	margin-left: 280px;
	padding-top: 15px;
	clear: both;
}

#user-edit .active-user-buttons {
	float: right;
	width: 25%;
	max-width: 135px;
	margin-right: 10px;
}

/*---------------------------------- Org Manage Card List Styles ---------------------------------- */
#manage-cards-list .row-card {
	height: auto;
}

#manage-cards-list .row-card .card-summary-header,#manage-cards-list .row-card .card-summary-row
	{
	height: 20px;
	clear: left;
}

#manage-cards-list .row-card .card-summary-row {
	padding-top: 5px;
}

#manage-cards-list .row-card .card-selector {
	width: 20px;
	float: left;
}

#manage-cards-list .card-summary .col1 {
	width: 140px;
	margin-left: 5px;
}

#manage-cards-list .card-summary .col2 {
	width: 450px;
}

#manage-cards-list .card-summary .col3 {
	margin-right: 10px;
}

#manage-cards-list .product .product-name,#manage-cards-list .product .product-expiry-date,#manage-cards-list .product .product-remaining-bal
	{
	margin-right: 3px;
}

#manage-cards-list div.row-card.active div.card-info-right button.btnsave
	{
	display: none;
	float: right;
}

#manage-cards-list div.row-card.active div.card-info-right button.btnsave.save-pending
	{
	display: block;
}

#cards-detail .cards-selected {
	float: right;
	padding-top: 6px;
	padding-right: 10px;
}