body {
	margin: 0;
	padding: 0;
	background: ${tucson.body.background.style
}

;
font


:

 

normal

 

12
px

 

'
Verdana


'
,
Helvetica
,
geneva


;
color


:

 

#000000


;
}
html {
	overflow-y: scroll;
}

#wrapper {
	margin: 0 auto;
	width: 1015px;
}

.nodisplay {
	display: none;
}

.clearBoth,.clear-both {
	clear: both;
}

/********************
*** TOP & HEADER ***
********************/
#top {
	margin: 0 auto;
	padding: 0;
	width: 981px;
	background-color: #000000;
	display: block;
	position: relative;
	border: solid red 0px;
	color: #ffffff;
}

#top #toolbar {
	height: 28px;
}

#top #toolbar p {
	color: #ffffff;
	text-align: right;
	font-size: 10px;
}

#top #toolbar a {
	width: 981px;
	height: 29px;
	background-color: #000000;
	border: solid red 0px;
	color: #ffffff;
	font-weight: normal;
}

#top #toolbar #corp-link {
	color: ${tucson.alt.anchor.color
}

;
padding-left


:

 

5
px


;
}
#top #toolbar input[type=text] {
	border: 0;
	height: 16px;
	width: 115px;
	margin: 2px 0px 0px 8px;
}

#top #toolbar input[type=submit] {
	height: 16px;
	width: 30px;
	font-size: 10px;
	border: 0;
}

#top .header {
	background: url(../images/topbg.jpg) no-repeat scroll left top;
	margin: 0px;
	padding: 0;
	width: 559px;
	height: 102px;
}

.admin #top .header {
	background: url(../images/banner_admin.jpg) no-repeat scroll left top;
	margin: 0px;
	padding: 0;
	width: 559px;
	height: 102px;
}

.organization #top .header,.admin #top .header {
	width: 100%;
}

#top .header .logo {
	padding: 10px 10px 7px 20px;
}

.admin .proxy-error {
	width: 240px;
}

#proxy-login {
	padding: 3px 0;
	text-align: center;
	background: #fcaa16;
}

#proxy-login .small {
	margin-left: 10px;
	color: red;
}

#top .header .form {
	margin-left: 400px;
	border: solid red 0px;
	height: 24px;
}

div.navroutes {
	background-color: #E2E3D5;
	color: #FFFFFF;
	height: 102px;
	left: 557px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 27px;
	width: 83px;
}

div.navplan {
	background-color: #D4DAE9;
	color: #FFFFFF;
	height: 102px;
	left: 640px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 27px;
	width: 86px;
}

div.navalerts {
	background-color: #F5D6CD;
	color: #FFFFFF;
	height: 102px;
	left: 726px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 27px;
	width: 86px;
}

div.navfares {
	background-color: #E1D8E5;
	color: #FFFFFF;
	height: 102px;
	left: 812px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 27px;
	width: 84px;
}

div.navmanage {
	background-color: #c3d792;
	color: #FFFFFF;
	height: 102px;
	left: 896px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 27px;
	width: 83px;
}

#rtsubmit {
	vertical-align: bottom;
}
/*******************
*** CONTAINERS ***
*******************/
#container {
	background: url("../images/back_full.gif") repeat-y scroll 0 0
		transparent;
	margin: 0px;
	overflow: hidden;
	padding-bottom: 20px;
	width: 1015px;
	clear: both;
}

.card-row,#contentarea {
	margin: 0;
	float: left;
	width: 734px;
	border: none;
}

.card-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.inactive-cards {
	padding-top: 10px;
	float: left;
	width: 734px;
	background: url("../images/lostopacity.gif") no-repeat scroll 0 0
		transparent;
	margin-top: 10px;
	margin-bottom: 10px;
}

.badlisted-cards {
	padding-top: 10px;
	float: left;
	width: 734px;
	background: url("../images/badopacity.gif") no-repeat scroll 0 0
		transparent;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contentshopping {
	margin: 0;
	float: left;
	width: 816px;
	border: 0px solid red;
	border: solid 0px red;
	margin-top: 10px;
	border: solid 1px red;
	margin-left: 100px;
}

.wrapper {
	width: 816px;
	height: 28px;
	padding: 1px;
	border: 0px solid #ffffff;
	float: left;
}

#cart .wrapper {
	height: 70px;
}

.unitcolumnwidth {
	width: 816px;
	height: 28px;
	float: left;
	background-color: ${tucson.title.bar.background.color
}

;
margin-top


:

 

10
px


;
}
.unitcolumnwidth p {
	padding-left: 9px;
	padding-top: 5px;
}

.unitcolumnwidth .expiry-date {
	margin-left: 20px;
}

.columnwidth {
	width: 569px;
	height: 28px;
	float: left;
	background-color: ${tucson.light.text.background.color
}

;
border-top


:

 

1
px

 

solid

 

#ffffff


;
}
.columnwidth p {
	padding-top: 5px;
}

.columnwidthtotal {
	width: 569px;
	height: 28px;
	float: left;
	background-color: #ffffff;
	border-top: 1px solid #ffffff;
}

.column {
	height: 28px;
	float: left;
	background-color: ${tucson.light.text.background.color
}

;
text-align


:

 

right


;
padding-top


:

 

0
px


;
}
.columnone {
	height: 28px;
	float: left;
	border-bottom: 1px solid white;
	text-align: left;
	width: 150px;
}

.columnone p {
	padding-left: 5px;
}

.columntwo {
	height: 28px;
	float: left;
	border: 0px solid gray;
	text-align: right;
	width: 135px;
}

.columnthree {
	height: 28px;
	float: left;
	border: 0px solid gray;
	text-align: left;
	padding-left: 5px;
	width: 105px;
}

.columnfour {
	height: 28px;
	float: left;
	border: 0px solid gray;
	text-align: left;
	width: 80px
}

.columnfive {
	height: 28px;
	float: left;
	border: 0px solid gray;
	text-align: left;
	width: 80px;
}

.rightcolumn {
	width: auto;
	height: 28px;
	border: 0px solid gray;
	padding: 5px;
	float: left;
}

#content1 {
	margin: 0;
	float: left;
	width: 816px;
	border: 0px solid red;
	border: solid 0px red;
	margin-top: 10px;
	border: solid 1px red;
	margin-left: 100px;
}

#columnleft {
	margin: 0;
	float: left;
	width: 224px;
	border: 0px solid red;
	font-size: 11px;
	line-height: 16px;
	border: solid 0px red;
	margin-top: 10px;
}

/**********************
*** SHOPPING CARTS  ***
**********************/
#cartwrapper {
	margin: 0 auto;
	width: 734px;
	clear: both;
}

#cartwrapper table {
	width: 734px;
	border-collapse: separate;
}

#cartwrapper table p {
	padding: 5px 5px;
}

#cartwrapper table button {
	border: none;
	color: #369;
	background-color: transparent;
	font-size: 90%;
}

#cartwrapper table button:hover {
	text-decoration: underline;
}

#cartwrapper thead tr {
	height: 28px;
	background-color: ${tucson.title.bar.background.color
}

;
}
#cartwrapper thead th {
	font-weight: bold;
}

#cartwrapper thead th.product-description.organization {
	width: 214px;
}

#cartwrapper thead th.product-description {
	width: 384px;
}

#cartwrapper thead th.quantity {
	width: 100px;
}

#cartwrapper thead th.product-name {
	width: 170px;
}

#cartwrapper table .unit-price,#cartwrapper table .cost {
	width: 90px;
	text-align: right;
}

#cartwrapper thead th.remove {
	width: 70px;
}

#cartwrapper tbody tr.product-row {
	min-height: 28px;
	background-color: ${tucson.light.text.background.color
}

;
border-bottom


:

 

1
px

 

solid

 

white


;
}
#cartwrapper tbody td {
	vertical-align: top;
}

#cartwrapper tbody td.quantity button {
	width: 45px;
	padding-left: 0px;
	padding-right: 0px;
}

#cartwrapper tbody td.remove {
	background-color: #FFF;
}

#cartwrapper tbody td,#cartwrapper tfoot td {
	border-bottom: 1px solid white;
}

#cartwrapper tr.subtotal td.total-row,#cartwrapper tr.subtotal td.subtotal-value,#cartwrapper tr.subtotal td.total-value
	{
	border-top: 2px solid #999;
}

#cartwrapper tr.item-spacer td {
	padding-top: 15px;
}

#cartwrapper tr.total td {
	border-top: 2px solid${tucson.title.bar.background.color
}

;
}
#cartwrapper td.total-row p {
	float: right;
	width: 100px;
	text-align: right;
}

#cartwrapper tr.item p.subtotal {
	background-color: ${tucson.cart.item.subtotal.label.bg.color
}

;
color


:

 

${
tucson


.cart


.item


.subtotal


.label


.color


}
}
#cartwrapper tr.all-items p.subtotal {
	background-color: ${tucson.cart.subtotal.label.bg.color
}

;
color


:

 

${
tucson


.cart


.subtotal


.label


.color


}
}
#cartwrapper tr.item p.shipping {
	background-color: ${tucson.cart.item.shipping.label.bg.color
}

;
color


:

 

${
tucson


.cart


.item


.shipping


.label


.color


}
;
}
#cartwrapper tr.all-items p.shipping {
	background-color: ${tucson.cart.shipping.label.bg.color
}

;
color


:

 

${
tucson


.cart


.shipping


.label


.color


}
;
}
#cartwrapper tr.item p.total {
	background-color: ${tucson.cart.item.total.label.bg.color
}

;
color


:

 

${
tucson


.cart


.item


.total


.label


.color


}
}
#cartwrapper tr.all-items p.total {
	background-color: ${tucson.cart.total.label.bg.color
}

;
color


:

 

${
tucson


.cart


.total


.label


.color


}
}
#cartwrapper tr.item td.subtotal-value {
	background-color: ${tucson.cart.item.subtotal.value.bg.color
}

;
color


:

 

${
tucson


.cart


.item


.subtotal


.value


.color


}
}
#cartwrapper tr.all-items td.subtotal-value {
	background-color: ${tucson.cart.subtotal.value.bg.color
}

;
color


:

 

${
tucson


.cart


.subtotal


.value


.color


}
}
#cartwrapper tr.item td.shipping-value {
	background-color: ${tucson.cart.item.shipping.value.bg.color
}

;
color


:

 

${
tucson


.cart


.item


.shipping


.value


.color


}
}
#cartwrapper tr.all-items td.shipping-value {
	background-color: ${tucson.cart.shipping.value.bg.color
}

;
color


:

 

${
tucson


.cart


.shipping


.value


.color


}
;
}
#cartwrapper tr.item td.total-value {
	background-color: ${tucson.cart.item.total.value.bg.color
}

;
color


:

 

${
tucson


.cart


.item


.total


.value


.color


}
}
#cartwrapper tr.all-items td.total-value {
	background-color: ${tucson.cart.total.value.bg.color
}

;
color


:

 

${
tucson


.cart


.total


.label


.color


}
}
#cartwrapper .updating {
	display: none;
}

#cartwrapper .updating img {
	vertical-align: text-bottom;
}

#cartwrapper td.quantity input {
	width: 45px;
}

#cartwrapper #cart-complete-purchase-message {
	padding: 10px;
}

#cartwrapper #cart-complete-purchase-instructions {
	padding: 10px;
}

#cart-buttons {
	margin-top: 5px;
}

#cart-buttons .cart-button-row {
	float: left;
	width: 730px;
	margin-top: 20px;
}

#cart-buttons .cart-button-column {
	float: right;
}

#cart-buttons .button-padding {
	padding-right: 92px;
}

#cart-buttons .org-button-padding {
	padding-right: 44px;
}

#cart-empty,#cart-loading,#cart-error {
	clear: both;
	width: 734px;
	height: 90px;
	border-top: 25px solid${tucson.title.bar.background.color
}

;
margin-top


:


2
px
;


}

/**********************************/
/* Buy Products Overlay uses this */
/**********************************/
#cartside1 {
	float: left;
	width: 173px;
	border: solid red 0px;
	margin-top: 20px;
}

#cartside2 {
	float: right;
	width: 644px;
	border: solid red 0px;
	margin-top: 20px;
}
/******************
*** NAVIGATION  ***
******************/
.navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	list-style: none;
}

.navigation li {
	border-bottom: #999 1px dotted;
	width: 184px;
	margin-left: 2px;
}

.navigation li.nav-item a {
	color: #000000;
	display: block;
	padding: 10px 10px 10px 40px;
	font-weight: normal;
}

.navigation li#home a {
	background: url(../images/btn_nav_home.png) no-repeat 5% 50%;
}

.navigation li#about a {
	background: url(../images/btn_nav_aboutorgs.png) no-repeat 2% 50%;
}

.navigation li#faq a {
	background: url(../images/btn_nav_faq.png) no-repeat 7% 50%;
}

.navigation li#feedback a {
	background: url(../images/btn_nav_feedback.png) no-repeat 5% 50%;
}

.navigation li#guest a {
	background: url(../images/btn_nav_guest.png) no-repeat 5% 50%;
}

.navigation li#add a {
	background: url(../images/btn_nav_add.png) no-repeat 5% 50%;
}

.navigation li#buy a {
	background: url(../images/btn_nav_buy.png) no-repeat 5% 50%;
}

.navigation li#personalinfo a {
	background: url(../images/btn_nav_personalinfo.png) no-repeat 5% 50%;
}

.navigation li#accounts a {
	background: url(../images/btn_nav_managegroup.png) no-repeat 5% 50%;
}

.navigation li#reports a {
	background: url(../images/btn_nav_reports.png) no-repeat 5% 50%;
}

.navigation li#history a {
	background: url(../images/btn_nav_history.png) no-repeat 5% 50%;
}

.navigation li#linked a {
	background: url(../images/btn_nav_linked.png) no-repeat 5% 50%;
}

.navigation li#financials a {
	background: url(../images/btn_nav_financials.png) no-repeat 5% 50%;
}

.navigation li#ridership a {
	background: url(../images/btn_nav_ridership.png) no-repeat 5% 50%;
}

.navigation li#password a {
	background: url(../images/btn_nav_password.png) no-repeat 5% 50%;
}

.navigation li#createacct a {
	background: url(../images/btn_nav_createacct.png) no-repeat 5% 50%;
}

.navigation li#register a {
	background: url(../images/btn_nav_registercard.png) no-repeat 5% 50%;
}

.navigation li#resetpass a {
	background: url(../images/btn_nav_resetpass.png) no-repeat 5% 50%;
}

.navigation li#status a {
	background: url(../images/btn_nav_orderstatus.png) no-repeat 5% 50%;
}

.navigation li#pending a {
	background: url(../images/btn_nav_pending.png) no-repeat 5% 50%;
}

.navigation li#process a {
	background: url(../images/btn_nav_process.png) no-repeat 5% 50%;
}

.navigation li#audit a {
	background: url(../images/btn_nav_audit.png) no-repeat 5% 50%;
}

.navigation li#config a {
	background: url(../images/btn_nav_config.png) no-repeat 5% 50%;
}

.navigation li#groupassign a {
	background: url(../images/btn_nav_groupassign.png) no-repeat 5% 50%;
}

.navigation li#groupmanager a {
	background: url(../images/btn_nav_groupmanager.png) no-repeat 5% 50%;
}

.navigation li#usermanager a {
	background: url(../images/btn_nav_manageusers.png) no-repeat 5% 50%;
}

.navigation li#lookfeel a {
	background: url(../images/btn_nav_lookfeel.png) no-repeat 5% 50%;
}

.navigation li#content a {
	background: url(../images/btn_nav_content.png) no-repeat 5% 50%;
}

.navigation li#email a {
	background: url(../images/btn_nav_email.png) no-repeat 5% 50%;
}

.navigation li#importexport a {
	background: url(../images/btn_nav_importexport.png) no-repeat 5% 50%;
}

#nav .navigation li.nav-item a:hover {
	text-decoration: none;
	background-color: ${tucson.nav.item.hover.color
}

;
}
.navigation li.active {
	text-decoration: none;
	background-color: ${tucson.nav.item.active.color
}

;
}
#columnleft .tile {
	background-color: ${tucson.guest.signup.tout.background.color
}

;
width


:

 

188
px


;
padding-top


:

 

3
px


;
margin-left


:

 

33
px


;
margin-top


:

 

20
px


;
color


:

 

#000000


;
font-size


:

 

12
px


;
line-height


:

 

16
px


;
border


:

 

solid

 

2
px

 

${
tucson


.guest


.signup


.tout


.border


.color


}
;
text-align


:

 

center




}
#columnleft .tile p {
	padding: 5px;
}

/*
#columnleft #nav {
	background: url(../images/leftnavbg.gif) no-repeat scroll center top ${tucson.nav.background.color};
	width: 188px;
	margin-left: 33px;
	color: #000000;
	font-size: 13px;
	line-height: 16px;
	border: solid 2px ${tucson.nav.border.color};
}
*/
#columnleft #nav {
	background-color: ${tucson.nav.background.color
}

;
width


:

 

188
px


;
margin-left


:

 

33
px


;
color


:

 

#000000


;
font-size


:

 

13
px


;
line-height


:

 

16
px


;
border


:

 

solid

 

2
px

 

${
tucson


.nav


.border


.color


}
;
}
#columnleft #nav .navtitle {
	background: url(../images/leftnav_titlebg.gif) repeat-x center top;
	width: 184px;
	height: 37px;
	padding: 0px;
	margin-left: 2px;
}

#columnleft #nav .navtitle h3 {
	padding-top: 7px;
	padding-left: 10px;
}

#columnright {
	float: left;
	width: 742px;
	border: solid red 0px;
	margin-left: 20px;
	margin-top: 20px;
	color: #000;
}

#columnright .topcolumn1 {
	float: left;
	/*	width: 311px;*/
}

#landing.organization #columnright .topcolumn1,#welcome.admin #columnright .topcolumn1,#login.admin #columnright .topcolumn1
	{
	padding-bottom: 10px;
}

#columnright .topcolumn2,#columnright .welcome-header,#columnright .cart-widget
	{
	float: right;
	width: auto;
}

#columnright .cart-widget {
	/*clear: right;*/
	font-size: 10px;
}

#columnright .cart-widget .admin-groups {
	height: 26px;
}

#columnright .cart-widget .credit-limits,#columnright .cart-widget .admin-groups
	{
	float: right;
	height: 25px;
	width: auto;
	font-size: 10px;
	background: ${tucson.cart.widget.credit.limit.background.color
}

;
padding


:

 

3
px

 

8
px

 

0
px

 

8
px


;
}
#columnright .cart-widget .credit-limits p {
	line-height: 10px !important;
	padding: 0 3px 3px;
}

#columnright .cart-widget .credit-limits .limit {
	text-align: right;
}

.admin #columnright .topcolumn2 .credit-limits .limit {
	text-align: left;
	width: 140px;
	line-height: 12px !important;
}

#columnright .cart-widget .cart {
	background: ${tucson.cart.widget.background.color
}

;
display


:

 

block


;
float


:

 

right


;
height


:

 

19
px


;
padding


:

 

9
px

 

5
px

 

0
5
px


;
}
#columnright .cart-widget .cart-amount {
	background: url(../images/icon_cart.png) no-repeat scroll 0 80%${tucson.cart.widget.background.color
}

;
display


:

 

block


;
float


:

 

right


;
font-weight


:

 

bold


;
font-style


:

 

normal


;
color


:

 

${
tucson


.cart


.widget


.text


.color


}
;
height


:

 

23
px


;
padding


:

 

5
px

 

5
px

 

0
13
px


;
}
#columnright .cart-widget a {
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

#columnright .cart-widget a:hover {
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
}

/*

#columnright .cart-widget a.checkout {
	background: url("../images/btn_checkout.gif") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 28px;
	width: 83px;
	text-indent: -99999px;
}

#columnright .cart-widget a.checkout:hover {
	background-position: 0 -28px;
}
*/
#columnright .cart-widget .padding {
	display: block;
	float: right;
	height: 28px;
	margin-right: 8px;
}

#columnright .welcome-header form,#columnright .welcome-header span {
	float: right;
}

#columnright .welcome-header span {
	font-size: 10px;
	padding-top: 5px;
	padding-right: 10px;
}

#columnright .welcome-header .sign-in-out {
	background: url("../images/icon_signinlock.gif") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 20px;
	padding: 0 6px 0 20px;
	margin-right: 7px;
	border: none;
	cursor: pointer;
	font-size: 11px;
}

#columnright .columna {
	float: left;
	width: 363px;
}

#manage-account #columnright .card-row .columna img,#manage-account #columnright .inactive-cards .columna img,#manage-cards .columna img
	{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

#columnright .columna .copy {
	padding-left: 30px;
	padding-right: 30px;
}

#columnright .columnb {
	float: inherit;
	width: 231px;
}

.individual #columnright .columnb {
	float: left;
	width: 324px;
}

#columnright .columnb .copy {
	padding-left: 30px;
	padding-right: 30px;
}

#columnright .columnb .inner1 {
	float: right;
	width: 136px;
}

#columnright .columnc {
	float: right;
	width: 140px;
}

#columnright .column1 {
	float: left;
	width: 311px;
}

#columnright .column2 {
	float: left;
	width: auto;
}

#columnright .column2 .innercolumn1 {
	float: left;
	width: 210px;
	padding-right: 10px;
	margin-top: 10px;
}

#columnright .column2 .innercolumn2 {
	float: left;
	width: 200px;
	padding-right: 10px;
	margin-top: 10px;
}

#columnright .column2 .tout-image {
	display: block;
	float: left;
	margin: 0 5px 55px 5px;
	width: 50px;
	height: 50px;
}

#columnright .column2 .innercolumn3 {
	float: left;
	width: 200px;
	padding-right: 10px;
}

#columnright .column2 .innercolumn4 {
	float: left;
	width: 200px;
	padding-right: 10px;
}
/* MAIN CONTENT */
#columnright #maincontent .column2 {
	float: inherit;
}

#maincontent {
	width: 734px
}

#maincontent p {
	padding-top: 5px;
}

#maincontent .signin {
	float: left;
	margin-right: 20px;
	width: 45%;
	padding-bottom: 20px;
	border-right: #999 1px dotted;
}

.admin #maincontent .signin {
	width: 568px;
	border: none;
	margin-top: 30px;
	margin-left: 160px;
}

.admin #maincontent .signin .error {
	width: 215px;
}

.admin #maincontent .signin .instructions {
	width: 200px;
	margin-left: 5px;
	display: inline-block;
}

.admin #maincontent .signin #tabs-admin {
	width: 480px;
}

.admin #maincontent .signin .tab-content {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #96B4C1;
	padding-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#maincontent .signin h2 {
	width: 100%;
	padding: 10px 0;
}

#maincontent .signin p {
	margin-left: 80px;
}

#maincontent .signin input[type="text"],#maincontent .signin input[type="password"]
	{
	width: 215px;
}

#main-top {
	padding-bottom: 20px;
}

#main-bottom {
	clear: both;
	padding-top: 15px;
	padding-bottom: 30px;
	border-top: 2px solid #529368;
}

#main-top .column2 .img-holder {
	width: 350px;
	overflow: hidden;
	padding-left: 20px;
}

/* MANAGE ACCOUNTS */
#manage-users div.divider {
	background-color: ${tucson.dark.text.background.color
}

;
height


:

 

25
px


;
width


:

 

100%;
margin


:

 

10
px

 

0;
}
#instructions:first-child {
	background: url(../images/icon_boxarrow.png) no-repeat 0 0;
	background-position: 0 5px;
}

#instructions p {
	display: block;
	padding-left: 40px;
	padding-top: 0px;
}

#instructions #admin-info {
	margin-bottom: 5px;
}

#instructions #admin-info p {
	padding: 0;
	margin: 0;
}

#instructions #admin-info .label {
	font-weight: bold;
	text-align: right;
	float: left;
	width: 110px;
	overflow: hidden;
	margin-right: 3px;
}
/***** BUY CARDS *****/
#buynew div.divider {
	clear: both;
}

#buynew div.row-buy,#buynew div.row-add-products {
	background-color: ${tucson.dark.text.background.color
}

;
height


:

 

28
px


;
width


:

 

100%;
margin


:

 

10
px

 

0;
}
#buynew div.row-add-products {
	background-color: ${tucson.light.text.background.color
}

;
}
#buynew .row-buy .column {
	float: left;
	background: ${tucson.dark.text.background.color
}

;
height


:

 

18
px


;
padding


:

 

5
px

 

10
px


;
}
#buynew .row-add-products .column {
	float: left;
	background: ${tucson.light.text.background.color
}

;
height


:

 

18
px


;
padding


:

 

5
px

 

10
px


;
}
#buynew .row-buy .col1,#buynew .row-add-products .col1 {
	width: 400px;
	text-align: left;
}

#buynew .row-buy .col1 label,#buynew .row-add-products .col1 label {
	width: 155px;
	display: block;
	float: left;
}

#buynew .row-buy .col2,#buynew .row-add-products .col2 {
	width: 170px;
	text-align: left;
}

#buynew .row-buy .cost,#buynew .row-add-products .cost {
	float: right;
}

#org-purchase-cards #buynew .row-buy .col2 input[type=text] {
	width: 50px;
	padding-left: 5px;
}

#buynew .row-buy .col3,#buynew .row-add-products .col3 {
	float: right;
	margin-right: 15px;
}

#buy-ride-tickets .row-buy .col3 {
	float: left;
}

#buynew .row-buy .col1 select,#buynew .row-add-products .col1 select {
	width: 240px;
}

#buynew .row-add-products .col2 input[type="text"] {
	width: 100px;
}

#buynew .buy-buttons {
	float: right;
}

#buynew #buy-value-cards .buy-buttons {
	width: 260px;
}

#buynew #buy-value-cards .buy-buttons .auto-buy {
	float: left;
	margin-right: 5px;
	height: 22px;
	width: 95px;
}

#buynew #buy-value-cards .buy-buttons .btnaddtocart {
	float: right
}

#buy-value-cards p {
	margin-left: 10px;
	padding: 0;
}

#buy-value-cards,#buy-blank-cards {
	padding-bottom: 20px;
}

/******* Manage Users, Cards, Accounts, Orders *******/
#tabs-cards {
	width: 100%;
	height: 25px;
	border-bottom: 2px solid${tucson.horizontal.divider.bg.color
}

;
}
#tabs-cards li {
	float: left;
	width: auto;
	margin: 0 auto;
}

#tabs-cards li a {
	display: block;
	height: 32px;
	text-indent: -9999px;
}

#tabs-cards #tab1 a {
	width: 120px;
	background: url(../images/tab_linked_inactive.png) no-repeat 0 0;
}

#tabs-cards #tab2 a {
	width: 138px;
	background: url(../images/tab_unlinked_inactive.png) no-repeat 0 0;
}

#tabs-cards #tab1 a.selected {
	background: url(../images/tab_linked_active.png) no-repeat 0 0;
	width: 125px;
}

#tabs-cards #tab2 a.selected {
	background: url(../images/tab_unlinked_active.png) no-repeat 0 0;
}

#linked-cards,#unlinked-cards,#cards-detail,#linked-search,#unlinked-landing,#unlinked-result
	{
	width: 734px;
	clear: both;
}

/*

#linked-search .btnbuyproducts {
	float: left;
	width: 137px;
	margin-top: 0px;
}

#linked-search .btnbuyproducts:disabled, #linked-search .btnbuyproducts[disabled]  {
	background-position: 0 -60px;
}

*/
#linked-search {
	height: 33px;
}

#linked-search .search-form {
	width: 557px;
	height: 30px;
	display: block;
	float: right;
	background: ${tucson.dark.text.background.color
}

;
}
#linked-search form {
	margin-left: 15px;
}

#linked-search input[type="text"],#linked-search select {
	width: 225px;
	margin-right: 10px;
	float: left;
	margin-top: 6px;
}

/*

#linked-search input[type="submit"] {
	border: none;
	background-image: url(../images/btn_go.png);
	text-indent: -9999px;
	display: block;
	float: right;
	width: 70px;
	height: 30px;
	*font-size: 0px; *line-height: 0; /* Hide text on submit buttons in IE6 & 7 //	
}

*/
#linked-cards .pagination {
	background: #999;
	height: 15px;
	width: 734px;
	margin: 3px 0;
	color: #FFF;
	padding: 10px 0px;
	font-size: 80%;
}

#linked-cards .pagination .pages {
	float: right;
	padding-right: 5px;
}

#linked-cards .pagination .pages span {
	color: #666;
}

#linked-cards .pagination .pages a {
	color: #FFF;
}

#linked-cards .pagination .pages a,#linked-cards .pagination .pages span
	{
	border-right: 1px solid #FFF;
	padding: 3px;
	height: 10px;
	font-weight: bold;
}

#linked-cards .pagination .pages a.page-prev,#linked-cards .pagination .pages a.page-next,#linked-cards .pagination .pages span.last-page
	{
	border: none;
}

#linked-cards .pagination .page-text {
	margin-left: 10px;
	float: left;
}

#cards-detail .card-header {
	background-color: ${tucson.dark.text.background.color
}

;
height


:

 

30
px


;
width


:

 

734
px


;
margin


:

 

3
px

 

0;
}
.card-header .select-cards {
	background: ${tucson.active.column.text.bg.color
}

;
width


:

 

170
px


;
height


:

 

30
px


;
float


:

 

left


;
}
.card-header input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-top: 8px;
	margin-left: 4px;
	/*	margin-right: 5px;*/
	float: left;
}

.card-header .select-cards span {
	color: #FFF;
}

.card-header .product-name-header {
	margin-left: 15px;
	float: left;
}

.card-header span.strong {
	height: 18px;
	padding-top: 6px;
	display: block;
	float: left;
}

#card-edit {
	height: auto;
}

#unlinked-search span {
	margin-right: 5px;
}

#unlinked-search .error {
	color: red;
	font-weight: bold;
	display: none;
}
/*

#unlinked-search input[type="submit"],
#locatecard-search input[type="submit"] {
	background: url(../images/btn_search.png) no-repeat 0 0 transparent;
	text-indent: -9999px;
	width: 114px;
	height: 30px;
	margin: 0px 5px;
	padding: 0;
	border: none;
	cursor: pointer;	
}
#unlinked-search input[type="submit"]:hover, #locatecard-search input[type="submit"]:hover {
	background: url(../images/btn_search.png) no-repeat 0 -30px transparent
}
#locatecard-search input[type="submit"] {
	clear: both;
	margin-top: 20px;
	margin-left: 150px;
}

*/
#locatecard-search .search-progress {
	padding-left: 5px;
}

#unlinked-landing img {
	float: left;
	margin-right: 30px;
	margin-top: 7px;
}

#locatecard-search {
	width: 410px;
	margin-left: 100px;
	padding: 10px;
}

#locatecard-search label {
	text-align: right;
	float: left;
	display: block;
	width: 140px;
	margin-right: 10px;
}

#locatecard-search input[type="text"] {
	float: left;
	display: block;
	width: 250px;
}

#locatecard-search input[type="text"].order-id-prefix {
	display: inline;
	border-right: medium none;
	border-radius: 3px 0px 0px 3px;
	background-color: white;
	width: 32px;
}

#locatecard-search input[type="text"].order-id-suffix {
	display: inline;
	border-left: medium none;
	border-radius: 0px 3px 3px 0px;
	width: 218px;
}

#locatecard-search .field-error.order-id-invalid-error {
	margin-left: 150px;
	line-height: 18px;
}

#locatecard-search input[name="order-id"].field-error {
	border-color: lightgray !important;
}

#locatecard-search .error {
	width: 250px;
	text-align: left;
	margin-left: 150px;
}

#locatecard-search .no-search-parameters,#locatecard-search .search-error
	{
	clear: both;
	padding-top: 20px;
	margin-left: 20px;
	width: 100%;
	text-align: center;
}

#unlinked-result #result-id {
	float: left;
	margin: 5px 20px;
}

#unlinked-result a.btnbuyproducts {
	float: right;
	margin-bottom: 10px;
	width: 136px;
}

#unlinked-result .card-products,#linked-cards .card-products .product {
	background-color: ${tucson.light.text.background.color
}

;
width


:

 

100%;
clear


:

 

both


;
height


:

 

20
px


;
padding


:

 

5
px

 

0;
margin-top


:

 

5
px


;
margin-bottom


:

 

3
px


;
}
#linked-cards .row-card .card-products {
	display: none;
}

#linked-cards .row-card.active .card-products {
	display: block;
}

#linked-cards .row-card.active .card-products .product.unlinked {
	color: #666;
}

#linked-cards .row-card.active .card-info-right {
	float: right;
	width: 280px;
	text-align: right;
}

#linked-cards .row-card.active .card-info-right p {
	padding-right: 5px;
}

#linked-cards .row-card a.hide {
	display: block;
	float: right;
	margin-right: 10px;
	padding: 8px 4px;
}

#linked-cards .card-products .product {
	height: 28px;
	padding: 0;
}

#unlinked-result .card-products .col1,#unlinked-result .card-products .col2,#unlinked-result .card-products .col3
	{
	float: left;
	width: 30%;
	height: 30px;
	padding: 0;
}

#linked-cards .row-card input[type="checkbox"] {
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: 5px;
}

#linked-cards .card-products .product .col1 {
	float: left;
	width: 180px;
	padding-top: 7px;
}

#linked-cards .card-products .product .col2 {
	float: left;
	width: 146px;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

#linked-cards .card-products .product .col2 input {
	width: 98%;
}

#linked-cards .card-products .product .col3 {
	float: left;
	width: 125px;
	padding-top: 7px;
}

#linked-cards .card-products .product .col4 {
	float: left;
	width: 125px;
	padding-top: 7px;
}

#linked-cards .card-products .product .auto-buy,#linked-cards .card-products .product .auto-buy-disabled
	{
	float: left;
	width: 90px;
	height: 22px;
	padding-top: 6px;
	padding-right: 10px;
}

#linked-cards .card-products .product .how-to-auto-buy {
	float: left;
	width: 120px;
	padding-right: 3px;
	font-size: 90%;
	height: 21px;
}

#unlinked-result .card-products .col1,#linked-cards #card-edit .card-products .product .col1
	{
	margin-left: 20px;
}

#unlinked-result .card-info {
	clear: both;
	width: 40%;
}

.row-card .card-info p,#unlinked-result .card-info p {
	padding: 3px 0;
	line-height: 14px;
}

.col1 {
	font-weight: bold;
}

.col3 {
	font-style: italic;
}

#manage-users {
	width: 734px;
	clear: both;
}

div.topdivider {
	background-color: ${tucson.dark.text.background.color
}

;
height


:

 

30
px


;
width


:

 

100%;
margin


:

 

10
px

 

0;
}
div.topdivider .usersort {
	background: ${tucson.active.column.text.bg.color
}

url


(../
images
/btn_menuarrow


.png


)
no-repeat

 

right

 

0;
color


:

 

#FFF


;
display


:

 

block


;
height


:

 

65%;
width


:

 

90
px


;
padding


:

 

5
px

 

15
px


;
margin-left


:

 

40
px


;
}
#locatecard-results div.topdivider .usersort {
	padding: 5px 26px 5px 0;
}

#form-user-search {
	padding: 10px;
}

#form-user-create:first-child,#form-user-search:first-child,#form-order-status:first-child
	{
	padding-left: 40px;
	padding-top: 0;
	background: url(../images/icon_generatereport.png) 0 0 no-repeat;
}

#form-user-create p {
	padding-top: 0px;
}

#form-order-status input[type="text"].order-id-prefix {
	display: inline;
	border-right: medium none;
	border-radius: 3px 0px 0px 3px;
	background-color: white;
	width: 32px;
}

#form-order-status input[type="text"].order-id-suffix {
	display: inline;
	border-left: medium none;
	border-radius: 0px 3px 3px 0px;
	width: 218px;
}

#form-order-status .field-error.order-id-invalid-error {
	margin-left: 100px;
	line-height: 18px;
}

#form-order-status input[name="order-id"].field-error {
	border-color: lightgray !important;
}

#form-order-status input[type="submit"] {
	margin-left: 4px;
	display: block;
}

#form-order-status select {
	display: inline;
	float: left;
	width: 250px;
}

#form-order-status input[type="text"] {
	width: 250px;
	float: left;
}

#form-order-status form div {
	margin-bottom: 10px;
}

#form-order-status form span.wide-label-wrapper {
	text-align: right;
	line-height: 18px;
	width: 90px;
	margin-right: 5px;
	display: inline-block;
}

#form-order-status form span.input-wrapper {
	width: 400px;
	display: inline-block;
}

#form-order-status label {
	float: right;
}

#form-order-status #datefields label {
	text-align: right;
	line-height: 18px;
	margin-top: 3px;
	margin-right: 7px;
}

#form-order-status #datefields input {
	margin-top: 2px;
}

#form-order-status #datefields {
	padding-top: 0px;
}

#form-order-status .input-note {
	font-style: italic;
	font-size: 80%;
	margin-left: 5px;
}

#form-order-status #datefields img {
	margin-left: 3px;
}

#user-search {
	width: 450px;
	margin-top: 20px;
}

#user-create {
	width: 465px;
	margin-left: 100px;
	margin-top: 20px;
}

#order-search {
	width: 500px;
	margin: 20px auto 0 auto;
}

#register-card {
	width: 400px;
	margin-left: 100px;
	margin-top: 20px;
}

#history-search {
	width: 500px;
	margin-left: 100px;
	margin-top: 20px;
}

#search-form-block {
	width: 560px;
	margin: 20px auto 0 auto;
}

#search-form-block table {
	width: 100%;
}

#search-form-block td {
	padding-bottom: 10px;
}

#search-form-block td .center-aligned {
	margin: 0 100px;
}

#search-form-block label {
	text-align: right;
	font-weight: bold;
	float: right;
	padding-right: 10px;
}

#search-form-block input[type="text"] {
	width: 200px;
}

#search-form-block input[type=submit] {
	*font-size: 0px;
	*line-height: 0; /* Hide text on submit buttons in IE6 & 7 */
}

#search-form-block #datefields {
	clear: none;
	padding-top: 0;
}

#search-form-block #datefields label,#search-form-block #datefields input,#search-form-block #datefields img
	{
	display: inline;
}

#form-user-create .error {
	padding-right: 0px;
}

#form-user-create label {
	width: 170px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 5px;
	margin-bottom: 10px;
}

#form-user-create input[type="text"] {
	margin-bottom: 10px;
	width: 170px;
}

#form-user-create select {
	margin-bottom: 10px;
	width: 177px;
}

#form-user-create a {
	float: right;
	padding-top: 2px;
	padding-right: 18px;
}

#form-card-register label,#form-user-search label {
	text-align: right;
	width: 150px;
	padding: 5px 0;
	font-weight: bold;
	float: left;
	clear: both;
}

#history-search #datefields {
	margin-left: 60px;
}

#history-search #submit-form {
	clear: both;
}

#history-search #submit-form input[type="button"] {
	float: center;
	clear: none;
	margin: 0;
	padding: 0;
}

#history-search #submit-form input.btnview {
	width: 114px;
	margin-left: 94px;
}

#history-search #submit-form input.btnexport {
	width: 118px;
	margin-left: 92px;
}

#datefields {
	clear: both;
	padding-top: 10px;
}

#datefields img {
	margin-left: 3px;
}

#datefields label,#datefields input,#datefields img {
	float: left;
	clear: none;
}

#datefields input[type="text"] {
	width: 100px;
}

#datefields label {
	width: 40px;
	margin-top: 3px;
	margin-top /*\**/: 4px\9;
	/* IE7 and IE8 hack to line up To: label on date fields in search forms. */
}

#order-search .datefields {
	clear: both;
	padding-top: 10px;
}

#order-search .datefields label,#order-search .datefields input,#order-search .datefields img
	{
	float: left;
	clear: none;
}

#order-search .datefields input[type="text"] {
	width: 115px;
}

#order-search .datefields label {
	width: 40px;
	float: right;
}

#form-card-register input[type="text"],#form-user-search input[type="text"]
	{
	display: inline;
	float: right;
	padding: 3px 0;
	margin-bottom: 5px;
	width: 235px;
}

#form-card-register .error {
	text-align: left;
	float: right;
	padding: 3px 0;
	margin-bottom: 5px;
	width: 235px;
}

#user-search-results {
	clear: both;
	padding: 15px 0;
}

#user-search-results div.topdivider .usersort {
	margin-left: 0px;
}

#user-search-results .user-result {
	clear: both;
	float: left;
	width: 730px;
	height: 28px;
	border-bottom: 1px dotted #CCC;
	padding-top: 3px;
}

#user-search-results .user-details-row .user-result {
	height: 125px;
}

#user-search-results .user-details-row .user-details,#user-search-results .user-details-row .user-name,#user-search-results .user-summary p
	{
	width: 540px;
}

#user-search-results .user-name {
	font-weight: bold;
}

#user-search-results .user-buttons {
	float: right;
	width: 180px;
}

#user-search-results .user-details-row .user-buttons .btnresetuserpass {
	float: right;
	margin-top: 10px;
}

#details .user-buttons a {
	display: block;
	float: left;
	clear: both;
	margin-top: 10px;
}

#user-search-results .user-result a {
	float: right;
}

/*

#form-user-create input[type="submit"]:hover,#form-card-register input[type="submit"]:hover {
	background-position: 0 -30px;
}

*/
#form-user-create .optin {
	clear: both;
}

#form-user-create .optin input[type="checkbox"] {
	margin-right: 3px;
}

#active-users {
	counter-reset: term;
	width: 730px;
	overflow: hidden;
}

.row-user,.row-card {
	width: 100%;
	clear: both;
	border-bottom: 1px dotted #999;
	padding-left: 20px;
	padding: 5px 0;
	font-size: 125%;
	height: 20px;
}

.row-card {
	font-size: 100%;
	height: 22px;
}

.row-card .col1 {
	float: left;
	width: 125px;
	margin-left: 15px;
}

.row-card .col2 {
	float: left;
	width: 200px;
}

.row-card .col3 {
	float: right;
}

.row-card .col3 a {
	font-style: normal;
	font-size: 90%;
	font-weight: normal;
}

.row-user.active p.user:before {
	/*counter-increment: term;
	content: counter(term) " ";*/
	font-weight: bold;
	padding-left: 10px;
	padding-right: 15px;
}

#user-edit {
	height: 100%;
	padding-bottom: 20px;
}

#user-edit .user-info {
	width: 60%;
	float: left;
	padding: 10px 5px;
	margin-left: 35px;
}

#user-edit .user-info p {
	padding: 3px 0;
	font-size: 14px;
}

#user-edit .active-user-buttons {
	float: right;
	width: 25%;
}

#maincontent .col3 {
	font-style: normal;
}

#maincontent div.topdivider {
	margin: 0 auto;
}

#maincontent .row {
	clear: both;
	border-bottom: 1px dotted #999;
	padding-top: 10px;
}

#orders-list,#history-report,#audit-report {
	clear: both;
	padding-top: 15px;
}

#locatecard-results {
	clear: both;
}

#locatecard-results div.topdivider {
	margin-top: 10px;
	background-color: ${tucson.dark.text.background.color
}

;
height


:

 

28
px


;
overflow


:

 

hidden


;
}
#locatecard-results .topdivider .column {
	background: none;
	text-align: left;
	float: left;
	font-weight: bold;
}

#locatecard-results .column {
	overflow: auto;
	padding: 5px 5px 14px;
}

#locatecard-results .topdivider .col1 {
	background: ${tucson.active.column.text.bg.color
}

;
width


:

 

140
px


;
height


:

 

30
px


;
float


:

 

left


;
}
#locatecard-results .row,#locatecard-results .card-products .product,#orders-list .row,#orders-list .row .order-info,#orders-list .row .product,#audit-report .row
	{
	float: left;
	clear: both;
	width: 734px;
}

#locatecard-results .product {
	margin-bottom: 5px;
	min-height: 28px;
	overflow: hidden;
}

#locatecard-results .product select {
	width: 120px;
}

#locatecard-results .product span.messages {
	clear: both;
	display: block;
	float: none;
	font-size: 80%;
	padding: 0 10px 10px;
}

#locatecard-results .row {
	width: 734px;
}

#locatecard-results .column {
	background: none;
	padding: 5px;
	height: 20px;
	text-align: left;
}

#locatecard-results .col1 {
	width: 131px;
}

#locatecard-results .col1 input[type="checkbox"] {
	float: left;
	height: 20px;
	width: 20px;
	margin: 3px 0 3px 5px;
}

#locatecard-results .col2 {
	width: 120px;
}

#locatecard-results .col3 {
	width: 130px;
}

#locatecard-results .col4 {
	width: 100px;
}

#locatecard-results .col5 {
	height: 35px;
}

#locatecard-results .row .col5.details {
	margin: 2px 5px -2px 0;
	width: 35px;
}

#locatecard-results .col5 a {
	float: right;
}

#locatecard-results .product .col5 {
	height: 20px;
}

#locatecard-results .service-note,#locatecard-results .service-note-header
	{
	display: block;
	float: left;
	width: 734px;
	background-color: ${tucson.dark.text.background.color
}

;
margin-top


:


-5
px
;


    

margin-bottom


:


-5
px
;




}
#locatecard-results .service-note-header {
	border-bottom: 1px dotted #CCCCCC;
	font-weight: bold;
	height: 25px;
	margin-bottom: 5px;
}

#locatecard-results .column,#locatecard-results .topdivider .column {
	text-align: center;
}

#locatecard-results .row .col1,#locatecard-results .topdivider .col1 {
	text-align: left;
}

#locatecard-results .row .col5 {
	width: 150px;
}

#locatecard-results .service-note .column,#locatecard-results .service-note-header .column
	{
	text-align: center;
}

#locatecard-results .service-note .col1,#locatecard-results .service-note-header .col1
	{
	width: 90px;
}

#locatecard-results .service-note .col2,.col1,#locatecard-results .service-note-header .col2
	{
	width: 100px;
}

#locatecard-results .service-note .col3,.col1,#locatecard-results .service-note-header .col3
	{
	width: 100px;
}

#locatecard-results .service-note .col4,.col1,#locatecard-results .service-note-header .col4
	{
	width: 140px;
}

#locatecard-results .service-note .col5 {
	margin-left: 0;
	overflow-y: auto;
	width: 250px;
}

.col1,#locatecard-results .service-note-header .col5 {
	width: 250px;
}

#locatecard-results .col5 a.btnlostcard,#locatecard-results .col5 input[type=button].btnlostcard,#locatecard-results .col5 a.btnfoundcard,#locatecard-results .col5 input[type=button].btnfoundcard
	{
	margin-top: 0;
}

#locatecard-results .card-products-none {
	clear: both;
	background-color: ${tucson.light.text.background.color
}

;
padding


:

 

5
px

 

5
px

 

5
px

 

40
px


;
}
#locatecard-results .product {
	width: 734px;
	background-color: ${tucson.light.text.background.color
}

;
}
#locatecard-results .product.expired {
	background-color: #ddd;
}

#locatecard-results .product .column {
	background-color: ${tucson.light.text.background.color
}

;
width


:

 

150
px


;
text-align


:

 

center


;
}
#locatecard-results .product.expired .column {
	background-color: #ddd;
}

#locatecard-results .product .col3 {
	font-style: italic;
}

#locatecard-results .row input[type="checkbox"] {
	float: left;
	height: 20px;
	width: 20px;
	margin-left: 5px;
	margin-top: 3px;
	padding: 0;
}

#locatecard-results .card-save {
	padding: 10px 5px;
}

#locatecard-results .topdivider .col1 .usersort,#orders-list .topdivider .col1 .usersort
	{
	margin-left: 20px;
}

#locatecard-results .card-save .btnsave {
	float: left;
	margin-top: 10px;
}

#locatecard-results .card-save .cmd-hide-details {
	margin-top: 10px;
	padding: 10px;
	float: right;
}

#locatecard-results .topdivider .col1 .usersort {
	margin-left: 10px;
}

#locatecard-results .topdivider .col1.column {
	padding: 0px;
}

#locatecard-results .col1.column.cardpidcol {
	height: 35px;
}

#locatecard-results .col1.column.cardpidcol span.unregisterCard {
	display: block;
	font-size: 80%;
	margin-top: 3px;
	padding-bottom: 5px;
}

#orders-list .topdivider .col2,#orders-list .topdivider .col3 {
	padding: 5px 25px;
}

#orders-list .topdivider .col2 {
	margin-left: 25px;
}

#orders-list .row .product {
	padding: 5px 0;
	margin-top: 5px;
	background: ${tucson.light.text.background.color
}

;
}
#orders-list .row .order-total {
	clear: both;
	float: right;
	font-weight: bold;
	padding: 5px 0;
	margin-top: 5px;
	background: ${tucson.light.text.background.color
}

;
}
#orders-list .row .column {
	text-align: left;
	padding: 5px 0;
	height: auto;
	float: left;
}

#orders-list .row .col1 {
	width: 150px;
	padding-left: 40px;
}

#orders-list .row .col2 {
	width: 125px;
}

#orders-list .row .col3 {
	width: 350px;
}

#locatecard-results .topdivider,#orders-list .topdivider .column,#orders-list .topdivider
	{
	background-color: ${tucson.dark.text.background.color
}

;
font-weight


:

 

bold


;
height


:

 

28
px

 

!
important


;
overflow


:

 

hidden


;
text-align


:

 

left


;
}
#orders-list .order-info .column {
	background: none;
}

#history-report {
	font-size: 9px;
	text-align: left;
}

#audit-report {
	font-size: 11px;
	text-align: left;
}

#history-report .row,#audit-report .row {
	clear: both;
}

#history-report .column {
	float: left;
	width: 63px;
	padding: 3px 5px;
	background: none;
	text-align: left;
}

#audit-report .column {
	float: left;
	padding: 5px 5px;
	background: none;
	text-align: left;
}

#audit-report .col1 {
	padding-left: 8px;
}

#audit-report .col1,#audit-report .col3 {
	width: 60px;
}

#audit-report .col2 {
	width: 150px;
}

#audit-report .col4 {
	width: 60px;
}

#audit-report .col5 {
	width: 140px;
}

#audit-report .col6 {
	width: 200px;
}

#history-report .topdivider,#audit-report .topdivider {
	background-color: ${tucson.dark.text.background.color
}

;
font-weight


:

 

bold


;
height


:

 

28
px

 

!
important


;
overflow


:

 

hidden


;
padding


:

 

3
px

 

0;
}
/*
#form-card-register input[type="submit"] {
	clear: both;
	float: left;
	border: 0;
	background: url(../images/btn_register.png) no-repeat 0 0;
	margin-top: 20px;
	margin-left: 160px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 190px;
}
*/
#form-card-register input[type="submit"] {
	clear: both;
	float: left;
	margin-top: 20px;
	margin-left: 160px;
	width: 190px;
}

#form-user-search input[type="submit"] {
	float: left;
	margin-top: 20px;
	margin-left: 210px;
}

#form-user-search #submitbttn {
	text-align: center;
}

#form-user-create input[type="submit"] {
	clear: both;
	float: left;
	border: 0;
	background: url(../images/btn_save.png) no-repeat 0 0;
	margin-top: 20px;
	margin-left: 160px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 168px;
}

#form-card-history input[type="button"] {
	clear: both;
	float: left;
	border: 0;
	margin-top: 20px;
	margin-left: 100px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 170px;
}

/*

a.btndeactivate {
	background: url(../images/btn_deactivate.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 30px;
	margin-bottom: 3px;
}

a.btndeactivate:hover {
	background: url(../images/btn_deactivate.png) no-repeat 0 -30px;
}

a.btnremove {
	background: url(../images/btn_removeuser.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 30px;
}

a.btnremove:hover {
	background: url(../images/btn_removeuser.png) no-repeat 0 -30px;
}

.btnunlinkcard {
	background: url(../images/btn_unlinkcard.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 123px;
	float: left;
	border: none;
}

.btnunlinkcard:hover {
	background: url(../images/btn_unlinkcard.png) no-repeat 0 -30px;
}

*/
div.user-save {
	width: 230px;
	margin: 0 auto;
	padding-top: 15px;
}

/*

.btnsave {
	background: url(../images/btn_save.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 103px;
	margin-right: 5px;
	float: left;
	border: none;
}

.btnsave:hover {
	background: url(../images/btn_save.png) no-repeat 0 -30px;
}

a.btnactivate {
	background: url(../images/btn_activate.png) no-repeat 0 0;
	display: inline-block;
	height: 30px;
	width: 136px;
	text-indent: -9999px;
}

a.btnactivate:hover {
	background: url(../images/btn_activate.png) no-repeat 0 -30px;
}

*/
.row-user.inactive {
	margin-left: 0;
}

.inactive .userinfo {
	width: 45%;
	float: left;
	padding: 8px 15px;
}

.inactive .user,.inactive .username {
	width: 100%;
	color: #636363;
	line-height: 18px;
}

.inactive .username {
	font-size: 80%;
}

.inactive .userinfo .label {
	font-weight: bold;
	float: left;
}

.inactive-user-buttons {
	float: right;
	width: 50%;
	padding-top: 10px;
}

/*

.inactive-user-buttons .btnremove {
	float: left;
	width: 136px;
	margin-right: 20px;
}

*/
.user-actions { /* class also used on create user popup */
	clear: both;
	width: 95%;
	margin-left: 35px;
}

.user-actions .action {
	float: left;
	width: 45%;
	background: ${tucson.light.text.background.color
}

;
padding


:

 

5
px


;
margin-right


:

 

5
px


;
margin-bottom


:

 

2
px


;
font-size


:

 

12
px


;
}
.user-actions .action input {
	float: left;
	margin-right: 5px;
}

.user-actions .label-action {
	font-weight: bold;
}

.user-save {
	clear: both;
}

.row-user p {
	width: 80%;
	float: left;
	display: block;
	padding: 0 !important;
}

.row-user .edit-user {
	float: right;
	display: block;
	width: 10%;
	font-size: 80%;
	font-weight: normal;
}

a.edit-user,a.add-user {
	font-weight: normal;
}

#inactive-users .inactive {
	background: #CCC;
	height: 50px;
	margin-bottom: 10px;
	border: none;
}

/******* FAQ *******/
.faq-question {
	font-weight: bold;
	display: block;
}

.faq-answer {
	display: block;
}

div.divider {
	background: url("../images/spacer.gif") repeat-y scroll 0 0 transparent;
	background-color: ${tucson.horizontal.divider.bg.color
}

;
height


:

 

3
px


;
width


:

 

734
px


;
border


:

 

0
px


;
margin


:

 

15
px

 

0
px

 

15
px

 

0
px


;
}
img.card {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

div.togglecopy {
	width: 734px;
	height: 29px;
}

div.togglecopy .togglecopy1 {
	background-color: ${tucson.light.text.background.color
}

;
min-height


:

 

29
px


;
width


:

 

514
px


;
border-top


:

 

2
px

 

solid

 

#ffffff


;
float


:

 

left


;
}
div.togglecopy .togglecopy1 .copy {
	padding-top: 7px;
	padding-left: 10px;
}

div.togglecopy .togglecopy1 .indent {
	float: right;
	margin-right: 10px;
	font-size: 80%;
}

div.togglecopy .togglecopy1 .message {
	display: block;
	float: none;
	padding-bottom: 10px;
	padding-top: 5px;
}

div.togglecopy .togglecopy2 {
	width: 220px;
	overflow: hidden;
	border-top: 2px solid #ffffff;
	float: right;
}

div.togglecopy .togglecopy2 .copy {
	padding-top: 7px;
	padding-left: 10px;
}

.auto-buy {
	background: ${tucson.secondary.button.disabled.bg.color
}

url


(../
images
/icon_autobuy


.png


)
no-repeat

 

0
0;
height


:

 

23
px


;
padding


:

 

6
px

 

10
px

 

0
28
px


;
color


:

 

${
tucson


.secondary


.button


.text


.color


}
;
font-size


:

 

12
px


;
cursor


:

 

pointer


;
text-decoration


:

 

none


;
}
.auto-buy.auto {
	background-color: ${tucson.secondary.button.default.bg.color
}

;
}
.auto-buy:hover {
	background-color: ${tucson.secondary.button.hover.bg.color
}

;
text-decoration


:

 

none


;
}
#purchase-cards #buynew .row-add-products .auto-buy {
	position: relative;
	padding: 14px 10px 0 20px;
	top: 9px;
}

.lostcardcopy h5,.lostcardcopy p,.lostcardcopy p i {
	color: #666666;
}

/*********************
*** POPUP OVERLAYS ***
*********************/
#overlay {
	margin: 0;
	padding: 30px;
	background: #ffffff;
	font: normal 12px 'Verdana', Helvetica, geneva;
	color: #000000;
}

.popupwrapper {
	margin: 0 auto;
	width: 817px;
}

.popupwrapper h5 {
	margin-top: 13px;
}

.popupwrapper .columnwidth {
	width: 530px;
}

.popupwrapper .columntwo {
	padding-left: 30px;
}

.popupwrapper .columnthree {
	float: right;
	text-align: right;
	width: 105px;
	padding-right: 35px;
}

.popupwrapper .rightcolumn {
	padding: 0;
}

.popupwrapper #form-create-user {
	width: 750px;
}

.popupwrapper #form-create-user .form-fields-left,.popupwrapper #form-create-user .form-fields-right
	{
	height: 200px;
	width: 330px;
	overflow: hidden;
	float: left;
	padding: 10px;
	margin-left: 20px;
}

.popupwrapper #form-create-user label,#form-create-user input,#form-change-password input
	{
	float: left;
	clear: both;
}

.popupwrapper #form-create-user .form-fields-left input,.popupwrapper #form-create-user .form-fields-right input,.popupwrapper #form-create-user label,#form-change-password input,#form-change-password label
	{
	width: 280px;
	margin: 5px;
}

#transfer {
	padding: 10px 0;
}

#transfer p {
	padding: 0;
}

#transfer .card-products {
	padding: 10px 0;
}

#transfer .card-products .product {
	background-color: ${tucson.light.text.background.color
}

;
width


:

 

640
px


;
overflow


:

 

hidden


;
height


:

 

20
px


;
padding


:

 

5
px

 

0;
margin-top


:

 

5
px


;
}
#transfer .card-products .product .col1 {
	width: 150px;
	padding-left: 10px;
	float: left;
}

#transfer .card-products .product .col2 {
	float: left;
	display: block;
	width: 150px !important;
}

#transfer .card-products .product .col3 {
	float: left;
	width: 180px;
}

#transfer .card-products .product .col4 {
	float: left;
	width: 145px;
}

#transfer .card-continue {
	clear: both;
	text-align: center;
	margin-top: 10px;
}

#transfer .card-continue label {
	font-weight: bold;
	float: left;
	display: block;
	padding: 3px 0;
}

#transfer .card-continue input {
	clear: both;
	display: block;
	width: 200px;
}

#confirmation-dialog {
	width: 500px;
}

#confirmation-dialog p {
	margin-top: 20px;
}

/*******************
*** BOTTOM LINKS ***
*******************/
#bottomlinks {
	background: url(../images/back_bottomlinks.gif) repeat-y scroll 0 0
		#000000;
	overflow: hidden;
	padding: 15px 0 15px 35px;
	border: solid red 0px;
}

#bottomlinks h2 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
}

#bottomlinks img {
	padding-right: 20px;
	padding-bottom: 250px;
}

#bottomlinks p {
	color: #000000;
	padding-top: 5px;
}

#forgot-password-link a {
	/* color: ${tucson.anchor.color}; */
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
}

#forgot-password-link a:hover {
	text-decoration: underline;
}

#forgot-login-link a {
	/* color: ${tucson.anchor.color}; */
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
}

#forgot-login-link a:hover {
	text-decoration: underline;
}

#bottomlinks .signin {
	float: left;
	margin-right: 5px;
	width: 30%;
	height: 320px;
	border-right: #999 1px dotted;
}
/*
#bottomlinks .signup a.btnsignup {
	background: url("../images/btn_signup.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 122px;
	margin-left: 77px;
	margin-top: 10px;
	text-indent: -99999px;
}

#bottomlinks .signup a.btnsignup:hover {
	background-position: 0 -30px;
}
*/
#bottomlinks .signup {
	float: left;
	margin-right: 5px;
	width: 30%;
	height: 320px;
	border: solid red 0px;
	padding-left: 20px;
	padding-right: 5px;
	border-right: #999 1px dotted;
}

#bottomlinks .guest {
	float: left;
	margin-right: 5px;
	width: 30%;
	height: 320px;
	border: solid red 0px;
	padding-left: 20px;
}
/*
#bottomlinks .guest a.btnguest1 {
	background: url("../images/btn_buycard.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 206px;
	margin-left: 77px;
	margin-top: 10px;
	text-indent: -99999px;
}

#bottomlinks .guest a.btnguest1:hover {
	background-position: 0 -30px;
}

#bottomlinks .guest a.btnguest2 {
	background: url("../images/btn_addvalue.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 206px;
	margin-left: 77px;
	margin-top: 10px;
	text-indent: -99999px;
}

#bottomlinks .guest a.btnguest2:hover {
	background-position: 0 -30px;
}
*/
#bottomlinks .bottomdivider {
	background: url(../images/divider.gif) repeat-y center top;
}
/* FOOTER */
#footer {
	margin: 0 auto;
	width: 100%;
}

#footer-container {
	background: url(../images/back_bottom.gif) repeat-x scroll 0 0${tucson.footer.background.color
}

;
margin


:

 

0
auto


;
width


:

 

100%;
padding-top


:

 

26
px


;
}
#footer-subcontainer {
	color: #ffffff;
	font-size: 12px;
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
	text-align: left;
	width: 960px;
}

#footer-subcontainer p {
	line-height: 22px;
	color: #ffffff;
}

#footer-subcontainer a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

#footer-subcontainer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.version-number {
	float: right;
}

#footer-container .version-number {
	float: right;
	font-size: 11px;
}

/******************
 * common buttons *
 *****************/
.btn-close,.btnclose {
	background-image: url("../images/btn_close.gif");
	display: block;
	float: right;
	position: relative;
	height: 16px;
	width: 17px;
	top: -15px;
	right: -15px;
	cursor: pointer;
}

/* Sign-In button, with hover */

/*

.btnsignin {
    background: url("../images/btn_signin.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    width: 122px;
    cursor: pointer;
	border: none;
	text-indent: -99999px;
}

.btnsignin:hover {
    background-position: 0 -30px;
}

#maincontent .signin .btnsignin {

}

#maincontent .signin .btnproxysignin {
	background: url(../images/btn_proxysignin.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 177px;
	text-indent: -99999px;
	border: none;
}

#maincontent .signin .btnproxysignin:hover {
	background-position: 0 -30px;
}

.btnbuycard {
	background: url(../images/btn_buycard.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 206px;
	text-indent: -9999px;
}

.btnbuycard:hover {
	background-position: 0 -30px;
}

.btnaddvalue {
	background: url(../images/btn_addvalue.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 206px;
	text-indent: -9999px;
}

.btnaddvalue:hover {
	background-position: 0 -30px;
}

a.btnsignup {
	background: url(../images/btn_signup.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 122px;
	margin-top: 10px;
	text-indent: -9999px;
}

a.btnsignup:hover {
	background-position: 0 -30px;
}

#columnleft a.btnsignup {
	margin-left: 33px;
	margin-bottom: 10px;
}

a.btnregister {
	background: url(../images/btn_register.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 187px;
	margin-top: 10px;
	text-indent: -9999px;
}

a.btnregister:hover {
	background-position: 0 -30px;
}

.btnbuyproducts {
	background: url(../images/btn_buyproducts.png) no-repeat scroll 0 0 transparent;
	border: none;
	display: block;
	height: 30px;
	width: 136px;
	margin-top: 10px;
	text-indent: -9999px;
	cursor: pointer;
}

.btnbuyproducts:hover {
	background-position: 0 -30px;
}

a.btnlostcard,
input[type=button].btnlostcard {
	background: url(../images/btn_lostcard.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 187px;
	margin-top: 10px;
	text-indent: -9999px;
	*font-size: 0px; *line-height: 0; /* Hide text on submit buttons in IE6 & 7 //
}

a.btnlostcard:hover,
input[type=button].btnlostcard:hover {
	background-position: 0 -30px;
}

a.btnfoundcard,
input[type=button].btnfoundcard {
	background: url(../images/btn_foundcard.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 30px;
	width: 187px;
	margin-top: 10px;
	text-indent: -9999px;
}
a.btnfoundcard:hover,
input[type=button].btnfoundcard:hover {
	background-position: 0 -30px;
}

input[type=button].btnlostcard,
input[type=button].btnfoundcard {
	border: none;
	cursor: pointer;
	width: 135px;
	margin-right: 52px;
}

.btncheckout {
	background: url(../images/btn_checkout.png) no-repeat scroll 0 0 transparent;
	border: none;
	display: block;
	height: 30px;
	width: 136px;
	text-indent: -9999px;
}

.btncheckout:hover {
	background-position: 0 -30px;
}

.btncheckoutorg {
	background: url(../images/btn_checkout_org.png) no-repeat scroll 0 0 transparent;
	border: none;
	display: block;
	height: 30px;
	width: 228px;
	text-indent: -9999px;
}

.btnpurchase {
	background: url(../images/btn_purchase.png) no-repeat scroll 0 0 transparent;
	border: none;
	display: block;
	height: 30px;
	width: 228px;
	text-indent: -9999px;
}

.btnpurchase.disabled, .btnpurchase:hover, .btncheckoutorg:hover {
	background-position: 0 -29px;
}


.btn_close {
	background: url(../images/btn_close.png) no-repeat 0 0;
	text-indent: -9999px;
	display: inline-block;
	height: 30px;
	width: 108px;
}

.btn_close:hover {
	background-position: 0 -30px;
}

.btn-cancel, .btncancel, .btncancel2 {
	background: url(../images/btn_cancel.png) no-repeat scroll 0 0 transparent;
	border: none;
	display: block;
	height: 30px;
	width: 101px;
	margin-top: 10px;
	text-indent: -9999px;
	margin: auto;
}

.btncancel2 {
	display: inline-block;
}

.btn-cancel:hover, .btncancel:hover, .btncancel2:hover {
	background-position: 0 -30px;
}

.btngenreport {
    background: url("../images/btn_generate.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    width: 175px;
    cursor: pointer;
	border: none;
	text-indent: -99999px;
	margin-left: 80px;
}
.btngenreport:hover {
    background-position: 0 -31px;
}


.secondary-button {
	background-color: ${tucson.secondary.button.default.bg.color};
	color: ${tucson.secondary.button.text.color};
	cursor: pointer;
	text-decoration: none;
}
.secondary-button:hover {
	background-color: ${tucson.secondary.button.hover.bg.color};
	text-decoration: none;
}
.secondary-button:active {
	background-color: ${tucson.secondary.button.active.bg.color};
	text-decoration: none;
}
.secondary-button.disabled, .secondary-button:disabled, .secondary-button[disabled] {
	background-color: ${tucson.secondary.button.disabled.bg.color};
	cursor: default;
}

.btnaddtocart, .add-to-cart {
	background: url(../images/icon_addtocart.png) no-repeat scroll 0 0 ${tucson.secondary.button.default.bg.color};
	color: ${tucson.secondary.button.text.color}; 
	display: block;
	height: 22px;
	margin: auto;
	padding: 6px 10px 0 28px;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}

.btnaddtocart:hover, .add-to-cart:hover {
	background-color: ${tucson.secondary.button.hover.bg.color};
	text-decoration: none;
}
.btnaddtocart.disabled, .add-to-cart.disabled {
    background-color: ${tucson.secondary.button.disabled.bg.color};
    cursor: default;
}

a.btncontinue {
	background: url(../images/btn_continue.png) no-repeat 0 0;
	display: block;
	height: 30px; /*text-indent:-9999px; //
}

.btnresetuserpass:hover {
	background-position: 0 -30px;
}

.btnresetuserpass {
	background: url(../images/btn_resetadminpassword.png) no-repeat 0 0;
	border: none;
	display: block;
	height: 30px;
	width: 170px;
	text-indent: -9999px;
	cursor: pointer;
	*font-size: 0px; *line-height: 0; /* Hide text on submit buttons in IE6 & 7 //
}

#user-search-results .reset-pass-btn {
	border: none;
	display: block;
	height: 30px;
	width: 170px;
	text-indent: -9999px;
	cursor: pointer;
	*font-size: 0px; *line-height: 0; /* Hide text on submit buttons in IE6 & 7 //
	float: right;
}

.btn-set-user-pass {
	background: url(../images/btn_setpassword.png) no-repeat 0 0;
	margin-top: 5px;
}

.btn-set-user-pass:hover {
	background-position: 0 -30px;
}

.btn-reset-user-pass {
	background: url(../images/btn_userreset.png) no-repeat 0 0;
	margin-top: 10px;
}

.btn-reset-user-pass:hover {
	background-position: 0 -30px;
}


.btn-reset-password {
	background: url("../images/btn_resetpassword.png") no-repeat scroll 0 0 transparent;
	border: none;
    display: block;
    height: 30px;
    width: 177px;
    text-indent: -99999px;
	margin: 0;
	cursor: pointer;
	*font-size: 0px; *line-height: 0; /* Hide text on submit buttons in IE6 & 7 //
}

.btn-reset-password:hover {
    background-position: 0 -30px;
}

.btnexport {
	background: url(../images/btn_export.png) no-repeat 0 0;
	display: block;
	height: 30px;
	text-indent: -9999px;
}

.btnexportpdf {
	background: url(../images/btn_exportpdf.png) no-repeat scroll 0 0 transparent;
	display: block;
	border: none;
	text-indent: -9999px;
	height: 30px;
	width: 141px;
	cursor: pointer;
	float: left;
	margin-right: 15px;
}
.btnexportpdf:hover {
	background-position: 0 -30px;
}

.btnexportcsv {
	background: url(../images/btn_exportcsv.png) no-repeat scroll 0 0 transparent;
	display: block;
	border: none;
	text-indent: -9999px;
	height: 30px;
	width: 141px;
	cursor: pointer;
}
.btnexportcsv:hover {
	background-position: 0 -30px;
}

.btnsearch {
	background: url("../images/btn_search.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	border: none;
	text-indent: -99999px;
	height: 30px;
	width: 114px;
	*font-size: 0px; *line-height: 0; /* Hide text on submit buttons in IE6 & 7 //
}

.btnsearch:hover {
	background-position: 0 -30px;
}



*/
.btn-retrieve-login {
	background: url("../images/btn_retrievelogin.png") no-repeat scroll 0 0
		transparent;
	border: none;
	display: block;
	height: 30px;
	width: 177px;
	text-indent: -99999px;
	margin: 0;
	cursor: pointer;
	*font-size: 0px;
	*line-height: 0; /* Hide text on submit buttons in IE6 & 7 */
}

.btn-retrieve-login:hover {
	background-position: 0 -30px;
}

#auditReport .empty-report,#cardHistory .empty-report {
	clear: both;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
}

.small {
	font-weight: normal;
	text-decoration: none;
	font-size: 10px;
}

a.small:hover {
	text-decoration: underline;
}

a.forgotpass {
	margin-left: 80px;
}

.icon-help {
	background: url(../images/icon_help.png) right 1px no-repeat;
	padding-right: 15px;
}

.icon-edit {
	background: url(../images/icon_edit.gif) right 1px no-repeat;
	padding-right: 15px;
}

.icon-lastupdated {
	background: url(../images/icon_lastupdate.gif) left 2px no-repeat;
	padding-left: 15px;
}

.checkavail {
	background: url(../images/icon_checkmark.png) right 0 no-repeat;
}

a.date-picker {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/icon_calendar.png) no-repeat;
}

#service-comment-dialog {
	width: 700px;
}

#service-comment-dialog p {
	margin-top: 14px;
}

#service-comment-dialog select {
	width: 400px;
	margin: 16px 0 10px;
}

#service-comment-dialog textarea {
	display: block;
	width: 640px;
	height: 180px;
}

#service-comment-dialog .button-row {
	margin: auto;
	padding: 30px 0 5px 0;
	width: 250px;
}

#service-comment-dialog .button-row .btn-save {
	float: left;
}

#service-comment-dialog .button-row .btn-cancel {
	float: right;
}

#service-comment-dialog .reason-code-error {
	padding-left: 10px;
}

#service-comment-dialog .reason-text-error {
	display: block;
	margin-top: 5px;
}

#service-comment-dialog .search-progress {
	float: left;
	margin: 5px 10px 0 0;
	width: 16px;
}

#order-update-success-dialog {
	width: 500px;
}

#order-update-success-dialog p {
	margin: 20px 0;
}

#order-update-success-dialog .button-row {
	margin: auto;
	width: 101px;
}

/************************
 * User Info Form Layout
 ***********************/
.user-info-form table {
	margin: auto;
	width: 600px;
}

.user-info-form .labelName {
	text-align: right;
	padding: 10px 15px 10px 0;
	width: 210px;
	white-space: nowrap;
	vertical-align: top;
}

.user-info-form .inputColumn {
	padding-top: 10px;
	vertical-align: top;
}

.user-info-form .buttonRow td {
	padding-top: 20px;
}

.user-info-form input[type=text],.user-info-form input[type=password] {
	width: 260px;
}

.user-info-form select {
	width: 262px;
	height: 1.5em;
}

.user-info-form input[name=dayPhone_ac],.user-info-form input[name=cellPhone_ac],.user-info-form input[name=cellPhone_prefix],.user-info-form input[name=dayPhone_prefix],.user-info-form input[name=dayPhone_suffix],.user-info-form input[name=cellPhone_suffix]
	{
	width: 66px;
}

.user-info-form input[name=dayPhone_ac],.user-info-form input[name=cellPhone_ac],.user-info-form input[name=cellPhone_prefix],.user-info-form input[name=dayPhone_prefix]
	{
	margin-right: 25px;
}

.user-info-form input[name=dayPhone_ext] {
	width: 5em !important;
}

/********************************
 * User Registration Form styles
 ********************************/
#user-registration-form {
	width: 734px;
	margin-bottom: 30px;
}

#user-registration-form.user-info-form table {
	width: 730px;
}

#user-registration-form h5 {
	border-bottom: 2px${tucson.horizontal.divider.bg.color
}

solid


;
padding


:

 

0
0
5
px

 

5
px


;
}
#user-registration-form div.form-block {
	padding: 20px 0 10px 0;
}

#user-registration-form.user-info-form .labelName {
	width: 175px;
}

#user-registration-form.user-info-form input[type=text],#user-registration-form.user-info-form input[type=password]
	{
	width: 410px;
}

#user-registration-form.user-info-form input[name=dayPhone_ac],#user-registration-form.user-info-form input[name=cellPhone_ac],#user-registration-form.user-info-form input[name=cellPhone_prefix],#user-registration-form.user-info-form input[name=dayPhone_prefix],#user-registration-form.user-info-form input[name=dayPhone_suffix],#user-registration-form.user-info-form input[name=cellPhone_suffix]
	{
	width: 116px;
}

#user-registration-form.user-info-form select {
	width: 412px;
	height: 1.5em;
}

#user-registration-form .check-availability,#user-registration-form .is-available
	{
	font-size: x-small;
}

#user-registration-form .check-availability a:hover {
	text-decoration: none;
}

#user-registration-form .ui-datepicker-trigger {
	position: relative;
	left: 5px;
	top: -2px;
	cursor: pointer;
	vertical-align: top;
}

p.label_checkbox_pair {
	position: relative;
}

p.label_checkbox_pair input {
	left: 0px;
	position: absolute;
	top: 4px;
}

p.label_checkbox_pair label {
	margin-left: 24px;
	display: block;
}

/**************************
 * Guest Registration Form
 **************************/
#guest-registration-form {
	width: 600px;
}

#guest-registration-form .btncancel {
	float: left;
	margin: 0 0 0 54px;
}

#guest-registration-form .btnsave {
	float: left;
}

a.view-products-opener {
	background: url("../images/btn_plusminus.png") no-repeat 0 0 transparent;
	padding-left: 22px;
}

a.view-products-opener:hover,a.hide-products-opener:hover {
	text-decoration: none;
}

a.hide-products-opener {
	background: url("../images/btn_plusminus.png") no-repeat 0 -15px
		transparent;
	padding-left: 22px;
	text-decoration: none;
}
/*---------------- change password page styles ----------*/
#change-password {
	margin-bottom: 20px;
	width: 734px;
}

/************************
 * Feedback Form Layout
 ***********************/
#feedback-form div.form-block {
	padding: 20px 0 10px 0;
}

#feedback-form table {
	margin: auto;
	width: 600px;
}

#feedback-form .labelName {
	text-align: right;
	padding: 10px 15px 10px 0;
	width: 160px;
	white-space: nowrap;
	vertical-align: top;
}

#feedback-form .inputColumn {
	padding-top: 10px;
	vertical-align: top;
}

#feedback-form .buttonRow td {
	padding-top: 20px;
}

#feedback-form input[type=text] {
	width: 260px;
}

#feedback-form input[type=radio] {
	margin-right: 5px;
}

#feedback-form input[type=radio]+input[type=radio] {
	margin-left: 5px;
}

#feedback-form textarea {
	width: 360px;
	height: 100px;
}

/*************
 * Common	   *
 ************/
h1 {
	color: ${tucson.h1.color
}

;
font-size


:

 

30
px


;
margin


:

 

0
px

 

0;
padding


:

 

0;
}
h2 {
	color: ${tucson.h2.color
}

;
font-size


:

 

24
px


;
line-height


:

 

28
px


;
margin


:

 

0
px

 

0;
padding


:

 

0;
}
h3 {
	color: ${tucson.h3.color
}

;
font-size


:

 

18
px


;
margin


:

 

4
px

 

0;
padding


:

 

0;
}
h4 {
	color: ${tucson.h4.color
}

;
font-size


:

 

14
px


;
margin


:

 

4
px

 

0;
padding


:

 

0;
}
h5 {
	color: ${tucson.h5.color
}

;
font-size


:

 

14
px


;
margin


:

 

0
px

 

0;
padding


:

 

0;
font-weight


:

 

bold


;
}
p {
	color: #000000;
	line-height: 18px;
	margin: 0;
	padding: 0 0 8px 0;
}

hr {
	border: 1px solid #84847c;
	border-width: 0 0 1px 0;
	height: 1px;
}

a {
	color: ${tucson.anchor.color
}

;
font-weight


:

 

bold


;
text-decoration


:

 

none


;
}
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

img {
	border: 0;
}

strong,b,strong *,b *,.strong,p.user,.user-info,.label {
	font-weight: bold !important;
}

em,i,em *,i * {
	font-style: italic !important;
}

.error {
	color: red;
	padding-right: 5px;
}

.conjunction {
	clear: both;
	text-align: center;
}

/** jQuery Date Picker Calendar **/
a.date-picker.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

input.dp-applied {
	width: 140px;
	float: left;
}

#ui-datepicker-div a {
	color: #999;
}

#unlink-card-dialog {
	width: 550px;
}

.admin #maincontent p.location-icon-block {
	margin-left: 0px;
}

#login-page form {
	margin: 10px auto;
	width: 400px;
}

#login-page table {
	margin-top: 30px;
	margin-bottom: 50px;
}

#login-page td {
	padding: 5px;
}

/* Informational alert/notice block. Not used for errors */
.location-icon-block {
	display: table-cell;
	background: url("../images/icon_location.png") no-repeat scroll 10px
		10px transparent;
	padding: 5px 5px 5px 42px;
	min-height: 41px;
	height: 41px;
	vertical-align: middle;
	*padding-top: 7px !important; /* align text properly in IE7 */
}

/* Block used on Report Search forms */
.report-icon-block {
	display: table-cell;
	background: url("../images/icon_generatereport.png") no-repeat scroll
		10px 10px transparent;
	padding: 5px 5px 5px 50px;
	height: 41px;
	vertical-align: middle;
	*padding-top: 7px; /* align text properly in IE7 */
}

/* Configurator */
#tabs-admin {
	margin-top: 5px;
}

#tabs-admin>ul {
	width: 100%;
	height: 25px;
	border-bottom: 2px solid #96B4C1;
}

#tabs-admin>ul>li {
	float: left;
	width: auto;
	margin: 0 auto;
	border-width: 1px 1px 0px 1px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 5px 5px 0 5px;
}

#tabs-admin>ul>li>a {
	background: #98B4C2;
	display: block;
	padding: 5px 10px;
	border-radius: 3px 3px 0 3px;
	color: #FFF;
}

/* #tabs-admin > ul > li.ui-tabs-active > a { */
#tabs-admin>ul>li.ui-state-active>a {
	background: #FFF;
	color: #98B4C2;
	border-width: 1px 1px 0 1px;
	border-color: #98B4C2;
	border-style: solid;
}

.tab-content {
	clear: both;
	position: relative;
	top: -1px;
}

.tab-content table {
	width: 100%;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #96B4C1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.tab-content table th {
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.tab-content table tr {
	vertical-align: top;
}

.tab-content table tr:first-child {
	height: 25px;
}

.tab-content table td {
	padding: 5px;
}

.tab-content table td.delete-box {
	vertical-align: middle;
	text-align: center;
}

.tab-content table td:first-child {
	vertical-align: middle;
	text-align: center;
}

.tab-content table tr:nth-child(even) td {
	background: #BDADAA;
}

.tab-content table tr:last-child,.tab-content table tr:last-child td {
	background: none;
	text-align: center;
	vertical-align: middle;
}

.tab-content table label {
	display: inline-block;
	margin: 5px 5px;
}

.tab-content table label>input {
	clear: both;
	display: block;
}

.tab-content table span {
	font-size: 10px;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

#tabs-admin #colors .selection-holder {
	position: relative;
	float: left;
	width: auto;
	margin: 4px;
}

#emailbanner table tr:first-child td {
	text-align: left;
}
/*
#cardimages table td:first-child,#brandedwords table td:first-child {
	text-align: left;
	padding-left: 10px;
	width: 30%;
}
*/
#brandedwords table tr {
	padding: 5px 0;
}

#brandedwords table td:last-child input[type=text] {
	width: 80%;
	margin: 3px 0;
	padding: 2px 0;
}

.current-img {
	width: 300px;
	height: auto;
	overflow: hidden;
	background: #FFF;
}

.current-banner {
	width: 430px;
	height: auto;
	overflow: hidden;
	background: #FFF;
}

.sample-preview {
	width: 200px;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.current-nav {
	text-align: left;
}

.current-bkg {
	height: 120px;
}

.current-login {
	height: 70px;
}

.current-footer {
	height: 70px;
}

/*

.cmd-save-apply {
	color: #FFF;
	font-weight: bold;
	background: linear-gradient(top, #6B95A8 0%, #4E788A 30%, #3C677C 60%, #2A5164 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6B95A8),
		color-stop(0.30, #6B95A8), color-stop(0.30, #3C677C),
		color-stop(1, #2A5164));
	background: -moz-linear-gradient(top, #6B95A8 0%, #4E788A 30%, #3C677C 60%, #2A5164
		90%);
	background: -o-linear-gradient(top, #6B95A8 0%, #4E788A 30%, #3C677C 60%, #2A5164
		100%);
	background: -ms-linear-gradient(top, #6B95A8 0%, #4E788A 30%, #3C677C 60%, #2A5164
		100%);
	-pie-background: linear-gradient(top, #6B95A8 0%, #4E788A 30%, #3C677C 60%, #2A5164 100%);
	behavior: url("/sites/all/themes/zipcar_v1/css/PIE.php");
	padding: 5px;
	border: none;
	border-radius: 5px;
}

.cmd-save-apply:hover {
	background: linear-gradient(top, #63737C 0%, #34434C 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #63737C),
		color-stop(1, #34434C));
	background: -moz-linear-gradient(top, #63737C 0%, #34434C 100%);
	background: -o-linear-gradient(top, #63737C 0%, #34434C 100%);
	background: -ms-linear-gradient(top, #63737C 0%, #34434C 100%);
	-pie-background: linear-gradient(top, #63737C 0%, #34434C 100%);
	behavior: url("/sites/all/themes/zipcar_v1/css/PIE.php");
}
*/
input[type=file] {
	clear: both;
	margin: 5px 0;
}

input.colorpicker {
	padding: 1px;
}