/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

div.info,div.success,div.warning,div.error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

#user-details {
	float: left;
	width: 230px;
}

#user-message {
	float: right;
	width: 405px;
}

#display-data {
	float: left;
	border: 1px solid #ddd;
	padding: 30px 40px 20px 40px;
	margin: 75px 0 0 0;
	width: 715px;
	background: #fff;
	/* -- CSS3 - define rounded corners -- */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* -- CSS3 - create a background gradient -- */
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFF));
	background: -moz-linear-gradient(0% 40% 90deg, #FFF, #EEE);
	/* -- CSS3 - add a drop shadow -- */
	-webkit-box-shadow: 0px 0 50px #ccc;
	-moz-box-shadow: 0px 0 50px #ccc;
	box-shadow: 0px 0 50px #ccc;
}

#errors {
	float: right;
	border: solid 1px #E58E8E;
	padding: 8px;
	margin: 8px 0px 10px 50px;
	display: block;
	width: 405px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #FFE6E6 url(../img/cancel_48.png) no-repeat 370px center;
}

/* =============================================================================
   HTML5 element display
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
	{
	display: block;
}

audio[controls],canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	font-size: 13px;
	line-height: 1.231;
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	width: 800px;
	color: #555;
	background: #f5f5f5;
}

body,button,input,select,textarea {
	color: #222;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
:
:-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

:
:selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
	color: #00e;
}

a
:visited {
	color: #551a8b;
}

a
:focus {
	outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a
:hover,a
:active {
	outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
h1 {
	color: #555;
	margin: 0 0 20px 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,code,kbd,samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q
:before,q
:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav
 
ul,nav
 
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
svg












:not












(
:root












)
{
overflow












:












hidden










;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
	margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
	float: left;
	border: 1px solid #ddd;
	padding: 30px 40px 20px 40px;
	margin: 75px 0 0 0;
	width: 715px;
	background: #fff;
	/* -- CSS3 - define rounded corners -- */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* -- CSS3 - create a background gradient -- */
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFF));
	background: -moz-linear-gradient(0% 40% 90deg, #FFF, #EEE);
	/* -- CSS3 - add a drop shadow -- */
	-webkit-box-shadow: 0px 0 50px #ccc;
	-moz-box-shadow: 0px 0 50px #ccc;
	box-shadow: 0px 0 50px #ccc;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input,textarea {
	padding: 8px;
	margin: 4px 0 20px 0;
	background: #fff;
	width: 220px;
	font-size: 14px;
	color: #555;
	border: 1px #ddd solid;
	/* -- CSS3 Shadow - create a shadow around each input element -- */
	-webkit-box-shadow: 0px 0px 4px #aaa;
	-moz-box-shadow: 0px 0px 4px #aaa;
	box-shadow: 0px 0px 4px #aaa;
	/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
	-webkit-transition: background 0.3s linear;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
	font-size: 15px;
	color: #666;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,input {
	line-height: normal;
	*overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,input
[type="button"],input
[type="reset"] {
	cursor: pointer;
	-webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
input
[type="checkbox"],input
[type="radio"] {
	box-sizing: border-box;
}

input
[type="search"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button
:
:-moz-focus-inner,input
:
:-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	width: 390px;
	height: 175px;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
	overflow: auto;
	vertical-align: top;
}

/* Colors for form validity */
input
:valid,textarea
:valid {
	
}

input:hover,textarea:hover {
	background: #eee;
}

input
:invalid,textarea
:invalid {
	background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	border: 1px solid #000000;
	background-color: #A7A7A7;
	color: #fff;
	padding: 0.4em;
	text-align: left;
}

tr:nth-child(2n+1) {
	background-color: #E6E6E6;
}

/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
.main {
	color: #567878
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.ir
 
br {
	display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden
.focusable
:active,.visuallyhidden
.focusable
:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix
:before,.clearfix
:after {
	content: "";
	display: table;
}

.clearfix
:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */
}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: sanbeiji.com/archives/953 */
	a,a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	} /* Don't show links for images, or javascript/internal links */
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	} /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}

::-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
	color: #00e;
}

a:visited {
	color: #551a8b;
}

a:focus {
	outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,a:active {
	outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
h1 {
	color: #555;
	margin: 0 0 20px 0;
}

abbr
[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,code,kbd,samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
svg










:not





 





(
:root





 





)
{
overflow










:





 





hidden










;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
	margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
	float: left;
	border: 1px solid #ddd;
	padding: 30px 40px 20px 40px;
	margin: 75px 0 0 0;
	width: 715px;
	background: #fff;
	/* -- CSS3 - define rounded corners -- */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* -- CSS3 - create a background gradient -- */
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFF));
	background: -moz-linear-gradient(0% 40% 90deg, #FFF, #EEE);
	/* -- CSS3 - add a drop shadow -- */
	-webkit-box-shadow: 0px 0 50px #ccc;
	-moz-box-shadow: 0px 0 50px #ccc;
	box-shadow: 0px 0 50px #ccc;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input,textarea {
	padding: 8px;
	margin: 4px 0 20px 0;
	background: #fff;
	width: 220px;
	font-size: 14px;
	color: #555;
	border: 1px #ddd solid;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
	font-size: 20px;
	color: #666;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,input {
	line-height: normal;
	*overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,input[type="button"],input[type="reset"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="submit"],input[type="button"] {
	width: 150px;
	color: #eee;
	text-transform: uppercase;
	margin-top: 10px;
	background-color: #18a5cc;
	border: none;
	/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;
	/* -- CSS3 Shadow - create a shadow around each input element -- */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc),
		to(#0a85a8));
	background: -moz-linear-gradient(25% 75% 90deg, #0a85a8, #18a5cc);
	/* -- CSS3 - Rounded Corners -- */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type="submit"]:hover,input[type="button"]:hover {
	-webkit-box-shadow: 0px 0px 20px #555;
	-moz-box-shadow: 0px 0px 20px #aaa;
	box-shadow: 0px 0px 20px #555;
	cursor: pointer;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
}

input[type="search"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	width: 390px;
	height: 175px;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
	overflow: auto;
	vertical-align: top;
}

/* Colors for form validity */
input:valid,textarea:valid {
	
}

input:invalid,textarea:invalid {
	background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
.main {
	color: #567878
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.ir br {
	display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */
}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: sanbeiji.com/archives/953 */
	a,a
:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a
[href]
:after {
		content: " (" attr(href) ")";
	}
	abbr
[title]
:after {
		content: " (" attr(title) ")";
	}
	.ir
 
a
:after,a
[href ^ ="javascript:"]
:after,a
[href ^ ="#"]
:after {
		content: "";
	} /* Don't show links for images, or javascript/internal links */
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	} /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}