<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/baseNoContainer">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="hero">
		<div class="container page-header">
			<div class="row">
				<div class="col-md-4 hidden-sm hidden-xs">
					<img th:src="@{/resources/img/icon-large-bus.svg}" class="bus-icon"/>
				</div>
				<div class="col-md-8">
					<h1 th:text="#{efare.home.welcome.header}">Welcome to eFare</h1>
					<h3 th:text="#{efare.home.welcome.blurb}">Buy and manage your farecards</h3>
					<br/>
					<span><a class="btn btn-default btn-lg" th:href="@{/store/cards}" th:text="#{efare.home.box.left}">Buy Tix</a></span>
					<img class="or-icon" th:src="@{/resources/img/or.png}"/>
					<span><a class="btn btn-primary btn-lg" th:href="@{/signup}" th:text="#{efare.home.box.right}">Register</a></span>
					<div class="bubble hidden-xs" th:text="#{efare.home.bubble}">got card?</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid alternate-color hidden-xs">
		<div class="container">
            <div class="row buckets">
            	<div class="col-md-4">
                	<div class="row">
                    	<div class="col-sm-2 col-md-3">
                        	<img class="bucket-icon" th:src="@{__#{efare.home.bucket.bucket1.img}__}"/>
                        </div>	
                        <div class="col-sm-9 col-md-9">
                         	<p th:utext="#{efare.home.bucket.bucket1.text}"><strong>Protect your balance</strong> when your card is lost or stolen</p>
                        </div>
                   </div>
                </div>
				<div class="col-md-4">
                	<div class="row">
                    	<div class="col-sm-2 col-md-3">
                        	<img class="bucket-icon" th:src="@{__#{efare.home.bucket.bucket2.img}__}"/>
                        </div>	
                        <div class="col-xs-9 col-sm-9 col-md-9">
                         	<p th:utext="#{efare.home.bucket.bucket2.text}"><strong>Protect your balance</strong> when your card is lost or stolen</p>
                        </div>
                   </div>
                 </div>
                 <div class="col-md-4">
                	<div class="row">
                    	<div class="col-sm-2 col-md-3">
                        	<img class="bucket-icon" th:src="@{__#{efare.home.bucket.bucket3.img}__}"/>
                        </div>	
                        <div class="col-sm-9 col-md-9">
                         	<p th:utext="#{efare.home.bucket.bucket3.text}"><strong>Protect your balance</strong> when your card is lost or stolen</p>
                        </div>
                   </div>
                 </div>
			</div>
			<!--End Buckets-->
		</div>
	</div>
	<div class="container-fluid alternate-color hidden-sm hidden-md hidden-lg">
		<div class="container">
            <div class="row buckets">
            	<div class="col-md-4">
                	<div class="row">
                    	<div class="col-sm-2 col-md-3">
                        	<img class="bucket-icon" th:src="@{__#{efare.home.bucket.bucket1.img}__}"/>
                        </div>	
                        <div class="col-sm-9 col-md-9">
                         	<p th:utext="#{efare.home.bucket.bucket1.text}"><strong>Protect your balance</strong> when your card is lost or stolen</p>
                        </div>
                   </div>
                </div>
				<div class="col-md-4">
                	<div class="row">
                    	<div class="col-sm-2 col-md-3">
                        	<img class="bucket-icon" th:src="@{__#{efare.home.bucket.bucket2.img}__}"/>
                        </div>	
                        <div class="col-xs-9 col-sm-9 col-md-9">
                         	<p th:utext="#{efare.home.bucket.bucket2.text}"><strong>Protect your balance</strong> when your card is lost or stolen</p>
                        </div>
                   </div>
                 </div>
                 <div class="col-md-4">
                	<div class="row">
                    	<div class="col-sm-2 col-md-3">
                        	<img class="bucket-icon" th:src="@{__#{efare.home.bucket.bucket3.img}__}"/>
                        </div>	
                        <div class="col-sm-9 col-md-9">
                         	<p th:utext="#{efare.home.bucket.bucket3.text}"><strong>Protect your balance</strong> when your card is lost or stolen</p>
                        </div>
                   </div>
                 </div>
			</div>
			<!--End Buckets-->
		</div>
	</div>

</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>
