<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">

<th:block layout:fragment="custom-css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
</th:block>
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: account-sub-banner(#{efare.account.title}, #{efare.account.subtitle})"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="sub-nav">
        <div class="container">
            <ul role="tablist" class="nav nav-tabs nav-justified" id="myTabs">
                <li class="active"><a href="#cardsummary" data-toggle="tab" th:text="#{efare.account.tab1}"></a></li>
                <li><a href="#profile" data-toggle="tab" th:text="#{efare.account.tab2}"></a></li>
                <li><a href="#activity" id="cardActivity" data-toggle="tab" th:text="#{efare.account.tab3}"></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="cardsummary">
                <div class="col-md-12 wallet-tab">
                    <div id="cards" class="row list-group">
                        <div th:each="wallet,iterStat : ${wallets}" th:class="'col-lg-3 col-md-4 col-sm-6 col-xs-12 account-wallet'">
                            <a th:each="id : ${wallet.walletidentifierses}"
                                th:if="${id.identifiertypes.identifierId == identifierType}"
                                th:class="${iterStat.odd}? 'light-blue wallet-link' : 'dark-blue wallet-link'"
                                th:href="@{/card/details(cardnumber=${id.identifier})}" href="#">
                                <div class="col-md-12 col-lg-12 col-sm-12 generic-card-thumbnail walletcard-thumbnail center-block">
								<div class="row wallet-size">                       
										<img class="wallet-qty" th:src="@{/resources/img/icon-ticket-small.svg}" alt="" src="" />
										<span th:text="${wallet.walletcontentses.size()}">-1</span>
								</div>
                                    <div>
                                        <div class="hidden-xs hidden-sm row wallet-type">
                                            <div class="col-xs-12 col-md-12">
                                              <h4 th:text="${wallet.farecodes == null} ? #{card.details.discounts.none} :
                            					${wallet.farecodes.description} + ' ' + #{efare.subbanner.fare}">Unknown Type</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 wallet-num">
                                            <h6 th:each="id : ${wallet.walletidentifierses}"
                                                th:if="${id.identifiertypes.identifierId == 2}" th:text="${id.identifier}">xxxxxx</h6>
                                        </div>
                                    </div>
                                    <div class="wallet-name row">
                                        <h6 class="group inner list-group-tile-heading col-xs-12 col-md-12"
                                            th:text="${wallet.nickname != ''} ? ${wallet.nickname} : ${wallet.wallettypes.description}">Card
                                            Name</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wallet-add">
                            <a th:href="@{/store}">
                                <div class="col-md-12 col-lg-12 col-sm-12 wallet-add-inner center-block">
                                    <img class="wallet-img" th:src="@{/resources/img/icon-large-plus.svg}" alt="" src="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-tile-heading" th:text="#{efare.wallet.addcard}">Add
                                            Another Card</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <div class="row">
                    <div class="panel-body">
                        <form th:action="@{/#profile}" method="POST" th:object="${editUserForm}" val:validate="${editUserForm}"
                            action="">
                            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-dismissable alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <ul>
                                    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr"><span
                                        th:text="${e.message}"></span></li>
                                </ul>
                            </div>
                            <div th:if="${emailChange}" class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <p th:text="#{register.email.remember}"></p>
                            </div>
                            <h3 th:text="#{signup.topic1}">General</h3>
                            <div class="form-group">
                                <label th:text="#{register.email}"></label>
                                <input type="email" th:field="*{email.address}" class="form-control "
                                    required="required" th:errorclass="form-control-error"></input>
                                <div th:text="#{register.email.note}">
                                Changing email address will also change the username
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label th:text="#{register.firstName.text}"></label>
                                        <input type="text" th:field="*{firstName}" class="form-control "
                                            required="required"
                                            th:errorclass="form-control-error"></input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{register.lastName.text}"></label>
                                        <input type="text" th:field="*{lastName}" class="form-control "
                                            required="required"
                                            th:errorclass="form-control-error"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a th:href="@{/recovery}" th:text="#{efare.password.reset}">Change Password</a>
                                </div>
                            </div>
                            <hr />
                            <h3 th:text="#{signup.topic2}">Address</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{register.address1.text}"></label>
                                        <input type="text" th:field="*{address.line1}" class="form-control "
                                            th:errorclass="form-control-error" required="required"></input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{register.address2.text}"></label>
                                        <input type="text" th:field="*{address.line2}" class="form-control "
                                            th:errorclass="form-control-error"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label th:text="#{register.city.text}"></label>
                                        <input type="text" th:field="*{address.city}" class="form-control "
                                            th:errorclass="form-control-error" required="required"></input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label th:text="#{register.state.text}"></label>
                                        <input type="text" th:field="*{address.state}" class="form-control "
                                            th:errorclass="form-control-error" required="required"></input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label th:text="#{register.postalCode.text}"></label>
                                        <input type="text" th:field="*{address.postalCode}" class="form-control "
                                            th:errorclass="form-control-error" required="required"></input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label th:text="#{register.country.text}"></label>
                                        <select th:field="*{address.country}" class="form-control" th:errorclass="form-control-error">
                                    		<option value=""></option>
                                    		<option th:each="c : ${T(com.genfare.cloud.model.types.CountryEnum).values()}" th:value="${c.description}" th:text="${c.description}"></option>
                                    	</select>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h3 th:text="#{signup.topic3}">Security</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{register.phone.text}"></label>
                                        <input type="text" th:field="*{phone.number}"
                                            class="form-control " th:errorclass="form-control-error" required="required"></input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{register.dateOfBirth.text}"></label>
                                        <input type="text" th:field="*{dateOfBirth}" class="form-control calendar"
                                            th:errorclass="form-control-error"></input>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label th:text="#{register.primary_contact_method}"></label>
                                        <select name="color-selector"
                                            class="form-control " th:field="*{contactMethod}">
                                            <option value="" selected="selected" th:text="#{register.primary_contact_method}">Select
                                                your option</option>
                                                <!-- SMS temporarily disabled -->>
                                            <option
                                                th:each="cm : ${T(com.genfare.cloud.model.security.ContactMethodEnum).values()}"
                                                th:value="${cm}" th:text="${cm.description}" th:if="${cm.description!='SMS'}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label> <input type="checkbox" th:field="*{alert}" th:checked="*{alert}" />Alerts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3 pull-right">
                                    <input id="submit" type="submit" th:value="#{efare.profile.submit}"
                                        class="btn btn-primary btn-block"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="activity">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="report/fragments/cardhistory :: report-inputs (@{/#activity},${params})"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="note" th:text="#{efare.report.orderhistory.notes}">90 days prior</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 report-results">
                        <div th:if="${success == false}" th:text="#{efare.report.validation.threemonth}"
                            class="text-center note alert alert-danger"></div>
                        <div th:if="${success == true &amp;&amp; #lists.isEmpty(results)}"
                            th:text="#{efare.report.validation.noresults}" class="text-center note">No Results for
                            Criteria</div>
                        <div th:if="${success == true &amp;&amp; !#lists.isEmpty(results)}">
                            <div th:replace="report/fragments/cardhistory :: report-results (${results})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript" th:inline="javascript">
        function activityTabTrigger() {
            /*[+
            var report = [[${param.begDate}]];
            +]*/
            if(report != null){
                $('#cardActivity').trigger('click');
            }
        }
        window.onload = activityTabTrigger;
        </script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/efare-userhome.js}"></script>
</th:block>
</html>
