.form-reset-margin .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

.centered-form {
	margin-top: 60px;
}

.glyphicon {
	margin-right: 5px;
}

.panel-quick {
	background-color: rgb(68, 110, 155);
}

.panel-hover {
	cursor: pointer;
}

.form-control-error {
	border: 2px solid #E74C3C;
}

.navbar-brand-custom {
	padding: 0;
}

.outlined {
	padding: 6px;
	border: solid 1px #ddd;
}

.button-no-style {
	background: none;
	border: none;
	padding: 0;
}

.grey-link {
	color: #666666;
}

.grey-link:hover {
	color: #666666;
}

.vertical-centered {
	display: table-cell;
	vertical-align: middle;
}

.glyphicon-sm {
	font-size: 18px;
}

.glyphicon-sm-md {
	font-size: 24px;
}

.glyphicon-md {
	font-size: 30px;
}

.glyphicon-lg {
	font-size: 40px;
}

.glyphicon-lgexlg {
	font-size: 70px;
}

.glyphicon-exlg {
	font-size: 96px;
}

.bold {
	font-weight: bold;
}

.centered {
	text-align: center;
}

/* Tiles */
.tile {
	border: solid 1px black;
	margin-right: 20px;
	margin-bottom: 20px;
}

.tile-inner {
	margin: 10px 10px;
}

.tile-property-name {
	font-weight: bold;
}

.tile.list-group-tile {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.tile.list-group-tile:nth-of-type(odd):hover,.tile.list-group-tile:hover
	{
	background: #428bca;
}

.tile.list-group-tile .list-group-image {
	border-bottom: solid 1x #ddd;
}

.tile.list-group-tile .thumbnail {
	margin-bottom: 0px;
}

.tile.list-group-tile .caption {
	padding: 9px 9px 0px 9px;
}

.tile.list-group-tile:nth-of-type(odd) {
	background: #eeeeee;
}

.tile.list-group-tile:before,.tile.list-group-tile:after {
	display: table;
	content: " ";
}

.tile.list-group-tile:after {
	clear: both;
}

.list-group-tile-text {
	margin: 0 0 11px;
}

.table-row {
	padding-top: 5px;
	border-bottom: solid 1px #ddd;
}

.btn-to-link {
	background: none;
	border: none;
	padding: none;
	color: #3399f3;
	cursor: pointer;
}

.verticalLine {
	border-left: solid 1px #ddd;
}

.bottom-border {
	border-bottom: solid 1px #ddd;
}

.visibility-hidden {
	visibility: hidden;
}