<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
	
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: blank"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="panel panel-primary row">
		<div class="row">
			<div class="col-md-12">&nbsp;</div>
			<div class="col-md-12">
				<img class="col-md-6 col-md-offset-3"
					src="http://placehold.it/250x100" />
			</div>
		</div>
		<h1 class="centered" th:text="#{resources.basic.login.title}">Login</h1>
		<div class="col-md-6 col-md-offset-3">
			<hr />
			<form th:action="@{/login}" method="post">
				<label for="username"
					th:text="#{resources.basic.login.username.label}">Email
					Address</label><br /> <input id="username" type="text" name="username" /><br />
				<br /> <label for="password"
					th:text="#{resources.basic.login.password.label}">Password</label><br />
				<input id="password" type="password" name="password" /><br />
				<hr />
				<div class="row">
					<button name="submit"
						class="btn btn-primary col-md-10 col-md-offset-1" type="submit"
						th:text="#{resources.basic.login.submit.label}">Login</button>
				</div>
				<div class="row">
                    <small><a th:text="#{resources.basic.login.reset.password.label}" th:href="@{/recovery}"></a></small>
                </div>
				<br /> <br /> <br />
			</form>
		</div>
	</div>
</th:block>
</html>