<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/resources/css/custom.css}" rel="stylesheet" type="text/css"/>
	<style>.strikethru{text-decoration: line-through;}</style>
</th:block>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="panel-heading">
	    <h3 class="panel-title" th:text="#{resources.password.recovery.header1}"></h3>
	</div>
	<div class="panel-body">
	    <form th:action="@{/recovery/reset}"
	        th:object="${setPasswordForm}" method="POST">
	        <input type="hidden" th:field="*{token}"></input>
	        <input type="hidden" th:field="*{recovery}"></input>
	        <div class="row">
	            <div class="col-md-5">
	                <div class="form-group">
	                    <input type="password" th:field="*{password1}"
	                        class="form-control input-sm"
	                        th:placeholder="#{resources.setPassword.password1.text}" required="required"
	                        th:errorclass="form-control-error"></input>
	                </div>
	            </div>
	            <div class="col-md-5">
	                <div class="form-group">
	                    <input type="password" th:field="*{password2}"
	                        class="form-control input-sm"
	                        th:placeholder="#{resources.setPassword.password2.text}" required="required"
	                        th:errorclass="form-control-error"></input>
	                </div>
	            </div>
	            <div class="col-md-2">
	                <div class="form-group">
	                    <button id="search" class="btn btn-primary pull-left"
	                        type="submit" th:text="#{resources.password.recovery.send}"></button>
	                </div>
	            </div>
	        </div>
	        <div th:if="${#fields.hasErrors()}"
	            class="alert alert-dismissable alert-danger">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	            <ul>
	                <li th:each="e : ${#fields.detailedErrors()}"
	                    th:class="${e.global}? globalerr : fielderr"
	                    th:text="${e.message}"></li>
	            </ul>
	        </div>
	    </form>
	    <!-- TODO: handle exceptions better -->
	    <div th:if="${error}" class="alert alert-danger alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert">×</button>
	        <p th:text="#{${error}}"></p>
	    </div>
	    <div th:if="${success}" class="alert alert-success alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert">×</button>
	        <p th:text="#{${success}}"></p>
	    </div>
	</div>
</th:block>
</html>