<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/resources/css/custom.css}" rel="stylesheet" type="text/css"/>
	<style>.strikethru{text-decoration: line-through;}</style>
</th:block>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="panel-heading">
	    <h3 class="panel-title" th:text="#{resources.password.recovery.header2}"></h3>
	</div>
	<div class="panel-body">
	    <form th:action="@{/recovery}" method="POST">
	        <div class="row">
	            <div class="col-md-5">
	                <div class="form-group">
	                    <input type="text" class="form-control input-sm" id="email"
	                        name="email" th:placeholder="#{resources.password.recovery.email}"
	                        required="required" th:errorclass="form-control-error"></input>
	                </div>
	            </div>
	            <div class="col-md-2">
	                <div class="form-group">
	                    <button id="search" class="btn btn-primary pull-left"
	                        type="submit" th:text="#{resources.password.recovery.send}"></button>
	                </div>
	            </div>
	        </div>
	    </form>
	    <!-- TODO: handle exceptions better -->
	    <div th:if="${error}" class="alert alert-danger alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert">×</button>
	        <p th:text="#{${error}}"></p>
	    </div>
	    <div th:if="${recovery}"
	        class="alert alert-success alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert">×</button>
	        <p th:text="#{${recovery}}"></p>
	    </div>
	</div>
</th:block>
</html>