<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-sm-2 col-md-1 col-lg-1">
           			<span class="glyphicon glyphicon-cog glyphicon-lg"></span>
        		</div>
				<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 vcenter"> 
					<h3 th:text="#{groupmanagement.group.create.title}">New Group</h3>
				</div>
			</div>
		</div>
	</div>
	<div id="save-errors">
	</div>
	<div>
		<form id="createGroupForm" method="POST" th:action="@{/groups/create}"
			class="form-horizontal">
			<div id="rootwizard">
				<ul>
					<li><a href="#tab1" data-toggle="tab"
						th:text="#{groupmanagement.group.create.basic_information}">First</a></li>
					<li><a href="#tab2" data-toggle="tab"
						th:text="#{groupmanagement.group.create.roles}">Second</a></li>
					<li><a href="#tab3" data-toggle="tab"
						th:text="#{groupmanagement.group.create.verify}">Third</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="tab1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"
									th:text="#{groupmanagement.group.create.basic_information}">Panel
									title</h3>
							</div>
							<div class="panel-body">
								<div th:replace="fragments/editBasicGroupInformation :: editBasicInformation(${group})"></div>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="tab2">
						<h3 th:text="#{groupmanagement.group.create.roles}">Panel
							title</h3>
						<h4 th:text="#{groupmanagement.group.create.modules}">Panel
							subtitle</h4>
						<div class="row">
							<div th:replace="fragments/permissions :: modules-components(${modules},${false},${null})"></div>
						</div>
					</div>
					<div class="tab-pane" id="tab3">

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title" id="lastStepTitle">Panel title</h3>
							</div>
							<div class="panel-body">
								<div th:include="groups/setupConfirm :: groupconfirm"></div>
							</div>
						</div>

					</div>
					<ul class="pager wizard">
						<li class="previous"><a href="#"
							th:text="#{groupmanagement.group.create.previous}">Previous</a></li>
						<li class="next"><a href="#"
							th:text="#{groupmanagement.group.create.next}">Next</a></li>
						<li class="next finish" style="display: none;">
							<button id="create-group" class="btn btn-primary pull-right" 
									th:text="#{groupmanagement.group.create.finish}">Activate New Group</button>
						</li>							
						<li class="next last cancel"><a href="#" th:href="@{/groups}">Cancel</a></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/jquery.bootstrap.wizard.js}"></script>
	<script th:src="@{/resources/js/usermanagement-groupPermissions.js}"></script>
	<script th:src="@{/resources/js/groupmanagement-create.js}"></script>
	<script th:inline="javascript">
		var CSRF_TOKEN = /*[[${_csrf.token}]]*/ null;
		$('#create-group').click(function(e) {
			e.preventDefault();
			GroupCreate.submitJSON($('#groupName').val(),$('#description').val());
		});
 	</script>	 	 	
</th:block>
</html>