<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="groupdescription (group,showEdit)" class= "bottom-border">
	<div class="row">
		<div class="col-xs-2">
			<h3 th:text="${group.name}"></h3>
		</div>			
	</div>
	<div>
		<h4 th:text="#{groupmanagement.group.details.description.title}">Description</h4>
		<p th:text="${group.description}"></p>
	</div>
	<div th:if="${showEdit}" class="row">
		<div class="col-xs-1 pull-right">
			<a th:href="@{/groups/edit(groupId=${group.groupId})}" 
				class="btn btn-primary" th:text="#{groupmanagement.group.edit}">Edit</a>
		</div> 
	</div>
</div>
</html>