<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
			<div class="row">
				<div class="col-sm-2 col-md-1 col-lg-1">
           			<span class="glyphicon glyphicon-cog glyphicon-lg"></span>
        		</div>
				<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 vcenter"> 
				    <div th:replace="fragments/componentsTitle :: componentsTitle (#{groupmanagement.main.title}, #{groupmanagement.main.subtitle}, ${componentses})"></div>			
				</div>
			</div>
	</div>
	<div id="save-errors">
	</div>
	<div>
		<div class="row bottom-border">
			<div class="col-xs-1 vcenter">
				<img src="http://placehold.it/90x90" class="img-circle" />
			</div>
			<div class="col-xs-2 vcenter">
				<h3 id="group-name" th:text="${group.name}"></h3>
				<div class="btn-group">
  					<button id="status-button" type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    					Action <span class="caret"></span>
  					</button>
  					<ul id="status-options" class="dropdown-menu" role="menu">
  					</ul>
				</div>									
			</div>		
		</div>

		<div th:replace="groups/description :: groupdescription (${group}, true)"></div>

		<div class="bottom-border">
			<div class="row">
				<div class="col-xs-2">
					<h3 th:text="#{groupmanagement.group.details.roles.title}">Roles</h3>
				</div>			
			</div>
			<div class="row">
				<div class="col-xs-2">
					<h4 th:text="#{groupmanagement.group.details.modules.title}">Modules</h4>
				</div>			
			</div>
			<div class="row">
				<div th:replace="fragments/permissions :: modules-components(${modules},${false},${group})"></div>
			</div>			
		</div>

		<div class="span6 pull-left">
			<div class="col-md-1 vcenter">
				<span class="glyphicon glyphicon-circle-arrow-left glyphicon-lg"></span>
			</div>
			<div class="col-md-5 col-md-push-2 vcenter">
				<a class="grey-link"
					th:href="@{/groups}"
					th:text="#{groupmanagement.back}">Back</a>
			</div>
		</div>
		<div class="span6 pull-right">
			<div class="col-md-12">
				<a th:href="@{/}" th:text="#{groupmanagment.cancel}">Cancel</a> | 
				<button id="save-changes" class="btn btn-primary"
					th:text="#{groupmanagement.save}">Save</button>
			</div>
		</div>			
	</div>	
</th:block>
<th:block layout:fragment="custom-js">
	<script type="text/javascript" th:src="@{/resources/js/usermanagement-groupPermissions.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/usermanagement-enable-disable-button.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/usermanagement-change-group-status.js}"></script>		
	<script th:if="${groupsManager.isGroupEnabled(group)}" th:inline="javascript">
		var CSRF_TOKEN = /*[[${_csrf.token}]]*/ null;
		var groupId = /*[[${group.groupId}]]*/ null;
		var status = /*[[#{usermanagement.group.status.enabled}]]*/ "Enabled";
		var action = /*[[#{usermanagement.group.status.disable}]]*/ "Disable";
		
        $(function() {
			EnableDisableButton.setStatus(status, action,"btn-primary", "#status-button", "#status-options");
			$('#status-action').click(function(){
				GroupStatus.toggle();
			}); 
        });		
	</script>
	<script th:unless="${groupsManager.isGroupEnabled(group)}" th:inline="javascript">
		var CSRF_TOKEN = /*[[${_csrf.token}]]*/ null;
		var groupId = /*[[${group.groupId}]]*/ null;	
		var status = /*[[#{usermanagement.group.status.disabled}]]*/ "Disabled";
		var action = /*[[#{usermanagement.group.status.enable}]]*/ "Enable";
		
        $(function() {
			EnableDisableButton.setStatus(status, action,"btn-default", "#status-button", "#status-options");
			$('#status-action').click(function(){
				GroupStatus.toggle();
			}); 
        });			
	</script>
	<script th:inline="javascript">
		var CSRF_TOKEN = /*[[${_csrf.token}]]*/ null;
		
		$(function() {
			ModulesComponents.init();
		});

		$('#save-changes').click(function(e){
			ModulesComponents.submitJSON();
		});
	</script>
</th:block>
</html>