<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="row">
			<div class="col-sm-2 col-md-1 col-lg-1">
           			<span class="glyphicon glyphicon-cog glyphicon-lg"></span>
        		</div>
				<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 vcenter"> 
			    <div th:replace="fragments/componentsTitle :: componentsTitle (#{groupmanagement.main.title}, #{groupmanagement.group.edit.title}, ${componentses})"></div>			
			</div>
		</div>	
	</div>
	<form th:action="@{/groups/details(groupId=${group.groupId})}" method="post" id="usrform">
		<div class="panel-body">
			<div th:replace="fragments/editBasicGroupInformation :: editBasicInformation(${group})"></div>					
		</div>
		<div class="span6 pull-left">
			<div class="col-md-1 vcenter">
				<span class="glyphicon glyphicon-circle-arrow-left glyphicon-lg"></span>
			</div>
			<div class="col-md-5 col-md-push-2 vcenter">
				<a class="grey-link"
					th:href="@{/groups/details(groupId=${group.groupId})}"
					th:text="#{groupmanagement.back}">Back</a>
			</div>
		</div>
		<div class="span6 pull-right">
			<div class="col-md-12">
				<a th:href="@{/groups/details(groupId=${group.groupId})}" 
			   	th:text="#{groupmanagment.cancel}">Cancel</a> | 
				<button type="submit" class="btn btn-primary"
				th:text="#{groupmanagement.save}">Save</button>
			</div>
		</div>
	</form>	
</th:block>
</html>