<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
			<div class="row">
				<div class="col-sm-2 col-md-1 col-lg-1">
           			<span class="glyphicon glyphicon-cog glyphicon-lg"></span>
        		</div>
				<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 vcenter">  
				    <div th:replace="fragments/componentsTitle :: componentsTitle (#{groupmanagement.main.title}, #{groupmanagement.main.subtitle}, ${componentses})"></div>			
				</div>
			</div>
	</div>
	<div>
		<div class="row title-row">
			<div class="col-xs-3 vcenter">
				<h3 th:text="#{groupmanagement.current.groups.title}" style="display: inline">Current User Groups</h3>
			</div>
			<div class="col-xs-3 col-xs-offset-3 vcenter" style="display: inline">
				<a href="#" th:text="#{groupmanagement.disabled.groups.link}">View Disabled Groups</a>	
				<img src="http://placehold.it/30x30" class="img-circle" />				
			</div>
			<div class="col-xs-3 verticalLine vcenter">
				<a href="#" th:href="@{/groups/create}" th:text="#{groupmanagement.create.group.link}">Create a New Group</a>						
				<img src="http://placehold.it/30x30" class="img-circle" />
			</div>
		</div>
		<div th:include="fragments/pagination"></div>								
		<div id="groups" class="row list-group">
			<div th:each="group : ${page.content}">
				<div class="bottom-border">
					<div class="row">
						<div class="col-xs-4">
							<h4 th:text="${group.name}"></h4>
						</div>
						<div class="col-xs-3 pull-right">
							<img src="http://placehold.it/30x30" class="img-circle" />
							<a th:href="@{/groups/users(groupId=${group.groupId})}" 
								th:text="#{groupmanagement.group.users.link}">View users</a>
							<img src="http://placehold.it/30x30" class="img-circle" />
							<a th:href="@{/groups/details(groupId=${group.groupId})}" 
								th:text="#{groupmanagement.group.details.link}">View details</a>														
						</div>
					</div>
					<div>
						<p th:text="${group.description}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</th:block>
</html>