<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="groupconfirm">
		<dl>
			<dt th:text="#{groupmanagement.group.create.description}">Description</dt>
			<dd id="lastStepDescription">...</dd>
		</dl>    

		<div class="row">
			<div class="col-sm-2 col-md-1 col-lg-1">
				<h4 th:text="#{groupmanagement.group.permissions}">Permissions</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-6 col-sm-8">
				<table id="permission-summary" class="table table-bordered"></table>
			</div>
		</div>
	</div>			
</html>