<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
	<style>.strikethru{text-decoration: line-through;}</style>
</th:block>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="row">
        <div class="col-sm-2 col-md-1 col-lg-1">
           <span class="glyphicon glyphicon-cog glyphicon-lg"></span>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 vcenter"> 
		    <div th:replace="fragments/componentsTitle :: componentsTitle (#{groupmanagement.main.title}, #{groupmanagement.main.users.subtitle}, ${componentses})"></div>			
		</div>
    </div>
    <hr/>
    <div class="row">
    	<div class="col-md-2">
    		<b th:text="#{groupmanagement.users.selectGroup}"></b>
    		<select class="input-group form-control" name="groupName">
    			<option th:each="group: ${groups}" th:value="${group.name}" th:text="${group.name}"
						th:selected="${currentGroup} == ${group} ? 'selected'"></option>
    		</select>
    	</div>
    	<div class="col-md-8">
    		<b th:text="#{usermanagement.main.search.bar.label}"></b><br/>
    		<input id="search" class="input-group form-control" type="text" name="criteria"/>
    	</div>
    	<div class="col-md-2"><b></b>
    		<button  id="search-button" th:text="#{usermanagement.main.search.submit.label}" name="submit" class="btn btn-primary col-md-10 col-md-offset-1" type="submit" style="margin-top:10px">Search</button>
    	</div>
    </div>
    <hr/>
    <div class="row">
    	<div class="col-md-10">
    		<h2 class="vertical-centered" th:text="|${currentGroup.name} #{groupmanagement.users.subtitle}|"></h2>
    	</div>
    	<div class="col-md-2">
    		<a class="vertical-centered" th:href="@{/user/create}" th:text="#{groupmanagement.users.addUser}"></a>
    		<span class="glyphicon glyphicon-sm glyphicon-plus-sign vertical-centered"></span>
    	</div>
    </div>
    <br/>
    <form th:action="@{/groups/users(groupId = ${groupId})}" method="post">
    <div class="row">
    	<table id="usersForGroup" class="display">
    		<thead>
    			<tr>
    				<th th:text="#{usermanagement.main.results.table.col1.label}"></th>
    				<th th:text="#{usermanagement.main.results.table.col2.label}"></th>
    				<th th:text="#{usermanagement.main.results.table.col4.label}"></th>
    				<th th:text="#{usermanagement.main.results.table.col5.label}"></th>
    				<th th:text="#{usermanagement.main.results.table.col6.label}"></th>
    				<th th:text="#{usermanagement.groups.users.col6.label}"></th>
    			</tr>
    		</thead>
    		<tbody>
    				<tr th:id="|row${personStat.index}|" th:each="person: ${people}">
						<td th:text="${person.id}"></td>
						<td th:text="|${person.firstName} ${person.lastName}|"></td>
						<td th:text="${person.login}"></td>
						<td th:text="${person.getPreferredPhone() == null}? 'Unavailable' : ${person.getPreferredPhone().number}">Unavailable</td>
						<td th:text="${person.status}"></td>
						<td>
							<button th:id="|ckb${personStat.index}|" th:name="|delete${personStat.index}|" th:value="${person.id}" type="button" class="plus-minus-trigger button-no-style">
								<span th:id="|button${personStat.index}|" class="glyphicon glyphicon-minus-sign"></span>
							</button>
							<input type="hidden" th:id="|input${personStat.index}|" th:name="|default${personStat.index}|" th:value="${person.id}" />
						</td>
					</tr>
    		</tbody>
    	</table>
    </div>
	<hr/>
	<div class="row">
		<div class="col-md-8">
		<span class="glyphicon glyphicon-circle-arrow-left glyphicon-lg"></span>
		<a th:text="#{usermanagement.main.back}" class="grey-link center-block" href="previous.html"
								onClick="history.back();return false;"></a></div>
		<div class="col-md-1"><a th:text="#{usermanagement.main.cancel}" class="grey-link center-block" th:href="@{/usermanagement}"></a></div>
		<div class="col-md-1">|</div>
		<input type="hidden" name="usersSize" th:value="${usersSize}"/>
		<div class="col-md-2"><button class="btn btn-primary" type="submit" th:text="#{groupmanagement.users.save}"></button></div>
	</div>
	</form>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/resources/js/groupmanagement-custom.js}"></script>
	<script th:src="@{/resources/js/usermanagement-search.js}"></script>
</th:block>
</html>