<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
</th:block>
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: account-sub-banner(#{efare.carddetails.unregistered.title}, #{efare.carddetails.unregistered.subtitle})"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="container card-detail">
        <div th:replace="fragments/content :: card-details"></div>
        <div class="bottom-content">
            <div class="span4 pull-left">
                <a class="grey-link" th:href="@{/card/search}">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span><th:block th:text="#{product.back}"></th:block>
                </a>
            </div>
            <div class="col-md-offset-9 col-md-3">
                <form sec:authorize="isAuthenticated()" th:action="@{/card/register}"
                    th:object="${registrationForm}" method="GET">
                    <input type="hidden"
                        th:field="*{cardNumber}"
                        th:value="${cardnumber}"></input>
                    <input type="hidden"
                        th:field="*{cvvNumber}"
                        th:value="${cvv}"></input>
                    <button class="btn btn-primary"
                        type="submit" th:text="#{eFare.cardRegistration.register.text}"></button>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
</th:block>
</html>
