<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/shoppingBase">
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
</th:block>
<th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
    <div th:replace="fragments/sub_banner :: account-sub-banner(#{efare.account.title}, #{efare.account.subtitle})"></div>
</th:block>
<th:block layout:fragment="page-content">
    <div class="sub-nav">
        <div class="container">
            <ul role="tablist" class="nav nav-tabs nav-justified" id="myTabs">
                <li class="active"><a th:href="@{/#cardsummary}" th:text="#{efare.account.tab1}"></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/#profile}" th:text="#{efare.account.tab2}"></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/#activity}" th:text="#{efare.account.tab3}"></a></li>
            </ul>
        </div>
    </div>
    <div class="container card-detail">
        <div th:replace="fragments/content :: card-details"></div>
    </div>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
</th:block>
</html>
