<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<div th:fragment="report-inputs (action,params)">
		<form th:action="${action}" method="GET" class="navbar-form navbar-left">
			<div class="row">
				<div class="col-sm-3">
					<label for="begDate" th:text="#{efare.report.controls.begdate}">Begdate</label><br/>
					<input id="begDate" name="begDate" type="text" class="form-control calendar" th:placeholder="#{efare.report.controls.begdate}" th:value="${params['begDate']}"/>
				</div>
				<div class="col-sm-3">
					<label for="endDate" th:text="#{efare.report.controls.enddate}">Enddate</label><br/>
					<input id="endDate" name="endDate" type="text" class="form-control calendar" th:placeholder="#{efare.report.controls.enddate}" th:value="${params['endDate']}"/>
				</div>
				<div class="col-sm-3">
					<label for="cardFilter" th:text="#{efare.report.controls.cardfilter}"></label><br/>
					<select name="cardFilter" class="form-control">
						<option value="All" th:selected="${params['activeCard'] == 'All' || params['activeCard'] == ''}">All</option>
						<option th:each="card : ${params['cardFilter']}" th:value="${card.identifier}" th:text="${card.getDisplayName()}" th:selected="${params['activeCard'] == card.identifier}"></option>
					</select>
				</div>
				
				<div class="col-sm-3">
					<br/>
					<input class="btn btn-primary" type="submit" th:value="#{efare.report.controls.submit}"/>
				</div>
			</div>
		</form>
	</div>
	
	
	<div th:fragment="report-results (results)" class="no-table">
		<table id="result-table" class="table table-responsive">
			<thead>
				<tr>
					<th th:text="#{efare.report.cardhistory.datetime}">Date/Time</th>
					<th th:text="#{efare.report.cardhistory.event}">Event</th>
					<th th:text="#{efare.report.cardhistory.cardnum}"> Card Number</th>
					<th th:text="#{efare.report.cardhistory.value}">Value +/-</th>
					<th th:text="#{efare.report.cardhistory.paymentsrc}">Payment Source</th>
					<th th:text="#{efare.report.cardhistory.product}">Product</th>
					<th th:text="#{efare.report.cardhistory.remvalue}">Remaining Value</th>
					<th th:text="#{efare.report.cardhistory.equipment}">Equipment</th>
					<th th:text="#{efare.report.cardhistory.route}">Route</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="result : ${results}">
					<td th:attr="data-title='__#{efare.report.cardhistory.datetime}__'" th:text="${#dates.format(result.id.dateTime,'MM/dd/yyyy HH:mm')}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.event}__'" th:text="${result.id.event}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.cardnum}__'" th:text="${result.cardNumber}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.value}__'" th:text="${result.valuePlusMinus}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.paymentsrc}__'" th:text="${result.paymentType}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.product}__'" th:text="${result.product}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.remvalue}__'" th:text="${result.amountRemaining}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.equipment}__'" th:text="${result.equipmentDescription}"></td>
					<td th:attr="data-title='__#{efare.report.cardhistory.route}__'" th:text="${result.routeNumber}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</html>