<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<th:block th:fragment="line-item (label,value)">
		<div><b th:text="${label}"></b></div>
		<div th:text="${value}"></div>
	</th:block>

	<th:block th:fragment="order-status-img (status)">
		<span th:if="${status == 'Complete'}" class="glyphicon glyphicon-ok-sign"></span>
		<span th:if="${status == 'Cancelled'}" class="glyphicon glyphicon-remove-sign"></span>
		<span th:if="${status == 'In Progress'}" class="glyphicon glyphicon-cog"></span>

	</th:block>
</html>
