<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
	
<th:block layout:fragment="custom-css">
	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}"/>
</th:block>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div class="sub-banner">
		<div class="container report-controls">
			<div class="row">
				<div class="col-md-12">
					<h1 th:text="#{efare.report.cardhistory.title}">Order History Report</h1>
					<div th:replace="report/fragments/cardhistory :: report-inputs (@{/report/cardhistory},${params})"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5 class="note" th:text="#{efare.report.orderhistory.notes}">90 days prior</h5>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="page-content">    
	<div class="container">
		<div class="row">
			<div class="col-md-12 report-results">				
				<div th:if="${success == false}" th:text="#{efare.report.validation.threemonth}" class="text-center note alert alert-danger"></div>
				<div th:if="${success == true &amp;&amp; #lists.isEmpty(results)}" th:text="#{efare.report.validation.noresults}" class="text-center note">No Results for Criteria</div>
				<div th:if="${success == true &amp;&amp; !#lists.isEmpty(results)}">
					<div th:replace="report/fragments/cardhistory :: report-results (${results})"></div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/datePicker.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$('#result-table').dataTable({
				bFilter : false,
				sDom: /*[[ '&lt;&quot;top&quot;i&gt;rt&lt;&quot;bottom&quot;lp&gt;&lt;&quot;clear&quot;&gt;' ]]*/,
				order: [[0,'desc']]
			});
		});
	</script>
</th:block>
</html>
				
