<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">
	
<th:block layout:fragment="custom-css">
</th:block>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div class="sub-banner">
		<div class="container report-controls">
			<div class="row">
				<div class="col-md-12">
					<h1 th:text="#{efare.report.orderhistory.title}">Order History Report</h1>
					<form th:action="@{/report/orderhistory}" method="POST">
						<div class="row">
							<div class="col-sm-3">
								<label for="begDate" th:text="#{efare.report.controls.begdate}">Begdate</label><br/>
								<input id="begDate" name="begDate" type="text" class="form-control calendar" th:placeholder="#{efare.report.controls.begdate}" th:value="${params['begDate']}"/>
							</div>
							<div class="col-sm-3">
								<label for="endDate" th:text="#{efare.report.controls.enddate}">Enddate</label><br/>
								<input id="endDate" name="endDate" type="text" class="form-control calendar" th:placeholder="#{efare.report.controls.enddate}" th:value="${params['endDate']}"/>
							</div>				
							<div class="col-sm-3">
								<br/>
								<input class="btn btn-primary" type="submit" th:value="#{efare.report.controls.submit}"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5 class="note" th:text="#{efare.report.orderhistory.notes}">90 days prior</h5>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="page-content">    
	<div class="container">
		<div class="row">
			<div class="col-md-12 report-results">				
				<div th:if="${success == false}" th:text="#{efare.report.validation.threemonth}" class="text-center note alert alert-danger"></div>
				<div th:if="${success == true &amp;&amp; #lists.isEmpty(results)}" th:text="#{efare.report.validation.noresults}" class="text-center note">No Results for Criteria</div>
				<div th:if="${success == true &amp;&amp; !#lists.isEmpty(results)}" th:each="order : ${results}" class="order">
					<div class="row data">
						<div class="col-md-12">					
							<span><b th:text="#{efare.report.orderhistory.order.number}">Order Number:</b></span> <span th:text="${order.orderId}"></span><br/>
							<span><b th:text="#{efare.report.orderhistory.order.placed}">Order Placed:</b></span> <span th:text="${#dates.format(order.dateOrdered,'MM/dd/yyyy')}"></span><br/>
							<span><b th:text="#{efare.report.orderhistory.order.status}">Order Status:</b></span> <span th:text="${order.status}"></span><span th:replace="report/fragments/orderhistory::order-status-img (${order.status})"></span><br/>
						</div>
					</div>
					<th:block th:each="parent : ${order.items}">
						<div class="row parent">
							<div class="col-xs-12">
								<div class="pull-left list-inline">
									<div class="uppercase"><b th:text="${parent.value.description}"></b></div>
									<div th:text="${parent.value.subDescription != null ? parent.value.subDescription : ''}">c#</div>
								</div>
								<ul class="pull-right list-inline text-left">
									<li th:if="${parent.value.hasCost}"> <th:block th:replace="report/fragments/orderhistory::line-item (#{efare.report.orderhistory.order.quantity},${parent.value.quantity})"></th:block></li>
									<li th:if="${parent.value.hasCost}"> <th:block th:replace="report/fragments/orderhistory::line-item (#{efare.report.orderhistory.order.unitprice},'$__${parent.value.unitPrice}__')"></th:block></li>
									<li th:if="${parent.value.hasCost}"> <th:block th:replace="report/fragments/orderhistory::line-item (#{efare.report.orderhistory.order.cost},'$__${parent.value.amount}__')"></th:block></li>
								</ul>
							</div>
						</div>
						<div class="row child" th:each="child : ${parent.value.children}">
							<div class="col-xs-1">
								<br/>
								<span class="glyphicon glyphicon-arrow-right pull-right text-right"></span>
							</div>
							<div class="item col-xs-11">
								<div class="pull-left list-inline">
									<div><b th:text="#{efare.report.orderhistory.order.product}">Prod</b></div>
									<div th:text="${child.description}">name</div>
								</div>
								<ul class="pull-right list-inline text-left">
									<li> <th:block th:replace="report/fragments/orderhistory::line-item (#{efare.report.orderhistory.order.quantity},${child.quantity})"></th:block></li>
									<li> <th:block th:replace="report/fragments/orderhistory::line-item (#{efare.report.orderhistory.order.unitprice},'$__${child.unitPrice}__')"></th:block></li>
									<li> <th:block th:replace="report/fragments/orderhistory::line-item (#{efare.report.orderhistory.order.cost},'$__${child.amount}__')"></th:block></li>
								</ul>
							</div>
						</div>
					</th:block>
					<div class="row total">
						<div class="col-md-12">
							<div class="pull-right"><th:block th:text="#{efare.report.orderhistory.order.total}">totes</th:block> <b th:text="'$' + ${order.amountOrder}"></b></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="bottom-content">
    	<div th:replace="fragments/pageControls :: footerBackOnly ('javascript:history.back()')"></div>
	</div>
</th:block>
<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript" th:src="@{/resources/js/datePicker.js}"></script>
</th:block>
</html>
