<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body>
	<div class="panel panel-primary" layout:fragment="content">
		<div class="panel-heading">
			<h3 class="panel-title" th:text="#{report.orderhistory.title}"></h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<p th:text="#{reports.dates}"></p>
					<form method="post" th:action="@{|/report/${report}|}"
						th:object="${reportForm}">
						<div th:if="${#fields.hasAnyErrors()}" class="row">
							<div class="alert alert-dismissable alert-danger">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<ul>
									<li th:each="e : ${#fields.detailedErrors()}"
										th:class="${e.global}? globalerr : fielderr"
										th:text="${e.message}"></li>
								</ul>
							</div>
						</div>
						<label class="control-label" th:text="#{report.begdate}"></label>
						<input type="text" th:field="*{begdate}" required="required"
							th:errorclass="form-control-error" /> <label
							class="control-label" th:text="#{report.enddate}"></label> <input
							type="text" th:field="*{enddate}" required="required"
							th:errorclass="form-control-error" />
						<button type="submit" class="btn btn-primary"
							th:text="#{report.submit}"></button>
					</form>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12 pull-right">
					<a
						th:href="@{|/report/${report}(type=pdf, begdate=${begdate}, enddate=${enddate})|}"
						th:text="#{report.viewPDF}"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table id="orderHistory" class="table">
						<thead>
							<tr>
								<th colspan="11" th:each="element: ${line1}"
									th:text="|${element} for ${begdate} through ${enddate}|"
									class="text-center" th:unless="${element.equals('')}"></th>
								<th colspan="11" th:if="${line1==null}"
									th:text="'You have no order history'" class="text-center"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="line: ${bodyLines}">
								<td th:each="element: ${line}" th:text="${element}"
									th:unless="${line.contains('Order Total:')}"></td>
								<td class="success" th:each="element: ${line}"
									th:text="${element}" th:if="${line.contains('Order Total:')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<div layout:fragment="scripts">
	<script type="text/javascript" th:inline="javascript">
		function init(){
			 
			 /**
			  * Setup Date Picker
			  */
			 $( "#begdate" ).datepicker({
			  defaultDate: "-12w",
			  changeMonth: true
			 });
			 $( "#enddate" ).datepicker({
			  changeMonth: true
			 });
		}

		init();
		</script>
</div>
</html>


