<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/baseNoContainer">
 <th:block layout:fragment="page-header">
    <div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-content">
        <div class="container">
			<h1 th:text="#{error.title}">Oops!  An error occurred.</h1>
            <h4 th:text="#{error.subtitle}">Please return to the home page to find what you are looking for.</h4>
		<div>

			<div th:text="#{error.page.contact.title}"></div>
			<div th:text="#{error.page.contact.phone}"></div>
			<div th:text="#{error.page.contact.email}"></div>
		</div>
        </div>
        <hr></hr>
</th:block>
<th:block layout:fragment="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</th:block>
</html>