<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/shoppingBase">


<th:block layout:fragment="page-header">
	<div th:replace="fragments/header :: header-nav"></div>
</th:block>
<th:block layout:fragment="page-subheader">
	<div th:replace="fragments/sub_banner :: account-sub-banner(#{cardRegistration.header}, '')"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="container page-registration">
		<form th:action="@{/card/register}"
					th:object="${cardRegistrationForm}" method="POST">
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<input type="text" class="form-control input-sm"
							th:field="*{nickname}"
							th:placeholder="#{cardRegistration.nickname.text}"
							required="required" th:errorclass="form-control-error"></input>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<input type="text" class="form-control input-sm"
							th:field="*{cardNumber}"
							th:placeholder="#{cardRegistration.card_number.text}"
							required="required" th:errorclass="form-control-error"></input>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<input type="text" class="form-control input-sm"
							th:field="*{cvvNumber}"
							th:placeholder="#{cardRegistration.cvv_number.text}"
							required="required" th:errorclass="form-control-error"></input>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<button id="search" class="btn btn-primary pull-right"
							type="submit" th:text="#{eFare.cardRegistration.register.text}"></button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="col-sm-12 col-md-12 account-wallet light-blue">						
                            <div class=" col-md-12 generic-card-thumbnail walletcard-thumbnail foundcard-thumbnail center-block">                               
                               
                            </div>
                        </div>
				</div>
				<div class="col-md-7">
					<h4 th:text="#{card.header2}"></h4>
					<p th:text="#{card.body1}"></p>
					<a th:href="@{/faq}" th:text="#{card.link1}"></a>
				</div>
			</div>
                        <div th:if="${#fields.hasAnyErrors() || error != null}" class="row">
				<div class="alert alert-dismissable alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<ul>
						<li th:each="e : ${#fields.detailedErrors()}"
							th:class="${e.global}? globalerr : fielderr"
							th:text="${e.message}"></li>
                                                <li th:if="${error != null}" th:text="#{__${error}__}" 
                                                    th:class="globalerr"></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="page-footer">
	<div th:replace="fragments/footer :: footer"></div>
</th:block>

</html>