<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row" layout:fragment="content">
		<form id="createUserForm" th:action="@{/user/create}" method="post"
			th:object="${userForm}" val:validate="${userForm}">
			<div th:if="${#fields.hasAnyErrors()}" class="row">
				<div class="alert alert-dismissable alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<ul>
						<li th:each="e : ${#fields.detailedErrors()}"
							th:class="${e.global}? globalerr : fielderr"
							th:text="${e.message}"></li>
					</ul>
				</div>
			</div>
			<div id="rootwizard">
				<ul>
					<li><a href="#tab1" data-toggle="tab"
						th:text="#{usermanagement.user.create.step.1}">First</a></li>
					<li><a href="#tab2" data-toggle="tab"
						th:text="#{usermanagement.user.create.step.2}">Second</a></li>
					<li><a href="#tab3" data-toggle="tab"
						th:text="#{usermanagement.user.create.step.3}">Third</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="tab1">
						<div class="control-group">
							<div
								th:replace="fragments/basicUserInformation :: basicInfo(${userForm})"></div>
							<div
								th:replace="fragments/basicUserInformation :: userProfile(${userForm})"></div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
                        <div class="col-md-12">
                            <div th:replace="fragments/permissions :: groups-modules-components (${groups},${userForm.groups},'')"></div>
                        </div>
					</div>
					<div class="tab-pane" id="tab3">
						<div class="control-group">
							<div class="panel-body">
								<h3 th:text="#{usermanagement.create_user.basic_information}"></h3>
							</div>
							<div class="panel-body">
								<dl>
									<dt th:text="#{usermanagement.create_user.organization}">...</dt>
									<dd id="verifyAgency">...</dd>
									<dt th:text="#{usermanagement.create_user.first_name}">...</dt>
									<dd id="verifyFirstName">...</dd>
									<dt th:text="#{usermanagement.create_user.last_name}">...</dt>
									<dd id="verifyLastName">...</dd>
									<dt th:text="#{usermanagement.create_user.email_address}">...</dt>
									<dd id="verifyEmail">...</dd>
								</dl>
							</div>
						</div>
						<input type="button" class="btn btn-primary" onclick="javascript: $(document).find('[href$=tab1]').trigger('click');"  th:value="#{usermanagement.user.create.edit}"></input>
						<hr/>
						<div class="control-group">
							<div class="panel-body">
								<h3 th:text="#{usermanagement.create_user.user_profile}"></h3>
							</div>
							<div class="panel-body">
								<dl>
									<dt th:text="#{usermanagement.create_user.job_title}">...</dt>
									<dd id="verifyJobTitle">...</dd>
									<dt th:text="#{usermanagement.create_user.employee_id}">...</dt>
									<dd id="verifyEmployeeId">...</dd>
									<dt th:text="#{usermanagement.create_user.phone_number}">...</dt>
									<dd id="verifyPhoneNumber">...</dd>
									<dt th:text="#{usermanagement.create_user.mobile_number}">...</dt>
									<dd id="verifyMobilePhoneNumber">...</dd>
								</dl>
							</div>
						</div>
						<input type="button" class="btn btn-primary" onclick="javascript: $(document).find('[href$=tab1]').trigger('click');"  th:value="#{usermanagement.user.create.edit}"></input>
						<hr/>
					</div>
					<ul class="pager wizard">
						<li class="previous"><a href="#"
							th:text="#{usermanagement.user.create.previous}">Previous</a></li>
						<li class="next"><a href="#"
							th:text="#{usermanagement.user.create.next}">Next</a></li>
						<li class="next finish" style="display: none;"><a
							href="javascript:submitForm();"
							th:text="#{usermanagement.user.create.activeUser}">Active User</a></li>
						<li class="next last cancel"><a href="#" th:href="@{/users}"
							th:text="#{usermanagement.user.create.cancel}">Cancel</a></li>
					</ul>
				</div>
			</div>
			<input id="groupsList" type="hidden" th:field="${userForm.groupsList}"></input>
		</form>

	</div>

</th:block>
<th:block layout:fragment="custom-js">
	<script type="text/javascript"
		th:src="@{/resources/js/jquery.bootstrap.wizard.min.js}"></script>
	<script type="text/javascript"
           th:src="@{/resources/js/usermanagement-groupPermissions.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/usermanagement-create.js}"></script>
    <script>
        $(function() {
            GroupsModulesComponents.init();
        });
    </script>
</th:block>

</html>