<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
	<style>.bold{font-family:bold;}.pointer{cursor:pointer;}</style>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
		    <div th:replace="fragments/componentsTitle :: componentsTitle (#{usermanagement.user.title}, #{usermanagement.user.details.subtitle}, ${componentses})"></div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="http://placehold.it/100x100" class="img-circle"/>
				</div>
				<div class="col-md-10">
					<h3>
						<span th:text="#{usermanagement.user.details.head.title}">User Management</span>
						<span style="font-size:12px;"><a th:href="@{/user/profile(uid=${user.id})}" th:text="#{usermanagement.user.details.head.view.details}">View Details</a></span>
					</h3>
					<div th:text="${user.fullName}">Jane Doe</div>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="actionMenu" data-toggle="dropdown">
							<span th:text="${user.status}">Active</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="actionMenu">
							<!-- TODO: COMPLETE MENU BUILD -->
							<li role="presentation"><a id="actionMenu-reset-password" role="menuitem" tabindex="-1" href="#" th:text="#{usermanagement.user.details.actions.reset.password}">Reset Password</a></li>
							<li role="presentation"><a id="actionMenu-copy-user" role="menuitem" tabindex="-1" th:href="@{/user/copy(uid=${user.id})}" th:text="#{usermanagement.user.details.actions.copy.user}">Copy User</a></li>
							<li role="presentation"><a id="actionMenu-set-active" role="menuitem" tabindex="-1" href="#" th:text="#{usermanagement.user.details.actions.enable.disable}">Enable/Disable</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 th:text="#{usermanagement.user.details.basic.info.title}">Basic Information</h3>
					<div class="row">
						<div class="col-md-2 bold" th:text="#{usermanagement.user.details.basic.col1}">First Name</div>
						<div class="col-md-3" th:text="${user.firstName}">Jane</div>
					</div>
					<div class="row">
						<div class="col-md-2 bold" th:text="#{usermanagement.user.details.basic.col2}">Last Name</div>
						<div class="col-md-3" th:text="${user.lastName}">Doe</div>
					</div>
					<div class="row">
						<div class="col-md-2 bold" th:text="#{usermanagement.user.details.basic.col3}">Email</div>
						<div class="col-md-3" id="user-email" th:text="${user.emails[0].address}">jdoe@example.com</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div th:replace="fragments/permissions :: groups-modules-components (${groups},${usergroups},'readonly')"></div>
				</div>			
			</div>
			<div class="row">
				<button id="save-groups" class="btn btn-primary pull-right">Save Changes</button>
				<div class="col-md-12"><hr/></div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/usermanagement-groupPermissions.js}"></script>
	<script th:src="@{/resources/js/usermanagement-enabledisable.js}"></script>
	<script th:inline="javascript">
		var CSRF_TOKEN = /*[[${_csrf.token}]]*/ null;
		
		$(function() {
			GroupsModulesComponents.init();
			$('#save-groups').click(GroupsModulesComponents.submitJSON);
		});
	</script>
	<script th:inline="javascript">
		var CSRF_TOKEN = /*[[${_csrf.token}]]*/ null;
		var userId = /*[[${user.id}]]*/ null;
		$(function() {
			$('#actionMenu-set-active').click(EnableDisableUser.toggle);
		});
	</script>
</th:block>
</html>