<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<form th:action="@{/user/profile}" method="POST" th:object="${userForm}" val:validate="${userForm}">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<div class="col-md-12">
				<div th:replace="fragments/componentsTitle :: componentsTitle (#{usermanagement.user.title}, #{usermanagement.user.profile.subtitle}, ${componentses})"></div>
			</div>

				<div class="row">
					<div class="col-md-12"><hr/></div>
				</div>
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-dismissable alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
						<ul>
							<li th:each="e : ${#fields.detailedErrors()}"
								th:class="${e.global}? globalerr : fielderr"><span
								th:text="${e.message}"></span></li>
						</ul>
				</div>
				<div class="row">
					<div th:replace="fragments/basicUserInformation :: basicInfo(${userForm})"></div>
				</div>
				<div class="row">
					<div class="col-md-12"><hr/></div>
				</div>
				<div class="row">
        			<div th:replace="fragments/basicUserInformation :: userProfile(${userForm})"></div>
        		</div>
	        	<div class="row">
					<div class="col-md-12"><hr/></div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-10">
						<button id="search-button" th:text="#{usermanagement.user.profile.save}" class="btn btn-primary" type="submit">Save Changes</button>
					</div>
				</div>
				<br/>
		</form>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="text/javascript"
        th:src="@{/resources/js/usermanagement-profile.js}"></script>
</th:block>
</html>