<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row" layout:fragment="content">
		<div class="row">
			<div class=" col-md-2">
				<img class="img-circle" src="http://placehold.it/100x100"></img>
			</div>
			<div class="col-md-10">
				<div class="row">
					<h3 th:text="#{usermanagement.user.create.success.account_create}">Example heading</h3>
				</div>
				<div class="row">
					<h4 th:text="${createUser.firstName} + ' ' + ${createUser.lastName}">Example heading</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default col-md-5">
				<div class="panel-body">
					<p th:text="#{usermanagement.user.create.success.message}"></p>
					<dl class="dl-horizontal">
						<dt th:text="#{usermanagement.create_user.agency}">Agency</dt>
						<dd th:text="${createUser.agency}">CDTA</dd>
						<dt th:text="#{usermanagement.create_user.first_name}">First Name</dt>
                        <dd th:text="${createUser.firstName}">Chris</dd>
                        <dt th:text="#{usermanagement.create_user.last_name}">Last Name</dt>
                        <dd th:text="${createUser.lastName}">Pitman</dd>
                        <dt th:text="#{usermanagement.create_user.email_address}">Email</dt>
                        <dd th:text="${createUser.email.address}">chris@pitman.com</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="row">
            <a href="#" th:href="@{/}" class="btn btn-primary btn-md" th:text="#{usermanagement.user.create.finish}">Primary link</a>
		</div>
	</div>

</th:block>

</html>