<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/base">
<body>
	<div class="row" th:fragment="componentsTitle (title, subtitle, componentses)">
	    <div class="col-md-4" style="padding-right: 0px;">
	        <h3 th:text="${title}">User Management</h3>
	    </div>
	    <div class="col-md-8" style="padding-left: 0px; margin-top: 20px;">
	        <ul class="nav nav-pills">
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle grey-link" data-toggle="dropdown"><span class="glyphicon glyphicon-md glyphicon-th-list"></span></a>
	                <ul class="dropdown-menu" role="menu">
	                    <li th:each="components : ${componentses}" th:unless="${components.name == 'Default'}">
	                    <a th:if="${components.name == 'User Management'}" th:href="@{/}" th:text="${components.name}"></a>
	                    <a th:if="${components.name == 'Group Management'}" th:href="@{/groups}" th:text="${components.name}"></a>
	                    <a th:if="${components.name == 'Organization Management'}" th:href="@{/organizations}" th:text="${components.name}"></a></li>
	                </ul>
	            </li>
	         </ul>
	    </div>
	    <div class="col-md-12">
	    	<h5 th:text="${subtitle}"></h5>
	    </div>
	</div>
</body>
</html>