<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="blank">
	<h1>&nbsp;</h1>
</div>
<div th:fragment="genfarecom">
	<div class="row panel">
		<div class="col-md-2">
			<img src="http://placehold.it/250x100" />
		</div>
		<div class="col-md-2 col-md-offset-3">
			<img src="http://placehold.it/100x100" />
		</div>
		<div class="col-md-2">
			<img src="http://placehold.it/100x100" />
		</div>
		<div class="col-md-3" style="margin-top:40px">
			<span sec:authentication="name">Username</span> |
			<span><a id="logout" th:href="@{/logout}">Logout</a></span>
		</div>
	</div>
</div>

</html>