<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footerControl (backLink,cancelLink,nextLink,nextText)">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<a id="fc-backbutton" th:href="${backLink}"><span class="glyphicon glyphicon-circle-arrow-left"></span><span>Back</span></a>
			</div>
			<div class="pull-right">
				<a id="fc-cancelbutton" th:href="${cancelLink}" th:text="#{cancel}">Cancel</a> |
				<a id="fc-nextbutton" class="btn btn-primary" th:text="${nextText}" th:href="${nextLink}">Next</a>
			</div>
		</div>
	</div>
</div>

<div th:fragment="footerButtonControl (backLink,nextLink,nextText)">
	<div class="row">
		<div class="pull-left">
			<a id="fc-backbutton" th:href="${backLink}"><span class="glyphicon glyphicon-circle-arrow-left"></span><span>Back</span></a>
		</div>
		<div class="pull-right">
				<button id="submit" type="submit" class="button-no-style" th:text="#{cancel}">Cancel</button>
				| <a th:href="${nextLink}"
				th:text="${nextText}" class="btn btn-primary">View Cart</a>
		</div>
	</div>
</div>

<div th:fragment="footerOtherButtonControl (backLink,nextText)">
	<div class="row">
		<div class="pull-left">
			<a id="fc-backbutton" th:href="${backLink}"><span class="glyphicon glyphicon-circle-arrow-left"></span><span>Back</span></a>
		</div>
		<div class="pull-right">
				<a class="grey-link" th:href="@{/}" th:text="#{cancel}"></a> |
				<button type="submit" class="btn btn-primary"
				th:text="${nextText}"></button>
		</div>
	</div>
</div>


<div th:fragment="footerNextOnly (nextLink,nextText)">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<a id="fc-nextbutton" class="btn btn-primary" th:text="${nextText}" th:href="${nextLink}">Next</a>
			</div>
		</div>
	</div>
</div>

<div th:fragment="footerCancelOnly (cancelLink,cancelText)">
    <div class="row">
         <div class="span12 pull-right">
             <div class="col-md-12">
               	<form th:action="${cancelLink}" method="post">
                   	<button class="button-link-style" type="submit" id="submit"
					th:text="${cancelText}"></button>
                </form>
            </div>
         </div>
    </div>
</div>

<div th:fragment="footerBackOnly (backLink)">
    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<a id="fc-backbutton" th:href="${backLink}"><span class="glyphicon glyphicon-circle-arrow-left"></span><span>Back</span></a>
			</div>
		</div>
	</div>
    </div>
</div>
</body>
</html>