<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="|#{test.email.greeting}|">
        </p>
        <p th:text="#{test.email.body}">
        </p>
        <a th:href="#{test.email.link}" th:text="#{test.email.link}"></a>
        <br/><br/>
        <div th:fragment="footer">
        <div class="text-center small">
            <a th:href="#{footer.url_1.url}" th:text="#{footer.url_1.text}"></a> |
            <a th:href="#{footer.url_2.url}" th:text="#{footer.url_2.text}"></a> |
            <a th:href="#{footer.url_3.url}" th:text="#{footer.url_3.text}"></a> |
            <a th:href="#{footer.url_4.url}" th:text="#{footer.url_4.text}"></a> |
            <a th:href="#{footer.url_5.url}" th:text="#{footer.url_5.text}"></a>
         </div>
        <div class="text-center small" th:text="#{footer.text}"></div>
        </div>
    </body>
</html>