<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
	<style>
		.indicator {
			color: white;
			background: #999;
			border-radius: 100px;
			padding: 4px 12px;
			font-size: 12px;
			line-height:20px;
			text-align: center;
		}
		.indicator-selected {
			background: black;
		}
	</style>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h3 th:text="#{usermanagement.org.create.title}">Create an Organization</h3>
					<div id="indicator-panel">
						<span class="indicator indicator-selected">1</span> <span th:text="#{usermanagement.org.create.step1}">Step 1</span>
						<span class="glyphicon glyphicon-arrow-right"></span>
						<span class="indicator">2</span> <span th:text="#{usermanagement.org.create.step2}">Step 2</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div id="pageslider" class="col-md-12">
					<div>
						<h2>Profile</h2>
						<form id="orgForm" th:action="@{/organizations/create}" method="post"
							th:object="${orgForm}" val:validate="${orgForm}">
							<div th:if="${#fields.hasAnyErrors()}" class="row">
								<div class="alert alert-dismissable alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<ul>
										<li th:each="e : ${#fields.detailedErrors()}"
											th:class="${e.global}? globalerr : fielderr"
											th:text="${e.message}"></li>
									</ul>
								</div>
							</div>
							<div th:replace="fragments/orgForm :: form (${orgForm},${false},0)"></div>
                    	</form>
					</div>
					<div>
						<h3 th:text="#{usermanagement.org.create.step2}">Verify</h3>
						<div class="row">
							<div class="col-md-3"><b th:text="#{usermanagement.org.form.name}"></b></div>
							<div id="name-verify" class="col-md-4"></div>
						</div>
						<div class="row">
							<div class="col-md-3"><b th:text="#{usermanagement.org.form.type}"></b></div>
							<div id="type-verify" class="col-md-4"></div>
						</div>
						<div class="row">
							<div class="col-md-3"><b th:text="#{usermanagement.org.form.creditLimit}"></b></div>
							<div id="credit-verify" class="col-md-4"></div>
						</div>
						<div id="parent-verify-wrap" class="row">
							<div class="col-md-3"><b th:text="#{usermanagement.org.form.parentName}"></b></div>
							<div id="parent-verify" class="col-md-4"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div th:replace="fragments/pageControls :: footerControl ('#','__@{/organizations}__','#','Next')"></div>
			<div class="row"></div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/jquery-pageslider.js}"></script>
	<script th:src="@{/resources/js/orgmanagement-forms.js}"></script>
	<script th:src="@{/resources/js/orgmanagement-create.js}"></script>
</th:block>
</html>