<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="custom-css">
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
			<div th:replace="fragments/componentsTitle :: componentsTitle (#{usermanagement.org.title},#{usermanagement.org.details.subtitle}, ${componentses})"></div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h3 th:text="${org.name}"></h3>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="actionMenu" data-toggle="dropdown">
							<span th:text="${org.status.description}">Active</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="actionMenu">
							<li th:each="status : ${statuses}" th:unless="${status == org.status.description}" role="presentation"><a th:id="'actionMenu-' + ${status}" role="menuitem" tabindex="-1" th:href="@{/organizations/changeStatus(oid=${org.organizationId},status=${status})}" href="#" th:text="${status}"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<h3 class="col-md-4" th:text="#{usermanagement.org.details.basic.info.title}"></h3>
						<div class="col-md-4" style="border-left:solid 1px #777;"><h3></h3><a th:href="@{/organizations/profile(oid=${org.organizationId})}" th:text="#{usermanagement.org.details.basic.view.full}">View Full</a></div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-5"><b th:text="#{usermanagement.org.details.basic.name}"></b></div>
								<div class="col-md-7" th:text="${org.name}"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-5"><b th:text="#{usermanagement.org.details.basic.parent}"></b></div>
								<div class="col-md-7" th:if="${org.organizations != null}" th:text="${org.organizations.name}"></div>
							</div>
						</div>
						<div class="col-md-4" th:if="${org.organizations != null}" style="border-left:solid 1px #777;">
							<a th:href="@{/organizations/details(oid=${org.organizations.organizationId})}" th:text="#{usermanagement.org.details.basic.view.parent}">View parent</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-5"><b th:text="#{usermanagement.org.details.basic.contact}"></b></div>
								<div class="col-md-7" th:if="${org.mainContact != null}" th:text="|${org.mainContact.nameFirst} ${org.mainContact.nameLast}|"></div>
							</div>
						</div>
						<div class="col-md-4" th:if="${org.mainContact != null}" style="border-left:solid 1px #777;">
							<a th:href="@{/user(uid=${org.mainContact.personId})}" th:text="#{usermanagement.org.details.basic.view.contact}">View Contact</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-5"><b th:text="#{usermanagement.org.details.basic.phone}"></b></div>
								<div class="col-md-7" th:each="link : ${org.organizationlinkses}" th:if="${link.linktypes.linkTypeId == 2}" th:text="${link.linkValue}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul id="org-details-tabs" class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#org-users" th:text="#{usermanagement.org.details.tabs.users}">Users</a></li>
						<li><a href="#org-groups" th:text="#{usermanagement.org.details.tabs.groups}">Groups</a></li>
					</ul>
					<div class="tab-content">
						<div id="org-users" class="tab-pane active">
							<div class="row results-box">
								<div class="col-md-3">
									<h3 th:text="#{usermanagement.user.list.results.title}">Users</h3>
								</div>
								<div class="col-md-3 col-md-offset-6"  style="margin-top:20px">
									<a th:href="@{/user/create(orgId=${org.organizationId})}"><span th:text="#{usermanagement.user.list.results.create.label}">Create a new user</span> <span class="glyphicon glyphicon-plus-sign"></span></a>
								</div>
							</div>
							<div th:replace="fragments/search :: resultsBox (${#strings.listSplit('__#{usermanagement.user.list.results.table.col1.label}__,__#{usermanagement.user.list.results.table.col2.label}__,__#{usermanagement.user.list.results.table.col3.label}__,__#{usermanagement.user.list.results.table.col4.label}__,__#{usermanagement.user.list.results.table.col5.label}__,__#{usermanagement.user.list.results.table.col6.label}__,__#{usermanagement.user.list.results.table.col7.label}__,__#{usermanagement.user.list.results.table.col8.label}__',',')})"></div>
						</div>
						<div id="org-groups" class="tab-pane">
							<div th:replace="fragments/permissions :: groups-modules-components-available ('__#{usermanagement.org.details.groups.title}__',${groups})"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div th:replace="fragments/pageControls :: footerBackOnly ('__@{/organizations}__')"></div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/usermanagement-groupPermissions.js}"></script>
	<script th:src="@{/resources/js/usermanagement-orgdetails.js}"></script>
	<script th:inline="javascript">
		var userdata = /*[[${users}]]*/ [];
	</script>
</th:block>
</html>