<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
</th:block>
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
			<div th:replace="fragments/componentsTitle :: componentsTitle (#{usermanagement.org.title}, #{usermanagement.org.list.subtitle}, ${componentses})"></div>			
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div th:replace="fragments/search :: searchBar (#{usermanagement.org.list.search.bar.label},#{usermanagement.org.list.search.filter.label},${statuses},#{usermanagement.org.list.search.submit.label})"></div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row results-box">
				<div class="col-md-3">
					<h3 th:text="#{usermanagement.org.list.results.title}">Users</h3>
				</div>
				<div class="col-md-3 col-md-offset-6"  style="margin-top:20px">
					<a th:href="@{/organizations/create}"><span th:text="#{usermanagement.org.list.results.create.label}">Create a new user</span> <span class="glyphicon glyphicon-plus-sign"></span></a>
				</div>
			</div>
			<div th:replace="fragments/search :: resultsBox (${#strings.listSplit('__#{usermanagement.org.list.results.table.col1.label}__,__#{usermanagement.org.list.results.table.col2.label}__,__#{usermanagement.org.list.results.table.col3.label}__,__#{usermanagement.org.list.results.table.col4.label}__,__#{usermanagement.org.list.results.table.col5.label}__,__#{usermanagement.org.list.results.table.col6.label}__,__#{usermanagement.org.list.results.table.col7.label}__,__#{usermanagement.org.list.results.table.col8.label}__',',')})"></div>
			<div class="row results-box">
				<div class="col-md-12"><hr/></div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/resources/js/usermanagement-search.js}"></script>
	<script th:src="@{/resources/js/orgmanagement-list.js}"></script>
</th:block>
</html>