<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
		    <div th:replace="fragments/componentsTitle :: componentsTitle (#{usermanagement.org.title}, #{usermanagement.org.profile.subtitle}, ${componentses})"></div>			
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form id="orgForm" th:action="@{/organizations/profile}" method="post" th:object="${orgForm}" val:validate="${orgForm}">
						<div th:if="${#fields.hasAnyErrors()}" class="row">
							<div class="alert alert-dismissable alert-danger">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<ul>
									<li th:each="e : ${#fields.detailedErrors()}"
										th:class="${e.global}? globalerr : fielderr"
										th:text="${e.message}"></li>
								</ul>
							</div>
						</div>
						<div th:replace="fragments/orgForm :: form (${orgForm},${true},${org.balance})"></div>
            		</form>
            	</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div th:replace="fragments/pageControls :: footerControl ('__@{/organizations/details(oid=${orgForm.id})}__','__@{/organizations}__','#','Save')"></div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="custom-js">
	<script th:src="@{/resources/js/jquery-pageslider.js}"></script>
	<script th:src="@{/resources/js/orgmanagement-forms.js}"></script>
	<script th:src="@{/resources/js/orgmanagement-profile.js}"></script>
</th:block>
</html>
