<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1">
					<span class="glyphicon glyphicon-ok-circle" style="font-size:60px;padding-top:20px;"></span>
				</div>
				<div class="col-md-9">
					<h3 th:text="#{usermanagement.org.create.success.title}">Organization Created</h3>
					<h4 th:text="${org.name}">Create Org's Name</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit eros malesuada quam accumsan aliquam. Ut pellentesque nec lectus eu hendrerit. Sed mattis diam eu gravida faucibus. Aenean tempor est lectus, posuere dignissim tellus aliquet sed. Vestibulum sollicitudin erat ipsum, vitae rutrum nulla tempus vel. Pellentesque imperdiet ultricies est. Nam sit amet mi in odio condimentum porta. Nam eget ornare mi. Praesent ut erat eget eros pretium tincidunt sodales a metus. Vestibulum semper in risus vitae tincidunt.</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div th:replace="fragments/pageControls :: footerNextOnly ('__@{/organizations}__','Done')"></div>
			<div class="row"></div>
		</div>
	</div>
</th:block>
</html>