<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<th:block layout:fragment="page-header">
	<div th:replace="fragments/head :: genfarecom"></div>
</th:block>
<th:block layout:fragment="page-content">
	<div class="row panel panel-primary">
		<div class="col-md-12">
			<div th:replace="fragments/componentsTitle :: componentsTitle (#{csr.main.title}, #{csr.main.subtitle}, ${componentses})"></div>			
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<form>
					<div class="col-md-3">
						<b th:text="#{csr.main.search.bar.label}">Enter your search criteria</b><br/>
						<input type="text" name="criteria"/>
					</div>
					<div class="col-md-2">
						<b th:text="#{csr.main.search.status.label}">Status</b><br/>
						<select>
							<option value="active">Active</option>
							<option value="inactive">Inactive</option>
						</select>
					</div>
					<div class="col-md-2">
						<button name="submit" class="btn btn-primary col-md-10 col-md-offset-1" type="submit" style="margin-top:10px" th:text="#{csr.main.search.submit.label}">Search</button>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h3 th:text="#{csr.main.results.title}">Customers</h3>
				</div>
				<div class="col-md-3 col-md-offset-6" style="margin-top:20px">
					<div th:text="#{csr.main.results.create.label}">Create a new user</div><button>+</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"><b th:text="#{csr.main.results.table.col1.label}">Name</b></div>
				<div class="col-md-2"><b th:text="#{csr.main.results.table.col2.label}">Smartcard ID</b></div>
				<div class="col-md-2"><b th:text="#{csr.main.results.table.col3.label}">Email Address</b></div>
				<div class="col-md-2"><b th:text="#{csr.main.results.table.col4.label}">Phone</b></div>
				<div class="col-md-1"><b th:text="#{csr.main.results.table.col5.label}">Status</b></div>
				<div class="col-md-2"><b th:text="#{csr.main.results.table.col6.label}">Actions</b></div>
				<div class="col-md-1"><b th:text="#{csr.main.results.table.col7.label}">Details</b></div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr/></div>
			</div>
		</div>
	</div>
</th:block>
</html>