<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<table border="0" cellpadding="2" width="600">
			<tbody>
				<tr>
					<td colspan="2">
						<h1 th:text="#{receipt.email.title}">CDTA Order Summary</h1> <strong
						th:text="|#{receipt.email.greeting} ${user.firstName} ${user.lastName},|">Hello
							Mary Cochran,</strong> <br />
						<p th:text="#{receipt.email.summary}"></p> Donec nisl quam,
						sollicitudin feugiat, auctor a, molestie vel, ante. Nullam vel
						ipsum quis ante sagittis hendrerit.Cras dignissim sem pharetra
						orci. Etiam in ligula. Fusce massa. Aenean leo ipsum, elementum
						non, cursus eu, interdum ut, risus. <br /> <br /> <br />
					</td>
				</tr>
				<tr>
					<td width="300" th:if="${shipping.address1 != null}"><strong
						th:text="#{receipt.addresses.shipping}">Shipping Address:</strong><br />
						<span th:text="|${shipping.address1} ${shipping.address2}|"></span><br />
						<span th:text="|${shipping.city}, ${shipping.state}|"></span><br />
						<span th:text="${shipping.zip}"></span></td>
					<td width="300"><strong th:text="#{receipt.addresses.billing}">Billing
							Address:</strong><br /> <span
						th:text="|${billing.address1} ${billing.address2}|"></span><br />
						<span th:text="|${billing.city}, ${billing.state}|"></span><br />
						<span th:text="${billing.zip}"></span></td>
				</tr>
			</tbody>
		</table>
		<br /> <br />
		<table border="0" cellspacing="5" width="600">
			<tbody>
				<tr>
					<td colspan="4"><strong
						th:text="#{receipt.orderdetails.header}">Order Details</strong></td>
				</tr>
				<tr>
					<td><strong th:text="#{receipt.orderdetails.subheader.item}">Item</strong></td>
					<td><strong
						th:text="#{receipt.orderdetails.subheader.quantity}">Quantity
					</strong></td>
					<td><strong th:text="#{receipt.orderdetails.subheader.price}">Price</strong></td>
					<td><strong th:text="#{receipt.orderdetails.subheader.cost}">Cost</strong></td>
				</tr>
				<tr th:each="item: ${order.orderitemses}">
                                        <td th:if="${item.wallettypes != null}" th:text="${item.wallettypes.description}">Fare Card</td>
                                        <td th:if="${item.tickets != null}" th:text="${item.tickets.description}">Day Pass</td>
                                        <td th:if="${item.wallets != null}" th:text="|Card: ${item.wallets.nickname == null ? walletidentifiersRepository.getPrintedIdForWallet(item.wallets.walletId) : item.wallets.nickname}|">123456</td>
                                        <td th:if="${item.wallettypes == null and item.tickets == null and item.wallets == null}" 
                                            th:text="${item.wallets.wallettypes.description}">Replace card</td>
					<td th:text="${item.wallets != null ? '--' : item.quantity}">1</td>
					<td th:text="${item.wallets != null ? '--' : '$' + item.unitPrice}">$3.00</td>
					<td
						th:unless="${ ((item.parentItemNumber != null) and (item.parentItemNumber != item.id.orderItemNumber))}"
						th:text="${item.wallets != null} ? '--' : '$' + (${item.unitPrice} * ${item.quantity})">3.00</td>
					<td
						th:if="${ ((item.parentItemNumber != null) and (item.parentItemNumber != item.id.orderItemNumber))}"
						th:text="'$' + (${item.unitPrice} * ${item.quantity} * ${item.parentQuantity})"></td>
				</tr>
				<tr>
					<td colspan="3"><h6 align="right"
							th:text="#{receipt.orderdetails.ordertotal}">ORDER TOTAL</h6></td>
					<td><h3 th:text="|$${order.amountOrder}|">$17.00</h3></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<br />
	<div th:fragment="footer">
		<div class="text-center small">
			<a th:href="#{footer.url_1.url}" th:text="#{footer.url_1.text}"></a>
			| <a th:href="#{footer.url_2.url}" th:text="#{footer.url_2.text}"></a>
			| <a th:href="#{footer.url_3.url}" th:text="#{footer.url_3.text}"></a>
			| <a th:href="#{footer.url_4.url}" th:text="#{footer.url_4.text}"></a>
			| <a th:href="#{footer.url_5.url}" th:text="#{footer.url_5.text}"></a>
		</div>
		<div class="text-center small" th:text="#{footer.text}"></div>
	</div>
</body>
</html>
