<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/resources/css/base.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.0.custom.css}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="efare">
    <div class="hero recovery-page">
      <div class="modal show">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="login-logo"></div>
              <h1 class="text-center" th:text="#{password_recovery.header1}">Password Recovery</h1>
            </div>
            <form th:action="@{/recovery/reset}"
				th:object="${passwordRecoveryForm}" method="POST">
          	  <div class="modal-body">
	              <div class="alert alert-dismissable alert-danger alert-signin"
	                  th:if="${param.error}">
	                <button type="button" class="close" data-dismiss="alert"
	                    aria-hidden="true">×</button>
	                <strong th:text="#{panel.signin.invalid_password}"></strong>
	              </div>
	                <div class="form-group">
	                	<input type="password" th:field="*{password1}"
								class="form-control input-lg"
								th:placeholder="#{register.password1.text}" required="required"
								th:errorclass="form-control-error"></input>
	                </div>
	                <div class="form-group">
	                	<input type="password" th:field="*{password2}"
								class="form-control input-lg"
								th:placeholder="#{register.password2.text}" required="required"
								th:errorclass="form-control-error"></input>
	                </div>
                <div class="form-group">
                    <input type="hidden" th:field="*{token}"/>
                	<button id="search" class="btn btn-primary btn-lg btn-block"
								type="submit" th:text="#{password_recovery.send}"></button>
                </div>
            </div>
            <div class="modal-footer">
		         <!-- TODO: handle exceptions better -->
				<div th:if="${#fields.hasErrors('${passwordRecoveryForm}')}"
					class="alert alert-dismissable alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<ul>
						<li th:each="e : ${#fields.detailedErrors()}"
							th:class="${e.global}? globalerr : fielderr"
							th:text="${e.message}"></li>
					</ul>
				</div>
				
				<div th:if="${success}" class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<p th:text="#{${success}}"></p>
				</div>
            </div>
            </form>
          </div>
          <div>
           	<a th:href="@{/login}" method="post" th:text="#{password_recovery.login}"></a>
          </div>
        </div>
      </div>
    </div>
	<th:block layout:fragment="page-footer">
		<div th:replace="fragments/footer :: footer"></div>
	</th:block>
    <script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/jquery-ui-1.10.0.custom.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootswatch.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootstrap-formhelpers.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/grids.min.js}"></script>

  </body>
</html>
