<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/resources/css/base.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.0.custom.css}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="efare">
    <div class="hero recovery-page">
      <div class="modal show">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a th:href="@{/}">
                <div class="login-logo"></div>    
              </a>
              <h1 class="text-center" th:text="#{password_recovery.header1}">Password Recovery</h1>
            </div>
            <div class="modal-body">
              <div class="alert alert-dismissable alert-danger alert-signin"
                  th:if="${param.error}">
                <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">×</button>
                <strong th:text="#{panel.signin.invalid_password}"></strong>
              </div>
              <form th:action="@{/recovery}" method="POST">
	                <div class="form-group">
						<label>Email</label>
	                	<input type="text" class="form-control input-lg" id="email" name="email" th:placeholder="#{password_recovery.email}" 
	                		required="required" th:errorclass="form-control-error"></input>
	                </div>
                <div class="form-group">
                	<button id="search" class="btn btn-primary btn-lg btn-block"
						type="submit" th:text="#{password_recovery.send}"></button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
	         <div th:if="${error}" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<p th:text="#{${error}}"></p>
			</div>
			<div th:if="${recovery}"
				class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<p th:text="#{${recovery}}"></p>
                <a th:href="@{/}" th:text="#{password_recovery.back}"></a>
			</div>
            </div>
          <div class="modal-footer">
              <div class="col-md-12">
                <form action="/eFare" method="get">
                  <button class="btn" type="submit" th:text="#{panel.signin.back.btn}">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          <p>
            Don't have an efare account? <a th:href="@{/signup}">Register</a> now.
          </p>
        </div>
      </div>
    </div>

    <script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/jquery-ui-1.10.0.custom.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootswatch.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/js/bootstrap-formhelpers.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/grids.min.js}"></script>

  </body>
</html>


