<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<body class="hidden-print findOrdersPage">
	<div layout:fragment="content" class="paddedContainer id-card-management">

		<!-- Cancel Modal -->
		<div class="modal fade" id="cancel-card-modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title" id="cancelIDCard" th:text="#{admin.id.cards.manage.cancel.modal.title}"></h3>
					</div>
					<div class="modal-body">
						<span>Cancel modal.</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Yes</button>
						<button type="button" class="btn btn-default"
							data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Cancel Modal -->

		<div class="row id-card-header">
			<div class="col-md-1" id="id-card-header-avatar">
				<img id="id-card-header-avatar-img" class="pull-right"
					src="/resources/img/icon_guest.png"
					th:alt="#{admin.id.cards.manage.avatar}" />
			</div> <!-- /page container column -->
			<div class="col-md-3" id="id-card-header-avatar-text">
				<h3 class="strongSpan" th:text="#{admin.id.cards.manage.print.cards}"></h3>
				<h5 class="strongSpan">User Name</h5>
			</div> <!-- /page container column -->
			<div class="col-md-8" id="id-card-header-right">
				<div class="row" id="id-card-header-authorization-category">
					<div class="col-md-5" id="id-card-header-authorization-category-left">
						<span class="strongSpan" th:text="#{admin.id.cards.manage.fare.category}"></span>
					</div>
					<div class="col-md-7" id="id-card-header-authorization-category-right">
						<span>Employee ID</span>
					</div>
				</div>
				<div class="row" id="id-card-header-authorization-id">
					<div class="col-md-5" id="id-card-header-authorization-id-left">
						<span class="strongSpan" th:text="#{admin.id.cards.manage.authorization.id}"></span>
					</div>
					<div class="col-md-7" id="id-card-header-authorization-id-right">
						<span>00000000</span>
					</div>
				</div>
			</div> <!-- /page container column -->
		</div> <!-- /page container row -->
		
		<div class="row panel panel-default" id="id-card-body-panel">
			<div class="row id-card-step-row">
				<div class="col-md-12" id="id-card-steps-column">
					<div class="id-card-step" id="step-one-div">
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="img-circle id-card-step-image" />
						<span th:text="#{admin.id.cards.manage.step.one}"></span>
						<span class="glyphicon glyphicon-arrow-right step-arrow"></span>
					</div>
					<div class="id-card-step" id="step-two-div">
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="img-circle id-card-step-image" />
						<span class="strongSpan" th:text="#{admin.id.cards.manage.step.two}"></span>
						<span class="glyphicon glyphicon-arrow-right step-arrow"></span>
					</div>
					<div class="id-card-step" id="step-three-div">
						<img src="/resources/img/icon_autobuy.gif" alt="step" class="img-circle id-card-step-image" />
						<span th:text="#{admin.id.cards.manage.step.three}"></span>
					</div>
				</div>
			</div>
			<div class="row id-card-header">
				<div class="col-md-12">
					<h1 th:text="#{admin.id.cards.manage.step.two}"></h1>
				</div>
			</div>
			<div class="row id-card-body">
				<div class="col-md-5" id="id-card-body-preview-left">
					<div class="row" id="manage-card-preview">
						<div class="col-md-4 id-card-preview-left">
							<img src="/resources/img/icon_guest.png" id="id-card-preview-avatar" />
						</div>
						<div class="col-md-1">
						</div>
						<div class="col-md-7 id-card-preview-right">
							<img id="id-card-preview-logo" src="/resources/img/icon_guest.png" />
							<span>Lorem ipsum dolar sit amet<br />En crispus meritum specus</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<img id="id-card-preview-body-logo" src="/resources/img/icon_guest.png"/>
						</div>
						<div class="col-md-1"></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div id="id-card-preview-bottom-row">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<span class="center-block">FULL FARE</span>
								</div>
								<div class="col-md-3"></div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-7">
				</div>
			</div>
			<div class="row" id="id-card-footer">
				<div class="col-md-12" id="id-card-footer-column">
					<a href="/admin/id_cards/manage/">
						<span class="glyphicon glyphicon-circle-arrow-left backButton pull-left"></span>
					</a>
					<div class="cancelCardDiv pull-left">
						<button class="btn btn-default cancelCardButton"
							data-toggle="modal" data-target="#cancel-card-modal"
							th:text="#{admin.id.cards.manage.cancel.card}">
						</button>
					</div>
					<div class="confirmCardDiv pull-right">
					<a href="/admin/id_cards/manage/manageStepThree">
						<button class="btn btn-primary confirm-card-button"
							data-toggle="modal" data-target="#confirm-card-modal"
							th:text="#{admin.id.cards.manage.confirm.card}">
						</button>
					</a>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /page container id-card-management -->

	<div class="hidden" layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/resources/js/id_cards/manage.js}"></script>
	</div>
</body>
</html>
